.system{
    padding-top:10px;
    overflow: hidden;
}
.forms{
    width: 42%;
    float: right;
    background: #C9DDFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    padding-bottom:20px;
    text-align: center;
    border: 1px solid #aaa;
    z-index:0;
}
.build{
    width: 49%;
    padding-left: 20px;
}
.sys-count{
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}
.sys-count__input{
    display: block;
    width:100%;
    min-width: 40px;
    padding: 4px 10px;
}
.sys-count__input input {
    width: 100%;
    max-width: 50px;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
.sys-count__lump{
    display: block;
    width: 100%;
    min-width: 100px;
    font-size: 18px;
    padding:5px;
}
.sys-count__lump input{
    padding:3px;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
.build__text h1{
    font-size: 44px;
    padding:15px 0;
    margin: 0;
    text-shadow: none;
    color: #000;
    line-height: 1.2;
    text-transform: uppercase;
    margin-left:170px;
}
.build__text strong{
    font-size: 16px;
    margin-left: 170px;
    padding: 15px 0;
}
.caption{
    font-size: 20px;
    font-style: italic;
    position: absolute;
    bottom: -20px;
    left: -12px;
    z-index:1;
    border: 1px solid #aaa;
    background: #C9DDFF;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    padding:5px;
}

div.content iframe {margin-top:17px; width:100%; height:4750px; overflow:hidden;}
div.content iframe.bscan {height:1400px;}
div.logo.hide {display:none;}