.vp-images{background:#fff;border:1px solid #ccc;position:relative;height:490px;width:980px;float:left;margin:0;cursor:pointer;overflow:hidden;  border-radius:5px;box-shadow:0 0 25px #666;}
.vp-images div{display:none;position:absolute;top:0;left:0;margin:0;padding:0;height:490px;font-size:12px;}
.vp-images h3{font-size:22px;font-weight:normal;margin:0 0 20px 0;color:#456;}
.slidetabs{clear:both;margin-left:450px;}
.slidetabs a{width:8px;height:8px;float:left;margin:15px 5px;background:url(../images/navigator.png) 0 0 no-repeat;display:block;font-size:1px;}
.slidetabs a:hover{background-position:0 -8px;}
.slidetabs a.current{background-position:0 -16px;}
.forward,.backward{float:left;margin-top:140px;background:#fff url(/tools/img/scrollable/arrow/hori_large.png) no-repeat;display:block;width:0;height:30px;cursor:pointer;font-size:1px;text-indent:-9999em;}
.forward{background-position:0 -30px;clear:right;}
.forward:hover{background-position:-30px -30px;}
.forward:active{background-position:-60px -30px;}
.backward:hover{background-position:-30px 0;}
.backward:active{background-position:-60px 0;}
.disabled{visibility:hidden !important;}