.wrapper-history p{
    position: relative;
    font-size: 1.6rem;
    line-height:1.6;
}
.country-wrapper {
    overflow: hidden;
}
.country {
    display: inline-block;
    float: left;
    width: calc(100% / 5);
    vertical-align: top;
}
.history {
    position: relative;
    padding-bottom: 30%;
}
.infoblock .history__w1 {
    text-align: left;
    width: 65%;
}
.infoblock .history__w2 {
    text-align: left;
    width: 72%;
}
.history:after {
    content: '';
    position: absolute;
    background: url("../images/JPGs for BSCAN ILL/famili-scan.png") no-repeat;
    background-size: contain;
    width: 90%;
    bottom: 3%;
    right: 0;
    height: 90%;
}
@media screen and (max-width: 1880px) {
    .history:after{
        bottom: -16%;
        width: 80%;
        height: 80%;
    }
}
@media screen and (max-width: 1600px){
    .history:after {
        width: 35%;
        height: 35%;
        top: 0;
    }
}