.clearfix:after {
    content: " ";
    clear: both;
    display: table;
}

.brochure-block-wrap {
    width: 100%;
    margin: 0;
}

.scanner-label {
    margin-left: 175px;
}

.brochure-block .space {
    justify-content: space-between;
    align-items: center;
}

.brochure-block {
    display: flex;
    padding-top: 5px;
    margin: 0;
    position: relative;
}

.brochure-block .text {
    width: calc(100% - 250px);
}

.brochure-block .text h2 {
    height: auto;
    padding: 0;
    font-size: 35px;
    font-weight: bold;
}

.brochure-block .text h5 {
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    margin: 0;
}

.images {
    margin-top: 50px;
    margin-bottom: 100px;
}

.images .img-block {
    display: inline-block;
    float: left;
    width: 50%;
    text-align: center;
}

.images .img-block img {
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding: 5px;
    width: 75%;
}

.images .img-preview {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.cc {
    justify-content: center;
    align-items: center;
}

.to-down {
    flex-direction: column;
    align-items: center;
}

.to-left {
    flex-direction: column;
    justify-content: flex-start;
}

.centr {
    justify-content: center;
}

.flex--start {
    justify-content: flex-start;
}

.flex--end {
    justify-content: flex-end;
}

.centr-align {
    align-items: center;
    justify-content: space-between;
}

.centr-align3 {
    align-items: flex-start;
    justify-content: space-around;
}

.centr-align2 {
    align-items: center;
    justify-content: space-around;
}

.brochure-block .block-title {
    padding: 1px 50px;
    color: #8ad;
    font-size: 250%;
    font-weight: bolder;
    text-shadow: 1px 1px 3px #333;
}

.brochure-block .h1-color {
    color: #333;
    text-align: center;
}

.img-holder {
    width: 100%;
    height: auto;
    max-width: 1200px;
    padding: 10px 0;
}

.ous-text p {
    font-weight: inherit;
    font-style: inherit;
    font-size: 150%;
    font-family: inherit;
    vertical-align: baseline;
    text-align: justify;
    padding: 5px 20px;
    margin: 0;
}

.brochure-block p {
    margin-bottom: 3px;
    padding: 5px 20px;
    line-height: 1.3em;
    font-size: 150%;
    color: #000;
}

.family-list {
    margin-right: 75%;
    color: #000;
    text-align: left;
    font-size: 150%;
    line-height: 120%;
    text-shadow: 2px 3px 7px #a2b3a1, 1px 2px 3px #a2b3a1, 0 1px 2px #a2b3a1, 0 0 1px #a2b3a1;
}

.scanner-label {
    font-size: 200%;
    font-style: italic;
    color: #555;
    text-shadow: 2px 3px 7px #a2b3a1, 1px 2px 3px #a2b3a1, 0 1px 2px #a2b3a1, 0 0 1px #a2b3a1;
}

.marg {
    margin-left: 0;
}

.block-title-sub {
    font-size: 225%;
    font-style: italic;
    color: rgb(102, 102, 102);
}

.scan {
    font-size: 300%;
    line-height: 1.2em;
    color: rgb(51, 51, 51);
}

.skull {
    border-radius: 10px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px 10px;
    border: 1px solid #888;
    max-width: 500px;
    margin: 10px 20px;
}

.delivery-list {
    text-align: left;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    line-height: 95%;
    color: rgb(32, 42, 95);
    position: absolute;
    top: -188px;
    right: 30px;
}

.sitalic {
    font-style: italic;
}

.block-title3 {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: #000;
}

.t-bold {
    font-weight: bold;
    font-style: normal;
    font-size: 34px;
    color: black;
    margin-left: 15px;
}

h4 {
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    color: black;
}

.brochure-block .adr {
    font-size: 16px !important;
    max-width: 200px;
}

.brochure-block-wrap {
    width: 100%;
    margin: 0;
}

.scanner-label {
    margin-left: 175px;
}

.to-down {
    flex-direction: column;

}

.brochure-block .block-title {
    padding: 1px 50px;
    color: #8ad;
    font-size: 250%;
    font-weight: bolder;
    text-shadow: 1px 1px 3px #333;
}

.brochure-block .h1-color {
    color: #333;
    text-align: center;
}

.brochure-block h2 {
    text-align: center;
    color: #000;
    padding-left: 25%;
}

.ous-text p {
    font-weight: inherit;
    font-style: inherit;
    font-size: 150%;
    font-family: inherit;
    vertical-align: baseline;
    text-align: justify;
    padding: 5px 10px;
    margin: 0;
}

.block-tag {
    visibility: hidden;
    position: absolute;
    top: -15px;
    left: 10px;
    width: auto;
    padding: 6px;
    font-style: italic;
    text-align: center;
    color: #f00;
    color: rgba(256, 0, 0, 0.7);
    background-color: #ccc;
    background-color: rgba(200, 200, 200, 0.3);
    border: 2px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    z-index: 0;
}

.brochure-block h1.block-title-sub {
    margin: -15px .3em 25px 2em;
    font-size: 225%;
    text-align: center;
    font-style: italic;
    color: #666;
}

.brochure-block h2.list-head {
    color: #a4d7bb;
    text-shadow: 1px 1px 1px #333;
}

.brochure-block .two-col {
    width: 120%;
    overflow: hidden;
}

.brochure-block .two-col .left-col {
    width: 45%;
    float: left;
    margin-left: 60px;
}

.brochure-block .two-col .left-col2 {
    width: 45%;
    float: left;
    margin-left: 35px;
}

.brochure-block .two-col .right-col {
    margin-right: 30px;
}

.brochure-block .two-col .right-col2 {
    margin-right: 30px;
}

.brochure-block .two-col div div {
    width: 99%;
    float: left;
}

.brochure-block .two-col img {
    margin: 0.1em 5.5em;
    float: left;
}

.brochure-block .two-col p {
    padding: .3em;
}

.brochure-block .two-col h2 {
    margin: 0.4em;
}

.brochure-block .two-col ul {
    margin: 0;
    width: 99%;
}

.brochure-block p.caption {
    font-size: 90%;
    font-style: italic;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.brochure-block ul.peppermint {
    list-style-image: url("../images/Dlsg/KIC/blue-bullet.png");
}

.brochure-block ul.peppermint2 {
    list-style-image: url("../images/Dlsg/KIC/blue-bullet2.png");
}

.brochure-block ul.bullet {
    list-style-type: disc;
}

.scanner-label p {
    font-size: 200%;
    font-style: italic;
    color: #555;
    text-shadow: 2px 3px 7px #a2b3a1, 1px 2px 3px #a2b3a1, 0 1px 2px #a2b3a1, 0 0 1px #a2b3a1;
}

div.rt_arrow {
    width: 46px;
    height: 80px;
    background: url("../images/Dlsg/KIC/rt_arrow.png") no-repeat 10px 30px;
    float: left;
}

div.dn_arrow {
    width: 46px;
    height: 80px;
    background: url("../images/Dlsg/KIC/dn_arrow_thin.png") no-repeat 0 0;
    float: left;
}

/*kic bookeye*/
.title-bookeye {
    font-size: 38px;
    line-height: 1;
    padding-left: 10px;
}

.brochure-block .bold {
    font-weight: bold;
}

.logo-book {
    padding-right: 10px;
    border-right: 1px solid #A2A2A2;
}

.text-grean {
    font-size: 24px;
    color: #517F4C;
    background: #8ADC80;
}

.grean-left {
    padding-left: 12%;
    padding-right: 5px;
    position: relative;
}

.grean-left:after {
    content: '';
    position: absolute;
    background: url('../images/spryte.png') no-repeat 0 0;
    width: 32px;
    height: 36px;
    right: 0;
    left: 100%;
    top: 0;
}

.grean-right {
    padding-left: 5px;
    padding-right: 20%;
    position: relative;
}

.grean-right:before {
    content: '';
    position: absolute;
    background: url('../images/spryte.png') no-repeat -33px 0;
    width: 32px;
    height: 36px;
    right: 100%;
    top: 0;
}

.text-grey {
    font-size: 24px;
    color: #fff;
    background: #9d9d9d;
    background: -moz-linear-gradient(top, #9d9d9d 0%, #969696 3%, #959595 7%, #5a5a5a 63%, #434343 90%, #393939 97%, #6e6d6d 100%);
    background: -webkit-linear-gradient(top, #9d9d9d 0%, #969696 3%, #959595 7%, #5a5a5a 63%, #434343 90%, #393939 97%, #6e6d6d 100%);
    background: linear-gradient(to bottom, #9d9d9d 0%, #969696 3%, #959595 7%, #5a5a5a 63%, #434343 90%, #393939 97%, #6e6d6d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9d9d9d', endColorstr='#6e6d6d', GradientType=0);
    padding: 2px 2% 3px 5%;
    position: relative;
}

.text-grey:after {
    content: '';
    position: absolute;
    right: 0;
    left: 100%;
    top: 0;
    background: url('../images/spryte2.png') no-repeat -1px 0;
    width: 32px;
    height: 32px;
}

.new-red {
    background: #ca3731;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 50px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 0;
}

.text-grey-pbd:before {
    content: '';
    position: absolute;
    left: -70px;
    bottom: -70px;
    border: 70px solid transparent;
    border-bottom: 70px solid #ca3731;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 0;
}

.imgbook {
    max-width: 190px;
    padding: 0 !important;
    position: relative;
}

.imgbook.large {
    margin-left: 6%;
    width: 250px;
    height: 100%;
}

.img-frame {
    width: 47%;
    border: 1px solid #b0b0b0;
    margin: 0 1%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.brochure-block .frame--text {
    font-size: 16px;
    padding: 5px 20px;
}

.pbd--frame {
    width: 35%;
    float: left;
    text-align: center;
}

.bbc {
    justify-content: center;
    align-items: center;
}

.bb--end {
    align-items: flex-end;
    margin-top: 10px;
}

.fr5c {
    width: 60% !important;
}

.tabs_book {
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
}

.brochure-block .tabs--tabset {
    margin: 0 20px 10px 0;
    max-width: 190px;
    text-align: center;
    border: 2px solid #C9C9C9;
    border-radius: 10px;
}

.tabs--tabset li {
    margin: 0 !important;
}

.media-content img {
    padding: 10px !important;
    width: 400px;
    height: 400px;
}

.tabs--tabset img {
    width: 130px;
}

.tabs--tabset p {
    font-size: 12px;
    max-width: 130px;
    text-align: center;
    margin: 0 auto;
}

.h2--name {
    font-size: 50px;
    font-weight: bold;
}

.brochure-block .frame--p {
    font-size: 12px;
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
    font-weight: bold;
}

.text--red {
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: #d83020;
    font-weight: bold;
    line-height: 0.9;
}

.fs--text--red {
    font-size: 28px;
}

.bb--border {
    padding: 16px 10px 20px 10px;
    border: 1px solid #707070;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.h4--border {
    background: #fff;
    margin-top: -40px;
}

.world {
    background: url(../images/world.png) no-repeat;
    padding: 30px;
    background-size: cover;
}

.span--bold {
    font-size: 20px;
    font-weight: bold;
}

.absolute {
    position: absolute;
}

.brochure-block .p--contact {
    font-size: 28px;
    padding: 0;
}

.brochure-block .a--contact {
    font-size: 24px;
    text-decoration: underline;
    color: #80a1fa;
    transition: 1s;
}

.brochure-block .a--contact:hover {
    text-decoration: none;
    color: #3b4b9d;
}

.content-block {
    width: calc(100% - 50px);
    display: block;
    padding: 15px 25px;
}

.content-block .left-block {
    width: 35%;
    float: left;
}

.content-block .right-block {
    width: 65%;
    float: right;
}

.chart-title {
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-shadow: none;
    margin-bottom: 15px;
}

.chart-title p {
    line-height: 35px;
}

.chart-title .circle {
    background: black;
    border-radius: 50%;
    color: white;
    padding: 7px;
    font-size: 29px;
    vertical-align: top;
}

.chart-name {
    font-size: 39px;
    color: #73be6c;
    padding: 0;
    line-height: 35px;
    font-weight: bolder;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px black;
}

.content-block .left-block .info-text {
    font-size: 21px;
    text-align: justify;
    margin-bottom: 20px;
    line-height: 20px;
}

.kic_logo {
    width: 115%;
}

.chart-img {
    width: 100%;
}

.indentation {
    padding-left: 30px;
    padding-right: 30px;
}

.kat--arrow {
    position: relative;
}

.green--arrow {
    position: absolute;
    top: -92px;
    right: -70px;
}

.italic-text {
    font-style: italic;
    padding-left: 20px;
}

.dlos-logo {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 5px;
    line-height: 0;
}

.frame--text--width {
    width: 30%;
}

.p-top {
    padding-bottom: 100px;
}

.DLOS_Icon {
    max-width: 200px;
}
.content__frame--leftside {
    width: 50%;
}
.content__frame--leftside__img {
    width: 95%;
    margin: 0 auto;
    height: auto;
    display: block;
}
.content__brochure-block__img {
    margin-left: 10%;
}