div.text-container {
    padding-left: 5%;
    padding-right: 5%;
}

div.content h1 {
    color: #000000;
    text-align: center;
    text-shadow: none;
}

div.content div.introduction {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 40px;
}

div.content h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

div.content h2.blue-shadow-title {
    padding: 0;
    text-align: left;
    color: #291769;
    text-shadow: 3px 1px 7px #323275;
}

.copyright-and-contacts-footer {
    margin-bottom: 20px;
}

.copyright-and-contacts-footer .copyright {
    float: left;
    width: 20%;
    font-size: 8px;
}

.copyright-and-contacts-footer .bscan-and-image-access-logo {
    float: left;
    width: 25%;
    margin-left: 1%;
    margin-right: 1%;
}

.copyright-and-contacts-footer div.contact {
    float: left;
    width: 16%;
    margin-left: 1%;
}

.copyright-and-contacts-footer div.contact .region {
    font-weight: bold;
    color: #C53F2E;
    font-size: 11px;
}

.copyright-and-contacts-footer div.contact p {
    font-size: 9px;
    margin: 0;
    padding: 0;
}