div.content {
    font-family: "Arial Narrow", sans-serif;
    line-height: 1.25;
}

div.text-container {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10px;
}

div.content h1 {
    color: #000000;
    text-align: center;
    text-shadow: none;
}

div.content div.introduction {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 40px;
}

div.content h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

    div.content h2.blue-shadow-title,
    div.content span.blue-shadow-title {
        font-size: 20px;
        padding: 0;
        text-align: left;
        color: #291769;
        text-shadow: 3px 1px 7px #323275;
    }

.copyright-and-contacts-footer {
    margin-bottom: 10px;
}

    .copyright-and-contacts-footer .copyright-container {
        width: 20%;
        font-size: 9px;
        padding-bottom: 20px;
    }

    .copyright-and-contacts-footer .bscan-and-image-access-logo-container {
        width: 25%;
    }

    .copyright-and-contacts-footer .regions-container {
        width: 53%;
    }

    .copyright-and-contacts-footer .regions td {
        width: 33%;
    }

    .copyright-and-contacts-footer .regions .region-header {
        font-weight: bold;
        color: #C53F2E;
        font-size: 11px;
    }

    .copyright-and-contacts-footer .regions p {
        font-size: 9px;
        margin: 0;
        padding: 0;
    }