.infoblock .logo_kic {
    width: 35%;
}

.infoblock .true_2_touch {
    width: 13%;
    margin-left: -19%;
}

.infoblock .click_click_mini {
    font-size: 55px;
    font-weight: 800;
    margin-left: 40%;
    margin-top: -99%;
}

.infoblock .click_click_mini1 {
    font-size: 21px;
    font-weight: 600;
    margin-left: 40%;
    margin-top: -2%;
    color: #0000F0;
}

.infoblock .label2 {
    margin-top: 87%;
    font-size: 39px;
    font-weight: 600;
    text-align: center;
    display: block;
}

.infoblock .label3 {
    width: 40%;
    font-weight: 400;
    font-size: x-large;
    font-style: italic;
    margin-left: 53%;
    margin-top: -79%;
}

.infoblock .text1 {
    width: 47%;
    margin-top: 71%;

}

.infoblock .text2 {
    width: 47%;
    margin-left: 50%;
    margin-top: -10.5%;
}

.infoblock .text3 {
    width: 47%;
    margin-left: 50%;
}

.infoblock .two_click_together {
    width: 46%;
    margin-top: -12%;
}

.infoblock .column {
    width: 100%;
}

.infoblock .texting1 {
    margin-left: 41%;
}

.infoblock .label4 {
    margin-left: 41%;
    margin-top: 4%;
}

.infoblock .label5 {
    margin-top: 1%;
}

.infoblock .text4 {
    width: 45%;
}

.infoblock .scanner_600 {
    width: 25%;
    margin-left: 7%;
}

.infoblock .text6 {
    font-style: italic;
    font-weight: 300;
}

.infoblock .text5 {
    font-weight: 400;
    font-size: x-large;
    margin-left: 1%;
}

.infoblock .text7 {
    text-align: center;
    font-size: xx-large;
    margin-top: 1%;
}