.infoblock .logo_kic {
    width: 35%;
}

.infoblock .true_2_touch {
    width: 13%;
    margin-left: -19%;
}

.infoblock .click_click_mini {
    font-size: 55px;
    font-weight: 800;
    margin-left: 40%;
    margin-top: -99%;
}

.infoblock .click_click_mini1 {
    font-size: 21px;
    font-weight: 600;
    margin-left: 40%;
    margin-top: -2%;
    color: #0000F0;
}

.infoblock .label2 {
    margin-top: 86%;
    font-size: 36px;
    line-height: 38px;
    text-align: center;
    display: block;
}

.infoblock .label3 {
    width: 40%;
    font-weight: 400;
    font-size: x-large;
    font-style: italic;
    margin-left: 53%;
    margin-top: -79%;
}

.infoblock .text1 {
    width: 47%;
    margin-top: 71%;

}

.infoblock .text2 {
    width: 47%;
    margin-left: 50%;
    margin-top: -10.5%;
}

.infoblock .text3 {
    width: 47%;
    margin-left: 50%;
}

.infoblock .two_click_together {
    width: 46%;
    margin-top: -12%;
}

.infoblock .column {
    width: 100%;
}

.infoblock .texting1 {
    margin-left: 41%;
}

.infoblock .label4 {
    margin-left: 41%;
    margin-top: 4%;
}

.infoblock .label5 {
    margin-top: 1%;
}

.infoblock .text4 {

}

.infoblock .scanner_600 {
    width: 70%;
    margin: 0 auto;
    display: block;
}

.infoblock .text6 {
    font-style: italic;
    font-weight: 300;

    margin-left: -2%;
    text-align: center;
}

.infoblock .text5 {
    font-weight: 400;
    font-size: x-large;

    margin-left: -2%;
    text-align: center;
}

.infoblock .text7 {
    text-align: center;
    font-size: xx-large;
    margin-top: 1%;
}

.infoblock .two_newspapers {
    width: 70%;
    margin: 0 auto;
    display: block;
}

.infoblock .text8 {
    font-weight: 400;
    font-size: x-large;

    margin-left: 48%;
    text-align: center;
}

.infoblock .block1 {
    width: 50%;
    float: left;
    padding: 10px;
}

.infoblock .text9 {

    text-align: center;
}

.infoblock .text10 {
    font-weight: 400;
    font-size: x-large;
    width: 100%;

    text-align: center;
}

.infoblock .dvfu1 {
    font-size: xx-large;
    text-align: center;
    font-weight: 600;
    margin-top: 1%;
}

.infoblock .dvfu2 {
    float: left;
    font-weight: 600;
    font-size: x-large;
    margin-top: 3%;

}

.infoblock .dv_block {
    width: 48%;
    display: block;
    margin-top: 6%;
    text-align: left;
}

.infoblock .dv_block1 {
    float: left;
    margin-left: 50%;
    margin-top: -21.5%;
    width: 48%;
}

.
.infoblock__top {
    overflow: hidden;
}

.infoblock .top__logo {
    max-width: 340px;
    float: left;
}

.top__h1 {
    text-align: left;
    color: #000;
    text-shadow: none;
    font-size: 32px;
    margin: 0;
}

.top__h2 {
    text-align: left;
    font-style: italic;
    font-size: larger;
    font-weight: 500;
    color: #000000;
}

.infoblock__center {
    overflow: hidden;
    margin-top: -80px;
}

.infoblock .center__img {
    float: right;
    width: 58%;
    position: absolute;
    padding-left: 20px;
    margin-left: 40%;
}

.infoblock .center__text--padding {
    padding-top: 60px;
    position: relative;
    width: 42%;
}

.infoblock .center__text--margin {
    width: 56%;
}

.infoblock__nav {
    padding-top: 20px;
    overflow: hidden;
}

.infoblock .nav__li {
    float: left;
    width: 38%;
}

.infoblock .nav__img {
    float: left;
    width: 60%;
    margin-right: 20px;
}

.infoblock .li--width {
    width: 80%;
}

.nav__li li:first-child {
    list-style: none;
}

.nav__li--margin {
    margin-left: 20px;
}

.infoblock .infoblock__bottom {
    text-align: justify;
    padding: 0;
    margin: 0;
}

.infoblock__bottom li {
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 17%;
}

.infoblock .bottom__img {
    width: 24%;
    margin-left: 25px;
}

.infoblock .bottom__a {
    width: 20%;
    position: relative;
    top: -15px;
}

.bottom__a a {
    font-size: 26px;
    color: #454733;
    margin-bottom: 10px;
}

.a--rel {
    position: absolute;
    bottom: 76px;
    font-size: 30px;
    color: #8c897d;
    width: 230%;
    right: 0;
}

.infoblock .logos {
    width: 17%;
}

.infoblock .true2 {
    font-size: xx-large;
    font-weight: 600;
    margin-left: 2%;
}

.infoblock .kic_div .true2_save_to_usb {
    width: 42%;
    margin-top: 5%;

}

.infoblock .true2_label {
    font-weight: 600;
    font-size: x-large;
    text-align: center;
    position: absolute;
    margin-left: 5%;
    margin-top: 0%;
}

.infoblock .true2_block_usb {
    width: 40%;
    margin-top: 2%;
    position: absolute;
    margin-left: 28%;
}

.infoblock .true2_label1 {
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
}

.infoblock .true2_block_2 {
    width: 64%;
}

.infoblock .true2_block_3 {
    width: 30%;
    margin-left: 18%;
    font-style: italic;
}

.infoblock .kic_div .true2_two_screens {
    width: 33%;
    float: right;
}

.infoblock .true2_label2 {
    margin-left: 74%;
    font-weight: 600;
}

.infoblock .tablepot {
    margin-left: 8%;
}

.infoblock .tablepot_mini {
    margin-left: 28%;
    margin-top: -2.5%;
}

.infoblock .text_undergorund_label {
    font-style: italic;
    font-weight: 300;
    margin-left: 25%;
    text-align: center;
    width: 70%;
}

.infoblock .label_smart {
    font-weight: 600;
    position: absolute;
    font-size: 36px;
    line-height: 38px;
    margin-left: 30%;
    margin-top: 1%;
}

.sup_index {
    vertical-align: super;
    font-size: 18px;
}

.infoblock .smart_image_background {

}

.infoblock .label_smart2 {
    font-style: italic;
    width: 30%;
    position: absolute;
    font-size: 16px;
    margin-left: 25%;
    margin-top: 4%;
    text-align: center;
}

.infoblock .label_smart3 {
    position: absolute;
    width: 15%;
    font-size: smaller;
    margin-left: 29%;
    margin-top: 17%;
    font-weight: 600;
}

.infoblock .label_smart4 {
    position: absolute;
    width: 13%;
    text-align: center;
    font-size: smaller;
    color: #5C7681;
    margin-top: 41%;
    margin-left: 14%;
}

.infoblock .label_smart5 {
    position: absolute;
    width: 13%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    color: #5C7681;
    margin-top: 47%;
    margin-left: 39%;
}

.infoblock .label_smart6 {
    position: absolute;
    width: 12%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    color: #5C7681;
    margin-top: 57%;
    margin-left: 1%;
}

.infoblock .label_smart7 {
    position: absolute;
    width: 12%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    color: #5C7681;
    margin-top: 57%;
    margin-left: 13%;
}

.infoblock .label_smart8 {
    position: absolute;
    width: 12%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    color: #5C7681;
    margin-top: 57%;
    margin-left: 27%;
}

.infoblock .smart_hard_block {
    border: solid 3px;
    border-radius: 2%;
}

.infoblock .brochure-title-left {
    margin-left: 3%;
}

.infoblock .label_smart9 {
    font-size: 36px;
    line-height: 38px;
    margin-left: 3%;
    margin-top: 2%;
}

.infoblock .label_smart10 {
    font-size: 21px;
    line-height: 21px;
    margin-left: 3%;
    font-style: italic;
}

.infoblock .smart_restaurant_img {
    margin-left: 35%;
    width: 64%;
    margin-top: -9%;
}

.infoblock .smart_scan_img_fax {
    width: 24%;
    margin-top: 5%;
    margin-left: -68%;
    position: absolute;

}

.infoblock .smart_scan_img_fax2 {
    width: 45%;
    margin-left: 53%;
    position: initial;

}

.infoblock .label_smart11 {
    width: 21%;
    margin-left: 43%;
    margin-top: -35%;
    font-style: italic;
    text-align: right;
}

.infoblock .label_smart12 {
    width: 16%;
    margin-left: 35%;
    margin-top: 10%;
    font-style: italic;
    text-align: right;
}

.infoblock .label_smart13 {
    width: 23%;
    margin-left: 10%;
    margin-top: -8%;
    font-style: italic;
    text-align: left;
}

.infoblock .triangle_pointer {
    width: 10%;
    margin-left: 42%;
}

.infoblock .triangle_pointer1 {
    width: 15%;
    margin-left: 33%;
}

.infoblock .triangle_pointer2 {
    width: 10%;
    margin-left: 5%;
}

.infoblock .true2_label_true {
    font-size: 36px;
    line-height: 38px;
    text-align: center;
    margin-top: 7%;
    color: black;
}

.infoblock .img_versus_clickone {
    width: 35%;
    margin-left: 4%;
}

.infoblock .img_versus_clickone1 {
    width: 28%;
    margin-left: 18%;
}

.infoblock .kic_logo_for_versus {
    width: 12%;
    position: absolute;
    margin-left: -32%;
    margin-top: 8%;
}
