.infoblock__ul-disc {
    padding-left: 24px;
    list-style: disc;
}

.infoblock__ul-disc li {
    line-height: 2.4rem;
}

/*h1, h2, h3*/

.brochure-title-center {
    font-family: 'AvenirLTStdHeavy', helvetica, arial, sans-serif;
    font-size: 3.6rem;
    line-height: 3.8rem;
    text-align: center;
    padding: 14px 0 10px;
}

.brochure-title-left {
    font-family: 'AvenirLTStdHeavy', helvetica, arial, sans-serif;
    font-size: 2rem;
    line-height: 22px;
    text-align: left;
    padding: 14px 0 10px;
}

/*end h1, h2, h3*/

/*Technical Data Styles*/
.technical_data_pdf {
    width: 100%;
    overflow: hidden;
}

.pdf_preview {
    padding: 20px 0;
}

.back_pdf {
    width: 70%;
    margin: 10px;
    float: left;
    box-shadow: 3px 3px 5px #8E8E8E;
}

.back_pdf embed {
    width: 100%;
    float: left;
    height: 525px;
}

.back_text_pdf {
    width: 26%;
    float: left;
    margin: 100px 10px 0 0;
}

.back_text_pdf a {
    color: #093C8B;
    font-size: 12px;
    font-weight: bold;
}

.back_text_pdf span {
    color: #000;
    font-size: 12px;
    display: block;
    font-weight: bold;
}

.technical_data {
    width: 100%;
    margin: 0;
}

.technical_data tbody tr th {
    font-weight: bold;
}

.scrolled_pic {
    display: block;
    overflow: visible;
    align-items: baseline;
    border: none;
    box-shadow: none;
}

.scrolled_pic > .images {
    overflow: visible;
    display: block;
    align-items: center;
    border-bottom: 1px solid #E3E6DB;
    box-shadow: 0 0 5px #000;
    margin: 0 0 14px;
}

.gallery .images .image {
    position: relative;
    width: 100%;
    padding-bottom: 49%;
    height: 0;
    overflow: hidden;
    display: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.gallery .images .image .content {
    position: absolute;
    width: 100%;
    background: center no-repeat;
    background-size: cover;
}

.scrolled_pic .images .image .back_pdf {
    width: 75%;
    margin: 10px;
}

.gallery .images .image.active {
    display: block;
}

.scrolled_pic .images .image .back_text_pdf {
    width: 20%;
    float: right;
    margin: 100px 10px 0 0;
}

.scrolled_pic .images .image .back_text_pdf a {
    color: #093C8B;
    font-size: 2rem;
    font-weight: bold;
}

.gallery .thumbs .brochure {
    width: 100%;
    height: auto;
    border: none;
    font-weight: bold;
}

.gallery .thumbs .thumb {
    box-sizing: border-box;
    background: center no-repeat;
    background-size: 90%;
    display: inline-block;
    position: relative;
    margin: 4px;
    border: 3px solid transparent;
    cursor: pointer;
}

.scrolled_pic .images .image .back_text {
    width: 39%;
    float: right;
    margin: 100px 10px 0 0;
}

/*end of Technical Data Styles*/

/*magnifier*/
.spritezoom-title {
    background: #2487D6;
    color: #fff;
    padding: 3px;
    text-align: center;
}

.example {
    cursor: none;
    margin: 0 0 20px 0;
}

/*end of magnifier*/

/*Compliance*/
.table_comliance {
    overflow: hidden;
    margin: 10px 0;
}

.conf_sing {
    width: 15%;
    float: left;
}

.conf_sing img {
    margin: 20px auto;
    display: block;
    width: 75px;
    height: auto;
}

.conf_description {
    width: 85%;
    float: left;
}

.conf_sing h2 {
    width: 75px;
    height: auto;
    margin: 20px auto;
}

/*end of Compliance*/

/*Documentation*/
.table_documentation {
    width: 100%;
}

.table_documentation tbody tr :nth-child(1) {
    font-weight: bold;
}

/*end of Documentation*/

/*blue and green bullet in list*/

.infoblock ul.blue-bullet li {
    position: relative;
    list-style: none;
}

.infoblock ul.green-bullet li {
    position: relative;
    list-style: none;
}

.infoblock ul.blue-bullet li:before {
    content: '';
    position: absolute;
    top: 2px;
    left: -23px;
    background: url("../images/BlueBullet.png") no-repeat;
    background-size: 16px;
    width: 16px;
    height: 16px;
}

.infoblock ul.green-bullet li:before {
    content: '';
    position: absolute;
    top: 2px;
    left: -23px;
    background: url("../images/GreenBullet.png") no-repeat;
    background-size: 16px;
    width: 16px;
    height: 16px;
}

/*end blue and green bullet in list*/
/*video*/
.video {
    margin-left: 20%;
    margin-bottom: 20px;
    margin-top: 20px;
}
@media all and (max-width: 1400px) {
    .video{
        margin: 20px auto 0;
        display: block;
        width: 70%;
    }
}
/*end of video*/
/* 1280, 1366 */
@
@media (min-width: 1200px) and (max-width: 1399px) {

}

/* 1024 */
@media (max-width: 1199px) {
    .infoblock .back_pdf {
        width: 65%;
    }
}

/* tablets */
@media (max-width: 941px) {

}
