.content {
    position: relative;
    margin: 0 auto;
    color: black;
    width: 80%;
    background-color: white;
    overflow: hidden;
}

/*.content:after {*/
    /*content: '';*/
    /*display: table;*/
    /*clear: both;*/
/*}*/