.content {
    position: relative;
    margin: 0 auto;
    color: black;
    width: 80%;
    background-color: white;
    overflow: hidden;
}

.content .kic_software {
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #E3E6DB;
    box-shadow: 0 0 5px #000;
}

.content .kic_software .logoKic {
    width: 25%;
    height: auto;
    float: left;
    margin: 100px 0 0 0;
}

.content .kic_software .kic_soft {
    width: 73%;
    height: auto;
    float: left;
    margin: 1%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
