.office-wrapper img,
.office-photos-wrapper img,
.contact img {
    width: 100%;
    height: 100%;
}

.contact {
    overflow: hidden;
    padding: 20px 5px;
}

.contact__left {
    float: left;
    width: 31%;
    padding: 0 10px 0 0;
}

.contact__right {
    float: left;
    width: 67%;
    padding: 0 3px;
}

.contact-title {
    font-size: 3.5rem;
    text-align: right;
    line-height: 1.2;
    padding-right: 50px;
    margin: 0 0 10px;
    font-weight: bold;
}

.contact__link {
    text-align: left;
    padding-top: 5px;
    width: 90%;
    margin: 0 auto;
    font-size: 2rem;
    line-height: 2.2rem;
}

.contact__link a {
    color: #00f;
    text-decoration: underline;
}

.contact__header {
    position: relative;
}

.contact__header:after {
    content: '';
    display: table;
    clear: both;
}

.header__tel {
    float: left;
    width: 47%;
    padding: 0 18px 0;
    text-align: right;
}

.header__tel p {
    font-family: "LatoBold", arial, sans-serif;
    text-align: right;
    width: 77%;
    margin-left: auto;
}

.contact__title {
    font-family: "LatoBold", arial, sans-serif;
    margin: 15px 0 25px;
    font-size: 2rem;
    line-height: 2.2rem;
}

.header__logo {
    padding: 0 18px;
    float: left;
    width: 32%;
    border-left: 2px solid #000;
}

.header__information {
    font-size: 2.2rem;
    line-height: 2.8rem;
}

.header__phone {
    font-size: 2.4rem;
    line-height: 2.8rem;
}

.contact__forms {
    position: relative;
    margin-top: 10px;
}

.contact__forms:after {
    content: '';
    display: table;
    clear: both;
}

.forms__about {
    position: relative;
    float: left;
    border: 1px solid #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
    min-height: 278px;
}

.forms__about--you {
    width: calc(36% - 20px);
}

.forms__about--company {
    margin-left: 20px;
    width: 64%;
}

fieldset {
    margin: 0;
    padding: 0;
}

.cursive-about {
    font-size: 20px;
    font-style: italic;
    position: absolute;
    display: inline-block;
    top: -15px;
    left: 40px;
    background: #fff;
    padding: 5px;
}

.forms__label {
    display: block;
    margin: 7px 0;
    position: relative;
}

.forms__label:after {
    content: '';
    display: table;
    clear: both;
}

.forms__label span {
    width: 100px;
    float: left;
    font-size: 14px;
}

.forms__input {
    float: left;
    border: solid 1px #ccc;
    padding: 4px;
    outline: 0;
    width: calc(100% - 100px);
    background: #F9F9F9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.forms__about sup {
    font-size: 17px;
    color: #f00;
    top: 0;
}

.forms__sub-text {
    margin-top: 30px;
    font-size: 14px;
    font-style: italic;
}

.forms__company {
    float: left;
    width: 50%;
}

.forms__company--right .forms__label span {
    width: 70px;
}

.forms__company--right .forms__input {
    width: calc(100% - 70px);
}

.forms__company--right {
    margin-left: 30px;
    width: calc(50% - 30px);
}

.company {
    overflow: hidden;
}

.forms__comment .forms__label {
    display: inline-block;
    width: 75%;
    vertical-align: bottom;
    margin-bottom: 0;
}

.comment__btn {
    vertical-align: bottom;
    display: inline-block;
    width: 24%;
    text-align: right;
}

.btn {
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    font-size: 1.8rem;
    line-height: 2rem;
    border: none;
    background: linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -moz-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -webkit-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -o-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -ms-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    transition: 1s;
}

.btn:hover {
    opacity: 0.7;
    box-shadow: 0 0 5px #000;
    cursor: pointer;
}

.office-wrapper {
    padding-top: 10px;
    position: relative;
}

.office-address {
    position: absolute;
    top: 50px;
    left: 28%;
    width: 100%;
}

.office-address-other {
    left: 18%;
}

.office-address p {
    padding: 10px 0 0 0;
    font-size: 28px;
    color: #fff;
    text-shadow: none;
}

.office-address h2 {
    font-family: "LatoBold", sans-serif, helvetica, arial;
    font-size: 4.8rem;
    line-height: 5rem;
    color: #fff;
}

.office-company-name {
    font-family: "LatoBold", sans-serif, helvetica, arial;
    position: absolute;
    bottom: 3%;
    left: 2%;
    color: #fff;
    font-size: 2.8rem;
    line-height: 3rem;
}

.office-photos-wrapper {
    overflow: hidden;
    text-align: center;
}

.office-photos-wrapper .office-photo {
    width: calc(100% / 3 - 2px);
    text-align: center;
}

.office-photos-wrapper .office-photo--left {
    float: left;
}

.office-photos-wrapper .office-photo--right {
    float: right;
}

@media all and (max-width: 1680px) {
    .contact-title {
        padding-right: 0;
    }

    .header__logo {
        margin-top: 30px;
    }
}

@media all and (max-width: 1440px) {
    .contact-title {
        font-size: 2.8rem;
    }
}

@media all and (max-width: 1280px) {
    .forms__label span {
        width: 85px;
    }

    .forms__input {

        width: calc(100% - 85px);
    }

    .forms__about {
        padding: 10px;
    }

    .btn {
        padding: 8px 12px;
    }
}

@media all and (max-width: 1100px) {
    .header__logo {
        margin-top: 50px;
        padding: 0;
    }

    .contact-title {
        font-size: 2.4rem;
    }
}

