
.infoblock .back_text_pdf {
    padding-left: 2%;
}


.infoblock .infoblock__top-text {
    margin-top: 15px;
}

.infoblock .infoblock__header-h2 {
    font-family: AvenirLTStdBlack; /* font-weight: bold; */
    font-size: 1.8rem;
    color: rgb(9,60,139);
    padding: 5px 0;
    height: 23px;
}

.infoblock .infoblock__header-h3 {
    font-family: AvenirLTStdBlack; /* font-weight: bold; */
    color: rgb(9,60,139);
    font-size: 1.6rem;
    margin: 18px 0 6px 0;
}

.infoblock .infoblock__p {
    padding: 10px 0;
}

.infoblock .infoblock__a {
    font-family: AvenirLTStdBlack; /* font-weight: bold; */
    color: rgb(9,60,139);
    font-size: 1.4rem;
}

.infoblock .infoblock__a--vpat {
    font-family: AvenirLTStdRoman;
}

.infoblock .infoblock__span {
    font-family: AvenirLTStdBookOblique; /* font-style: italic; */
    color: #d50026;
}

/* 1280, 1366 */
@media (min-width: 1200px) and (max-width: 1399px) {

}

/* 1024 */
@media (max-width: 1199px) {
    html {
        font-size: 60%;
    }
}

/* tablets */
@media (max-width: 941px) {

}
