.expertise-title {
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    font-size: 2.8rem;
    line-height: 3rem;
    padding: 20px 0 10px;
}

.expertise-second-title {
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    font-size: 2.2rem;
    line-height: 2.4rem;
    padding: 10px 0 5px;
}

.align-center {
    text-align: center;
}

.infoblock__ul-disc {
    padding-left: 24px;
    list-style: disc;
}

.infoblock__ul-disc li {
    line-height: 2.4rem;
}

.infoblock .infoblock__p {
    padding: 10px 0;
}

.question_text {
    font-family: 'LatoBoldItalic', sans-serif, helvetica, arial;
    display: inline-block;
}

.span--red--italic {
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    color: #d50026;
}

.text--bold {
    font-family: 'LatoBold', sans-serif, helvetica, arial;
}

/* 1280, 1366 */
@media (min-width: 1200px) and (max-width: 1399px) {

}

/* 1024 */
@media (max-width: 1199px) {
    html {
        font-size: 60%;
    }
}

/* tablets */
@media (max-width: 941px) {

}
