.logo {
    box-shadow: 4px 0 10px 1px #000000;
    position: fixed;
    left: 8%;
    top: 54px;
    background-color: white;
    z-index: 2;
}

.logo img {
    width: 247px;
    height: auto;
    padding: 4% 12%;
}
