.botlogo {
    box-shadow: 4px 4px 10px 1px #000000;
    position: fixed;
    font-weight: bold;
    padding: 7px 0 7px;
    left: 13%;
    top: 168px;
    background-color: white;
    z-index: 1;
    text-align: center;
    width: 180px;
    height: auto;
}
