.footer {
	background: linear-gradient(to top, rgb(2,48,126), rgb(36,135,214));
	width: 80%;
    margin: 0 auto;
    height: 232px;
	padding: 0;
	border-radius:0 0 20px 20px;
	padding: 0;
	display: block;
    -moz-border-radius: 0 0 40px 40px;
    -webkit-border-radius: 0 0 40px 40px;
    border-radius: 0 0 40px 40px;
}

/* taken from imageaccess.de */
.footer1 {
    background-color: rgb(9,60,139);
}

.gradient4bar {
    background: #047bcb url(/Image/gradient4bar.png) repeat-x;
    background: linear-gradient(to bottom, #047bcb 0%, #2989d8 49%,#207cca 50%,#002e7a 100%);
    background: -moz-linear-gradient(top, #047bcb 0%, #2989d8 49%, #207cca 50%, #002e7a 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#047bcb), color-stop(0.49,#2989d8), color-stop(0.50,#207cca), to(#002e7a));
    background: -webkit-linear-gradient(top, #047bcb, #2989d8 0.48, #207cca 0.52, #002e7a);
    background: -o-linear-gradient(top, #047bcb 0%, #2989d8 49%, #207cca 50%,#002e7a 100%);
    background: -ms-linear-gradient(top, #047bcb 0%, #2989d8 49%,#207cca 50%,#002e7a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#047bcb, endColorstr=#002e7a,GradientType=0 );
}

.bottom-bar {
    font-size: 12px;
	margin: 0 auto;
    margin-top: -5px;
    width: 80%;
    height: 45px;
    padding: 0px;
    border: 0;
    display: block;
    color: rgb(255,255,255);
}

.footer .first {
    width: 179px;
    border-left: 0px;
    padding: 16px 10px;
    float: left;
    display: block;
    height: 200px;
}
.footer .col {
    font-size: 12px;
    width: 179px;
    border-left: 1px solid #047bcb;
    padding: 16px 10px;
    display: block;
    height: 200px;
}

.col {
    width: 180px;
    height: 19px;
    padding: 13px 10px;
    margin: 0;
    float: left;
    display: table-cell;
}

/* end of the story */