.wrapper-history p {
    position: relative;
    font-size: 1.6rem;
    line-height: 1.6;
}

.wrapper-history {
    margin: 2px 0 0;
    padding: 20px;
    width: 100%;
    text-align: left;
    float: left;
    word-wrap: break-word;
    border-left: 2px solid #E3E6DB;
    padding-left: 4%;
}

.country-wrapper {
    overflow: hidden;
    padding-left: 14%;
}

.country {
    display: inline-block;
    float: left;
    width: 21%;
    vertical-align: top;
    height: 100%;
}

.history {
    position: relative;
    padding-bottom: 30%;
    margin-top: 10px;
}

.infoblock .history__w1 {
    text-align: left;
    width: 50%;
}

.infoblock .history__w2 {
    text-align: left;
    width: 60%;
}

.history:after {
    content: '';
    position: absolute;
    background: url("http://upload.ted-kteam.com/IA/images/family-scan.png") no-repeat;
    background-size: contain;
    background-position: right;
    width: 100%;
    bottom: 0;
    right: 200px;
    height: 100%;
}


.history p{
    font-size: 13px;
}

@media all and (max-width: 1600px) {
    .history:after {
        right: 0;
    }
}

@media all and (max-width: 1300px) {
    .history:after {
       bottom: -30px;
    }
}