#footer {
	width: 80%;
    margin: 0 auto;
	padding: 0;
    text-shadow: none;
}
.bottom-bar {
    font-size: 12px;
	margin: 0;
    padding:12px 10px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255,255,255);

    background: linear-gradient(to bottom, #047bcb 0%, #2989d8 49%,#207cca 50%,#002e7a 100%);
    background: -moz-linear-gradient(top, #047bcb 0%, #2989d8 49%, #207cca 50%, #002e7a 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#047bcb), color-stop(0.49,#2989d8), color-stop(0.50,#207cca), to(#002e7a));
    background: -webkit-linear-gradient(top, #047bcb, #2989d8 0.48, #207cca 0.52, #002e7a);
    background: -o-linear-gradient(top, #047bcb 0%, #2989d8 49%, #207cca 50%,#002e7a 100%);
    background: -ms-linear-gradient(top, #047bcb 0%, #2989d8 49%,#207cca 50%,#002e7a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#047bcb, endColorstr=#002e7a,GradientType=0 );
}
#footer a{color: #fff;transition: 1.5s;}
#footer a:hover{
    color: #779E9F;
    opacity: 0.8;
}
.footer--bottom{
    overflow: hidden;
    background:#093C8B;
    display: flex;
    justify-content: space-between;
    padding:5px 10px;
    align-items: flex-start;
    padding-bottom: 40px;
      border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
}
#footer ul{
    list-style: none;
    text-align: left;
    position: relative;
    padding-right: 10px;
}
#footer ul:after{
    position: absolute;
    content: '';
    border-right: 1px solid #047BCB;
    top: -6px;
    bottom: -200px;
    right: 0;
}
#footer a{
    font-size: 12px;
}
.footer--bottom ul li  span{
    color:#779E9F;
    font-size: 16px; 
    line-height: 2.5;
    font-weight: bold;
}
.a--small{
    padding-left: 7px;
}
.footer--bottom img{
        padding-right: 5%;
    margin-top: 50px;
    width: 80px;
}