.infoblock .brochure-title-center {
    color: #000;
    font-size: 3.6rem;
    line-height: 3.8rem;
    text-align: center;
    padding: 14px 0 10px;
}

.content__block{
    width: 80%;
    margin-left: auto;
    margin-top: 10px;
}

.content__formatter{
    width: 90%;
}
@media all and (max-width: 1200px){
    .content__block{
        margin-left: 24%;
    }
}