.infoblock__double-wrap {
    overflow: hidden;
}

h3 {
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: center;
    font-family: 'LatoBold', sans-serif, helvetica, arial;

}

.infoblock .brochure-title-center {
    color: #000;
    font-size: 3.6rem;
    line-height: 3.8rem;
    text-align: center;
    padding: 14px 0 10px;
}

.double-wrap__column {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    overflow: hidden;
}

.infoblock .column__data {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0 4px;
    text-align: center;
}

.data__mini-text {
    font-size: 1.4rem;
    text-align: center;
}

.infoblock__double-wrap figure img, .infoblock .diagram {
    width: 80%;
    height: 80%;
    display: block;
    margin: 0 auto;
}

.infoblock__double-wrap figure figcaption {
    text-align: center;
    font-size: 12px;
    line-height: 14px;
}

.infoblock__double__double-p {
    width: 50%;
    float: left;
}

.infoblock .bookeye-vs-copiers__span {
    font-weight: normal;
    text-align: center;
    font-style: italic;
    font-size: 12px;
    line-height: 14px;
}

.infoblock .bookeye-vs-copiers__strong {
    text-align: center;
    display: block;
    font-size: 2.2rem;
    line-height: 2.4rem;
}

.double-content__text-and-picture-wrapper {
    overflow: hidden;
}

.blue-bullet--pull-right {
    margin-left: 25px;
}

.infoblock ul.blue-bullet li {
    position: relative;
    list-style: none;
}

.infoblock ul.blue-bullet li:before {
    content: '';
    position: absolute;
    top: 4px;
    left: -23px;
    background: url("http://upload.ted-kteam.com/IA/images/BlueBullet.png") no-repeat;
    background-size: 16px;
    width: 16px;
    height: 16px;
}

.rainbow-text {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff0000+0,ff00ff+16,0000ff+33,00ffff+50,00ff00+67,ffff00+83,ff0004+100,ff0000+100 */
    background: #ff0000; /* Old browsers */
    background: -moz-linear-gradient(left, #ff0000 0%, #ff00ff 16%, #0000ff 33%, #00ffff 50%, #00ff00 67%, #ffff00 83%, #ff0004 100%, #ff0000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ff0000 0%, #ff00ff 16%, #0000ff 33%, #00ffff 50%, #00ff00 67%, #ffff00 83%, #ff0004 100%, #ff0000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ff0000 0%, #ff00ff 16%, #0000ff 33%, #00ffff 50%, #00ff00 67%, #ffff00 83%, #ff0004 100%, #ff0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#ff0000', GradientType=1); /* IE6-9 */
    -webkit-background-clip: text; /* подробнее про background-clip */
    color: transparent;
    display: inline-block;
}

.rainbow-block {
    text-align: center;
}

@media all and (max-width: 1400px) {
    html {
    }

    .blue-bullet--pull-right li {
        padding: 4px 0;
    }
}

