footer {
    width: 80%;
    margin: 0 auto;
}

.bottom-bar {
    padding: 12px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(bottom, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -moz-linear-gradient(bottom, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -webkit-linear-gradient(bottom, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -o-linear-gradient(bottom, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -ms-linear-gradient(bottom, rgb(2, 48, 126), rgb(36, 135, 214));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#047bcb, endColorstr=#002e7a, GradientType=0);
}

footer a {
    color: #fff;
}

footer a:hover {
    opacity: 0.7;
}

footer .bottom-bar span {
    color: #fff;
}

.footer--bottom {
    overflow: hidden;
    background: #093C8B;
    display: flex;
    justify-content: space-between;
    padding: 5px 30px 40px;
    align-items: flex-start;
    border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
}

footer ul {
    text-align: left;
    position: relative;
    padding-right: 45px;
}

footer ul:after {
    position: absolute;
    content: '';
    border-right: 1px solid #047BCB;
    top: -6px;
    bottom: -200px;
    right: 0;
}

.footer--bottom ul li span {
    color: #6087C5;
    font-size: 16px;
    line-height: 2.5;
    font-weight: bold;
}

.a--small {
    padding-left: 7px;
}

.footer--bottom img {
    padding-right: 3%;
    margin-top: 50px;
    width: 80px;
}