.infoblock .video-js {
    width: 1100px;
    height: 660px;
}

.infoblock .table_video .video-preview {
    float: left;
}

.infoblock .table_video .video-preview img {
    width: 90%;
    height: 90%;
    box-shadow: 3px 3px 5px #8E8E8E;
}

.infoblock .table_video .video-links {
    display: inline-block;
    width: 40%;
}

.download-video {
    display: inline-block;
    margin-left: 5px;
    width: 41%;
}

.infoblock__scanners-header-h3 {
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    font-size: 2.2rem;
    line-height: 2.4rem;
    padding: 10px 0 5px;
}

.infoblock span {
    padding-bottom: 5px;
    display: block;
    font-weight: normal;
}

.text--blue {
    color: #093C8B;
}

.text--bold {
    font-family: 'LatoBold', sans-serif, helvetica, arial;
}

.infoblock .scrolled_pic > .images {
    box-shadow: 0 0 5px #000;
    margin: 25px 0 14px;
}