.slick-slider {
    margin: 0 auto;
}

.single-item {
    max-width: none;
}

.sub-gallery {
    position: relative;
}

.single-item__title {
    font-size: 28px;
    position: absolute;
    top: 7px;
    padding: 16px 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
}

.content__news-wrapper {
    position: relative;
    margin: -2px -2px 0 -1px;
}

.news-wrapper__popup {
    position: absolute;
    bottom: 10px;
    left: 1%;
    width: 30%;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
}

.popup__text {
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    display: block;
    padding: 10px 0;
    font-size: 27px;
    font-weight: bold;
    font-style: italic;
}

.text--popup {
    margin: 0 -3px 3px;
}

.popup__menu {
    text-align: left;
    overflow: auto;
    height: 560px;
}

.news_item {
    position: relative;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    margin: 9px 0;
    padding: 8px 0;
}

.menu__a {
    color: #fff;
    opacity: 0.9;
}

.popup__menu time {
    width: 60px;
    margin-left: 30px;
    margin-right: 5px;
    display: inline-block;
    font-weight: bold;
}

.a__text {
    display: inline-block;
    width: 75%;
    vertical-align: top;
}

.news_content p {
    padding-bottom: 5px;
}

.news_content {
    padding: 10px;
    margin-left: 5px;
    display: none;
    background: #fff;
    border: 1px solid #888;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 100%;
    width: 500px;
    z-index: 10;
    text-align: left;
}

.popup__scroll {
    max-height: 426px;
    overflow: auto;
    margin-top: 20px;
}

.news_content__img {
    width: 100%;
}

.news_content .news_location {
    font-style: italic;
    padding: 20px;
}

.news_content a {
    color: #333;
    text-decoration: underline;
}

.news_content a:hover {
    text-decoration: none;
}

.img--right {
    text-align: right;
}

.img--left {
    text-align: left;
}

.img--border {
    border-radius: 8px;
}

.news_content .close {
    position: absolute;
    top: 0;
    right: 0;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 100%;
    padding: 4px 11px;
}

.drop-box {
    width: 31vw;
    position: relative;
    padding: 5px;
    border-radius: 8px;
    margin: 0 4px 5px 0;
}

.drop-box--to-bottom {
    right: 0;
    bottom: 0;
    height: 40%;
}

.drop-box--to-top {
    right: 0;
    top: 102px;
    height: 60%;
}

.drop-box__icon {
    overflow: auto;
    position: relative;
    text-align: right;
}

.events-content-block__content-wrapper {
    width: 100%;
    height: 100%;
}

.drop-box__icon--past,
.drop-box__icon--coming {
    height: 100%;
}

.news-wrapper__events-content-block {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.icon__img {
    padding-top: 10px;
    position: relative;
}

.event_content {
    display: none;
    position: absolute;
    top: 0;
    left: -325px;
    background: #fff;
    border-radius: 8px;
    width: 320px;
    padding: 5px;
    z-index: 10;
    text-align: left;
    font-size: 13px;
}

.icon__img a {
    position: relative;
}

.icon__img a:hover + .event_content {
    display: block;
}

.content__text {
    display: block;
    overflow: hidden;
}

.drop-box .popup__text {
    display: inline-block;
    float: right;
    right: 0;
    padding: 10px 41px;
    font-size: 20px;
}

.drop-box .popup__text--coming {
    padding: 10px 23px;
}

/*New styles*/
.news-wrapper__events-block {
    position: absolute;
    right: 0;
    top: 70px;
    bottom: 0;
    width: 300px;
    padding-right: 10px;
}

.events-block__events--coming {
    height: 55%;
}

.events-block__events--past {
    height: 45%;
}

.events__block-title {
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    display: block;
    padding: 10px 0;
    font-size: 2.3rem;
    font-weight: bold;
    font-style: italic;
    max-height: 40px;
}

.events__content-block {
    height: calc(100% - 40px);
    overflow-y: auto;
}

.icon__img img {
    border: 1px solid #888;
    border-radius: 4px;
    width: 100%;
    background: #fff;
    padding: 2px;
}

.text--pull-right {
    float: right;
}

.text--pull-left {
    position: absolute;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 1px 3px;
}

.text--bold {
    font-weight: bold;
}

.text--padding {
    padding-left: 5px;
}

.single-item {
    position: relative;
}

.single-item img {
    width: 100%;
    height: 100%;
}

@media all and (max-width: 1366px) {
    .news-wrapper__events-block {
        width: 285px;
    }

    .popup__menu time {
        width: 59px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .popup__menu {
        height: 430px;
    }

    .news-wrapper__popup {
        width: 40%;
    }
}

@media all and (max-width: 1025px) {
    .popup__menu {
        height: 280px;
        font-size: 1.3rem;
    }

    .popup__text {
        padding: 6px 0;
        font-size: 2.4rem;
    }

    .popup__menu time {
        width: 46px;
    }

    .news-wrapper__events-block {
        width: 270px;
    }

    .events__block-title {
        font-size: 1.8rem;
    }
}