.content__unyver{
    background: url("../images/MIT_Building_10.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: right;
}
.unyver__h2{
    font-size: 42px;
    color: #000000;
    margin:0;
    padding:0;
}
@-webkit-keyframes color-text {
    from {color: #01fe18;}
    to {color: #01fe18;}
}
@keyframes color-text {
    from {color: #000000;}
    to {color: #01fe18;}
}
.h2--color {
    -webkit-animation: color-text  3s 1 linear;
    animation: color-text 3s 1 linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.unyver__taxt{
    width: 57%;
    text-align: center;
    display: inline-block;
    margin-top: 16%;
}
.unyver__taxt img{
    padding-top:25px;
}
.content__pod{
    display: inline-block;
    overflow: hidden;
}
.frame--text{
    text-align: justify;
    padding: 10px 20px;
}
.inform-preview{
    width: 60%;
    margin: 0 15px;
}
.pod__inform{
    text-align: center;
    margin-top: -10px;
}
.frame7-content{
    overflow: hidden;
    text-align: center;
}
.frame7-content__dlos{
    width: 49%;
    float: left;
    margin-left: 10%;
}
.dlos__logo{
    overflow: hidden;
    margin-left: 10%;
}
.dlos__logo img,
.dlos__logo ul{
    float: left;
}
.dlos__logo ul{
    margin: 15px 0px 0 -8px;
    text-align: left;
}
.frame--width{
    width: 60%;
    margin-left: 10%;
    margin-top: 10px;
}
.frame7-content__inform{
    float: left;
    width: 40%;
    text-align: center;
}
.frame--text__inform{
    width: 60%;
    display: block;
    margin-left: 20%;
}