.infoblock__opus-freeflow-freedom {
    color: #2c89c6;
    font-size: xx-large;
}

.infoblock_inscription {
    font-size: large;
    width: 39%;
    margin-left: 55%;
    margin-top: -63%;
    text-align: center;
}

.infoblock .logos {
    width: 45%;
}

.infoblock .infoblock_scanpages {
    width: 40%;
    margin-top: -19%;
    margin-left: 50%;
}

.infoblock .infoblock_book {
    width: 35%;
    margin-top: -10%;
}

.infoblock .infoblock_book_2 {
    width: 85%;
    margin-left: 15%;
    margin-top: -23%;
}

.infoblock .infoblock_logo_dlsg {
    width: 27%;
    margin-top: -5%;

}

.infoblock .opus_p1 {
    width: 45%;
    margin-top: 43%;
}

.infoblock .opus_p2 {
    width: 45%;

}

.infoblock .infoblock_link1 {
    font-size: medium;
    color: #5d5d5d;

}

.infoblock .opus_p3 {
    width: 45%;
    margin-left: 49%;
    margin-top: -16%;
}

.infoblock .opus_p4 {
    width: 45%;
    margin-left: 49%;
}

.infoblock .infoblock_banner {
    width: 51%;
    margin-left: 47%;
    margin-top: -6%;
}

.infoblock .infoblock_no_compromise {
    text-align: center;
    margin-top: 2%;
    color: black;
    text-shadow: none;
    font-size: xx-large;
}

.infoblock .infoblock_do_before_1 {
    border: solid 3px;
    border-radius: 2%;
    padding: 1%;
    text-align: center;
    color: black;

}

.infoblock_curve_collection {
    font-size: larger;
    text-align: center;
    color: black;
}

.infoblock .infoblock_do_before_2 {
    border: solid 3px;
    border-radius: 2%;
    padding: 1%;
    text-align: center;
    margin-top: 2%;
}

.hierarchical {
    text-align: center;
    font-size: x-large;
}

.templates {
    text-align: center;
    font-size: larger;
}

.OAI {
    margin-left: -2%;
}

.OAI2 {
    width: 45%;
}

.OAI3 {
    width: 45%;
    margin-left: 47%;
    margin-top: -23%;
}

.OAI4 {
    width: 45%;
    margin-left: 47%;
}

.metadata_capture {
    margin-top: 3%;
    font-size: x-large;
    font-weight: 600;

}

.OAI5 {
    width: 92%;

}

.OAI6 {
    width: 22%;
}

.infoblock .table1_freeflow {
    width: 68%;
    margin-left: 24%;
    margin-top: -29%;
}

.OAI7 {
    width: 92%;
    margin-top: 1%;
}

.infoblock .table2_freeflow {
    width: 40%;
    margin-top: 1%;
}

.OAI8 {
    width: 45%;
    margin-left: 44%;
    margin-top: -32%;
}

.OAI9 {
    width: 45%;
    margin-left: 44%;
}

.infoblock .opus_output {
    text-align: center;
    font-size: x-large;

}

.infoblock .opus_output_block1 {
    width: 49%;
}

.infoblock .opus_output_block2 {
    width: 47%;
    margin-left: 51%;
    margin-top: -14.5%;
}

.infoblock .opus_output_block3 {
    width: 47%;
    margin-left: 51%;
}

.infoblock .opus_output_block4 {
    width: 10%;
    font-size: larger;
    font-weight: 600;
    margin-top: 1%;
}

.infoblock .opus_output_block5 {
    width: 12%;
    font-size: larger;
    font-weight: 600;
    margin-left: 11%;
    margin-top: -5.3%;
}

.images_metadata {
    margin-left: -4%;
}

.infoblock .images_metadata1 {
    margin-left: -4.5%;
    width: 98%;
    margin-top: -1%;
}

.infoblock .treated {
    font-size: xx-large;
    text-align: center;
}

.infoblock .content_stabilization {
    margin-top:-1%;
	padding:1%;
}

.infoblock .content_stabilization1 {
    width: 47%;
}

.infoblock .content_stabilization2 {
    width: 47%;
    margin-left: 50%;
    margin-top: -8.6%;
}

.infoblock .content_stabilization3 {
    width: 44%;
}

.infoblock .content_stabilization4 {
    margin-left: 49%;
    width: 50%;
    margin-top: -3.5%;
}

.infoblock .content_stabilization5 {
    margin-left: 4%;
    margin-top: -30%;
    width: 18%;
}

.infoblock .content_stabilization6 {
    margin-left: 4%;
}

.infoblock .content_stabilization7 {
    margin-left: 4%;
}

.infoblock .content_stabilization8 {
    margin-left: 4%;
}

.infoblock .content_stabilization9 {
    margin-left: 4%;
}

.infoblock .content_stabilization10 {
    margin-left: 4%;
}

.infoblock .content_stabilization11 {
    margin-left: 4%;
}

.infoblock .content_stabilization12 {
    margin-left: 4%;
}

.infoblock .content_stabilization13 {
    width: 45%;
}

.infoblock .versus1 {
    width: 90%;
    margin-left: 3%;
}

.infoblock .versus2 {
    width: 90%;
    margin-left: 3%;
}

.styleForTitle {
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
    font-weight: bold;
    color: rgb(90, 107, 177);
    letter-spacing: -1pt;
    word-spacing: 1pt;
    font-size: 43px;
    text-align: center;
    font-family: arial black, sans-serif;
    line-height: 1;
    padding-left: 40px;
    padding-right: 40px;
}

.infoblock .free_logo_logo1 {
    width: 97%;
}

.versus3 {
    color: #0000ff;
    font-size: x-large;
    margin-left: 18%;
}

.versus4 {
    color: #0000ff;
    font-size: x-large;
    margin-left: 60%;
    margin-top: -4%;
}

.table_1 {
    width: 90%;
    border: groove 3px;
    border-collapse: collapse;

}

.table_1 td {
    border: groove 3px;
    border-collapse: collapse;

}

.infoblock .label_versus {
    font-size: x-large;
    color: #2c89c6;
    -webkit-text-stroke: 1px black;
    text-align: center;
    display: block;
}

.table_2 {
    width: 90%;
    border: groove 3px;
    border-collapse: collapse;

}
.table_2 td {
    border: groove 3px;
    border-collapse: collapse;

}
.infoblock .bottom_label{
    text-align: center;
    font-weight: 700;
}
.infoblock .