.infoblock__opus-freeflow-freedom {
    color: #2c89c6;
    font-size: xx-large;
}

.infoblock_inscription {
    font-size: large;
    width: 39%;
    margin-left: 55%;
    margin-top: -63%;
    text-align: center;
}

.infoblock .logos {
    width: 45%;
}

.infoblock .infoblock_scanpages {
    width: 40%;
    margin-top: -19%;
    margin-left: 50%;
}

.infoblock .infoblock_book {
    width: 35%;
    margin-top: -10%;
}

.infoblock .infoblock_book_2 {
    width: 85%;
    margin-left: 15%;
    margin-top: -23%;
}

.infoblock .infoblock_logo_dlsg {
    width: 27%;
    margin-top: -5%;

}

.infoblock .opus_p1 {
    width: 45%;
    margin-top: 43%;
}

.infoblock .opus_p2 {
    width: 45%;

}

.infoblock .infoblock_link1 {
    font-size: medium;
    color: #5d5d5d;

}

.infoblock .opus_p3 {
    width: 45%;
    margin-left: 49%;
    margin-top: -16%;
}

.infoblock .opus_p4 {
    width: 45%;
    margin-left: 49%;
}

.infoblock .infoblock_banner {
    width: 51%;
    margin-left: 47%;
    margin-top: -6%;
}

.infoblock .infoblock_no_compromise {
    margin-left: 65%;
    margin-top: 2%;
    color: black;
    text-shadow: none;
    font-size: x-large;
}

.infoblock .infoblock_do_before_1 {
    border: solid 3px;
    border-radius: 2%;
    padding: 1%;
    text-align: center;
    color: black;

}

.infoblock_curve_collection {
    font-size: larger;
    text-align: center;
    color: black;
}

.infoblock .infoblock_do_before_2 {
    border: solid 3px;
    border-radius: 2%;
    padding: 1%;
    text-align: center;
    margin-top: 2%;
}

.hierarchical {
    text-align: center;
    font-size: x-large;
}

.templates {
    text-align: center;
    font-size: larger;
}

.OAI {
    margin-left: -2%;
}

.OAI2 {
    width: 45%;
}

.OAI3 {
    width: 45%;
    margin-left: 47%;
    margin-top: -23%;
}

.OAI4 {
    width: 45%;
    margin-left: 47%;
}

.metadata_capture {
    margin-top: 3%;
    font-size: x-large;
    font-weight: 600;

}

.OAI5 {
    width: 92%;

}

.OAI6 {
    width: 22%;
}

.infoblock .table1_freeflow {
    width: 68%;
    margin-left: 24%;
    margin-top: -29%;
}

.OAI7 {
    width: 92%;
    margin-top: 1%;
}

.infoblock .table2_freeflow {
    width: 40%;
    margin-top: 1%;
}

.OAI8 {
    width: 45%;
    margin-left: 44%;
    margin-top: -32%;
}

.OAI9 {
    width: 45%;
    margin-left: 44%;
}

.infoblock .opus_output {
    text-align: center;
    font-size: x-large;

}

.infoblock .opus_output_block1 {
    width: 49%;
}

.infoblock .opus_output_block2 {
    width: 47%;
    margin-left: 51%;
    margin-top: -14.5%;
}

.infoblock .opus_output_block3 {
    width: 47%;
    margin-left: 51%;
}

.infoblock .opus_output_block4 {
    width: 10%;
    font-size: larger;
    font-weight: 600;
    margin-top: 1%;
}

.infoblock .opus_output_block5 {
    width: 12%;
    font-size: larger;
    font-weight: 600;
    margin-left: 11%;
    margin-top: -5.3%;
}

.images_metadata {
    margin-left: -4%;
}

.infoblock .images_metadata1 {
    margin-left: -4.5%;
    width: 98%;
    margin-top: -1%;
}

.infoblock .treated {
    font-size: xx-large;
}

.infoblock .content_stabilization {
    border: solid 3px;
    border-radius: 2%;
    padding: 1%;
}

.infoblock .content_stabilization1 {
    width: 47%;
}

.infoblock .content_stabilization2 {
    width: 47%;
    margin-left: 50%;
    margin-top: -8.6%;
}

.infoblock .content_stabilization3 {
    width: 44%;
}

.infoblock .content_stabilization4 {
    margin-left: 49%;
    width: 50%;
    margin-top: -3.5%;
}
