.infoblock__opus-freeflow-freedom {
    color: #2c89c6;
    line-height: 3.8rem;
    font-size: 3.6rem;
}

.infoblock_inscription {
    font-size: large;
    float: right;
    width: 52%;
    text-align: center;
}

.infoblock .logos {
    width: 45%;
}

.infoblock .brochure-overflow {
    overflow: hidden;
}

.infoblock .infoblock_scanpages {
    width: 40%;
    margin-top: 3%;
    float: right;
}

.infoblock .infoblock_book {
    width: 30%;
    float: left;

}

.infoblock .infoblock_book_2 {
    width: 70%;

}

.infoblock .infoblock_logo_dlsg {
    width: 27%;
    margin-top: -5%;

}

.infoblock .infoblock_link1 {
    font-size: medium;
    color: #5d5d5d;

}

.infoblock .opus_p3 {
    width: 45%;
    margin-left: 49%;
    margin-top: -16%;
}

.infoblock .opus_p4 {
    width: 45%;
    margin-left: 49%;
}

.infoblock .infoblock_banner {
    width: 51%;
    margin-left: 47%;
    margin-top: -6%;
}

.infoblock .infoblock_no_compromise {
    text-align: center;
    margin-top: 2%;
    color: black;
    text-shadow: none;
    font-size: xx-large;
}

.infoblock .infoblock_do_before_1 {
    border: solid 3px;
    border-radius: 2%;
    padding: 1%;
    text-align: center;
    color: black;

}

.infoblock_curve_collection {
    font-size: larger;
    text-align: center;
    color: black;
}

.infoblock .infoblock_do_before_2 {
    border: solid 3px;
    border-radius: 2%;
    padding: 1%;
    text-align: center;
    margin-top: 2%;
}

.hierarchical {
    text-align: center;
    font-size: x-large;
}

.templates {
    text-align: center;
    font-size: larger;
}

.OAI2 {
    width: 45%;
}

.metadata_capture {
    font-size: 2.4rem;
    font-weight: 600;
    float: left;
    padding-top: 2rem;
    width: 100%;

}

.OAI5 {
    width: 100%;

}

.OAI6 {
    width: 22%;
}

.infoblock .table1_freeflow {
    width: 70%;
    float: right;

}

.OAI7 {
    width: 92%;
    margin-top: 1%;
}

.infoblock .table2_freeflow {
    width: 40%;
    float: left;
}

.OAI8 {
    width: 45%;
    margin-left: 44%;
    margin-top: -32%;
}

.OAI9 {
    width: 45%;
    margin-left: 44%;
}

.infoblock .opus_output {
    text-align: center;
    font-size: x-large;

}

.infoblock .opus_output_block4 {
    font-size: larger;
    font-weight: 600;
    float: left;
}

.infoblock .opus_output_block5 {
    float: left;
    font-size: larger;
    font-weight: 600;
    margin-left: 1%;
}

.images_metadata {
    margin-left: 1%;
}

.infoblock .images_metadata1 {
    width: 100%;
    margin-top: -1%;
}

.infoblock .treated {
    font-size: xx-large;
    text-align: center;
}

.infoblock .content_stabilization {
    margin-top: -1%;
    padding: 1%;
}

.infoblock .content-stabilization__enumeration {
    overflow: hidden;
    width: 45%;
    float: left;
    padding-left: 24px;
}

.infoblock .content-stabilization__enumeration div {
    float: left;
    width: 48%;
}

.infoblock .content-stabilization__enumeration div ul {
    float: left;
    width: 48%;
}

.infoblock .content-stabilization__enumeration div p {
    width: 100%;
    margin-top: 3%;
}

.infoblock .content_stabilization1 {
    width: 47%;
    float: left;
}

.infoblock .content_stabilization2 {
    width: 47%;
    float: right;
}

.infoblock .content_stabilization3 {
    width: 44%;
}

.infoblock .content_stabilization4 {
    width: 50%;
    float: left;
    margin-left: 2%;
}

.infoblock .content_stabilization5 {
    margin-left: 4%;
    margin-top: -30%;
    width: 18%;
}

.infoblock .content_stabilization6 {
    margin-left: 4%;
}

.infoblock .content_stabilization7 {
    margin-left: 4%;
}

.infoblock .content_stabilization8 {
    margin-left: 4%;
}

.infoblock .content_stabilization9 {
    margin-left: 4%;
}

.infoblock .content_stabilization10 {
    margin-left: 4%;
}

.infoblock .content_stabilization11 {
    margin-left: 4%;
}

.infoblock .content_stabilization12 {
    margin-left: 4%;
}

.infoblock .content_stabilization13 {
    width: 45%;
}

.infoblock .versus1 {

    float: left;
    width: 100%;
}

.infoblock .versus2 {

    float: left;
}

.infoblock .little_label_for_image_metadata {
    font-size: 0.8rem;
    margin-top: -4%;
    float: left;
}

.styleForTitle {
    text-shadow: 0 0 1px rgba(0, 0, 0, 1);
    font-weight: bold;
    color: rgb(90, 107, 177);
    letter-spacing: -1pt;
    word-spacing: 1pt;
    font-size: 43px;
    text-align: center;
    font-family: arial black, sans-serif;
    line-height: 1;
    padding-left: 40px;
    padding-right: 40px;
}

.infoblock .free_logo_logo1 {
    width: 97%;
}

.versus3 {
    color: black;
    font-size: 3.2rem;
    margin-left: 17%;
}

.versus4 {
    color: black;
    font-size: 3.2rem;
    margin-left: 59%;
    margin-top: -2%;
}

.table_1 {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
    margin-top: 2%;

}

.table_1 td {
    border: 1px solid #000;
    border-collapse: collapse;

}

.table_1 td {
    border: 1px solid #000;
    border-collapse: collapse;

}

.table_1 .table_center_label {
    text-align: center;

}

.infoblock .label_versus {
    font-size: x-large;
    color: black;
    -webkit-text-stroke: 1px black;
    text-align: center;
    display: block;
    padding: 1%;
}

.table_2 {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
}

.table_2 .table_center_label {
    text-align: center;

}

.table_2 td {
    border: 1px solid #000;
    border-collapse: collapse;

}

.infoblock .bottom_label {
    text-align: center;
    font-weight: 700;
}

.infoblock .text_block1_page1 {
    width: 48%;
    float: left;
}

.infoblock .text_block2_page1 {
    width: 48%;
    float: right;
}

.infoblock .label_no_compromise_page1 {

    color: #000;
    font-size: 3.6rem;
    line-height: 3.8rem;
    text-align: center;
}

.infoblock .block_hierarchical_metadata {
    width: 100%;
}

.infoblock .block_hierarchical_metadata_table {
    width: 21%;
    float: left;
    padding-top: 5rem;
    margin-left: 3rem;

}

.infoblock .block_hierarchical_metadata_table2 {
    width: 100%;
    float: left;
}

.infoblock .block_hierarchical_metadata_table3 {
    float: right;
    width: 58%;
}

.infoblock .block_hierarchical_metadata_table4 {
    float: left;
    width: 48%;
}

.infoblock .block_hierarchical_metadata_table5 {
    float: right;
    width: 48%;
}

.infoblock .brochure-title-center-free-flow {
    color: #000;
    font-size: 3.6rem;
    line-height: 3.8rem;
    text-align: center;
}

.infoblock .opus_output_absolute_text {
    width: 27%;
    position: absolute;
    margin-top: -23%;
}

.infoblock .table_blur_freflow_background {
    background: #2487D6;
    color: #FFFFFF
}

.infoblock .templates_software {
    text-align: center;
    width: 100%;
    margin-top: 25%;
}

.infoblock .brochure-title-center_software {
    width: 100%;
    float: left;
    margin-top: 1%;
}

@media all and (min-width: 1200px) and (max-width: 1400px) {
    .infoblock div .infoblock__h2__p h2 {
        font-size: 2.2rem;
        color: #000000;
        padding: 0;
    }

    .infoblock .label_no_compromise_page1 {
        padding-top: 29rem;
        color: #000;
        font-size: 3.6rem;
        line-height: 3.8rem;
        text-align: center;
    }

    .infoblock .block_hierarchical_metadata_table3 {
        float: right;
        width: 58%;
    }

    .infoblock div .infoblock__h2__p p {
        text-align: center;
        font-size: 1.5rem;
    }

    .infoblock .table1_freeflow {
        width: 75%;
        float: right;
        padding-top: 0;

    }

    .infoblock .table2_freeflow {
        width: 40%;
        float: left;
        padding-top: 2rem;

    }

    .versus3 {
        color: black;
        font-size: 3.2rem;
        margin-left: 14%;
    }

    .versus4 {
        color: black;
        font-size: 3.2rem;
        margin-left: 55%;
        margin-top: -3%;
    }

    .infoblock .block_hierarchical_metadata_table {
        width: 23%;
        float: left;
        padding-top: 0;
        margin-left: 0;

    }

    .infoblock .brochure-title-center-free-flow {
        color: #000;
        font-size: 3.6rem;
        line-height: 3.8rem;
        text-align: center;
    }

    .infoblock .infoblock__h3__p h3 {
        font-size: 1.4rem;
        font-weight: bold;
        color: #000000;
    }

    .infoblock .infoblock__h3__p p {
        font-size: 1rem;
    }
}

.infoblock .content_stabilization_software {
    width: 45%;
    float: right;
}

.infoblock .templates_software1 {
    text-align: center;
    width: 100%;
    float: left;
}

.OAI5_Software {
    width: 100%;
    float: left;
}

.OAI_Software {
    float: left;
    width: 100%;
}

@media all and (min-width: 992px) and (max-width: 1199px) {
    .infoblock div .infoblock__h2__p h2 {
        font-size: 1.7rem;
        color: #000000;
        padding: 0;
    }

    .OAI5 {
        width: 100%;
        float: left;
        padding-top: 0;
    }

    .infoblock .templates_software {
        text-align: center;
        width: 100%;
        float: left;
        margin-top: 0;
    }

    .OAI {
        margin-left: -2%;
        float: left;
        width: 100%;
    }

    .infoblock .content_stabilization_software {
        width: 54%;
        margin-left: 1%;
        margin-top: 0;
    }

    .versus3 {
        color: black;
        font-size: 2.4rem;
        margin-left: 13%;
    }

    .versus4 {
        color: rgb(0, 0, 0);
        font-size: 2.4rem;
        margin-left: 55%;
        margin-top: -4%;
    }

    .infoblock div .infoblock__h2__p p {
        text-align: center;
        font-size: 1.1rem;
    }

    .infoblock .infoblock__h3__p h3 {
        font-size: 1rem;
        font-weight: bold;
        color: #000000;
    }

    .infoblock .opus_output_absolute_text {
        font-size: 1rem;
    }

    .infoblock .table1_freeflow {
        width: 67%;
        float: right;
        padding-top: 0;

    }

    .infoblock .label_no_compromise_page1 {
        padding-top: 37rem;
        color: #000;
        font-size: 3.6rem;
        line-height: 3.8rem;
        text-align: center;
    }

    .infoblock .brochure-title-center-free-flow {
        color: #000;
        font-size: 3.6rem;
        line-height: 3.8rem;
        text-align: center;

    }

    .infoblock .block_hierarchical_metadata_table {
        width: 32%;
        float: left;
        padding-top: 0;
        margin-left: 0;
    }

    .infoblock .table2_freeflow {
        width: 41%;
        float: left;
        padding-top: 4rem;
    }

    .infoblock .infoblock__h3__p p {
        font-size: 0.8rem;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .infoblock div .infoblock__h2__p h2 {
        font-size: 1.4rem;
        color: #000000;
        padding: 0;
    }

    .infoblock div .infoblock__h2__p p {
        text-align: center;
        font-size: 1rem;
    }

    .infoblock .infoblock__h3__p h3 {
        font-size: 0.9rem;
        font-weight: bold;
        color: #000000;
    }

    .infoblock .infoblock__h3__p p {
        font-size: 0.7rem;
    }

    .infoblock .opus_output_absolute_text {
        font-size: 0.5rem;
    }
}

@media all and (max-width: 767px) {
    .infoblock div .infoblock__h2__p h2 {
        font-size: 1.5rem;
        color: #000000;
        padding: 0;
    }

    .infoblock div .infoblock__h2__p p {
        text-align: center;
        font-size: 1rem;
    }

    .infoblock .infoblock__h3__p h3 {
        font-size: 1rem;
        font-weight: bold;
        color: #000000;
    }

    .infoblock .infoblock__h3__p p {
        font-size: 0.7rem;
    }
}