.gallery .images .image {
    position: relative;
    width: 100%;
    padding-bottom: 60%;
    height: 0;
    overflow: hidden;
    display: none;
    /*border-radius: 3px;*/
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.gallery .images .image.active {
    display: block;
}

.gallery .images .image .content {
    position: absolute;
    width: 100%;
    height: 100%;
    background: center no-repeat;
    background-size: cover;
}

.gallery .thumbs {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}

@media (max-width: 768px) {
    .gallery .thumbs {
        height: 80px;
        overflow-x: auto;
        overflow-y: hidden;
    }
}

.gallery .thumbs .thumb {
    box-sizing: border-box;

    background: center no-repeat;
    background-size: 90%;
    display: inline-block;
    position: relative;

    margin: 4px;

    border: 3px solid transparent;
    width: 150px;
    height: 150px;

    cursor: pointer;
}

@media (max-width: 768px) {
    .gallery .thumbs .thumb {
        width: 65px;
        height: 65px;
    }
}

.gallery .thumbs .thumb.active {
    border-color: #2487D6;
}

.gallery .thumbs .brochure {
    width: 100%;
    height: auto;
    border: none;
}

/* Animated gallery styles */
/* FRAMES 2-4 */
.gallery-wrapper {
    margin: -38px 0 40px 0;
    width: 50%;
    position: relative;
    display: block;
    padding-right: 10px;
}

.gallery-block {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: 20px;
}

.gallery-container {
    position: absolute;
    top: -10px;
    bottom: 0;
    left: 0;
    right: 0;
}

.gallery-image {
    float: left;
    display: none;
}

.wrapper-2C {
    margin: -38px 0 0 0;
}

.wrapper-3 {
    margin: -38px 0 15px 0;
}

.wrapper-4A {
    margin: -38px 0 0 0;
}

.animated-image-block {
    position: absolute;
    border: 1px solid black;
}

.gallery-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

/*@-webkit-keyframes opacity {*/
/*to {*/
/*opacity: 0;*/
/*}*/
/*}*/

/*@keyframes opacity {*/
/*to {*/
/*opacity: 0;*/
/*}*/
/*}*/

.gallery-header {
    width: 100%;
    -webkit-animation: opacity 3s 1 linear;
    animation: opacity 3s 1 linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.gallery-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
}

.gallery-container-2A {
    background: url("../images/new_frames/atlases/Frame2A.png") no-repeat center;
    background-size: contain;
}

.gallery-container-2B {
    background: url("../images/new_frames/atlases/Frame2B.png") no-repeat center;
    background-size: contain;
}

.gallery-container-2C {
    background: url("../images/new_frames/atlases/Frame2C.png") no-repeat center;
    background-size: contain;
}

.gallery-container-3 {
    background: url("../images/new_frames/atlases/Frame3.png") no-repeat center;
    background-size: contain;
}

.gallery-container-4A {
    background: url("../images/new_frames/atlases/Frame4A.png") no-repeat center;
    background-size: contain;
}

.gallery-mask-stripe {
    position: absolute;
    background: white;
    left: 0;
    width: 100%;
}