.gallery .images .image {
    position: relative;
    width: 100%;
    padding-bottom: 60%;
    height: 0;
    overflow: hidden;
    display: none;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.gallery .images .image.active {
    display: block;
}

.gallery .images .image .content {
    position: absolute;
    width: 100%;
    height: 100%;
    background: center no-repeat;
    background-size: cover;
}

.gallery .thumbs {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}

@media (max-width: 768px) {
    .gallery .thumbs {
        height: 80px;
        overflow-x: auto;
        overflow-y: hidden;
    }
}

.gallery .thumbs .thumb {
    box-sizing: border-box;

    background: center no-repeat;
    background-size: 90%;
    display: inline-block;
    position: relative;

    margin: 4px;

    border: 3px solid transparent;
    width: 150px;
    height: 150px;

    cursor: pointer;
}

@media (max-width: 768px) {
    .gallery .thumbs .thumb {
        width: 65px;
        height: 65px;
    }
}

.gallery .thumbs .thumb.active {
    border-color: #2487D6;
}

.gallery .thumbs .brochure {
    width: 100%;
    height: auto;
    border: none;
}

/* Animated gallery styles */
/* FRAMES 2-4 */
.gallery-wrapper {
    position: relative;
    display: block;
}

.gallery-block {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: 20px;
}

.gallery-container {
    position: absolute;
    top: -10px;
    bottom: 0;
    left: 0;
    right: 0;
}

.gallery-image {
    float: left;
    width: calc(5% - 5px); /* Calculate this value depending on images count*/
    height: calc(5% - 5px); /* Calculate this value depending on images count*/
    margin-right: 5px;
    margin-bottom: 5px;
}

.animated-image-block {
    position: absolute;
    border: 1px solid black;
}

.gallery-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}
@-webkit-keyframes opacity {
    to {opacity: 0;}
}
@keyframes opacity {
    to {opacity: 0;}
}



.gallery-header{
    width: 100%;
    -webkit-animation: opacity  3s 1 linear;
    animation: opacity 3s 1 linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}