/*how to order*/
img{
    width: 100%;
    height: auto;
}

.customers_map-title, .validator-title {
    text-align: center;
    font-size: 41px;
    line-height: 43px;
    padding: 20px;
}

.content-wrapper p {
    font-size: 24px;
    padding-bottom: 5px;
    line-height: 1.2;
}

.content-wrapper {
    width: 87%;
    margin-left: auto;
}

.content-wrapper > div {
    position: relative;
    padding: 0 40px 30px;
}

.content-links {
    padding: 0;
    list-style: none;
    overflow: hidden;
    margin: 0 130px;
}

.content-links li {
    cursor: pointer;
    width: calc(100% /3.1);
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 15px;
    overflow: hidden;
    display: inline-block;
    height: 240px;
    padding: 10px;
    margin: 10px 5px;
}

.content-links img {
    width: 100%;
    height: auto;
}

.content-links .active-link {
    border: none;
}

.tab-content {
    display: inline-block;
    position: relative;
    padding: 5px;
    vertical-align: middle;
}

.tab-content-left {
    width: 48%;
}

.tab-content-right {
    width: 49%;
}

.how-to-order-title {
    padding-top: 20px;
    text-align: center;
    font-size: 70px;
    font-weight: normal;
    line-height: 1.2;
}

.kic-logo-how-to-order {
    width: 250px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.btn-absolute-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

.content-wrapper strong {
    font-size: 24px;
}
.green-bullet{
    margin-left: 23px;
}

.green-bullet li {
    position: relative;
    list-style: none;
    line-height: 1.3;
    font-size: 24px;
}

.green-bullet li:before {
    content: '';
    position: absolute;
    top: 8px;
    left: -23px;
    background: url(http://upload.ted-kteam.com/DLSG/images/green-bullet.png) no-repeat;
    background-size: 16px;
    width: 16px;
    height: 16px;
}

.tab-content-fm-img {
    width: 25%;
    vertical-align: middle;
    margin-right: 40px;
}

.tab-content-fm-ul {
    width: 48%;
    vertical-align: middle;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.dlos-block {
    position: relative;
    text-align: center;
    padding-top: 30px;
}

.dlos-absolute {
    position: absolute;
}

.dlos-absolute--top-text {
    left: 30px;
    bottom: 140px;
}

.dlos-absolute--bottom-text {
    left: 75px;
    bottom: 35px;
}

.dlos-price {
    margin-top: 90px;
}

.dlos-block-system {
    padding-bottom: 30px;
    text-align: left;
}

.dlos-block-system strong {
    display: inline-block;
    width: 350px;
    margin-right: 10px;
    vertical-align: top;
}


.dlos-text-bottom{
    text-align: right;
    margin-top: 40px;
}

.dlos-sub-text {
    padding: 0;
    display: inline-block;
    vertical-align: top;
}

.dlos-sub-text span {
    padding-left: 15px;
    display: block;
}

sup {
    color: red;
    font-size: 24px;
}

.dlos-block_img {
    position: relative;
}

._20each {
    bottom: -80px;
    left: 281px;
}

._24each {
    bottom: -80px;
    right: 146px;
}

.img-padding {
    padding-bottom: 10px;
}

.tab-content-bottom{
    vertical-align: bottom;
}

.odam-left{
    width: 24%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.odam-right{
    width: 75%;
    display: inline-block;
    vertical-align: top;
}

.zero-padding{
    padding: 0;
    margin: 0;
}

.odam-price{
    position: absolute;
    bottom: 70px;
    left: 37%;
}

.odam-vertical{
    margin-top:2px;
}

.odam-price strong{
    width: 140px;
    display: inline-block;
    vertical-align: top;
    line-height: 1.2;
}

.bscan-ill-logo{
    height: 150px;
    display: block;
    padding: 10px;
    margin-bottom: 70px;
    width: 223px;
}

.bscan-ill-right-img{
    position: absolute;
    top: 0;
    right: 0;
    width: 75%;
}

.bscan-text{
    width: 75%;
}

.btn-ill{
    position: absolute;
    right: 0;
    bottom: 0;
}

.request-information{
    text-align: center;
    margin-bottom: 30px;
}

.bscan-text p,
.bscan-text li{
    font-size: 18px;
}

.bscan-text li{
    line-height: 1.4;
}

.bscan-text .green-bullet li:before {
    top: 3px;
}

.bscan-img-top{
    padding-top: 90px;
}

.btn-access {
    display: inline-block;
    background: linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -moz-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -webkit-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -o-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -ms-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #fff;
    border: none;
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 5px;
}

.btn-access:hover{
    background: #1f4d71;
}

.opus-img{
    width: 384px;
    height: 138px;
}

@media all and (max-width: 1720px) {
    .content-links li {
        width: calc(100% /3.2);
        height: 200px;
    }
    .dlos-absolute--top-text {
        left: 0;
        bottom: 130px;
    }
}

@media all and (max-width: 1500px) {
    .dlos-absolute--bottom-text {
        left: -20px;
    }
    .dlos-absolute--top-text {
        left: -20px;
    }
    ._20each {
        left: 160px;
    }
}

@media all and (max-width: 1200px) {
    .dlos-absolute--bottom-text {
        left: -30px;
    }
    .dlos-absolute--top-text {
        left: -30px;
    }
    .tab-content-bottom {
        vertical-align: middle;
    }
}