.infoblock {
    margin: 2px 0 0;
    padding: 20px;
    width: 60%;
    text-align: left;
    float: left;
    word-wrap: break-word;
    border-left: 2px solid #E3E6DB;
}

.infoblock p {
    padding-bottom: 5px;
    text-align: justify;
}

.infoblock p.opus {
    width: 80%;
    background: #2487D6;
    color: #fff;
    padding: 10px;
    margin: 0 auto 10px;
    border: 1px solid #000;
    box-shadow: 3px 3px 5px #8E8E8E;
    font-size: 20px;
    font-style: italic;
}

.infoblock div.pdf_preview {
    padding: 20px 0;
}

.infoblock div.pdf_preview > a {
    float: left;
    margin: 0 0 0 20px;
    font-weight: bold;
    color: #093C8B;
}

.infoblock div.pdf_preview > a > img {
    float: left;
    box-shadow: 3px 3px 5px #8E8E8E;
}

.infoblock a.pdf_version {
    float: right;
}

.infoblock .technical_data {
    width: 90%;
    margin: 0;
}

.infoblock .technical_data tbody tr th {
    font-weight: bold;
    width: 200px;
}

.infoblock span {
    font-weight: bold;
    padding-bottom: 5px;
    display: block;
}

.infoblock span.new {
    padding: 0;
    font-style: italic;
    display: inline-block;
    color: #f00;
}

.infoblock img {
    max-width: 100%;
    height: auto;
}

.infoblock ul {
    padding: 0 0 0 24px;
    list-style: disc;
}

.infoblock ul li {
    line-height: 24px;
}

.infoblock ul.opus_list {
    list-style: none;
    columns: 2;
    column-gap: 2em;
    -moz-columns: 2;
    -moz-column-gap: 2em;
    -webkit-columns: 2;
    -webkit-column-gap: 2em;
}

.infoblock ul.opus_list li {
    margin: 0 0 20px;
    text-align: justify;
}

.infoblock ul.opus_list li span {
    font-size: 18px;
    margin: 0 0 10px;
    text-align: left;
}

.infoblock embed.pdf_view {
    width: 85%;
    height: 700px;
}

.infoblock .scrolled_pic {
    display: block;
    overflow: visible;
    align-items: baseline;
    border: none;
    box-shadow: none;
}

.infoblock .scrolled_pic > .images {
    overflow: visible;
    display: block;
    align-items: center;
    border-bottom: 1px solid #E3E6DB;
    box-shadow: 0 0 5px #000;
    margin: 0 0 14px;
}

.infoblock .scrolled_pic .images .image .back_image {
    width: 50%;
    background-size: contain;
    margin: 20px;
}

.infoblock .scrolled_pic .images .image .back_pdf {
    width: 75%;
    margin: 10px;
}

.infoblock .scrolled_pic .images .image .back_pdf embed {
    width: 100%;
    height: 525px;
}

.infoblock .scrolled_pic .images .image .back_text {
    width: 39%;
    float: right;
    margin: 100px 10px 0 0;
}

.infoblock .scrolled_pic .images .image .back_text_pdf {
    width: 20%;
    float: right;
    margin: 100px 10px 0 0;
}

.infoblock .scrolled_pic .images .image .back_text span {
    color: #093C8B;
    font-size: 18px;
}

.infoblock .scrolled_pic .images .image .back_text_pdf a {
    color: #093C8B;
    font-size: 20px;
    font-weight: bold;
}

.infoblock .table_comliance {
    overflow: hidden;
    margin: 10px 0;
}

.infoblock .table_comliance .conf_sing {
    width: 15%;
    float: left;
}

.infoblock .table_comliance .conf_description {
    width: 85%;
    float: left;
}

.infoblock .table_comliance .conf_description span {
    color: #093C8B;
    margin: 10px 0 0;
}

.infoblock .table_comliance .conf_sing img {
    margin: 20px auto;
    display: block;
    width: 75px;
    height: auto;
}

.infoblock .table_comliance .conf_sing h2 {
    width: 75px;
    height: auto;
    margin: 20px auto;
}

.infoblock .table_video {
    overflow: hidden;
    margin: 10px 0;
}

.infoblock .table_video .video-preview {
    width: 60%;
    float: left;
}

.infoblock .table_video .video-preview img {
    width: 90%;
    height: auto;
}

.infoblock .table_video .video-links {
    width: 40%;
    float: left;
}

.infoblock .table_video .video-links a {
    font-weight: bold;
}

.infoblock .table_documentation {
    width: 100%;
}

.infoblock .table_documentation tbody tr :nth-child(1) {
    font-weight: bold;
}

.infoblock img.mainpage_img {
    float: right;
    width: 235px;
    margin: 2px;
}

.infoblock table.opus_table {
    width: 100%;
}
.infoblock table.opus_table tbody tr :nth-child(1) {
    width: 70%;
}
.infoblock table.opus_table tbody tr :nth-child(n+2) {
    text-align: center;
}
.infoblock table.opus_table tbody tr th {
    background: linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -moz-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -webkit-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -o-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -ms-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    color: #fff;
}

.infoblock div.title_opus {
    width: 100%;
    overflow: hidden;
}
.infoblock div.title_opus img {
    float: left;
}
.infoblock div.title_opus div {
    float: left;
}
.infoblock div.title_opus span.freedom {
    font-size: 26px;
    line-height: 28px;
    color: #315080;
}
.infoblock p.opus_p {
    margin: 10px 0;
}
.infoblock div.kic_div {
    overflow: hidden;
}
.infoblock div.kic_div img {
    float: left;
    margin: 0 10px 0 0;
}
/* start temporary style */

.infoblock p.waiting {
    color: #f00;
    text-transform: uppercase;
    font-size: 30px;
}

/* end temporary style */