.infoblock {
    margin: 2px 0 0;
    padding: 20px;
    width: 55%;
    text-align: left;
    float: left;
    word-wrap: break-word;
    border-left: 2px solid #E3E6DB;
}

.infoblock p {
    padding-bottom: 5px;
}

.infoblock div.pdf_preview {
    padding: 20px 0;
}

.infoblock div.pdf_preview > a {
    float: left;
}

.infoblock a.pdf_version {
    float: right;
}

.infoblock .technical_data {
    width: 90%;
}

.infoblock .technical_data tbody tr th {
    font-weight: bold;
}

.infoblock span {
    font-weight: bold;
    padding-bottom: 5px;
    display: block;
}

.infoblock img {
    max-width: 100%;
}

.infoblock ul li {
    background: url("../images/blue-bullet.png") no-repeat left 2px;
    padding-left: 24px;
    line-height: 24px;
}

.w-table {
    background: #fff;
    color: #000;
    font-weight: normal !important;
}

.b-table {
    background: #2588D7;
    color: #fff;
    font-weight: normal !important;
}