.infoblock {
    margin: 2px 0 0;
    padding: 20px;
    width: 60%;
    text-align: left;
    float: left;
    word-wrap: break-word;
    border-left: 2px solid #E3E6DB;
}

.infoblock p {
    padding-bottom: 5px;
}

.infoblock div.pdf_preview {
    padding: 20px 0;
}

.infoblock div.pdf_preview > a {
    float: left;
}

.infoblock a.pdf_version {
    float: right;
}

.infoblock .technical_data {
    width: 90%;
    margin: 0;
}

.infoblock .technical_data tbody tr th {
    font-weight: bold;
}

.infoblock span {
    font-weight: bold;
    padding-bottom: 5px;
    display: block;
}

.infoblock img {
    max-width: 100%;
}

.infoblock ul li {
    background: url("../images/blue-bullet.png") no-repeat left 2px;
    padding-left: 24px;
    line-height: 24px;
}

.infoblock embed.pdf_view {
    width: 85%;
    height: 700px;
}

.w-table {
    background: #fff;
    color: #000;
    font-weight: normal !important;
}

.b-table {
    background: #2588D7;
    color: #fff;
    font-weight: normal !important;
}

.infoblock .scrolled_pic {
    display: block;
    overflow: visible;
    align-items: baseline;
    border: none;
    box-shadow: none;
}

.infoblock .scrolled_pic > .images {
    overflow: visible;
    display: block;
    align-items: center;
    border-bottom: 1px solid #E3E6DB;
    box-shadow: 0 0 5px #000;
    margin: 0 0 14px;
}

.infoblock .scrolled_pic .images .image .back_image {
    width: 50%;
    background-size: contain;
    margin: 20px;
}

.infoblock .scrolled_pic .images .image .back_pdf {
    width: 75%;
    margin: 10px;
}

.infoblock .scrolled_pic .images .image .back_pdf embed {
    width: 100%;
    height: 525px;
}

.infoblock .scrolled_pic .images .image .back_text {
    width: 39%;
    float: right;
    margin: 100px 10px 0 0;
}
.infoblock .scrolled_pic .images .image .back_text_pdf {
    width: 20%;
    float: right;
    margin: 100px 10px 0 0;
}
.infoblock .scrolled_pic .images .image .back_text span {
    color: #093C8B;
    font-size: 18px;
}

.infoblock .scrolled_pic .images .image .back_text_pdf a {
    color: #093C8B;
    font-size: 20px;
    font-weight: bold;
}

.infoblock .table_comliance {
    overflow: hidden;
    margin: 10px 0;
}

.infoblock .table_comliance .conf_sing {
    width: 15%;
    float: left;
}

.infoblock .table_comliance .conf_description {
    width: 85%;
    float: left;
}

.infoblock .table_comliance .conf_description span {
    color: #093C8B;
    margin: 10px 0 0;
}

.infoblock .table_comliance .conf_sing img {
    margin: 20px auto;
    display: block;
    width: 75px;
    height: auto;
}

.infoblock .table_comliance .conf_sing h2 {
    width: 75px;
    height: auto;
    margin: 20px auto;
}

.infoblock .table_video {
    overflow: hidden;
    margin: 10px 0;
}

.infoblock .table_video .video-preview {
    width: 60%;
    float: left;
}

.infoblock .table_video .video-preview img {
    width: 90%;
    height: auto;
}

.infoblock .table_video .video-links {
    width: 40%;
    float: left;
}

.infoblock .table_video .video-links a {
    font-weight: bold;
}