
.infoblock .infoblock__rows {

}

.infoblock .rows__row {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

.infoblock .infoblock__huge-header {
    font-family: AvenirLTStdBlack; /* font-weight: bold; */
    font-size: 8.4rem;
    text-align: center;
    text-shadow: none;
    color: black;
}

.infoblock .huge-header__image {
    height: 20%;
    width: 20%;
}

.infoblock .infoblock__sub-header {
    text-align: center;
    padding-bottom: 15px;
    color: black;
    font-size: 2.6rem;
    line-height: 2.6rem;
}

/*************************************************************************************************************/
/************************************************** KAT first page *******************************************/
/*************************************************************************************************************/

.infoblock .rows__row--kat {
    padding: 0 5px;
}

.infoblock .infoblock__sub-header--bold {
    font-family: AvenirLTStdBlack; /* font-weight: bold; */
}

.infoblock .infoblock__sub-header--italic {
    font-family: AvenirLTStdBookOblique; /* font-style: italic; */
}

.infoblock .figure__image {
    width: 100%;
    height: 100%;
}

.infoblock .image-title {
    position: relative;
    font-family: AvenirLTStdBlack; /* font-weight: bold; */
}

.infoblock .image-text {
    margin-left: 4%;
    font-family: AvenirLTStdBookOblique; /* font-style: italic; */
    font-size: 1.5rem;
}

.infoblock .image-title--stacks-view {
    margin-left: 30%;
    margin-bottom: -28px;
}

.infoblock .figure__image--120 {
    width: 120%;
    height: 120%;
}

.infoblock .image-bottom-header {
    font-weight: normal;
    margin-left: 15%;
    margin-top: -122px;
    padding-bottom: 12px;
}

.infoblock .row--kat__right-middle-block {

}

.infoblock .right-middle-block__text {
    width: 40%;
    text-align: right;
    font-family: AvenirLTStdBookOblique; /* font-style: italic; */
    position: relative;
    margin-top: 45px;
    left: -4%;
}

.infoblock .right-middle-block__image {
    width: 59%;
}

.infoblock .infoblock__kat-phones {
    height: 670px;
    background: url("../images/KIC_KAT/kat_phones.png") no-repeat;
    background-size: 100% 670px;
    margin-top: -148px;
    margin-bottom: 105px;
}

.infoblock .image-title--search-screen {
    top: 15px;
    left: 15%;
}

.infoblock .image-title--bibliography-view {
    text-align: right;
    right: 30%;
    top: 130px;
}

.infoblock .image-title--shelf-view {
    left: 13%;
    top: 288px;
}

.infoblock .kat-phones__note--left {
    font-family: AvenirLTStdBookOblique; /* font-style: italic; */
    text-align: center;
    font-size: 1.4rem;
}

.infoblock .note--left__top {
    position: relative;
    left: 1%;
    top: 50px;
    width: 38%;
}

.infoblock .note--left__bottom {
    position: relative;
    left: 1%;
    top: 300px;
    width: 25%;
}

.infoblock .kat-phones__note--right {
    font-size: 1.4rem;
    font-family: AvenirLTStdBookOblique;
    position: relative;
    left: 81%;
    top: 140px;
    padding: 15px 0;
    width: 17%;
}

.infoblock .infoblock__reading-list {
    border-radius: 5px;
    background-color: #DEDEDE;
    position: relative;
    margin-top: -370px;
    left: 52%;
    width: 47%;
}

.infoblock .reading-list__header {
    position: relative;
    font-family: AvenirLTStdBlack; /* font-weight: bold; */
    font-size: 1.7rem;
    left: 14%;
    top: 5px;
    margin-bottom: -20px;
}

.infoblock .reading-list__footer {
    position: relative;
    margin-top: -30px;
    left: 15%;
}

.infoblock .reading-list__professor-info-block {
    position: relative;
    font-size: 1.5rem;
    left: 1%;
    margin-top: -85px;
    padding-bottom: 55px;
    line-height: 1rem;
}

/*************************************************************************************************************/
/************************************************** KAT second page *******************************************/
/*************************************************************************************************************/

.infoblock .infoblock__header {
    color: black;
    font-family: AvenirLTStdBlack; /* font-weight: bold; */
    font-size: 4.4rem;
    text-shadow: none;
    margin-bottom: 25px;
    text-align: center;
    padding: 15px 0;
    line-height: 4.4rem;
}

.infoblock .infoblock__image {
    width: 75%;
    height: 75%;
    margin: 35px 0 35px 13%
}

.infoblock .infoblock__sub-header--APIWTW {
    font-family: AvenirLTStdBookOblique; /* font-style: italic; */
    margin-bottom: -30px;
    margin-left: 12%;
    width: 75%;
    font-size: 2rem;
    line-height: 2rem;
}

.infoblock .infoblock__centered-text {
    margin: -15px 0 -25px 12%;
    width: 75%;
}

.infoblock .infoblock__bottom-text {
    position: relative;
    left: 42%;
    margin-top: -135px;
    padding-bottom: 100px;
}

/*************************************************************************************************************/
/************************************************** KAT third page *******************************************/
/*************************************************************************************************************/

.infoblock .infoblock__sub-header--STW {
    font-family: AvenirLTStdBookOblique; /* font-style: italic; */
    margin-bottom: -25px;
    margin-left: 12%;
    width: 75%;
    font-size: 2rem;
    line-height: 2rem;
}

/*************************************************************************************************************/
/************************************************** KAT fourth page *******************************************/
/*************************************************************************************************************/

.infoblock .infoblock__sub-header--WIYS {
    font-family: AvenirLTStdBookOblique; /* font-style: italic; */
    text-align: center;
    margin-left: 12%;
    width: 75%;
}

.infoblock .infoblock__image--WIYS {
    width: 100%;
    height: 100%;
    margin-left: 3%;
}

.infoblock .infoblock__centered-text--WIYS {
    margin-left: 12%;
    width: 75%;
}

/*************************************************************************************************************/
/************************************************** KAT fifth page *******************************************/
/*************************************************************************************************************/

.infoblock .text-rows__text-row {
    display: inline-block;
    padding: 0 3%;
    width: 49%;
    vertical-align: top;
}

.infoblock .infoblock__sub-header--PYPC-FBL {
    margin-top: 185px;
    padding-bottom: 40px;
    font-size: 3.5rem;
}

.infoblock .infoblock__sub-header--PYPC-SBDB {
    font-family: AvenirLTStdBlack; /* font-weight: bold; */
    font-size: 3.2rem;
    margin-top: 165px;
    margin-bottom: 20px;
}

.infoblock .infoblock__sub-header--MBDE {
    font-family: AvenirLTStdBookOblique; /* font-style: italic; */
    margin-top: -25px;
    margin-left: 12%;
    width: 80%;
}

.infoblock .search-screen__image-title--PYPC {
    position: relative;
    left: 35%;
    margin-bottom: -65px
}

.infoblock .image-title--PYPC {
    position: relative;
    left: 42%;
    margin-bottom: -45px;
}

.infoblock .bibliography-view-screen__bvs-info-block {
    margin-top: -260px;
    padding-bottom: 25px;
}

.infoblock .bvs-info-block__text {
    position: relative;
    width: 28%;
    left: 71%;
    padding: 10px;
    margin-top: 10px;
}

.infoblock .search-screen__info {
    font-family: AvenirLTStdBookOblique; /* font-style: italic; */
    position: relative;
    margin-top: -410px;
    left: 70%;
    width: 25%;
}

.infoblock .professor-photo__text {
    position: relative;
    left: 70%;
    margin-top: -250px;
    padding-top: 5px;
}

.infoblock .faculty-book-lists__text-rows {
    margin-bottom: -45px;
}

/*************************************************************************************************************/
/************************************************** KAT sixth page *******************************************/
/*************************************************************************************************************/

.beautiful-girl-bg {
    box-sizing: border-box;
    background: url("../images/KIC_KAT/kat_6_img_bg.png") no-repeat;
    background-size: cover;
}

.infoblock .rows__row--collage {
    width: 60%;
}

.infoblock .collage__info {
    width: 38%;
    position: relative;
    left: 21%;
    margin-bottom: -150px;
}

.infoblock .infoblock__sub-header--GHH {
    font-family: AvenirLTStdBookOblique; /* font-style: italic; */
    text-align: center;
    font-size: 2rem;
    padding-bottom: 10px;
    margin-left: 12%;
    width: 74%;
}

.infoblock .infoblock__kit-kat-go {

}

.infoblock .kit-kat-go__image-title--kic-stations {
    font-family: AvenirLTStdBlack; /* font-weight: bold; */
    position: relative;
    left: 17%;
    margin-bottom: -22px;
    padding-bottom: 20px;
}

.infoblock .kit-kat-go__image-title--kic-srs {
    font-family: AvenirLTStdBlack; /* font-weight: bold; */
    position: relative;
    left: 63%;
    margin-top: -320px;
    padding-bottom: 325px;
}

.infoblock .image-text--SW {
    width: 26%;
    position: relative;
    left: 0;
    margin-left: 0;
    margin-top: -225px;
    padding-bottom: 15px;
    font-family: AvenirLTStdBook;
}

.infoblock .bvs-section__image-title {
    font-family: AvenirLTStdBlack; /* font-weight: bold; */
    position: relative;
    left: 45%;
    margin-top: -255px;
    padding-bottom: 200px;
}

.infoblock .bvs-section__image-text {
    position: relative;
    width: 23%;
    left: 77%;
    margin-top: -115px;
    padding-bottom: 100px;
}

/*************************************************************************************************************/
/************************************************* KAT seventh page ******************************************/
/*************************************************************************************************************/

.infoblock .infoblock__blocks {

}

.infoblock .blocks__block-item
{
    height: 185px;
    width: 50%;
    margin: 30px 0;
}

.infoblock .blocks__block-item--1 {
    background: url("../images/KIC_KAT/kat_7_img_1.png") no-repeat;
    background-size: contain;
    position: relative;
    margin-left: 5%;
}

.infoblock .blocks__block-item--2 {
    background: url("../images/KIC_KAT/kat_7_img_2.png") no-repeat;
    background-size: contain;
    position: relative;
    margin-left: 10%;
    height: 190px;
}

.infoblock .blocks__block-item--3 {
    background: url("../images/KIC_KAT/kat_7_img_3.png") no-repeat;
    background-size: contain;
    position: relative;
    margin-left: 15%;
    height: 234px;
}

.infoblock .blocks__block-item--4 {
    background: url("../images/KIC_KAT/kat_7_img_4.png") no-repeat;
    background-size: contain;
    position: relative;
    margin-left: 20%;
}

.infoblock .blocks__block-item--5 {
    background: url("../images/KIC_KAT/kat_7_img_5.png") no-repeat;
    background-size: contain;
    position: relative;
    margin-left: 25%;
}

.infoblock .blocks__block-item--6 {
    background: url("../images/KIC_KAT/kat_7_img_6.png") no-repeat;
    background-size: contain;
    position: relative;
    margin-left: 30%;
}

.infoblock .blocks__block-item--7 {
    background: url("../images/KIC_KAT/kat_7_img_7.png") no-repeat;
    background-size: contain;
    position: relative;
    margin-left: 35%;
}

.infoblock .block__title {
    margin-left: 118px;
    padding-top: 0;
}

.infoblock .block__title--1 {
    padding-top: 16px;
}

.infoblock .block__title--2 {
    margin-top: 8px;
}

.infoblock .block__title--3 {

}

.infoblock .block__title--4 {

}

.infoblock .block__title--5 {

}

.infoblock .block__title--6 {

}

.infoblock .block__title--7 {

}

.infoblock .block__info {
    margin-left: 118px;
    width: 100%;
}

.infoblock .block__info--1 {
    width: 54%;
}

.infoblock .block__info--2 {
    margin-top: -6px;
}

.infoblock .block__info--3 {
    width: 39%;
}

.infoblock .block__info--4 {
    width: 35%;
}

.infoblock .block__info--5 {
    width: 32%;
}

.infoblock .block__info--6 {
    width: 40%;
}

.infoblock .block__info--7 {
    width: 47%;
}

.temp-bg {
    background: url("../images/KIC_KAT/kat_7_temp-bg.png") no-repeat;
    background-size: contain;
    width: 100%;
    height: 1450px;
}

/*************************************************************************************************************/
/************************************************** KAT eighth page ******************************************/
/*************************************************************************************************************/

.infoblock .infoblock__sub-header--AYPCCE-H2 {
    text-align: center;
    font-family: AvenirLTStdBlack; /* font-weight: bold; */
    font-size: 3.2rem;
    width: 82%;
    padding-left: 21%;
    line-height: 3.2rem;
}

.infoblock .infoblock__sub-header--AYPCCE {
    width: 75%;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-left: 12%;
}

.infoblock .infoblock__image-section {
    margin-bottom: 20px;
}

.infoblock .image-section__image {
    width: 100%;
    height: 100%;
}

.infoblock .image-section__info {
    width: 31%;
    position: relative;
    left: 44%;
    margin-top: -135px;
    padding-bottom: 85px;
    transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
}

.infoblock .infoblock__requirements-section {
    width: 87%;
    border: 2px solid black;
    margin: 0 auto 10px auto;
    padding: 15px 1%;
}

.infoblock .requirements-section__req-header {
    font-family: AvenirLTStdBlack; /* font-weight: bold; */
    text-align: center;
    font-size: 2.5rem;
    color: black;
    margin: 0 0 10px 0;
}

.infoblock .requirements-section__left-row-text {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    padding-top: 5px;
}

.infoblock .requirements-section__req-right-row {
    display: inline-block;
    width: 49%;
}

.infoblock .req-right-row__image {
    display: inline-block;
    width: 36%;
    padding-left: 6%;
}

.infoblock .req-right-row__text {
    display: inline-block;
    width: 49%;
    font-size: 1.5rem;
    padding-left: 7%;
}

.infoblock .requirements-section__below-rows-text {
    padding: 5px 0 15px 0;
}

.infoblock .requirements-section__req-table {
    border: 1px solid black;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    width: 100%;
}

.infoblock .table-data__data, .table-headers__header {
    border: 1px solid black;
}

.infoblock .req-table__table-headers {
    font-family: AvenirLTStdBlack; /* font-weight: bold; */
    text-align: center;
}

/*************************************************************************************************************/
/************************************************** KAT ninth page *******************************************/
/*************************************************************************************************************/

.infoblock .infoblock__rows {

}

.infoblock .rows__row--CM {
    vertical-align: top;
    display: block;
    width: 100%;
}

.infoblock .row__text {
    display: inline-block;
    width: 49%;
    padding: 10px 1% 10px 1%;
    vertical-align: top;
}

.infoblock .infoblock__sub-header--CW {
    font-size: 3.2rem;
    padding: 10px 0;
}

.infoblock .infoblock__images {

}

.infoblock .images__image {

}

/*************************************************************************************************************/
/************************************************** MEDIA QUERIES ********************************************/
/*************************************************************************************************************/

/* 1280, 1366 */
@media (min-width: 1200px) and (max-width: 1399px) {

}

/* 1024 */
@media (max-width: 1199px) {

}

/* empty, for tablets */
@media (min-width: 1200px) and (max-width: 1399px) {

}
