/*************************************************************************************************************/
/************************************************** KAT first page *******************************************/
/*************************************************************************************************************/

.infoblock #huge-header {
    color: black;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 84px;
    text-shadow: none;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.infoblock #huge-header img {
    height: 20%;
    width: 20%;
}

.infoblock #sub-main-header {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-top: -2%;
}

.infoblock #sub-sub-header {
    text-align: center;
    font-style: italic;
    font-size: 26px;
    font-weight: normal;
}

.infoblock .row {
    padding: 0 5px;
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

.infoblock .image-text {
    margin-left: 4%;
    font-style: italic;
    font-size: 0.9em;
}

.infoblock .stacks-view-header {
    margin-left: 25%;
    font-style: normal;
    font-weight: bold;
    margin-bottom: -5%;
}

.infoblock .stacks-view-image {
    width: 120%;
    height: 120%;
}

.infoblock .image-bottom-header {
    font-weight: normal;
    margin-left: 15%;
    margin-top: -22%;
}

.infoblock .small-text-row {
    width: 40%;
    display: inline-block;
    text-align: right;
    font-style: italic;
    vertical-align: top;
}

.infoblock .small-image-row {
    width: 59%;
    display: inline-block;
}

.infoblock .big-bg-image {
    height: 670px;
    background: url("../images/KIC_KAT/kat_phones.png") no-repeat;
    background-size: 100% 670px;
    margin-top: -14%;
    margin-bottom: 10%;
}

.infoblock .big-bg-image__header {
    position: relative;
    font-weight: bold;
    font-size: 1.1em;
}

.infoblock .big-bg-image__header-1 {
    top: 1%;
    left: 15%;
}

.infoblock .big-bg-image__header-2 {
    text-align: right;
    right: 30%;
    top: 18%;
}

.infoblock .big-bg-image__header-3 {
    left: 13%;
    top: 41%;
}

.infoblock .big-bg-image__note-1 {
    font-size: 0.9em;
    font-style: italic;
    position: relative;
    left: 81%;
    top: 18%;
    padding: 15px 0;
}

.infoblock .big-bg-image__note-2 {
    font-style: italic;
    font-size: 0.9em;
    position: relative;
}

.infoblock .note-2__first {
    left: 1%;
    top: 2%;
}

.infoblock .note-2__second {
    left: 1%;
    top: 41%;
}

.infoblock .reading-list {
    border-radius: 5px;
    background-color: #DEDEDE;
    position: absolute;
    top: 80%;
    width: 507px;
    height: 225px;
}

.infoblock .reading-list .rl-header {
    position: absolute;
    font-weight: bold;
    font-size: 1.1em;
    left: 14%
}

.infoblock .reading-list .rl-footer {
    position: absolute;
    margin-top: -7%;
    left: 15%;
}

.infoblock .reading-list .professor-info {
    position: relative;
    font-size: 0.9em;
    left: 1%;
    margin-top: -15%;
    padding-bottom: 10%;
    line-height: 1em;
}

/*************************************************************************************************************/
/************************************************** KAT second page *******************************************/
/*************************************************************************************************************/

.infoblock .infoblock__header {
    color: black;
    font-weight: bold;
    font-size: 48px;
    text-shadow: none;
    margin-bottom: 1%;
    text-align: center;
}

.infoblock .infoblock__image {
    width: 75%;
    height: 75%;
    margin: 5% 0 5% 13%;
}

.infoblock .infoblock__sub-header {
    font-style: italic;
    text-align: center;
    margin-bottom: -3%;
    margin-left: 12%;
    width: 75%;
}

.infoblock .infoblock__centered-text {
    margin-top: -3%;
    margin-left: 12%;
    margin-bottom: -3%;
    width: 75%;
}

.infoblock .infoblock__bottom-text {
    position: relative;
    left: 42%;
    margin-top: -14%;
    padding-bottom: 8%;
}

/*************************************************************************************************************/
/************************************************** KAT third page *******************************************/
/*************************************************************************************************************/





/*************************************************************************************************************/
/************************************************** KAT fourth page *******************************************/
/*************************************************************************************************************/

.infoblock .infoblock__header-2-info {
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
}
.infoblock .infoblock__header-2--bold {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 1.5em;
    padding-bottom: 1%;
}

.infoblock .infoblock__sub-header-2 {
    font-style: italic;
    text-align: center;
    margin-left: 12%;
    width: 75%;
}

.infoblock .infoblock__image-2 {
    width: 100%;
    height: 100%;
    margin-left: 3%;
}

.infoblock .infoblock__centered-text-2 {
    margin-left: 12%;
    width: 75%;
}

/*************************************************************************************************************/
/************************************************** KAT fifth page *******************************************/
/*************************************************************************************************************/

.infoblock .text-row {
    display: inline-block;
    padding: 0 3%;
    width: 49%;
    vertical-align: top;
}

.infoblock .infoblock__h1-header {
    color: black;
    font-weight: bold;
    font-size: 44px;
    text-shadow: none;
    margin-bottom: 1%;
    text-align: center;
    line-height: 1.2em;
}

.infoblock .infoblock__h2-header {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    color: black;
    margin-top: 15%;
}

.infoblock .infoblock__h2-header--centered {
    margin-top: 14%;
}

.infoblock .infoblock__below-h2-header-info {
    font-style: italic;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 2%;
    margin-top: -2%;
    margin-left: 12%;
    width: 80%;
}

.infoblock .above-image-title {
    position: relative;
    color: black;
    font-weight: bold;
}

.infoblock .above-image-title--search-screen {
    left: 35%;
    margin-bottom: -5%;
}

.infoblock .bibliography-view-screen__bvs-title {
    position: relative;
    left: 42%;
    margin-bottom: -4%;
}

.infoblock .bibliography-view-screen__bvs-info {
    position: relative;
    margin-top: -25%;
}

.infoblock .bvs-info__p {
    position: relative;
    width: 28%;
    left: 71%;
    padding: 1%;
}

.infoblock .search-screen__info {
    font-style: italic;
    position: relative;
    margin-top: -38%;
    left: 70%;
}

.infoblock .professor-photo__text {
    position: relative;
    line-height: 1em;
    left: 70%;
    margin-top: -23%;
    padding-top: 5px;
}

.infoblock .faculty-book-lists__text-rows {
    margin-bottom: -5%;
}

/*************************************************************************************************************/
/************************************************** KAT sixth page *******************************************/
/*************************************************************************************************************/

.beautiful-girl-bg {
    box-sizing: border-box;
    background: url("../images/KIC_KAT/kat_6_img_bg.png") no-repeat;
    background-size: contain;
}

.infoblock .collage__image {
    display: inline-block;
    width: 60%;
}

.infoblock .collage__info {
    width: 38%;
    position: relative;
    left: 21%;
    margin-bottom: -15%;
}

.infoblock .infoblock__below-h2-header-info-2 {
    font-style: italic;
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 2%;
    margin-top: -5%;
    margin-left: 12%;
    width: 80%;
    letter-spacing: normal;
}

.infoblock .kit-kat-go__image-text-1 {
    font-weight: bold;
    font-size: 1em;
    position: relative;
    left: 17%;
    margin-bottom: -2%;
    padding-bottom: 2%;
}

.infoblock .kit-kat-go__image-text-2 {
    font-weight: bold;
    font-size: 1em;
    position: relative;
    left: 61%;
    margin-top: -30%;
    padding-bottom: 30%;
}

.infoblock .kit-kat-go__image-text-3 {
    width: 26%;
    font-size: 0.9em;
    position: relative;
    left: 0;
    margin-top: -22%;
}

.infoblock .bvs-section__image-title {
    font-weight: bold;
    font-size: 1em;
    position: relative;
    left: 45%;
    margin-top: -24%;
    padding-bottom: 19%;
}

.infoblock .bvs-section__image-text {
    position: relative;
    width: 23%;
    left: 77%;
    margin-top: -12%;
    padding-bottom: 12%;
}

/*************************************************************************************************************/
/************************************************* KAT seventh page ******************************************/
/*************************************************************************************************************/

.infoblock .infoblock__blocks {

}

.infoblock .blocks__block-item-1 {
    height: 185px;
    background: url("../images/KIC_KAT/kat_7_img_1.png") no-repeat;
    background-size: contain;
    position: relative;
}

.infoblock .blocks__block-item-2 {
    height: 185px;
    background: url("../images/KIC_KAT/kat_7_img_2.png") no-repeat;
    background-size: contain;
    position: relative;
}

.infoblock .blocks__block-item-3 {
    height: 185px;
    background: url("../images/KIC_KAT/kat_7_img_3.png") no-repeat;
    background-size: contain;
    position: relative;
}

.infoblock .blocks__block-item-4 {
    height: 185px;
    background: url("../images/KIC_KAT/kat_7_img_4.png") no-repeat;
    background-size: contain;
    position: relative;
}

.infoblock .blocks__block-item-5 {
    height: 185px;
    background: url("../images/KIC_KAT/kat_7_img_5.png") no-repeat;
    background-size: contain;
    position: relative;
}

.infoblock .blocks__block-item-6 {
    height: 185px;
    background: url("../images/KIC_KAT/kat_7_img_6.png") no-repeat;
    background-size: contain;
    position: relative;
}

.infoblock .blocks__block-item-7 {
    height: 185px;
    background: url("../images/KIC_KAT/kat_7_img_7.png") no-repeat;
    background-size: contain;
    position: relative;
}
