.infoblock .header {
    text-align: center;
    color: black;
    text-shadow: none;
    font-size: 48px;
}

.infoblock .header-info {
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
}
.infoblock .bold-header {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 1.5em;
}

.infoblock .image {
    width: 100%;
    height: 100%;
    margin-left: 3%;
}

.infoblock .center-text {
    margin-left: 15%;
}
