.infoblock--to-footer {
    padding-bottom: 0;
    margin-bottom: -3px;
}

img {
    width: 100%;
    height: 100%;
}

.content .infoblock .padding-bottom-10 {
    padding-bottom: 10px;
}

.infoblock .infoblock__rows {

}

.infoblock .infoblock__rows--phones {
    position: relative;
    bottom: 450px;
}

.infoblock .rows--phones--dozen-p {
    padding-top: 40px;
}

.infoblock .rows__row {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    height: 49%;
}

.infoblock .row--kat__p {
    position: relative;
    bottom: 260px;
}

.infoblock .infoblock__rows--huge-header-block {
    margin: 20px 0;
}

.infoblock .rows__row--kat-logo {
    width: 37%;
}

.infoblock .rows__row--kat-logo-desc {
    width: 62%;
}

.infoblock .infoblock__huge-header {
    font-family: AudiowideRegular, helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-size: 8rem;
    line-height: 8.2rem;
    text-align: center;
    text-shadow: none;
    color: black;
    padding-bottom: 5px;
}

.infoblock .huge-header__image {
    margin-top: 10px;
}

.infoblock .infoblock__sub-header {
    text-align: center;
    padding-bottom: 15px;
    color: black;
    font-size: 2.4rem;
    line-height: 2.6rem;
}

.infoblock .infoblock__sub-header--kat-header {
    font-size: 2.7rem;
    line-height: 2.9rem;
}

.wrapper-figure {
    margin-top: 50px;
}

/*************************************************************************************************************/
/************************************************** KAT first page *******************************************/
/*************************************************************************************************************/

.infoblock .rows__row--kat {
    padding: 0 5px;
    position: relative;
}

.top-text {
    position: absolute;
    top: 0;
    left: 0;
}

.infoblock .infoblock__sub-header--bold {
    font-family: 'LatoBold', helvetica, arial, sans-serif;
}

.infoblock .infoblock__sub-header--italic {
    font-family: 'LatoItalic', helvetica, arial, sans-serif;
}

.infoblock .figure__image {
    width: 100%;
    height: 100%;
}

.infoblock .image-title {
    position: relative;
    font-family: 'LatoBold', helvetica, arial, sans-serif;
    display: block;
}

.infoblock .image-text {
    font-family: 'LatoItalic', helvetica, arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.8rem;
}

.infoblock .image-title--stacks-view {
    position: relative;
    bottom: 215px;
    right: 8%;
}

.infoblock .figure__image--120 {
    width: 120%;
    height: 120%;
}

.infoblock .image-bottom-header {
    font-weight: normal;
    font-family: 'LatoItalic', helvetica, arial, sans-serif;
    margin-left: 14%;
    margin-top: -40px;
    font-size: 1.4rem;
    line-height: 1.6rem;
    width: 43%;
}

.infoblock .right-middle-block__text {
    width: 40%;
    text-align: right;
    font-family: 'LatoItalic', helvetica, arial, sans-serif;
    position: relative;
    top: 50px;
    right: 33%;
}

.infoblock .right-middle-block__image {
    width: 59%;
}

.infoblock .infoblock__kat-phones {
    height: 670px;
    background: url("http://upload.ted-kteam.com/IA/images/KIC_KAT/kat_phones.png") no-repeat;
    background-size: 100% 670px;
    margin-top: -485px;
    margin-bottom: 105px;
}

.infoblock .image-title--search-screen {
    top: 15px;
    left: 15%;
}

.infoblock .image-title--bibliography-view {
    text-align: right;
    right: 30%;
    display: block;
    top: 135px;
}

.infoblock .image-title--shelf-view {
    left: 13%;
    top: 297px;
}

.infoblock .kat-phones__note--left {
    font-family: 'LatoItalic', helvetica, arial, sans-serif;
    text-align: center;
    font-size: 1.4rem;
}

.infoblock .note--left__top {
    position: relative;
    left: 1%;
    top: 50px;
    width: 38%;
}

.infoblock .note--left__bottom {
    position: relative;
    left: 1%;
    top: 300px;
    width: 25%;
}

.infoblock .kat-phones__note--right {
    font-size: 1.4rem;
    font-family: 'LatoItalic', helvetica, arial, sans-serif;
    position: relative;
    left: 81%;
    top: 140px;
    padding: 15px 0;
    width: 17%;
}

.infoblock .infoblock__reading-list {
    border-radius: 5px;
    background-color: #DEDEDE;
    position: relative;
    margin-top: -370px;
    left: 52%;
    width: 47%;
}

.infoblock .reading-list__header {
    position: relative;
    font-family: 'LatoBold', helvetica, arial, sans-serif;
    font-size: 1.7rem;
    left: 14%;
    top: 5px;
    margin-bottom: -20px;
}

.infoblock .reading-list__footer {
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    text-align: center;
}

.infoblock .reading-list__professor-info-block {
    position: relative;
    font-size: 1.5rem;
    left: 1%;
    margin-top: -85px;
    padding-bottom: 45px;
    line-height: 1rem;
}

.reading-list__professor-info-block p {
    padding: 0;
    font-size: 14px;
}

/*************************************************************************************************************/
/************************************************** KAT second page *******************************************/
/*************************************************************************************************************/

.infoblock .infoblock__header {
    color: black;
    font-family: 'LatoBold', helvetica, arial, sans-serif;
    font-size: 3.6rem;
    text-shadow: none;
    text-align: center;
    line-height: 3.8rem;
    padding: 20px 0 0 0;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.infoblock .infoblock__image {
    width: 75%;
    height: 75%;
    margin: 35px 0 35px 13%
}

.infoblock .infoblock__sub-header--APIWTW {
    font-family: 'LatoItalic', helvetica, arial, sans-serif;
    margin-bottom: -30px;
    margin-left: 12%;
    width: 75%;
    text-align: center;
    font-size: 2rem;
    line-height: 2.2rem;
}

.infoblock .infoblock__centered-text {
    margin: -15px 0 -25px 12%;
    width: 75%;
}

.infoblock .infoblock__bottom-text {
    position: relative;
    left: 42%;
    margin-top: -135px;
    padding-bottom: 100px;
    width: 41%;
    display: block;
}

/*************************************************************************************************************/
/************************************************** KAT third page *******************************************/
/*************************************************************************************************************/

.infoblock .infoblock__sub-header--STW {
    font-family: 'LatoItalic', helvetica, arial, sans-serif;
    margin-bottom: -25px;
    margin-left: 12%;
    width: 75%;
    text-align: center;
    font-size: 2rem;
    line-height: 2.2rem;
}

/*************************************************************************************************************/
/************************************************** KAT fourth page *******************************************/
/*************************************************************************************************************/

.infoblock .infoblock__sub-header--WIYS {
    font-family: 'LatoItalic', helvetica, arial, sans-serif;
    text-align: center;
    margin-left: 12%;
    width: 75%;
}

.infoblock .infoblock__image--WIYS {
    width: 100%;
    height: 100%;
    margin-left: 3%;
}

.infoblock .infoblock__centered-text--WIYS {
    margin-left: 12%;
    width: 75%;
}

/*************************************************************************************************************/
/************************************************** KAT fifth page *******************************************/
/*************************************************************************************************************/

.infoblock .text-rows__text-row {
    display: inline-block;
    padding: 0 3%;
    width: 49%;
    vertical-align: top;
}

.infoblock .infoblock__sub-header--PYPC-FBL {
    margin-top: 228px;
    font-size: 3.6rem;
    line-height: 3.8rem;
    padding-bottom: 0;
}

.infoblock .infoblock__sub-header--PYPC-SBDB {
    font-family: 'LatoBold', helvetica, arial, sans-serif;
    font-size: 3.2rem;
    margin-top: 165px;
    margin-bottom: 20px;
}

.infoblock .infoblock__sub-header--MBDE {
    font-family: 'LatoItalic', helvetica, arial, sans-serif;
    margin-left: 12%;
    width: 80%;
    font-size: 2rem;
    line-height: 2.2rem;
}

.infoblock .search-screen__image-title--PYPC {
    position: relative;
    left: 35%;
    margin-bottom: -60px;
    display: block;
}

.infoblock .image-title--PYPC {
    position: relative;
    left: 42%;
    margin-bottom: -40px;
    display: block;
}

.infoblock .bibliography-view-screen__image {
    width: 100%;
}

.infoblock .bibliography-view-screen__bvs-info-block {
    margin-top: -260px;
}

.infoblock .bvs-info-block__text {
    position: relative;
    width: 28%;
    left: 71%;
    padding: 10px;
    margin-top: 10px;
}

.infoblock .search-screen__info {
    font-family: 'LatoItalic', helvetica, arial, sans-serif;
    position: relative;
    margin-top: -410px;
    left: 70%;
    width: 25%;
}

.infoblock .professor-photo__text {
    position: relative;
    left: 70%;
    margin-top: -250px;
    padding-top: 5px;
}

.infoblock .text-rows__image {
    width: 100%;
}

.infoblock .faculty-book-lists__text-rows {
    margin-bottom: -45px;
}

/*************************************************************************************************************/
/************************************************** KAT sixth page *******************************************/
/*************************************************************************************************************/

.infoblock .collage__info {
    width: 50%;
    margin: 0 auto;
}

.infoblock .infoblock__sub-header--GHH {
    font-family: 'LatoItalic', helvetica, arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 15px;
    margin: 0 auto;
    display: block;
}

.infoblock .kit-kat-go__image-title--kic-stations {
    font-family: 'LatoBold', helvetica, arial, sans-serif;
    position: relative;
    left: 17%;
    margin-bottom: -22px;
}

.infoblock .kit-kat-go__image-title--kic-srs {
    font-family: 'LatoBold', helvetica, arial, sans-serif;
    position: absolute;
    left: 63%;
    top: 214px;
}

.infoblock .kit-kat-go__image-title--kic-srs-stacks-view {
    font-family: 'LatoBold', helvetica, arial, sans-serif;
    position: absolute;
    left: 63%;
    top: 214px;
}

.infoblock .image-text--SW {
    width: 26%;
    position: relative;
    left: 0;
    margin: -30px 0;
    top: -190px;
    padding-bottom: 15px;
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
}

.bvs-section {
    margin-top: -190px;
    position: relative;
}

.infoblock .bvs-section__image-title {
    font-family: 'LatoBold', helvetica, arial, sans-serif;
    position: absolute;
    left: 44%;
    display: block;
    top: 110px;
}

.infoblock .bvs-section__image-title-stacks-view {
    font-family: 'LatoBold', helvetica, arial, sans-serif;
    position: absolute;
    left: 44%;
    display: block;
    top: 110px;
}

.infoblock .bvs-section__image-text {
    position: absolute;
    width: 17%;
    left: 77%;
    top: 170px;
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    text-align: center;
}

/*************************************************************************************************************/
/************************************************* KAT seventh page ******************************************/
/*************************************************************************************************************/

.blocks__block-item h4 {
    font-family: 'LatoBold', helvetica, arial, sans-serif;
}

.infoblock .infoblock__blocks {
    text-align: center;
}

.infoblock .blocks__block-item {
    display: inline-block;
    height: 185px;
    width: 50%;
    margin: 30px 1%;
    vertical-align: top;
}

.infoblock .blocks__block-item--1 {
    background: url("http://upload.ted-kteam.com/IA/images/KIC_KAT/kat_7_img_1.png") no-repeat;
    background-size: contain;
    position: relative;
    height: 159px;
    width: 450px;
}

.infoblock .blocks__block-item--2 {
    background: url("http://upload.ted-kteam.com/IA/images/KIC_KAT/kat_7_img_2.png") no-repeat;
    background-size: contain;
    position: relative;
    height: 166px;
    width: 450px;
    margin-left: 7%;
}

.infoblock .blocks__block-item--3 {
    background: url("http://upload.ted-kteam.com/IA/images/KIC_KAT/kat_7_img_3.png") no-repeat;
    background-size: contain;
    position: relative;
    height: 195px;
    width: 485px;
}

.infoblock .blocks__block-item--4 {
    background: url("http://upload.ted-kteam.com/IA/images/KIC_KAT/kat_7_img_4.png") no-repeat;
    background-size: contain;
    position: relative;
    height: 246px;
    width: 508px;
    margin-top: -16px;
}

.infoblock .blocks__block-item--5 {
    background: url("http://upload.ted-kteam.com/IA/images/KIC_KAT/kat_7_img_5.png") no-repeat;
    background-size: contain;
    position: relative;
    height: 181px;
    width: 500px;
}

.infoblock .blocks__block-item--6 {
    background: url("http://upload.ted-kteam.com/IA/images/KIC_KAT/kat_7_img_6.png") no-repeat;
    background-size: contain;
    position: relative;
    height: 194px;
    width: 490px;
}

.infoblock .blocks__block-item--7 {
    background: url("http://upload.ted-kteam.com/IA/images/KIC_KAT/kat_7_img_7.png") no-repeat;
    background-size: contain;
    position: relative;
    margin-left: 0;
    height: 172px;
    width: 500px;
}

.infoblock .block__title {
    padding-top: 0;
}

.infoblock .block__title--1 {
    padding-top: 17px;
    margin-right: 60px;
}

.infoblock .block__title--2 {
    margin-top: 2px;
    margin-left: 100px;
    text-align: left;
}

.infoblock .block__title--3 {
    margin-top: 0;
    margin-left: 104px;
    text-align: left;

}

.infoblock .block__title--4 {
    padding-top: 44px;
    margin-top: 52px;
    margin-right: 130px;
}

.infoblock .block__title--5 {
    padding-top: 32px;
    margin-left: 110px;
    text-align: left;
}

.infoblock .block__title--6 {
    padding-top: 32px;
    margin-right: 60px;
}

.infoblock .block__title--7 {
    padding-top: 12px;
    margin-right: 116px;
}

.infoblock .block__info {
    margin-left: 118px;
    width: 100%;
}

.infoblock .block__info--1 {
    width: 50%;
    margin-left: 100px;
}

.infoblock .block__info--2 {
    margin-left: 100px;
}

.infoblock .block__info--3 {
    width: 40%;
    margin-left: 104px;
}

.infoblock .block__info--4 {
    width: 42%;
}

.infoblock .block__info--5 {
    width: 32%;
    margin-left: 110px;
}

.infoblock .block__info--6 {
    width: 46%;
}

.infoblock .block__info--7 {
    width: 43%;
}

.temp-bg {
    background: url("http://upload.ted-kteam.com/IA/images/KIC_KAT/kat_7_temp-bg.png") no-repeat;
    background-size: contain;
    width: 100%;
    height: 1450px;
}

.marg-h3 {
    margin-bottom: 50px;
}
.padding-zero{
    padding: 20px 0 10px!important;
}
/*************************************************************************************************************/
/************************************************** KAT eighth page ******************************************/
/*************************************************************************************************************/

.infoblock .infoblock__sub-header--AYPCCE-H2 {
    text-align: center;
    font-family: 'LatoBold', helvetica, arial, sans-serif;
    font-size: 3.2rem;
    width: 82%;
    padding-left: 21%;
    line-height: 3.2rem;
}

.infoblock .infoblock__width-header {
    width: 54%;
}

.infoblock .infoblock__sub-header--AYPCCE {
    width: 75%;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-left: 12%;
}

.infoblock .infoblock__image-section {
    margin-bottom: 20px;
}

.infoblock .image-section__image {
    width: 100%;
    height: 100%;
}

.infoblock .image-section__info {
    width: 31%;
    position: relative;
    left: 44%;
    margin-top: -135px;
    padding-bottom: 85px;
    transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
}

.infoblock .infoblock__requirements-section {
    width: 87%;
    border: 2px solid black;
    margin: 0 auto 10px auto;
    padding: 15px 1%;
}

.infoblock .requirements-section__req-header {
    font-family: 'LatoBold', helvetica, arial, sans-serif;
    text-align: center;
    font-size: 2.5rem;
    color: black;
    margin: 0 0 10px 0;
}

.infoblock .requirements-section__left-row-text {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    padding-top: 5px;
}

.infoblock .requirements-section__req-right-row {
    display: inline-block;
    width: 49%;
}

.infoblock .req-right-row__image {
    display: inline-block;
    width: 36%;
    padding-left: 6%;
}

.infoblock .req-right-row__text {
    display: inline-block;
    width: 49%;
    font-size: 1.5rem;
    padding-left: 7%;
}

.infoblock .requirements-section__below-rows-text {
    padding: 5px 0 15px 0;
}

.infoblock .requirements-section__req-table {
    border: 1px solid black;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    width: 100%;
}

.infoblock .table-data__data, .table-headers__header {
    border: 1px solid black;
}

.infoblock .req-table__table-headers {
    font-family: 'LatoBold', helvetica, arial, sans-serif;
    text-align: center;
}

/*************************************************************************************************************/
/************************************************** KAT ninth page *******************************************/
/*************************************************************************************************************/

.infoblock .infoblock__rows {
    text-align: center;
}

.infoblock .rows__row--CM {
    vertical-align: top;
    display: block;
    width: 100%;
}

.infoblock .row__text {
    display: inline-block;
    width: 49%;
    padding: 10px 1% 10px 1%;
    vertical-align: top;
}

.infoblock .infoblock__sub-header--CW {
    font-size: 3.6rem;
    line-height: 3.8rem;
    padding: 10px 0;
}

.infoblock .infoblock__images {

}

.infoblock .images__image {
    width: 100%;
}

/*************************************************************************************************************/
/************************************************** MEDIA QUERIES ********************************************/
/*************************************************************************************************************/

/* 1280, 1366 */

@media all and  (max-width: 1820px) {
    .infoblock .infoblock__sub-header {
        padding-bottom: 5%;
    }

    .infoblock .row--kat__p {
        bottom: 220px;
    }

    .infoblock .image-title--stacks-view {
        bottom: 220px;
    }

}

@media (min-width: 1200px) and (max-width: 1399px) {

    /*.infoblock .rows--phones--dozen-p {*/
    /*margin-top: -35px!important;*/
    /*}*/
    .infoblock .infoblock__kat-phones {
        margin-top: -310px !important;
    }

    .infoblock .reading-list__professor-info-block p {
        font-size: 1.1rem !important;
        line-height: 1.3rem !important;
        position: relative;
        bottom: 48px;
    }

    .infoblock .image-bottom-header {
        font-size: 1.1rem !important;
        line-height: 1.2rem !important;
        position: relative;
        top: 20px;
    }

    .infoblock .image-title--stacks-view {
        position: relative;
        bottom: 155px;
        right: 18%;
    }

    .infoblock .row--kat__p {
        top: -177px;
        font-size: 1.2rem;
        line-height: 1.4rem;
    }

    .infoblock .infoblock__sub-header--bold {
        font-size: 2rem;
        line-height: 2.2rem;
        margin-top: -25px;
    }

    .infoblock .infoblock__rows--phones {
        position: relative;
        top: -310px;
    }

    /******************** PAGE 1 ********************/
    .infoblock .infoblock__huge-header {
        font-size: 4.5rem;
        padding-top: 14px;
    }

    .infoblock .image-title--stacks-view {
        margin-left: 17%;
        padding-bottom: 12px;
    }

    .infoblock .image-bottom-header {
        margin-top: -80px;
        width: 47%;
    }

    .infoblock .right-middle-block__text {
        width: 36%;
        text-align: right;
        position: relative;
        margin-top: -25px;
        margin-bottom: 6px;
        right: 31%;
    }

    .infoblock .right-middle-block__image {
        width: 59%;
        position: relative;
        left: 24%;
    }

    .infoblock .infoblock__kat-phones {
        background-size: 100% 486px;
        margin-top: -100px;
        margin-bottom: 0;
    }

    .infoblock .kat-phones__note--right {
        left: 82%;
        top: 79px;
        padding: 5px 0;
        width: 21%;
        line-height: 1.5rem;
    }

    .infoblock .image-title--search-screen {
        top: 5px;
        left: 12%;
    }

    .infoblock .image-title--bibliography-view {
        right: 26%;
        top: 85px;
    }

    .infoblock .image-title--shelf-view {
        left: 10%;
        top: 200px;
    }

    .infoblock .reading-list__header {
        position: relative;
        font-size: 1.3rem;
        left: 9%;
        top: 5px;
        margin-bottom: -14px;
    }

    .infoblock .reading-list__professor-info-block {
        margin-top: -55px;
        font-size: 1rem;
        padding-bottom: 25px;
    }

    /******************** PAGE 2 ********************/
    .infoblock .infoblock__bottom-text {
        margin-top: -105px;
        padding-bottom: 30px;
        width: 50%;
    }

    /******************** PAGE 3 ********************/
    .infoblock .infoblock__header {
        font-size: 3rem;
        line-height: 3rem;
    }

    /******************** PAGE 4 ********************/
    /******************** PAGE 5 ********************/
    .infoblock .search-screen__info {
        margin-top: -300px;
    }

    .infoblock .infoblock__sub-header--PYPC-FBL {
        margin-top: 60px;
        font-size: 2.5rem;
    }

    .infoblock .infoblock__sub-header--MBDE {
        font-size: 2rem;
    }

    .infoblock .professor-photo__text {
        margin-top: -182px;
        padding-top: 9px;
        font-size: 1rem;
        line-height: 1rem;
    }

    /******************** PAGE 6 ********************/
    .beautiful-girl-bg {
        background-size: 100% 91%;
    }

    .infoblock .search-screen__image {
        width: 100%;
    }

    .infoblock .search-screen__image-title--PYPC {
        padding-bottom: 27px;
    }

    .infoblock .infoblock__sub-header--PYPC-SBDB {
        margin-top: 105px;
        margin-bottom: 65px;
    }

    .infoblock .image-title--PYPC {
        left: 38%;
        padding-bottom: 20px;
    }

    .infoblock .bvs-section__image {
        width: 100%;
    }

    .infoblock .kit-kat-go__image {
        width: 100%;
    }

    .infoblock .kit-kat-go__image-title--kic-stations {
        position: relative;
        left: 13%;
    }

    .infoblock .kit-kat-go__image-title--kic-srs {
        left: 58%;
    }

    .infoblock .bvs-section__image-title {
        position: relative;
        left: 42%;
        margin-top: -188px;
        padding-bottom: 145px;
    }

    /******************** PAGE 7 ********************/
    .infoblock .blocks__block-item--2 {
        margin-left: 3%;
    }

    .infoblock .blocks__block-item--4 {
        position: relative;
        left: -2%;
    }

    .infoblock .blocks__block-item--5 {
        margin-top: -35px;
    }

    .infoblock .blocks__block-item--7 {
        margin-left: 0;
    }

    /******************** PAGE 8 ********************/
    .infoblock .infoblock__sub-header--AYPCCE {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .infoblock .infoblock__sub-header--AYPCCE-H2 {
        font-size: 2.2rem;
        line-height: 2.2rem;
    }

    .infoblock .image-section__info {
        margin-top: -102px;
        font-size: 1.2rem;
        line-height: 1.2rem;
        padding-bottom: 35px;
    }

    .infoblock .infoblock__requirements-section {
        padding: 15px 2%;
    }

    .infoblock .req-right-row__text {
        font-size: 1.2rem;
        line-height: 1.2rem;
        padding-top: 10px;
        padding-left: 2%;
        text-align: left;
        width: 55%;
    }

    /******************** PAGE 9 ********************/

}

/* 1024 */
@media (max-width: 1199px) {

    .infoblock .reading-list__professor-info-block p {
        font-size: 1.1rem !important;
        line-height: 1.3rem !important;
        position: relative;
        bottom: 48px;
    }

    .infoblock .image-bottom-header {
        font-size: 1.1rem !important;
        line-height: 1.2rem !important;
        position: relative;
        top: 20px;
    }

    .infoblock .image-title--stacks-view {
        position: relative;
        bottom: 155px;
        right: 18%;
    }

    /******************** PAGE 1 ********************/
    .infoblock .infoblock__huge-header {
        font-size: 4.5rem;
        padding-top: 14px;
    }

    .infoblock .image-title--stacks-view {
        margin-left: 17%;
        padding-bottom: 12px;
    }

    .infoblock .image-bottom-header {
        margin-top: -80px;
        width: 47%;
    }

    .infoblock .right-middle-block__text {
        width: 35%;
        text-align: right;
        position: relative;
        margin-top: -13px;
        /* margin-bottom: 6px; */
        left: -31%;
        font-size: 1.1rem;
        line-height: 1.3rem;
    }

    .infoblock .right-middle-block__image {
        width: 59%;
        position: relative;
        left: 24%;
    }

    .infoblock .kat-phones__note--right {
        left: 82%;
        top: 97px;
        padding: 5px 0;
        width: 19%;
        line-height: 1.5rem;
        text-align: left;
    }

    .infoblock .image-title--search-screen {
        top: 5px;
        left: 12%;
    }

    .infoblock .image-title--bibliography-view {
        right: 26%;
        top: 85px;
    }

    .infoblock .note--left__top {
        position: relative;
        top: -15px;
    }

    .infoblock .image-title--shelf-view {
        left: 10%;
        top: 193px;
    }

    .infoblock .note--left__bottom {
        top: 143px;
        width: 26%;
    }

    .infoblock .reading-list__header {
        position: relative;
        font-size: 1.3rem;
        left: 9%;
        top: 5px;
        margin-bottom: -14px;
    }

    .infoblock .reading-list__image {
        width: 100%;
    }

    .infoblock .reading-list__professor-info-block {
        margin-top: -55px;
        font-size: 1rem;
        padding-bottom: 25px;
    }

    .infoblock .reading-list__footer {
        position: relative;
        margin-top: -23px;
        left: 11%;
        font-size: 1.2rem;
    }

    /******************** PAGE 2 ********************/
    .infoblock .infoblock__bottom-text {
        margin-top: -105px;
        padding-bottom: 40px;
        width: 50%;
    }

    /******************** PAGE 3 ********************/
    .infoblock .infoblock__header {
        font-size: 3rem;
        line-height: 3rem;
    }

    /******************** PAGE 4 ********************/
    /******************** PAGE 5 ********************/
    .infoblock .search-screen__info {
        margin-top: -282px;
    }

    .infoblock .infoblock__sub-header--PYPC-FBL {
        margin-top: 35px;
        font-size: 2.5rem;
    }

    .infoblock .infoblock__sub-header--MBDE {
        font-size: 2rem;
    }

    .infoblock .professor-photo__text {
        margin-top: -172px;
        padding-top: 9px;
        font-size: 1rem;
        line-height: 1rem;
    }

    /******************** PAGE 6 ********************/
    .beautiful-girl-bg {
        background-size: 100% 91%;
    }

    .infoblock .search-screen__image-title--PYPC {
        padding-bottom: 27px;
    }

    .infoblock .infoblock__sub-header--PYPC-SBDB {
        margin-top: 105px;
        margin-bottom: 65px;
    }

    .infoblock .image-title--PYPC {
        left: 38%;
        padding-bottom: 20px;
    }

    .infoblock .kit-kat-go__image-title--kic-stations {
        position: relative;
        left: 13%;
    }

    .infoblock .bvs-section__image-title {
        position: relative;
        left: 40%;
        margin-top: -176px;
        padding-bottom: 145px;
    }

    /******************** PAGE 7 ********************/
    .infoblock .blocks__block-item--2 {
        margin-left: 3%;
    }

    .infoblock .blocks__block-item--4 {
        position: relative;
        left: -2%;
    }

    .infoblock .blocks__block-item--5 {
        margin-top: -35px;
    }

    .infoblock .blocks__block-item--7 {
        margin-left: 0;
    }

    /******************** PAGE 8 ********************/
    .infoblock .infoblock__sub-header--AYPCCE {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .infoblock .infoblock__sub-header--AYPCCE-H2 {
        font-size: 2.2rem;
        line-height: 2.2rem;
    }

    .infoblock .image-section__info {
        margin-top: -92px;
        font-size: 1.2rem;
        line-height: 1.2rem;
        padding-bottom: 35px;
    }

    .infoblock .infoblock__requirements-section {
        padding: 15px 2%;
    }

    .infoblock .req-right-row__text {
        font-size: 1.2rem;
        line-height: 1.2rem;
        padding-top: 10px;
        padding-left: 2%;
        text-align: left;
        width: 55%;
    }

}

/* empty, for tablets */
@media (min-width: 1200px) and (max-width: 1399px) {

}

.infoblock__collage {
    position: relative;
}

img.rows__row.rows__row--collage {
    margin-top: -100px;
    box-sizing: content-box;
    padding-left: 70px;
}

img.kit-kat-go__image {
    padding-top: 20px;
}

img.bvs-section__image {
    padding-top: 20px;
}

.infoblock__collage:after {
    content: '';
    display: block;
    clear: both;
}

.image-text {
    padding-top: 10px;
}

@media (max-width: 1750px) {
    .infoblock .infoblock__huge-header {
        font-size: 7.6rem;
    }
}

@media (max-width: 1680px) {
    .infoblock .rows__row--kat-logo-desc {
        width: 62%;
        padding-top: 10px;
    }
    .infoblock .infoblock__huge-header {
        font-size: 5.5rem;
        line-height: 5.7rem;
        margin-top: -12px;
    }

    .infoblock .infoblock__sub-header--italic {
        text-align: center;
        width: 100%;
        float: right;
        font-size: 1.8rem;
        line-height: 2rem;
    }

    .infoblock .image-bottom-header {
        margin-top: 0;
    }

    .infoblock .image-title--stacks-view {
        position: absolute;
        top: 20px;
        right: 200px;
    }

    .infoblock .infoblock__kat-phones {
        /*margin-top: -122px;*/
    }

    .wrapper-figure {
        margin-top: 90px;
        margin-bottom: 10px;
    }

    .infoblock .reading-list__professor-info-block p {
        font-size: 1rem;
        line-height: 1.3rem;
        /* margin-top: 6px; */
        position: relative;
        top: 10px;
        left: 14px;
    }

    .infoblock .search-screen__image-title--PYPC {
        margin-bottom: -30px;
        position: relative;
        top: 20px;
    }

    .infoblock .infoblock__sub-header--PYPC-FBL {
        margin-top: 135px;
    }

    .infoblock .professor-photo__text {
        font-size: 1.4rem;
        line-height: 1.6rem;
        margin-top: -220px;
    }

    .infoblock .image-title--PYPC {
        margin-bottom: -34px;
    }

    .infoblock .search-screen__info {
        margin-top: -362px;
    }

    /*.infoblock .rows__row {*/
    /*width: 48%;*/
    /*height: 48%;*/
    /*}*/
    img.rows__row.rows__row--collage {
        padding-left: 0;
    }

    .infoblock .bvs-section__image-title {
        top: 100px;
    }

    .infoblock .kit-kat-go__image-title--kic-srs {
        top: 191px;
    }

    .infoblock .image-section__info {
        margin-top: -125px;
    }

    .infoblock .image-text--SW {
        top: -165px;
    }
}

@media (max-width: 1600px) {
    .infoblock .row--kat__p {
        bottom: 179px;
    }

    .infoblock .image-title--stacks-view {
        bottom: 200px;
    }

}

@media (max-width: 1550px) {
    .infoblock .kit-kat-go__image-title--kic-srs {
        top: 175px;
    }

    .infoblock .image-section__info {
        margin-top: -110px;
    }

    .infoblock .bvs-section__image-title {
        top: 80px;
    }

    .infoblock .image-text--SW {
        margin: 0;
    }

    .infoblock .kit-kat-go__image-title--kic-srs {
        position: absolute;
        top: 27%;
        right: 0;
    }
}

@media (max-width: 1500px) {
    .wrapper-figure {
        margin-top: 127px;
        margin-bottom: 13px;
        padding-top: 25px !important;
    }

    .infoblock .image-title--stacks-view {
        bottom: 170px;
    }

    .infoblock .row--kat__p {
        bottom: 141px;
    }

    .infoblock .image-bottom-header {
        margin-top: -59px;
        width: 47%;
        margin-left: 9%;
    }

    .infoblock .note--left__bottom {
        top: 270px;
        width: 27%;
    }

}

@media all and (max-width: 1416px) {
    .infoblock .note--left__top {
        top: 16px;
    }

    .infoblock .note--left__bottom {
        top: 247px;
    }
}

@media all and (max-width: 1399px) {
    .wrapper-figure {
        margin-top: 0;
    }
    .infoblock .image-section__info {
        margin-top: -90px;
    }
    .marg-h3 {
        margin-bottom: 0;
    }

    .infoblock .image-bottom-header {
        margin-top: -120px;
    }

    .infoblock .image-title--stacks-view {
        bottom: 211px;
    }
}

@media (max-width: 1366px) {
    .infoblock .collage__info {
        left: 190px;
        width: 60%;
        top: 30px;
    }

    .infoblock .image-text--SW {
        top: -130px;
    }

    .infoblock .bvs-section__image-title {
        top: 0;
    }

    img.bvs-section__image {
        padding-top: 50px;
    }

    .infoblock .image-bottom-header {
        margin-top: -88px;
    }

    .infoblock .image-bottom-header {
        font-size: 1.6rem;
        line-height: 1.8rem;
        margin-top: -110px;
    }

    .infoblock .reading-list__professor-info-block {
        margin-top: -15px;
    }

    #KAT_Without_Imagery_of_Your_Stacks ul.list-stacks {
        margin: 20px 0 20px 50px;
    }

    .infoblock .search-screen__info {
        margin-top: -330px;
    }

    .infoblock .professor-photo__text {
        margin-top: -186px;
    }

    .infoblock .image-title--bibliography-view {
        right: 28%;
        top: 88px;
    }
}

@media (max-width: 1320px) {
    .infoblock .kit-kat-go__image-title--kic-srs {
        top: 24%;
    }

    .infoblock .image-bottom-header {

        margin-top: -129px;
    }

    .wrapper-figure {
        margin-top: 20px;
    }

    .infoblock .note--left__bottom {
        top: 218px;
    }

    .infoblock .reading-list__professor-info-block p {
        top: -15px;
    }
}

@media (max-width: 1280px) {
    img.rows__row.rows__row--collage {
        padding-left: 0;
    }

    .infoblock .image-text--SW {
        top: -122px;
    }

    .infoblock .bvs-section__image-title {
        top: -8px;
    }

    .infoblock .bvs-section__image-text {
        top: 130px;
    }

    img.rows__row.rows__row--collage {
        margin-top: -80px;
    }

    img.bvs-section__image {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .infoblock .infoblock__sub-header--bold {
        padding-bottom: 10%;
    }
}

@media (max-width: 1199px) {
    .wrapper-figure {
        margin-top: 115px;
    }

    .infoblock .image-bottom-header {
        margin-top: -66px;
    }

    .infoblock .image-title--stacks-view {
        bottom: 173px;
    }
    .infoblock .note--left__top {
        top: 83px;
    }
    .infoblock .image-title--shelf-view {
        left: 10%;
        top: 280px;
    }
    .infoblock .kat-phones__note--right {
        top: 166px;
    }
    .infoblock .note--left__bottom {
        top: 355px;
    }
}
@media (max-width: 1140px){
    .infoblock .infoblock__sub-header--bold {
        padding-bottom: 17%;
        font-size: 21px;
    }
    .wrapper-figure {
        margin-top: 136px;
        margin-bottom: 50px;
    }

}
@media (max-width: 1050px){
    .wrapper-figure {
        margin-top: 162px;
    }
    .infoblock .image-bottom-header {
        margin-top: -80px;
    }
    .infoblock .infoblock__sub-header--bold {
        padding-bottom: 22%;
    }
}
@media (max-width: 1024px) {
    img.bvs-section__image {
        padding-top: 60px;
    }

    .infoblock .bvs-section__image-title {
        top: -20px;
    }

    .infoblock .bvs-section__image-text {
        top: 150px;
    }

    .kat-go__image-title--kic-srs {
        top: 140px;
    }

    .infoblock .image-title--bibliography-view {
        right: 23%;
        top:124px;
    }
    .infoblock .note--left__bottom {
        top: 343px;
    }

    /*.infoblock .note--left__top {*/
        /*top: 10px;*/
        /*font-size: 1.1rem;*/
        /*line-height: 1.3rem;*/
    /*}*/

    /*.infoblock .note--left__bottom {*/
        /*top: 185px;*/
        /*font-size: 1.1rem;*/
        /*line-height: 1.3rem;*/
    /*}*/

    .infoblock .reading-list__professor-info-block {
        margin-top: -15px;
    }

    ul.list-stacks {
        margin: 20px 0 20px 25px !important;
    }

    .infoblock .search-screen__info {
        margin-top: -280px;
    }

    .infoblock .infoblock__sub-header--PYPC-SBDB {
        margin-top: 105px;
    }

    .infoblock .image-section__info {
        margin-top: -95px;
    }

    .infoblock .professor-photo__text {
        margin-top: -175px;
    }
}

/* madia KAT-Stacks-View */

@media all and (max-width: 1790px) and (min-width: 1680px) {
    .infoblock .bvs-section__image-title-stacks-view {
        top: 100px;
    }

    .infoblock .kit-kat-go__image-title--kic-srs-stacks-view {
        top: 200px;
    }
}

@media all and (max-width: 1679px) and (min-width: 1551px) {
    .infoblock .bvs-section__image-title-stacks-view {
        top: 90px;
    }

    .infoblock .kit-kat-go__image-title--kic-srs-stacks-view {
        top: 185px;
    }
}

@media all and (max-width: 1550px) and (min-width: 1431px) {
    .infoblock .bvs-section__image-title-stacks-view {
        top: 83px;
    }

    .infoblock .kit-kat-go__image-title--kic-srs-stacks-view {
        top: 170px;
    }
}

@media all and (max-width: 1430px) and (min-width: 1367px) {
    .infoblock .bvs-section__image-title-stacks-view {
        top: 75px;
    }

    .infoblock .kit-kat-go__image-title--kic-srs-stacks-view {
        top: 160px;
    }
}

@media all and (max-width: 1366px) and (min-width: 1350px) {
    .infoblock .bvs-section__image-title-stacks-view {
        top: 110px;
    }

    .infoblock .kit-kat-go__image-title--kic-srs-stacks-view {
        top: 160px;
    }
}

@media all and (max-width: 1349px) and (min-width: 1200px) {
    .infoblock .bvs-section__image-title-stacks-view {
        top: 100px;
    }

    .infoblock .kit-kat-go__image-title--kic-srs-stacks-view {
        top: 140px;
    }
}

@media all and (max-width: 1199px) and (min-width: 1100px) {
    .infoblock .bvs-section__image-title-stacks-view {
        top: 100px;
    }

    .infoblock .kit-kat-go__image-title--kic-srs-stacks-view {
        top: 170px;
    }
}
@media all and (max-width: 1150px) and (min-width: 1050px){
    .infoblock .kit-kat-go__image-title--kic-srs-stacks-view {
        top: 155px;
    }
}

@media all and (max-width: 1049px) {
    .infoblock .bvs-section__image-title-stacks-view {
        top: 105px;
    }

    .infoblock .kit-kat-go__image-title--kic-srs-stacks-view {
        top: 145px;
    }
}

.infoblock__kit-kat-go {
    position: relative;
}

.with-italic {
    padding-bottom: 0;
}

ul.list-stacks {
    margin: 20px 0 20px 140px;
}