.float-left{
    float:left;
}
.margin-top{
    margin-top: 3%;
    margin-left: 3%;
}
.infoblock table  th{
    border: 1px solid black;
}
.span_block span{
    display: inline;
}

table tr .border-style{
    border-top: 0px;
    border-left: 0px;
    width: 50%;
}
.top-th{
    background: #9daee4;
    font-weight: bold;
}

.color-tr{
    background: #cbccc7;

}
.text-bold{
    font-weight: bold;
}

.color-white{
    background: #e6f5fc;

}

.vertical{
    transform: rotate(180deg);
    writing-mode:vertical-lr;
    writing-mode: bt-rl;
}

.width-td{
    width: 4%;
    FLOAT: right;
    background: #cbccc7;
}

.text-vertical-bold{
    color: #000;
    font-size: 38px;
    line-height: 38px;
    text-align: justify;
    margin-top: 5%;
}

.table-right{
    width: 95%;
    float: right;
}

tr th{
    padding: 0px 0px 0px 0px;
}

.infoblock__text-block{
    width: 100%;
    margin-top: 105%;
    margin-left: 5%;
}
