.infoblock__block-header {
    font: 14px "Arial", Helvetica, Arial, Verdana, sans-serif;
    font-size: 39px;
    font-weight: bold;
    color: #000000;
    text-align: left;
    text-shadow: none;
}

.infoblock .infoblock__true-2-touch {
    float: left;
    width: 25%;
}

.infoblock .infoblock__scanner-other {
    float: right;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 75%;
    height: 75%;
}

.infoblock .infoblock__ul {
    list-style-image: url(../images/Dlsg/KIC/blue-bullet.png);
}

.infoblock .infoblock__text-block {
    width: 50%;
    float: right;
    margin-bottom: 5%;
}

.infoblock .infoblock__block-header1 {
    color: #000;
    font-size: 36px;
    line-height: 38px;

    padding: 10px 0;
    text-align: right;
    text-shadow: none;
    float: right;
    width: 56%;
    margin-right: 5%;

}

.infoblock .infoblock__text-block1 {
    float: right;
    font-style: italic;
    width: 50%;
    font-size: 20px;
    margin-left: 5%;

}

.infoblock .infoblock__arrow-devices {
    width: 80%;
    float: right;
    height: 80%;
    z-index:2000;
    position: relative;
}

.infoblock .infoblock__div-img {


    z-index:1;
    margin-top: 75%;
}

.infoblock__div-img .infoblock__scanner{
    position:absolute;
    width: 70%;
    bottom: 3%;

}

.infoblock .infoblock__text-block2 {
    float: right;
    position: relative;
    width: 70%;
    z-index:2000;
}

.infoblock .infoblock__div_arrow-devices{
    width: 56%;
    float: right;
    height: 56%;
}

.infoblock__div-img .infoblock__opacity-text{
    color:#898b8a;
    margin-right: 40%;
    text-align: center;
    font-style: italic;
}


