.content .infoblock{
    margin: 2px 0 0;
    padding: 20px;
    width: 75%;
    text-align: left;
    float: left;
    word-wrap: break-word;
    border-left: 2px solid #E3E6DB;
}
/* 1 page */

.infoblock__page-1__head {
    font-size: 2.375rem;
    color: #282a28;
    font-style: italic;
    font-weight: bold;
    text-shadow: none;
    margin: 0;
    text-align: center;
}
.infoblock__page-1__column {
    float: left;
    width: 50%;
    padding: 0.625rem;
}
.infoblock__page-1__column__a{
    padding-left: 60%;
    font-weight: bold;
}


.infoblock__page-1_relative-block{
    position: relative;
}

.infoblock div .infoblock__page-1__h2__p{
    position: absolute;
    font-weight: bold;
    padding-left: 45%;
    top: 50%;
 }
.infoblock div .infoblock__page-1__h2__p h2{
    font-size: 2.375rem;
    color:#000000;
    padding: 0%;
}
.infoblock div .infoblock__page-1__h2__p p{
    text-align: center;
}

.infoblock .infoblock__page-1__h3__p{
    position: absolute;
    padding-left: 70%;
    top: 70%;
    text-align: center;
}
.infoblock .infoblock__page-1__h3__p h3{
    font-size: 1.875rem;
    font-weight: bold;
    color:#000000;
}

.infoblock .infoblock__page-1__h3__p p{
     font-size: 1.6rem;
}


.infoblock .infoblock__page-1__devices{
    position: absolute;
    width: 30%;
    left: 60%;
    top: 130%;
    height: auto;
}

.infoblock .infoblock__page-1__scanner{
    width: 60%;
    padding-top: 10%;
}

.infoblock .infoblock__page-1__text{
    width: 20%;
    top: 55%;
    right: 15%;
    /* padding-top: 8%; */
    position: absolute;
}

/*2 page */

#scan-diagram {
    float: right;
    width: 40%;
}

#copy-diagram {
    float: left;
    width: 30%;
}

#fax-diagram {
    float: right;
    width: 30%;
}

#dollar-and-card {
    float: left;
    width: 55%;
}

#copy-card-and-cash-header {
    text-align: center;
}
div.infoblock h2 {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0;
}

.infoblock .columnKIC_Bookeye_4{
    float: left;
    /* width: 50%; */
    padding-left:  0.9375rem;
    padding-right:  0.9375rem;
}

#hand-yellow-coin {
    float: left;
    width: 30%;
}
.infoblock .columnKIC_Bookeye_4__h2 {
    margin-left: 30%;
    margin-top: 4%;
}


/* 3 page*/

.infoblock__page-3__block-title2{
    font: 14px "Arial",Helvetica,Arial,Verdana,sans-serif;
    font-size: 39px;
    font-weight: bold;
    color:#000000;
    text-shadow: none;
    text-align: center;
}
.infoblock__page-3__block-title{
    font: 14px "Arial",Helvetica,Arial,Verdana,sans-serif;
    font-style: italic;
    font-size: 24px;
    color:#000000;
    text-shadow: none;
    font-weight: normal;
    text-align: center;
}
.infoblock__page-3__text-block {
    float: left;
    width: 55%;
}
.infoblock__page-3__text-block-2{
    float: left;
    width: 45%;
    padding-left: 5%;
    padding-bottom: 5%;
}
.infoblock__page-3 .infoblock__peppermint2 {
    list-style-image: url(../images/blue-bullet.png);
}
div .infoblock__page-3__block {
    padding-top: 0%;
    float:left;
    width: 49%;
}

.infoblock__page-3__block .infoblock__page-3__number{
    width: auto;
    float:left;
}
.infoblock__page-3__block-3 .infoblock__page-3__number{
    width: auto;
    float:left;
}

.infoblock__page-3__block-1{
    float:left;
    width: 70%;

}

.block_text2{
    padding-top: 3%;
}

.infoblock__page-3__block-3 div .block_text2{
    width: 50%;
    padding-top: 1%;
}
.infoblock .infoblock__page-3__img{
    width: auto;
}
#infoblock__page-3__man_pdf{
    padding-left: 5%;
}

.infoblock__page-3__block-3{
    position: absolute;
    bottom: 15%;

}
div #infoblock__page-3__management{
    width: 50%;
    float:left;
}
div .infoblock__page-3__diagram{
    width: 45%;
    float:left;
}
div .infoblock__page-3__block_text23{
    margin-right: -22%;
}

.infoblock__page-3__relative-block{
    position: relative;
}

.infoblock__page-3 .small-brochure-title-center{
    color: #000;
    font-size: 3.6rem;
    line-height: 3.8rem;
    text-align: center;
    padding: 14px 0 10px;
}



/* 4 page*/


.infoblock .infoblock__page-4__logo_kic {
    width: 35%;
}

.infoblock .infoblock__page-4__true_2_touch {
    width: 13%;
    margin-left: -19%;
}

.infoblock .infoblock__page-4__click_click_mini {
    font-size: 55px;
    font-weight: 800;
    margin-left: 40%;
    margin-top: -99%;
}

.infoblock .infoblock__page-4__click_click_mini1 {
    font-size: 21px;
    font-weight: 600;
    margin-left: 40%;
    margin-top: -2%;
    color: #0000F0;
}

.infoblock .infoblock__page-4__label2 {
    margin-top: 87%;
    font-size: 39px;
    font-weight: 600;
    text-align: center;
    display: block;
}

.infoblock .infoblock__page-4__label3 {
    width: 40%;
    font-weight: 400;
    font-size: x-large;
    font-style: italic;
    margin-left: 53%;
    margin-top: -79%;
}

.infoblock .infoblock__page-4__text1 {
    width: 47%;
    margin-top: 71%;

}

.infoblock .infoblock__page-4__text2 {
    width: 47%;
    margin-left: 50%;
    margin-top: -10.5%;
}

.infoblock .infoblock__page-4__text3 {
    width: 47%;
    margin-left: 50%;
}

.infoblock .infoblock__page-4__two_click_together {
    width: 46%;
    margin-top: -12%;
}

.infoblock .infoblock__page-4__column {
    width: 100%;
}

.infoblock .infoblock__page-4__texting1 {
    margin-left: 41%;
}

.infoblock .infoblock__page-4__label4 {
    margin-left: 41%;
    margin-top: 4%;
}

.infoblock .infoblock__page-4__label5 {
    margin-top: 1%;
}



.infoblock .infoblock__page-4__text6 {
    font-style: italic;
    font-weight: 300;
    margin-left: -2%;
    text-align: center;
}

.infoblock .infoblock__page-4__text5 {

    font-size: x-large;
    margin-left: -2%;
    text-align: center;
    font-weight: bold;
}

.infoblock .infoblock__page-4__text7 {
    text-align: center;
    font-size: xx-large;
    margin-top: 1%;
    color: #000000;
    text-shadow: none;
}

.infoblock .infoblock__page-4__block1 {
    width: 50%;
    float: left;
    padding: 10px;
}

.infoblock .infoblock__page-4__scanner_600 {
    width: 70%;
    display: block;
    margin: 0px auto;
}

.infoblock .infoblock__page-4__text10 {
    font-weight: 400;
    font-size: x-large;
    width: 100%;
    text-align: center;
}

.infoblock .infoblock__page-4__two_newspapers {
    width: 70%;
    display: block;
    margin: 0px auto;
}

div .infoblock__page-4__homo-scanner{
    float:left;
    width: 60%;
    height: 60%;

    margin-right:5%;
}
div .infoblock__page-4__homo-text{
    font-style: italic;
    /* margin-right: 5%; */
    margin-top: 4%;
    width: 20%;
    /* margin-left: 50%; */
    display: inline-block;
    margin-left: 15%;
}
div .infoblock__page-4__homo{
    font-style: italic;
    margin-right:5%;
}

.infoblock .infoblock__page-4__text-block-left{
    float:left;
    width:45%;
    margin-right: 5%;
}
.infoblock .infoblock__page-4__scanner{
    margin-left: 0%;
    float:left;
    width:55%;
}
.infoblock .infoblock__page-4__margine{
    margin-bottom: 0%;
    margin-top: 0%;
    padding-bottom: 0%;
}



/* 5 page*/

.infoblock__page-5{
    margin-top:10%;
}


.infoblock__page-5__seven-step{
    text-align: center;
    position: relative;
}
.infoblock__page-5__seven-step:after{
    content: 'VS';
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-size: 200%;
    background: #000;
    border-radius: 100%;
    bottom: -9%;
    right: 50%;
    padding: 1% 4%;
    margin: 0 -3%;
    z-index: 1;
}

.infoblock__page-5__two-step--inline{
    padding: 0 4px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.infoblock__page-5__two-step--w1{
    width: 14%;
}
.infoblock__page-5__two-step--w2{
    width: 35%;
}
.infoblock__page-5__two-step--w3{
    width: 49%;
}

.infoblock .infoblock__page-5__text-block {
    float: right;
    width: 50%;
    margin-left: 5%;
}

.infoblock .infoblock__page-5__block-header-2 {
    font-weight: 600;
    font-size: x-large;
    margin-top: 3%;
}

.infoblock .infoblock__page-5__block-header-3 {
    color: #000;
    font-size: 33px;
    line-height: 38px;
    margin-top: 0%;
    float: left;
    z-index: 100;

    margin-left: 15%;
}

div .infoblock__page-5__comm-csan {
    z-index: 1;
    margin-top: -4%;
}

div .infoblock__page-5__block-p {
    float: left;
    margin-top: 1%;
    margin-left: 3%;
}

.infoblock .infoblock__page-5__seven-step--border {
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
}

.infoblock .infoblock__page-5__two-step {
    text-align: center;
    position: relative;
    margin-top: 10px;
}

.infoblock__page-5__two-step:before {
    content: '';
    position: absolute;
    background: url("../images/JPGs for BSCAN ILL/book.png") no-repeat;
    width: 9%;
    top: 0;
    right: 0;
    background-size: contain;
    height: 70px;
}

.infoblock .infoblock__page-5__block-header-31 {
    color: #000;
    font-size: 33px;
    line-height: 38px;
    margin-top: 0%;
    float: left;
    z-index: 100;

    margin-left: 1%;
}

.infoblock .infoblock__page-5__margin-text {
    margin-right: 57%;
}

.infoblock .infoblock__page-5__margin-text1 {
    margin-left: 7%;
}

div .infoblock__page-5_photo {
    float: right;
    width: 60%;
}

div .infoblock__page-5__block-header {
    color: #000;
    font-size: 36px;
    margin: 0%;
}

div .infoblock__page-5__text-block1 {
    font: 14px "Arial", Helvetica, Arial, Verdana, sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    font-style: italic;
    line-height: 120%;
}

div .infoblock__page-5__block-left {
    float: left;
    width: 30%;
    margin-right: 5%;
}

div .infoblock__page-5__block-left2 {
    float: right;
    width: 65%;
}

div .infoblock__page-5_photo2 {
    width: 40%;
    margin-left: 20%;
}

div .infoblock__page-5__text-right{
    width: 65%;
    margin-top: -33%;
    margin-right: -10%;
    text-align:right;
    font-style: italic;
}

div .infoblock__page-5__text-right2{
    width: 52%;
    margin-top: 8%;
    margin-bottom: 10%;
    text-align: right;
    font-style: italic;
    margin-left: 1%;
}

.infoblock__page-5__text-left{
    font-style: italic;
}
.infoblock__page-5__margin-top{
    margin-top: 3%;
    background:linear-gradient(to bottom,#97a29c,#e2e3e5);
}


/* 6 page*/

.infoblock__page-6{
    margin-top: 5%;
}
.infoblock__page-6__block-header {
    font: 14px "Arial", Helvetica, Arial, Verdana, sans-serif;
    font-size: 39px;
    font-weight: bold;
    color: #000000;
    text-align: left;
    text-shadow: none;
}

.infoblock .infoblock__page-6__true-2-touch {
    float: left;
    width: 25%;
}

.infoblock .infoblock__page-6__scanner-other {
    float: right;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 10%;
    width: 75%;
    height: 75%;
}

.infoblock__page-6_relative-block{
    position: relative;
}

.infoblock .infoblock__page-6__ul {
    list-style-image: url(../images/Dlsg/KIC/blue-bullet.png);
}

.infoblock .infoblock__page-6__text-block {
    width: 50%;
    float: right;
    margin-bottom: 5%;
}

.infoblock .infoblock__page-6__block-header1 {
    color: #000;
    font-size: 36px;
    line-height: 38px;

    padding: 10px 0;
    text-align: right;
    text-shadow: none;
    float: right;
    width: 56%;
    margin-right: 5%;

}



.infoblock .infoblock__page-6__arrow-devices {
    width: 80%;
    float: right;
    height: 80%;
    z-index:2000;
    position: relative;
}

.infoblock .infoblock__page-6__div-img {


    z-index:1;
    margin-top: 65%;
}

.infoblock__page-6__div-img .infoblock__page-6__scanner-bookeye-4{
    position:absolute;
    width: 90%;
    bottom: 100%;

}

.infoblock .infoblock__page-6__text-block2 {
    float: right;
    position: relative;
    width: 70%;
    z-index:2000;
}

.infoblock .infoblock__page-6__div_arrow-devices{
    width: 56%;
    float: right;
    height: 56%;
}

.infoblock__page-6__div-img .infoblock__page-6__opacity-text{
    color:#898b8a;
    margin-right: 40%;
    text-align: center;
    font-style: italic;
}


/* 7 page*/
div .infoblock__page-7_photo2 {
    width: 40%;
    margin-left: 20%;
}

div .infoblock__page-7__text-right2{
    width: 52%;
    margin-top: 8%;
    margin-bottom: 10%;
    text-align: right;
    font-style: italic;
    margin-left: 1%;
}

div .infoblock__page-7__text-right{
    width: 65%;
    margin-top: -33%;
    margin-right: -10%;
    text-align:right;
    font-style: italic;
}

.infoblock .infoblock__page-7__seven-step--border {
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
}

div .infoblock__page-7_photo {
    float: right;
    width: 60%;
}

div .infoblock__page-7__block-header {
    color: #000;
    font-size: 36px;
    margin: 0%;
}

div .infoblock__page-7__text-block1 {
    font: 14px "Arial", Helvetica, Arial, Verdana, sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    font-style: italic;
    line-height: 120%;
}


div .infoblock__page-7__block-left {
    float: left;
    width: 30%;
    margin-right: 5%;
}

.infoblock .infoblock__page-7__header-3{
    font-style: italic;
    text-align: center;
    width: 50%;
    font-size: 18px;
    margin-left: 25%;
}

.infoblock .infoblock__page-7__devices{
    float: right;
    width: 45%;
    margin-right: 7%;
}

.infoblock .infoblock__page-7__scanner-bookeye-4-new{
    width: 90%;
    margin-left: 2%;
    margin-top: -20%;
}

.infoblock .infoblock__page-7__text-block-devices{
    float:right;
    width: 39%;
    margin-top: -40%;
    margin-right: 2%;
    margin-left: 10%;
    font-size: 14px;

}
.infoblock__page-7__margin-top{
    margin-top: -17%;
}

.infoblock .infoblock__page-7__text-block-scanner{

    float:right;
    margin-right: 14%;
    width: 23%;
    font-size: 14px;
}
.infoblock .infoblock__page-7__margin-top{
    margin-top: 5%;
    background:linear-gradient(to bottom,#97a29c,#e2e3e5);
}





/* 8 page*/

.infoblock__page-8{
    text-align: center;
    margin-top: 5%;
}
.infoblock__page-8__reservation{
    text-align: center;
    margin-bottom: -6px;
}
.infoblock__page-8__reservation__h1{
    font-size: 70px;
    text-shadow: none;
    color: #000;
    margin:0;
}
.infoblock__page-8__reservation__h2{
    color: #000;
    font-size:26px;
    margin: 0;
    padding:0;
    padding-bottom:10px;
}
.infoblock__page-8__reservation__h3{
    color: #000;
    font-size:24px;
    font-style: italic;
    font-weight:normal;
    margin:0;
    padding:0 ;
}
.infoblock__page-8__reservation__text{
    text-align: left;
    width: 49%;
    padding:10px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}
.infoblock__page-8__reservation__text-img{
    margin:0 auto;
}
.infoblock .infoblock__page-8__text-img__touch{
    text-align: center;
    width:31%;
    display: inline-block;
    font-size: 16px;
    padding: 0 5px;
}
.infoblock__page-8__img__touch--after{
    position: relative;
}
.infoblock__page-8__img__touch--after:after{
    position: absolute;
    content: '';
    background: url("../images/KIC_Reservation_App/arrows.png") no-repeat;
    bottom: -120px;
    left: 35px;
    background-size: contain;
    width: 100%;
    height: 130px;
}
.infoblock__page-8__reservation__two-tel{
    padding-top:107px;
    position: relative;
}
.infoblock .infoblock__page-8__two-tel__text-top{
    position: absolute;
    top: 60px;
    right: 0;
    width: 45%;
    text-align: center;
    font-size: 16px;
    font-style: italic;
}
.infoblock__page-8__footer__left{
    display: inline-block;
    width: 27%;
    vertical-align: middle;
}
.infoblock__page-8__footer__center{
    display: inline-block;
    width: 42%;
    vertical-align: middle;
}
.infoblock__page-8__footer__right{
    display: inline-block;
    width: 20%;
    vertical-align: middle;
}
.infoblock__page-8__left__link{
    text-decoration: none;
    font-size:22px;
    color: #4a504e;
    font-weight: bold;
}


/* 9 page*/




.infoblock__page-9__top {
    overflow: hidden;
}

.infoblock .infoblock__page-9__top__logo {
    max-width: 340px;
    float: left;
}

.infoblock__page-9__top__h1 {
    text-align: center;
    color: #000;
    text-shadow: none;
    font-size: 64px;
    margin: 0;
    margin-top: 5%;
}

.infoblock__page-9__top__h2 {
    text-align: center;
    color: #8ca1c9;
    font-size: 28px;
    text-transform: uppercase;
    padding: 0;
    line-height: 1;
    margin-top: 5%;
    letter-spacing: 0;
}

.infoblock__page-9__center {
    overflow: hidden;
    margin-top: -80px;
}

.infoblock .infoblock__page-9__center__img {
    float: right;
    width: 65%;
    padding-left: 20px;
}

.infoblock__page-9__center__text--padding {
    padding-top: 90px;
    position: relative;
}

.infoblock__page-9__center__text--margin {
    padding-top: 5%;
    position: absolute;
    width: 33%;
}

.infoblock__page-9__nav {
    padding-top: 20px;
    overflow: hidden;
}

.infoblock .infoblock__page-9__nav__li {
    float: left;
    width: 38%;
}

.infoblock .infoblock__page-9__nav__img {
    float: left;
    width: 60%;
    margin-right: 20px;
}

.infoblock .infoblock__page-9__li--width {
    width: 80%;
}

.infoblock__page-9__nav__li li:first-child {
    list-style: none;
}
.infoblock ul.blue-bullet li:first-child:before {
    background:transparent!important;
}
.infoblock__page-9__nav__li--margin {
    margin-left: 20px;
}

.infoblock .infoblock__page-9__bottom {
    text-align: justify;
    padding: 0;
    margin: 0;
}

.infoblock__page-9__bottom li {
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 33%;
}

.infoblock__page-9__bottom li p {
    text-align: center;
}

.infoblock .infoblock__page-9__bottom__img {
    width: 24%;
    margin-left: 25px;
}

.infoblock .infoblock__page-9__bottom__a {
    width: 20%;
    position: relative;
    top: -15px;
}

.infoblock__page-9__bottom__a a {
    font-size: 26px;
    color: #454733;
    margin-bottom: 10px;
}

.infoblock__page-9__a--rel {
    position: absolute;
    bottom: 76px;
    font-size: 30px;
    color: #8c897d;
    width: 230%;
    right: 0;
}




/* 11 page*/

.infoblock__page-11__double {
    width: 50%;
    float: left;
    overflow: hidden;
}

.infoblock__page-11__double__content {
    overflow: hidden;
    padding: 10px 10px 10px 0;
    background: #D0E6FC;
    margin: 5px;
    border-radius: 10px;
}

.infoblock__page-11__in-case-strong {
    font-size: 38px;
    line-height: 40px;
    padding: 0;
}

.infoblock__page-11__in-case-span {
    text-align: right;
    font-size: 20px;
    line-height: 22px;
}

.infoblock__page-11__in-case-span--center {
    text-align: center;
    font-size: 26px;
    line-height: 28px;
}

.infoblock__page-11__double__content__double {
    width: 50%;
    float: left;
}

.infoblock .infoblock__page-11__in-case-enhance {
    width: 70%;
    height: 70%;
    margin: 0 auto;
    display: block;
}

.infoblock .infoblock__page-11__in-case-enhance--left {
    float: left;
    width: 60%;
    height: 60%;
    margin: 0 0 15px 2%;
    display: block;
}

.infoblock__page-11__double__content__double p {
    padding: 24px 0;
}

.infoblock__page-11__in-case-p--italic {
    padding: 10px;
    font-style: italic;
    display: inline-block;
}

.infoblock__page-11__for-study-p {
    width: 225px;
    float: right;
    margin-top: -145px;
    margin-right: 7%;
}

.infoblock .infoblock__page-11__left-text {
    padding: 0 10px;
}

.infoblock .infoblock__page-11__left-text p {
    padding: 0;
}

.infoblock .infoblock__page-11__in-case-enhance--right {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: block;
}

.infoblock .infoblock__page-11__in-case-scan-artwork {
    height: 180px;
    width: auto;
    margin: 0 auto;
    display: block;
}

.infoblock .infoblock__page-11__in-case-scan-map {
    height: 155px;
    width: auto;
    margin: 0 auto;
    display: block;
}

/* 12 page*/

.infoblock__page-12{
    margin-top:130%;
}

.infoblock__page-12__double-wrap {
    overflow: hidden;
}

.infoblock h3{

}

.infoblock__page-12__double__content {
    padding: 5px 10px;
    overflow: hidden;
}

.infoblock__page-12__double-wrap__column {
    float: left;
    width: 47%;
    padding-left: 1%;
}

.infoblock__page-12__double-wrap figure {
    width: 50%;
    float: left;
    margin: 0;
}

.infoblock__page-12__double-wrap figure img, .infoblock .diagram {
    width: 80%;
    height: 80%;
    display: block;
    margin: 0 auto;
}

.infoblock__page-12__double-wrap figure figcaption {
    text-align: center;
    font-size: 12px;
    line-height: 14px;
}

.infoblock .infoblock__page-12__double__double-p {
    width: 50%;
    float: left;
}

.infoblock .infoblock__page-12__bookeye-vs-copiers__span {
    font-weight: normal;
    text-align: center;
    font-style: italic;
    font-size: 12px;
    line-height: 14px;
}

.infoblock .infoblock__page-12__bookeye-vs-copiers__strong {
    text-align: center;
    display: block;
    font-size: 22px;
    line-height: 24px;
}

.infoblock__page-12__double-content__text-and-picture-wrapper {
    overflow: hidden;
}

.infoblock__page-12__column__bookeye-scans{
    width:90%;
    margin-left:5% ;
}

.infoblock__page-12__rainbow-text{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff0000+0,ff00ff+16,0000ff+33,00ffff+50,00ff00+67,ffff00+83,ff0004+100,ff0000+100 */
    background: #ff0000; /* Old browsers */
    background: -moz-linear-gradient(left,  #ff0000 0%, #ff00ff 16%, #0000ff 33%, #00ffff 50%, #00ff00 67%, #ffff00 83%, #ff0004 100%, #ff0000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ff0000 0%,#ff00ff 16%,#0000ff 33%,#00ffff 50%,#00ff00 67%,#ffff00 83%,#ff0004 100%,#ff0000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ff0000 0%,#ff00ff 16%,#0000ff 33%,#00ffff 50%,#00ff00 67%,#ffff00 83%,#ff0004 100%,#ff0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff0000',GradientType=1 ); /* IE6-9 */
    -webkit-background-clip: text;  /* подробнее про background-clip */
    color: transparent;
    font-size: 26px !important;
    text-align: center;
}


.infoblock h3{
    color: transparent;
    font-size: 26px;
}

/* 13 page*/

.infoblock__page-13__left-block{
    float:left;
    width: 50%;
}

.infoblock .infoblock__page-13__right-img{
    float:right;
    width:30%;
    padding-left: 2%;
}

.infoblock .infoblock__page-13_text-block-after-table{
    text-align: right;
    font-style: italic;
}

.infoblock .infoblock__page-13__text-block-h3{
    color: #000;
    font-size: 22px;
    text-align: left;
    margin-top: 0%;
}
.infoblock .infoblock__page-13__right-images{
    width:50%;
}
.infoblock .infoblock__page-13__right-images-clients{
    width: 50%;
    padding-top: 2%;
    float: right;
    padding-left: 5%;
    padding-bottom: 2%;
}

.infoblock .infoblock__page-13__map-planet{
    width: 45%;
    position: absolute;
    right: 0;
    bottom:  -330%;
}

.infoblock .infoblock__page-13_left-text-block{
    float:left;
    width: 30%;
    padding-left: 2%;
}

.infoblock .infoblock__page-13__text-block{
    padding-right: 5%;
    padding-left: 52%;
}

.infoblock .infoblock__page-13__th{
    width: 38%;

}
.infoblock table td,th{
    padding: 0px 0px 0px 0px;
}

.infoblock .infoblock__page-13__text-block-h3-1{
    color: #000;
    font-size: 22px;
    text-align: left;
    margin-top: 0%;
    margin-left: 52%;
}
.infoblock .infoblock__page-13__rel{
    position: relative;
}
.infoblock .infoblock__page-13__font-color{
    color: #9d9d9d;
}
.infoblock__page-13__table-bg{
    background: rgba(0,0, 0, 0.1);
}
.infoblock p{
    font-size: 14px;
}

.infoblock__page-13{
    margin-bottom: 40%;
}

/* 14 page*/



.cicle{
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 1px solid #4a504e;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}
.green-cicle{
    background: #40b149;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 1px solid #4a504e;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}
.green-cicle--after{
    position: relative;

}
.green-cicle--after:after{
    position: absolute;
    content: '';
    background: #fff;
    border-radius: 11px 11px 0 0;
    -moz-border-radius: 11px 11px 0 0;
    -webkit-border-radius: 11px 11px 0 0;
    border: 1px solid #4a504e;
    width: 18px;
    height: 8px;
    top: -1px;
    left: -1px;
}
.green-cicle--after-big{
    position: relative;
}
.green-cicle--after-big:after {
    position: absolute;
    content: '';
    background: #fff;
    border-radius: 11px 11px 0 0;
    -moz-border-radius: 11px 11px 0 0;
    -webkit-border-radius: 11px 11px 5px 5px;
    border: 1px solid #4a504e;
    width: 18px;
    height: 13px;
    top: -1px;
    left: -1px;
}
.green-cicle--after-small{
    position: relative;
}

.green-cicle--after-small:after {
    position: absolute;
    content: '';
    background: #fff;
    border-radius: 11px 11px 0 0;
    -moz-border-radius: 11px 11px 0 0;
    -webkit-border-radius: 11px 11px 0 0;
    border: 1px solid #4a504e;
    width: 14px;
    height: 4px;
    top: -1px;
    left: 1px;
}


.infoblock__page-14__center--text{
    text-align: center;
}

.infoblock__page-14__sitalic {
    font-style: italic;
}

.infoblock__page-14__kic-product{
    text-align: right;
}

.infoblock__page-14__kic-product__row{
    text-align: center;
    vertical-align: top;
    display: inline-block;
    width: calc(100%/6);
}

.infoblock__page-14__kic-product .infoblock__page-14__row__title{
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

.infoblock__page-14__row__column{
    padding: 10px 5px 5px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 6px #000;
    min-height: 500px;
}
.infoblock__page-14__row__column .infoblock__page-14__column__mini-title{
    font-size: 11px;
    margin-top: 5px;
    font-weight: bold;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    line-height: 1.2;
    padding: 0;
}

.tabl-star{
    margin-left: 20px;
    font-size: 13px;
    vertical-align: text-top;
    color: #e8383b;
}

.float-left{
    float:left;
}
.infoblock__page-14__margin-top{
    margin-top: 3%;
    margin-left: 3%;
}
.infoblock table  th{
    border: 1px solid black;
}
.span_block span{
    display: inline;
}

table tr .infoblock__page-14__border-style{
    border-top: 0px;
    border-left: 0px;
    width: 50%;
}
.top-th{
    background: #9daee4;
    font-weight: bold;
}

.color-tr{
    background: #cbccc7;

}
.text-bold{
    font-weight: bold;
}

.color-white{
    background: #e6f5fc;

}

.vertical{
    transform: rotate(180deg);
    writing-mode:vertical-lr;
    writing-mode: bt-rl;
}

.width-td{
    width: 4%;
    FLOAT: right;
    background: #cbccc7;
}

.text-vertical-bold{
    color: #000;
    font-size: 38px;
    line-height: 38px;
    text-align: justify;
    margin-top: 5%;
}

.infoblock__page-14__table-right{
    width: 95%;
    float: right;
}


.infoblock__page-14__italic{
    font-style: italic;
}
tr th{
    padding: 0px 0px 0px 0px;
}

.infoblock__page-14__text-block{
    width: 100%;
    margin-left: 5%;
}


@media all and (min-width: 1200px) and (max-width: 1400px){
    /* 1 page */
    .infoblock div .infoblock__page-1__h2__p h2 {
        font-size: 2.2rem;
        color: #000000;
        padding: 0%;
    }
    .infoblock div .infoblock__page-1__h2__p p {
        text-align: center;
        font-size: 1.5rem;
    }

    .infoblock .infoblock__page-1__h3__p h3 {
        font-size: 1.4rem;
        font-weight: bold;
        color: #000000;
    }
    .infoblock .infoblock__page-1__h3__p p {
        font-size: 1rem;
    }

    /* 3 page*/

    .infoblock .infoblock__page-3__img{
        width: 100%;
    }

    div .infoblock__page-3__diagram{
        width: 48%;
        float:left;
        margin-top: 20%;
        margin-left: 2%;
    }

    .infoblock__page-3__block-3 {
        position: absolute;
        bottom: 10%;
    }

    .infoblock__page-3 .small-brochure-title-center{
        color: #000;
        font-size: 3.3rem;
        /* line-height: 38px; */
        text-align: center;
        /* padding: 14px 0 10px; */
        padding-bottom: 0%;
    }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
    /* 1 page*/
    .infoblock div .infoblock__page-1__h2__p h2 {
        font-size: 1.7rem;
        color: #000000;
        padding: 0%;
    }
    .infoblock div .infoblock__page-1__h2__p p {
        text-align: center;
        font-size: 1.1rem;
    }

    .infoblock .infoblock__page-1__h3__p h3 {
        font-size: 1rem;
        font-weight: bold;
        color: #000000;
    }
    .infoblock .infoblock__page-1__h3__p p {
        font-size: 0.8rem;
    }

    /* 3 page*/

    .infoblock .infoblock__page-3__img{
        width: 100%;
    }

    div .infoblock__page-3__diagram{
        width: 48%;
        float:left;
        margin-top: 50%;
        margin-left: 2%;
    }

    .infoblock__page-3__block-3 {
        position: absolute;
        bottom: 35%;
    }

    .infoblock__page-3 .small-brochure-title-center{
        color: #000;
        font-size: 3.3rem;
        /* line-height: 38px; */
        text-align: center;
        /* padding: 14px 0 10px; */
        padding-bottom: 0%;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {
    /* 1 page*/
    .infoblock div .infoblock__page-1__h2__p h2 {
        font-size: 1.4rem;
        color: #000000;
        padding: 0%;
    }
    .infoblock div .infoblock__page-1__h2__p p {
        text-align: center;
        font-size: 1rem;
    }

    .infoblock .infoblock__page-1__h3__p h3 {
        font-size: 0.9rem;
        font-weight: bold;
        color: #000000;
    }
    .infoblock .infoblock__page-1__h3__p p {
        font-size: 0.7rem;
    }

    /* 3 page*/

    .infoblock .infoblock__page-3__img{
        width: 100%;
    }

    div .infoblock__page-3__diagram{
        width: 48%;
        float:left;
        margin-top: 60%;
        margin-left: 2%;
    }

    .infoblock__page-3__block-3 {
        position: absolute;
        bottom: 35%;
    }

    .infoblock__page-3 .small-brochure-title-center{
        color: #000;
        font-size: 3.3rem;
        /* line-height: 38px; */
        text-align: center;
        /* padding: 14px 0 10px; */
        padding-bottom: 0%;
    }
}

@media all and (max-width: 767px) {
    /* 1 page*/
    .infoblock div .infoblock__page-1__h2__p h2 {
        font-size: 1.5rem;
        color: #000000;
        padding: 0%;
    }
    .infoblock div .infoblock__page-1__h2__p p {
        text-align: center;
        font-size: 1rem;
    }

    .infoblock .infoblock__page-1__h3__p h3 {
        font-size: 1rem;
        font-weight: bold;
        color: #000000;
    }
    .infoblock .infoblock__page-1__h3__p p {
        font-size: 0.7rem;
    }

    /* 3 page*/

    .infoblock .infoblock__page-3__img{
        width: 100%;
    }

    div .infoblock__page-3__diagram{
        width: 48%;
        float:left;
        margin-top: 60%;
        margin-left: 2%;
    }

    .infoblock__page-3__block-3 {
        position: absolute;
        bottom: 35%;
    }

    .infoblock__page-3 .small-brochure-title-center{
        color: #000;
        font-size: 3.3rem;
        /* line-height: 38px; */
        text-align: center;
        /* padding: 14px 0 10px; */
        padding-bottom: 0%;
    }
}

