.clearfix {
    clear: both;
}

h4 {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: left;
}

.brochure-title-center {
    padding-bottom: 20px !important;
}

.infoblock__page1-Header {
    overflow: hidden;
    margin-top: 8px;
}

.infoblock .infoblock__page1-Header img {
    float: left;
    width: 30%;
}

.infoblock__page1-row-of-scanners {
    overflow: hidden;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: -7%;
    position: relative;
    z-index: 3;
}

.infoblock .infoblock__page1-row-of-scanners img {
    float: left;
    width: 18%;
    margin-left: 2%;
}

.infoblock__page1-italic-title {
    color: black;
    font-size: 2.3rem;
    line-height: 2.5rem;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    padding-bottom: 20px;
}

.infoblock__page1-two-columns-wrap {
    list-style: none;
    columns: 2;
    column-gap: 2em;
    -moz-columns: 2;
    -moz-column-gap: 2em;
    -webkit-columns: 2;
    -webkit-column-gap: 2em;
}

.infoblock__page1-row-of-scanners-bottom {
    overflow: hidden;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 1%;
}

.infoblock .infoblock__page1-row-of-scanners-bottom img {
    float: left;
    width: 18%;
    margin-left: 2%;
}

.infoblock .infoblock__page1-bottom-text {
    text-align: center;
    font-style: italic;
    padding: 10px 0;
}

.infoblock__central-image {
    margin-top: -5%;
}

.infoblock .kic_software_smart_doc_photo2 {
    width: 35%;
    margin-left: 30%;
    padding-left: 15px;
}

.infoblock .brochure-overflow {
    overflow: hidden;
    position: relative;
}

.custom__aline .custom__aline--text {
    width: 90%;
    margin: 0 auto;
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: center;
}

.infoblock .img-preview {
    width: 50%;
}

.infoblock__double {
    width: 50%;
    float: left;
    overflow: hidden;
}

.infoblock__double__content {
    overflow: hidden;
    padding: 10px 10px 10px 0;
    background: #D0E6FC;
    margin: 5px;
    border-radius: 10px;
}

.infoblock__double__content1 {
    overflow: hidden;
    padding: 10px 10px 10px 0;
    margin: 5px;
    border-radius: 10px;
}

.in-case-strong {
    font-size: 3.8rem;
    line-height: 4rem;
    padding: 0;
}

.in-case-span {
    text-align: right;
    font-size: 2rem;
    line-height: 2.2rem;
}

.big-tel {
    margin-top: -50px;
}

.infoblock__double__content__double {
    width: 50%;
    float: left;
    text-align: center;
}

.infoblock .in-case-enhance {
    width: 70%;
    height: 70%;
    margin: 0 auto;
    display: block;
}

.infoblock .in-case-enhance--left {
    float: left;
    width: 60%;
    height: 60%;
    margin: 0 15px 15px 2%;
    display: block;
}

.infoblock__double__content__double p {
    padding: 24px 0;
}

.in-case-p--italic {
    padding: 10px;
    font-style: italic;
    display: inline-block;
}

.infoblock .left-text {
    padding: 0 10px;
}

.infoblock .left-text p {
    padding: 0;
}

.infoblock .in-case-enhance--right {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: block;
}

.infoblock .in-case-scan-artwork {
    height: 180px;
    width: auto;
    margin: 0 auto;
    display: block;
}

.infoblock .in-case-scan-map {
    height: 155px;
    width: auto;
    margin: 0 auto;
    display: block;
}

.infoblock span {
    padding-bottom: 5px;
    display: block;
}

.infoblock ul li {
    line-height: 2.4rem;
}

.infoblock ul {
    padding: 0 0 0 24px;
    list-style: disc;
}

img {
    border-style: none;
}

.infoblock ul.blue-bullet li {
    position: relative;
    list-style: none;
}

.infoblock ul.blue-bullet li:before {
    content: '';
    position: absolute;
    top: 4px;
    left: -23px;
    background: url("../images/BlueBullet.png") no-repeat;
    background-size: 16px;
    width: 16px;
    height: 16px;
}

.infoblock ul.green-bullet li:before {
    content: '';
    position: absolute;
    top: 4px;
    left: -23px;
    background: url("../images/GreenBullet.png") no-repeat;
    background-size: 16px;
    width: 16px;
    height: 16px;
}

.infoblock p {
    text-align: left;
}

div.infoblock span {
    display: inline;
}

.infoblock {
    font-size: 1.6rem;
    position: relative;
}

.infoblock span {
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.infoblock strong {
    padding: 0;
}

.bscan-ill--h2 {
    font-size: 2.4rem;
    color: #000;
    padding: 10px 0 10px 0;
    line-height: 2.6rem;
    margin: 0;
    font-weight: bold;
}

.seven-step:after {
    content: 'VS';
    position: absolute;
    color: #fff;
    font-size: 4rem;
    background: #000;
    border-radius: 50%;
    bottom: -35px;
    right: 50%;
    padding: 20px 30px;
    margin: 0 -30px;
    z-index: 1;
}

.blue-doth li:before {
    position: absolute;
    content: '';
    background: #3052ad;
    top: 4px;
    left: -20px;
    width: 14px;
    height: 14px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    box-shadow: inset 0 3px 6px #fff;
}

h3 {
    font-size: 3rem;
    color: #000;
    text-align: center;
}

.infoblock__center--text {
    text-align: center;
}

.kic-product {
    text-align: right;
}

.kic-product__row {
    text-align: center;
    vertical-align: top;
    display: inline-block;
    width: calc(100% / 6);
}

.kic-product .row__title {
    text-align: center;
    font-size: 1.3rem;
}

.row__column {
    padding: 10px 5px 5px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 6px #000;
    min-height: 500px;
}

.row__column .column__mini-title {
    font-size: 1.1rem;
    margin-top: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    line-height: 1.3rem;
    padding: 0;
}

.table {
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
}

.table th {
    width: 6%;
    height: auto;
    margin: 0;
    text-align: center;
    padding-bottom: 5px;
}

.table p {
    text-align: center;
}

.table-bg {
    background: rgba(0, 0, 0, 0.1);
}

.table .table--ta-left {
    text-align: right;
    font-size: 1.2rem;
    padding-right: 20px;
}

th .table--img {
    width: 100px;
    height: 70%;
}

.cicle {
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 1px solid #4a504e;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.green-cicle {
    background: #40b149;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 1px solid #4a504e;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.green-cicle--after {
    position: relative;

}

.green-cicle--after:after {
    position: absolute;
    content: '';
    background: #fff;
    border-radius: 11px 11px 0 0;
    -moz-border-radius: 11px 11px 0 0;
    -webkit-border-radius: 11px 11px 0 0;
    border: 1px solid #4a504e;
    width: 18px;
    height: 8px;
    top: -1px;
    left: -1px;
}

.green-cicle--after-big {
    position: relative;
}

.green-cicle--after-big:after {
    position: absolute;
    content: '';
    background: #fff;
    border-radius: 11px 11px 0 0;
    -moz-border-radius: 11px 11px 0 0;
    -webkit-border-radius: 11px 11px 5px 5px;
    border: 1px solid #4a504e;
    width: 18px;
    height: 13px;
    top: -1px;
    left: -1px;
}

.green-cicle--after-small:after {
    position: absolute;
    content: '';
    background: #fff;
    border-radius: 11px 11px 0 0;
    -moz-border-radius: 11px 11px 0 0;
    -webkit-border-radius: 11px 11px 0 0;
    border: 1px solid #4a504e;
    width: 14px;
    height: 4px;
    top: -1px;
    left: 1px;
}

.bold-line {
    font-size: 3.3rem;
}

.table__arow {
    position: relative;
}

.table__arow:before {
    content: '';
    position: absolute;
    background: url("../images/brochure-pictures/Arrow.png") no-repeat;
    left: 7px;
    top: -18px;
    width: 64px;
    height: 100%;
    background-size: contain;
}

.dollar-size-mini {
    font-size: 1.2rem;
}

.dollar-size-midle {
    font-size: 2rem;
}

.dollar-size-subheight {
    font-size: 24px;
}

.dollar-size-height {
    font-size: 2.8rem;
}

.tabl-star {
    margin: 3px 22px;
    font-size: 1.1rem !important;
    vertical-align: text-top;
    color: #e8383b;
}

.tabl-star-mini {
    margin-left: 20px;
    font-size: 1.4rem;
    vertical-align: text-top;
    color: #000;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.first-column {
    width: 200px;
    text-align: right;
    padding-right: 10px;
}

.table__footer {
    font-size: 1.2rem;
}

.line__persent1:after {
    content: '1% Libraries';
    position: absolute;
    top: 25px;
    right: -74px;
    width: 78px;
    text-align: center;
}

.line__persent4:before {
    content: '4% Businesses';
    position: absolute;
    left: -58px;
    bottom: 41px;
    width: 99px;
    text-align: center;
}

.reservation__h2 {
    color: #000;
    font-size: 2.6rem;
    margin: 0;
    padding-bottom: 10px;
}

.reservation__text {
    text-align: left;
    width: 49%;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    font-size: 1.6rem;
}

.reservation__text-img {
    margin: 0 auto;
}

.infoblock .text-img__touch {
    text-align: center;
    width: 31%;
    display: inline-block;
    font-size: 1.6rem;
    padding: 0 5px;
}

.img__touch--after {
    position: relative;
}

.reservation__two-tel {
    padding-top: 60px;
    position: relative;
}

#scan-diagram {
    float: right;
    width: 40%;
}

#copy-diagram {
    float: left;
    width: 30%;
}

#fax-diagram {
    float: right;
    width: 30%;
}

.infoblock .text4 {

}

.column__number1:before {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -70px;
    width: 70px;
    height: 70px;
    background-size: contain;
}

.infoblock .scanner_600 {
    width: 70%;
    margin: 0 auto;
    display: block;
}

.infoblock .text6 {
    font-style: italic;
    font-weight: 300;

    margin-left: -2%;
    text-align: center;
}

.infoblock .text5 {
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    line-height: 3.2rem;
}

.infoblock .two_newspapers {
    width: 70%;
    margin: 0 auto;
    display: block;
}

.infoblock .block1 {
    width: 50%;
    float: left;
    padding: 10px;
}

.brochure-overflow {
    position: relative;
    padding: 10px 15px;
}

.brochure-overflow:after {
    content: '';
    display: table;
    clear: both;
}

.infoblock__double-wrap {
    overflow: hidden;
}

.infoblock__double__content {
    padding: 5px 10px;
    overflow: hidden;
    text-align: center;
    min-height: 237px;
}

.double-wrap__column {
    float: left;
    width: 48%;
}

.infoblock__double-wrap figure {
    width: 50%;
    float: left;
    margin: 0;
}

.infoblock__double-wrap figure img, .infoblock .diagram {
    width: 80%;
    height: 80%;
    display: block;
    margin: 0 auto;
}

.infoblock__double-wrap figure figcaption {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.infoblock .infoblock__double__double-p {
    width: 50%;
    float: left;
}

.infoblock .bookeye-vs-copiers__span {
    font-weight: normal;
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.infoblock .bookeye-vs-copiers__strong {
    text-align: center;
    display: block;
    font-size: 2.2rem;
    line-height: 2.4rem;
}

.double-content__text-and-picture-wrapper {
    overflow: hidden;
}

.column__bookeye-scans {
    width: 90%;
    margin-left: 5%;
}

.infoblock .rainbow-text {

    background: #ff0000;
    background: -moz-linear-gradient(left, #ff0000 0%, #ff00ff 16%, #0000ff 33%, #00ffff 50%, #00ff00 67%, #ffff00 83%, #ff0004 100%, #ff0000 100%);
    background: -webkit-linear-gradient(left, #ff0000 0%, #ff00ff 16%, #0000ff 33%, #00ffff 50%, #00ff00 67%, #ffff00 83%, #ff0004 100%, #ff0000 100%);
    background: linear-gradient(to right, #ff0000 0%, #ff00ff 16%, #0000ff 33%, #00ffff 50%, #00ff00 67%, #ffff00 83%, #ff0004 100%, #ff0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#ff0000', GradientType=1);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    font-size: 2.6rem;
    line-height: 2.8rem;
}

@media all and (max-width: 1870px) {
    .for-study-p {
        margin-top: 0;
    }
}

@media all and (max-width: 1770px) {
    .infoblock .label_smart {
        position: relative;
    }

    .infoblock .label_smart2 {
        position: relative;
    }
}

@media all and (max-width: 1600px) {
    html {
        font-size: 55%;
    }

    .infoblock .click_click_mini {

    }

    .smart-dock__tree-img {
        width: 100%;
        position: initial;
    }

    .tree-img__inline {
        width: 32%;
    }

    .tree-img__inline--min-width {
        width: 28%;
    }

    .infoblock .center__text--padding {
        padding-top: 0;
        position: relative;
        width: 100%;
    }

    .infoblock__bottom li {
        width: 30%;
    }

    .infoblock .label_smart13 {
        margin-top: -23%;
    }

    .row__column {
        min-height: 450px;
    }

    .infoblock .label_smart11 {
        margin-left: 34%;
        font-size: 1.2rem;
    }

    .infoblock .label_smart13 {
        font-size: 1.2rem;
    }

    .infoblock .label_smart12 {
        font-size: 1.2rem;
    }

    .infoblock .label3 {
        padding-top: 4%;
    }

    .infoblock .kic_div .true2_save_to_usb {
        margin-top: 28%;
    }

    .infoblock__double {
        width: 100%;
    }

    .infoblock .in-case-enhance {
        width: 44%;
    }

    .infoblock .label_smart2 {
        width: 50%;
        top: 0;
    }

    .in-case-strong {
        font-size: 2.8rem;
    }

    .infoblock .in-case-enhance--left {
        width: 50%;
    }

    .for-study-p {
        width: 35%;
    }
}

.infoblock__left-block {
    float: left;
    width: 50%;
}

.infoblock .infoblock__right-img {
    float: right;
    width: 30%;
    padding-left: 2%;
}

.infoblock .infoblock__right-images {
    width: 30%;
}

.infoblock .kic_software_hybrid_libraru_label_singleton {
    width: 45%;
}

.infoblock .kic_software_label_label_big_left {
    color: #000;
    font-size: 3.6rem;
    line-height: 3.8rem;
    text-align: left;
    padding: 14px 0 10px;
}

.infoblock .kic_software_label_italic {
    font-size: 2.3rem;
    line-height: 2.5rem;
    display: block;
    font-style: italic;
    text-align: center;
    padding-bottom: 20px;
    margin-top: -15px;
}

.infoblock__block .infoblock__number {
    width: auto;
    float: left;
}

.infoblock .infoblock__img {
    width: 55%;
}

#infoblock__man_pdf {
    width: 100%;
    padding-left: 5%;
    padding-top: 30px;
    position: relative;
}

.infoblock__text-block-2 {
    float: right;
    width: 45%;
    padding-left: 5%;
    padding-bottom: 5%;
}

.infoblock__block-1 {
    float: left;
    width: 70%;
}

div .infoblock__block {
    padding-top: 0;
    width: 49%;
}

.infoblock .infoblock__true-2-touch {
    float: left;
    width: 15%;
    padding: 0 10px 10px 0;
}

.infoblock .infoblock__ul {
    list-style-image: url("../images/BlueBullet.png");
}

.infoblock .infoblock__scanner-other {
    float: right;
    margin-right: 10%;
    width: 25%;
}

.infoblock .infoblock__div_arrow-devices {
    width: 56%;
    float: right;
    height: 56%;
}

.infoblock .infoblock__text-block {
    width: 50%;
    float: right;
    margin-bottom: 5%;
}

.infoblock .infoblock__scanner {
    margin-left: 0;
    float: left;
}

.infoblock .kostil__with_image {
    margin-top: -310px;
}

div .infoblock__homo-scanner {
    float: left;
    width: 60%;
    height: 60%;
    margin-right: 80px;

}

.infoblock .fix_size_homo-scanner {
    width: 37%;
    height: auto;
}

.infoblock .kic_software__li_image_small {
    width: 30%;
    padding-left: 10rem;
}

.infoblock .kic_software__kic_textblock__fix {
    padding-bottom: 5px;
    width: 37%;
    text-align: left;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.6rem;
}

.infoblock .brochure-title-kic-software__blue_label {
    text-align: center;
    color: #8ca1c9;
    font-size: 2.8rem;
    line-height: 3rem;
    text-transform: uppercase;
    padding: 0;
}

span.arrow-brochure {
    margin-left: -14px;
}

div .infoblock__homo {
    font-style: italic;
}

.infoblock .block1 {
    width: 50%;
    float: left;
    padding: 10px;
}

.infoblock .infoblock__arrow-devices {
    width: 80%;
    float: right;
    height: 80%;
    z-index: 2000;
    position: relative;
}

.infoblock .infoblock__text-block2 {
    float: right;
    position: relative;
    width: 70%;
    z-index: 2000;
}

.infoblock .infoblock__text-block {
    width: 50%;
    float: left;
    margin-bottom: 5%;
}

.kit-fleet-paragraph {
    width: 50%;
    position: absolute;
}

.infoblock .kic_software_label_middle_size {
    font-size: 2.4rem;
    line-height: 2.6rem;
}

.infoblock .kic_software_label_middle_size_left {
    margin-top: 0;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.6rem;
}

.infoblock .infoblock__right-images-clients {
    width: 25%;
    padding: 20px 0 0 80px;
    box-sizing: content-box;
}

.infoblock .infoblock__map-planet {
    width: 35%;
    float: right;
    margin: -150px 30px 0 0;
}

.infoblock .kic_product_family_littleblock {
    width: 58%;
    float: left;
}

.table-bg {
    background: rgba(0, 0, 0, 0.1);
}

.infoblock .brochure-subtitle-center {
    color: #000;
    font-weight: bold;
    text-align: center;
    font-size: 2.4rem;
    line-height: 2.6rem;
    padding: 0 0 10px 0;
    display: block;

}

@media all and (max-width: 1400px) and (min-width: 1199px) {
    .infoblock .media_fix_for1366 {
        margin-top: 0;
    }

    .responsible_fix {
        width: 100%;
        display: inline-block;
    }

    .infoblock h3 {
        font-size: 1.8rem;
    }

    .infoblock .two-tel__text-top__kic-softwate {
        position: absolute;
        top: 31px;
        right: 0;
        width: 46%;
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.8rem;
        font-style: italic;
    }

    .infoblock .kic_software__kic_textblock__fix {
        padding-bottom: 5px;
        width: 52%;
        text-align: left;
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 1.6rem;
    }

    .infoblock .kostil__with_image {
        margin-top: -250px;
    }

    .infoblock .infoblock__right-images {
        width: 50%;
    }

    .infoblock .infoblock__right-images-clients {
        width: 50%;
        float: right;
        margin-top: 10%;
    }

    .infoblock .infoblock__map-planet {
        width: 42%;
        float: right;
        margin-top: -20%;
    }

    .infoblock .kic_software_hybrid_libraru_label_singleton {
        width: 60%;
    }

    .infoblock .responsible_fix_block_text {
        width: 45%;
        float: right;
    }
}

@media all and (max-width: 1158px) and (min-width: 991px) {
    .responsible_fix {
        width: 100%;
        display: inline-block;
    }

    .infoblock .kic_software__kic_textblock__fix {
        padding-bottom: 5px;
        width: 100%;
        text-align: left;
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 1.6rem;
    }

    .infoblock .responsible_fix_block_text {
        width: 45%;
        float: right;
    }
}

.infoblock span {
    padding-bottom: 5px;
    display: block;
}

.infoblock ul li {
    line-height: 2.4rem;
}

.infoblock ul {
    padding: 0 0 0 24px;
    list-style: disc;
}

.infoblock ul.blue-bullet li {
    position: relative;
    list-style: none;
}

.infoblock ul.green-bullet li {
    position: relative;
    list-style: none;
}

.infoblock ul.blue-bullet li:before {
    content: '';
    position: absolute;
    top: 4px;
    left: -23px;
    background: url("../images/BlueBullet.png") no-repeat;
    background-size: 16px;
    width: 20px;
    height: 21px;
}

.infoblock .brochure-title-left {
    color: #000;
    font-size: 3.6rem;
    line-height: 3.8rem;
    text-align: left;
    padding: 14px 0 10px;
}

.content .infoblock {
    margin: 2px 0 0;
    padding: 20px;
    width: 75%;
    text-align: left;
    float: left;
    word-wrap: break-word;
    border-left: 2px solid #E3E6DB;
}

#scan-diagram {
    float: right;
    width: 40%;
}

#copy-diagram {
    float: left;
    width: 30%;
}

#fax-diagram {
    float: right;
    width: 30%;
}

#dollar-and-card {
    float: left;
    width: 55%;
}

#copy-card-and-cash-header {
    text-align: center;
}

.infoblock .columnKIC_Bookeye_4 {
    float: left;
    padding-left: 9px;
    padding-right: 9px;
    width: 50%;
}

.wrap-text .hand-yellow-coin {
    float: left;
    width: 30%;
    padding: 5px 10px 0 0;
}

.block_text2 {
    padding-top: 15px;
    width: 80%;
}

.infoblock__page-5__seven-step {
    text-align: center;
    position: relative;
}

.infoblock__page-5__seven-step:after {
    content: 'VS';
    position: absolute;
    color: #fff;
    font-size: 200%;
    background: #000;
    border-radius: 100%;
    bottom: -9%;
    right: 50%;
    padding: 1% 4%;
    margin: 0 -3%;
    z-index: 1;
}

.infoblock__page-5__two-step--inline {
    padding: 0 4px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.infoblock__page-5__two-step--w1 {
    width: 14%;
}

.infoblock__page-5__two-step--w2 {
    width: 35%;
}

.infoblock__page-5__two-step--w3 {
    width: 49%;
    padding-top: 50px;
}

.infoblock .infoblock__page-5__text-block {
    float: right;
    width: 50%;
    margin-left: 5%;
}

.infoblock .infoblock__page-5__block-header-3 {
    color: #000;
    font-size: 3.3rem;
    line-height: 3.5rem;
    margin-top: 0;
    float: left;
    font-weight: bold;
    margin-left: 15%;
}

div .infoblock__page-5__block-p {
    float: left;
    margin-top: 1%;
    margin-left: 3%;
}

.infoblock .infoblock__page-5__seven-step--border {
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    min-height: 270px;
}

.infoblock .infoblock__page-5__two-step {
    text-align: center;
    position: relative;
    margin-top: 10px;
}

.infoblock__page-5__two-step:before {
    content: '';
    position: absolute;
    background: url("../images/brochure-pictures/FaceUp.png") no-repeat;
    width: 10%;
    top: 0;
    right: 0;
    background-size: contain;
    height: 15%;
}

.infoblock .infoblock__page-5__margin-text1 {
    margin-left: 7%;
}

div .infoblock__page-7__text-right2 {
    width: 60%;
    margin-top: 8%;
    margin-bottom: 10%;
    text-align: right;
    font-style: italic;
    margin-left: 1%;
}

span.kic_software_label_italic.--move {
    padding-top: 10px;
}

.reservation__text-img.img__touch--after:after {
    position: absolute;
    content: '';
    background: url("../images/brochure-pictures/arrows.png") no-repeat;
    bottom: -120px;
    left: 35px;
    background-size: contain;
    width: 100%;
    height: 130px;
}

p.two-tel__text-top__kic-softwate {
    float: right;
    width: 40%;
    font-style: italic;
}

div .infoblock__page-7__text-right {
    width: 70%;
    margin-top: -278px;
    text-align: right;
    font-style: italic;
}

.infoblock .infoblock__page-7__seven-step--border {
    padding: 20px;
    border: 2px solid #000;
    border-radius: 1rem;
}

div .infoblock__page-7_photo {
    float: right;
    width: 60%;
    padding-bottom: 20px;
}

div .infoblock__page-7__block-header {
    color: #000;
    font-size: 3.6rem;
    line-height: 3.8rem;
    margin: 0;
    font-weight: bold;
}

div .infoblock__page-7__text-block1 {
    font: 1.4rem "Arial", Helvetica, Arial, Verdana, sans-serif;
    text-align: center;
    font-size: 2.5rem;
    font-weight: normal;
    font-style: italic;
    line-height: 2.7rem;
}

div .infoblock__page-7__block-left {
    float: left;
    width: 30%;
    margin-right: 5%;
}

.infoblock .infoblock__page-7__header-3 {
    font-style: italic;
    text-align: center;
    width: 50%;
    font-size: 1.8rem;
    margin-left: 25%;
}

.infoblock .infoblock__page-7__devices {
    float: right;
    width: 45%;
    margin-right: 7%;
}

.infoblock .infoblock__page-7__scanner-bookeye-4-new {
    width: 90%;
    margin-left: 2%;
    margin-top: -20%;
}

.infoblock .infoblock__page-7__text-block-devices {
    float: right;
    width: 39%;
    margin-top: -40%;
    margin-right: 2%;
    margin-left: 10%;
    font-size: 1.4rem;
}

.infoblock__page-7__margin-top {
    margin-top: -17%;
}

.infoblock .infoblock__page-7__text-block-scanner {
    float: right;
    margin-right: 14%;
    width: 23%;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.infoblock .infoblock__page-7__margin-top {
    margin-top: 5%;
    background: linear-gradient(to bottom, #97a29c, #e2e3e5);
}

.infoblock__page-9__top {
    overflow: hidden;
    padding-bottom: 15px;
}

.infoblock .infoblock__page-9__top__logo {
    max-width: 340px;
    float: left;
}

.infoblock__page-9 ul.blue-bullet li:first-child:before {
    background: transparent !important;
}

.infoblock__page-9__center {
    overflow: hidden;
    margin-top: -80px;
}

.infoblock .infoblock__page-9__center__img {
    float: right;
    width: 65%;
    padding-left: 20px;
}

.infoblock__page-9__center__text--padding {
    padding-top: 90px;
    position: relative;
}

.infoblock__page-9__center__text--margin {
    padding-top: 9%;
    position: absolute;
    width: 37%;
}

.infoblock__page-9__nav {
    padding-top: 20px;
    overflow: hidden;
}

.infoblock .infoblock__page-9__nav__li {
    float: left;
    width: 38%;
}

.infoblock .infoblock__page-9__nav__img {
    float: left;
    width: 60%;
}

.infoblock__page-9__nav__li li:first-child {
    list-style: none;
}

.infoblock__page-9__nav__li--margin {
    margin-left: 20px;
}

.infoblock .infoblock__page-9__bottom {
    text-align: justify;
    padding: 0;
    margin: 0;
}

.infoblock__page-9__bottom li {
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 32%;
}

.infoblock__page-9__bottom li p {
    text-align: center;
}

.infoblock .library__img {
    width: 51%;
}

.custom__aline {
    text-align: center;
    padding-bottom: 20px;
}

.custom__aline--pt {
    padding-bottom: 10px;
}

.custom__aline--text {
    width: 90%;
    margin: 0 auto;
    font-size: 1.6rem;
    line-height: 1.8rem;
}

.infoblock .img-preview {
    width: 50%;
}

.frame--text {
    text-align: justify;
    padding: 10px 20px;
}

.pod__library {
    text-align: center;
    padding: 12px;
}

h2.pod-text {
    font-size: 2.6rem;
    color: #000;
    padding: 0;
    line-height: 2.8rem;
    margin: 0;
}

.content__pod {
    display: inline-block;
    overflow: hidden;
}

.pbd--frame {
    width: 49%;
    float: left;
    text-align: center;
}

.infoblock__page-12__double-wrap figure img, .infoblock .diagram {
    width: 80%;
    height: 80%;
    display: block;
    margin: 0 auto;
}

.infoblock p {
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.cicle {
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 1px solid #4a504e;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.green-cicle {
    background: #40b149;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 1px solid #4a504e;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.green-cicle--after {
    position: relative;

}

.green-cicle--after:after {
    position: absolute;
    content: '';
    background: #fff;
    border-radius: 11px 11px 0 0;
    -moz-border-radius: 11px 11px 0 0;
    -webkit-border-radius: 11px 11px 0 0;
    border: 1px solid #4a504e;
    width: 18px;
    height: 8px;
    top: -1px;
    left: -1px;
}

.green-cicle--after-big {
    position: relative;
}

.green-cicle--after-big:after {
    position: absolute;
    content: '';
    background: #fff;
    border-radius: 11px 11px 0 0;
    -moz-border-radius: 11px 11px 0 0;
    -webkit-border-radius: 11px 11px 0 0;
    border: 1px solid #4a504e;
    width: 18px;
    height: 8px;
    top: -1px;
    left: -1px;
}

.green-cicle--after-small {
    position: relative;
}

.green-cicle--after-small:after {
    position: absolute;
    content: '';
    background: #fff;
    border-radius: 11px 11px 0 0;
    -moz-border-radius: 11px 11px 0 0;
    -webkit-border-radius: 11px 11px 0 0;
    border: 1px solid #4a504e;
    width: 14px;
    height: 4px;
    top: -1px;
    left: 1px;
}

.tabl-star {
    margin-left: 20px;
    font-size: 1.3rem;
    line-height: 1.5rem;
    vertical-align: text-top;
    color: #e8383b;
}

tr th {
    padding: 0 0 0 0;
}

table.table__footer td {
    padding: 5px;
}

@media all and (max-width: 1740px) and (min-width: 1511px) {
    .infoblock__page-9__center__text--margin {
        padding-top: 3%;
    }

    p.infoblock__page-5__block-p.--replace {
        margin-right: -130px;
    }

    .infoblock .kic_software_label_label_big_left {
        font-size: 3.3rem;
        line-height: 3.5rem;
    }
}

@media all and (max-width: 1600px) and (min-width: 1401px) {
    .infoblock__page-14__row__column {

        min-height: 540px;
    }
}

@media all and (max-width: 1510px) {
    .infoblock__page-9__center__text--padding {
        padding-top: 70px;

    }

    .infoblock__page-9__center__text--margin {
        padding-top: 0;
    }
}

@media all and (max-width: 1710px) and (min-width: 1530px) {
    .infoblock .infoblock__page-6__text-block {

        margin-bottom: 10%;
    }
}

@media all and (max-width: 1529px) and (min-width: 1401px) {
    .infoblock .infoblock__page-6__text-block {
        margin-bottom: 20%;
    }
}

@media all and (max-width: 1550px) and (min-width: 1320px) {
    .infoblock .infoblock__page-7__text-block-devices {

        width: 35%;

    }
}

@media all and (max-width: 1586px)  and (min-width: 1420px) {
    .infoblock__page-1 .infoblock__page-1__header_2 {

        margin-top: 9px;
        margin-right: 15%;

    }
}

@media all and (max-width: 1489px) and (min-width: 1401px) {
    .infoblock__page-5 .infoblock__page-5__margin-text {
        margin-right: 54%;
    }
}

@media all and (max-width: 1450px) {
    .infoblock .infoblock__page-1__h3__p p {
        font-size: 1.5rem;
    }
}

@media all and (max-width: 1420px) and (min-width: 1285px) {
    .infoblock__page-1 .infoblock__page-1__header_2 {
        margin-right: 10%;
        margin-top: 10px
    }
}

@media all and (max-width: 1400px) and (min-width: 1200px) {
    .infoblock__page-11__for-study-p {
        width: 33%;
        margin-right: 3%;
        margin-top: 0;
    }

    div .infoblock__page-3__block_text23 {
        margin-top: 9%;
    }

    .infoblock ul.blue-bullet li {

        font-size: 1.4rem;
    }

    .infoblock ul li {
        line-height: 2.1rem;
    }

    .infoblock div .infoblock__page-1__h2__p p {
        font-size: 1.5rem;
    }

    .infoblock .infoblock__page-1__h3__p h3 {
        font-size: 1.4rem;
    }

    .infoblock .infoblock__page-1__h3__p p {
        font-size: 1rem;
    }

    .infoblock .infoblock__page-3__img {
        width: 100%;
    }

    div .infoblock__page-3__diagram {
        width: 48%;
        margin-top: 20%;
        margin-left: 2%;
    }

    .infoblock__page-3__block-3 {
        bottom: 10%;
    }

    .infoblock__page-3 .small-brochure-title-center {
        color: #000;
        font-size: 3.3rem;
        text-align: center;
        padding-bottom: 0;
    }

    .infoblock .infoblock__page-6__block-header1 {

        width: 49%;
    }

    .infoblock .infoblock__page-6__text-block {
        margin-bottom: 8%;
        margin-top: 5%;
    }

    .infoblock .infoblock__page-7__text-block-devices {
        width: 39%;
        margin-top: -42%;
        margin-right: 2%;
        margin-left: 10%;
        font-size: 1.4rem;
    }

    .infoblock .infoblock__page-7__margin-top {
        margin-top: 10%;
    }

    .infoblock .infoblock__page-9__nav__img {
        float: left;
        width: 60%;
        margin-right: 10px;
    }

    .infoblock .infoblock__page-9__center__img {
        float: right;
        width: 55%;
        padding-left: 20px;
        padding-top: 9%;
    }

    .infoblock__page-9__center__text--margin {
        padding-top: 5%;
        width: 42%;

    }

    .infoblock__page-12__double__content {
        padding: 5px 10px;
    }

    .infoblock__page-12__double__content-1 {
        padding: 5px 10px;
        overflow: inherit;
    }

    .infoblock .infoblock__page-13__map-planet {
        right: 0;
        bottom: -210%;
    }

    .infoblock__page-14__row__column {
        min-height: 490px;
    }
}

@media all and (max-width: 1320px) {
    .infoblock .infoblock__page-7__text-block-devices {
        width: 35%;

        font-size: 1.2rem;
    }
}

@media all and (max-width: 1366px) {
    .pbd--frame img {
        width: 50%;
    }

    h2.pod-text {
        font-size: 2.2rem;
    }
}

@media all and (max-width: 1350px) {
    div .infoblock__page-4__homo-text {
        margin-top: 2%;
        width: 28%;
        margin-left: 10%;
    }

    .infoblock .infoblock__page-5__margin-text {
        margin-right: 46%;
    }
}

@media all and (max-width: 1536px) and (min-width: 1401px) {
}

@media all and (max-width: 1337px) and (min-width: 1200px) {
    .infoblock div .infoblock__page-1__h2__p h2 {
        font-size: 2.1rem;

    }

    .infoblock div .infoblock__page-1__h2__p p {
        font-size: 1.4rem;
    }

    .infoblock .infoblock__page-9__nav__img {

        margin-top: 50px;
    }

}

@media all and (max-width: 1337px) and (min-width: 1300px) {
    .infoblock__page-9__center__text--margin {
        padding-top: 2%;
    }
}

@media all and (max-width: 1300px) and (min-width: 1200px) {
    .infoblock .infoblock__page-6__text-block {
        margin-bottom: 10%;
        margin-top: 15%;
    }

    .infoblock__page-9__center__text--margin {
        width: 44%;
    }

    .infoblock .infoblock__page-9__center__img {
        width: 50%;
    }

    .infoblock__page-11__for-study-p {
        width: 33%;
        margin-right: 3%;
        margin-top: 0;
    }

    .infoblock__page-9__nav {
        padding-top: 6%;
    }

    div .infoblock__page-3__block_text23 {
        margin-top: 0;
    }
}

@media all and (max-width: 1270px) and (min-width: 1200px) {
    .infoblock__page-9__center__text--margin {
        padding-top: 1%;
        width: 42%;
    }
}

@media all and (max-width: 1285px) {
    .infoblock__page-1 .infoblock__page-1__header_2 {
        margin-right: 5%;
        margin-top: 9px;
    }
}

@media all and (max-width: 1200px) and (min-width: 992px) {
    .width-td {
        width: 4.5%;
    }

    .infoblock .infoblock__page-1 .infoblock__page-1_relative-block .infoblock__page-1__h2__p h2 {
        font-size: 1.7rem;
        padding: 0;
    }

    .infoblock ul li {
        line-height: 1.7rem;
    }

    .infoblock .infoblock__page-6__text-block2 {
        font-size: 1.2rem;
    }

    .infoblock .infoblock__page-6__text-block {
        margin-bottom: 4%;
        margin-top: 10%;
    }

    .infoblock__page-6 .infoblock__page-6__text-block1 {
        font-size: 1.5rem;
        padding-bottom: 0;
    }

    .infoblock ul li {
        line-height: 1.9rem;
    }

    div .infoblock__page-3__diagram {
        margin-top: 15%;
    }

    .infoblock div .infoblock__page-1__h2__p p {
        font-size: 1.1rem;
    }

    .infoblock .infoblock__page-1__h3__p h3 {
        font-size: 1rem;
        color: #000000;
    }

    .infoblock .infoblock__page-1__h3__p p {
        font-size: 0.8rem;
    }

    .infoblock .infoblock__page-3__img {
        width: 100%;
    }

    div .infoblock__page-3__diagram {
        width: 48%;
        margin-top: 45%;
        margin-left: 2%;
    }

    .infoblock__page-3 .small-brochure-title-center {
        font-size: 3.3rem;
        padding-bottom: 0;
    }
}

@media all and (max-width: 1178px) {
    .text-vertical-bold {
        font-size: 3.3rem;
        line-height: 3.5rem;
        margin-top: 6%;
    }
}

@media all and (max-width: 1125px) and (min-width: 1024px) {
    div .infoblock__page-4__homo-text {
        margin-top: 2%;
        width: 28%;
        margin-left: 10%;
    }
}

@media all and (max-width: 1100px) and (min-width: 992px) {
    .infoblock .kostil__with_image {
        margin-top: -240px;
    }

    .infoblock .infoblock__page-7__text-block-scanner {
        float: right;
        margin-right: 14%;
        width: 28%;
        font-size: 1.4rem;
    }

    div .infoblock__page-3__diagram {
        margin-top: 20%;

    }

    .infoblock .infoblock__page-5__margin-text {
        margin-right: 46%;
    }

    .infoblock__page-9__center__text--margin {
        padding-top: 4%;

    }

    .infoblock .infoblock__page-9__center__img {
        width: 65%;
        margin-top: 10%;
    }

    .infoblock__page-11__for-study-p {
        width: 33%;
        margin-right: 3%;
        margin-top: 0;
    }

    .infoblock__page-12__double__content-1 {
        overflow: initial;
    }

    .infoblock .infoblock__page-13__map-planet {
        bottom: -209%;
    }

    .infoblock__page-14__row__column {
        min-height: 490px;
    }

    .infoblock .infoblock__page-7__margin-top {
        margin-top: 8%;
    }

    .infoblock .infoblock__page-6__text-block {
        margin-bottom: 14%;
    }

    .infoblock .infoblock__page-5__margin-text {
        margin-right: 46%;
    }
}

@media all and (max-width: 1050px) {
    .infoblock .infoblock__page-6__text-block {
        margin-bottom: 20%;
    }

    .infoblock .infoblock__page-9__nav__img {

        margin-top: 30px;
    }
}

@media all and (max-width: 991px) and (min-width: 768px) {
    .infoblock div .infoblock__page-1__h2__p h2 {
        font-size: 1.4rem;
        color: #000000;
        padding: 0;
    }

    .infoblock div .infoblock__page-1__h2__p p {
        text-align: center;
        font-size: 1rem;
    }

    .infoblock .infoblock__page-1__h3__p h3 {
        font-size: 0.9rem;
        color: #000000;
    }

    .infoblock .infoblock__page-1__h3__p p {
        font-size: 0.7rem;
    }

    .infoblock .infoblock__page-3__img {
        width: 100%;
    }

    div .infoblock__page-3__diagram {
        width: 48%;
        float: left;
        margin-top: 60%;
        margin-left: 2%;
    }

    .infoblock__page-3__block-3 {
        position: absolute;
        bottom: 35%;
    }

    .infoblock__page-3 .small-brochure-title-center {
        color: #000;
        font-size: 3.3rem;
        text-align: center;
        padding-bottom: 0;
    }
}

@media all and (max-width: 767px) {
    .infoblock div .infoblock__page-1__h2__p h2 {
        font-size: 1.5rem;
        color: #000;
        padding: 0;
    }

    .infoblock div .infoblock__page-1__h2__p p {
        text-align: center;
        font-size: 1rem;
    }

    .infoblock .infoblock__page-1__h3__p h3 {
        font-size: 1rem;
        color: #000000;
    }

    .infoblock .infoblock__page-1__h3__p p {
        font-size: 0.7rem;
    }

    .infoblock .infoblock__page-3__img {
        width: 100%;
    }

    div .infoblock__page-3__diagram {
        width: 48%;
        float: left;
        margin-top: 60%;
        margin-left: 2%;
    }

    .infoblock__page-3__block-3 {
        position: absolute;
        bottom: 35%;
    }

    .infoblock__page-3 .small-brochure-title-center {
        color: #000;
        font-size: 3.3rem;
        text-align: center;
        padding-bottom: 0;
    }
}

@media all and (max-width: 1199px) and (min-width: 1100px) {
    .infoblock__page-14__row__column {
        min-height: 490px;
    }
}

.brochure-title-center.--software-color-h {
    font-family: 'AvenirLTStdHeavy', helvetica, arial, sans-serif;
    font-size: 1.8rem;
    color: #0000ff;
    line-height: 2rem;
    text-align: center;
    padding: 20px 0 0 !important;
}

.brochure-title-center.--software-h {
    font-family: 'AvenirLTStdHeavy', helvetica, arial, sans-serif;
    font-size: 3.2rem;
    line-height: 3.4rem;
    padding: 0 0 5px 0;
}

.brochure-subtitle-left {
    color: #000;
    font-weight: bold;
    text-align: left;
    font-size: 2.4rem;
    line-height: 2.6rem;
    padding: 0 0 10px 0;
    display: block;
}

.column-cash-card {
    float: right;
    width: 50%;
}

.--left {
    float: left;
}

.--right {
    float: right;
}

img.infoblock__number {
    width: auto;
    float: left;
}

.infoblock__block-3 {
    float: left;
    width: 30%;
    position: absolute;
    top: 750px;
}

.wrap-man-and-diagram {
    position: relative;
}

.wrap-__text-block-left {
    float: left;
    width: 50%;
}

.wrap-__text-block-right {
    float: right;
    width: 50%;
}

p.infoblock__homo-text.responsible_fix_block_text {
    float: right;
    width: 60%;
    padding-top: 40px;
}

p.infoblock__homo-text.responsible_fix_block_text {
    float: right;
    width: 60%;
    padding-top: 40px;
    font-style: italic;
    position: relative;
}

p.infoblock__homo-text.responsible_fix_block_text span {
    position: absolute;
    right: 102%;
    top: 40px;
}

.first-paragraph {
    float: right;
    width: 85%;
    padding: 40px 0 !important;
}

.wrap-paragraph {
    float: left;
    width: 60%;
}

.wrap-list {
    float: right;
    width: 50%;
    padding-bottom: 40px;
}

.one-screen-with-hand-in-border {
    float: left;
    width: 25% !important;
    padding: 120px 15px 0 0;
}

.wrap-one-screen-with-hand-in-border {
    position: relative;
}

.wrap-one-screen-with-hand-in-border span {
    position: absolute;
    top: 120px;
    width: 20%;
    font-style: italic;
}

.--border {
    padding: 10px;
    border: 1px solid #000;
    font-style: italic;
    font-weight: bold;
}

.wrap-two-large-screens {
    float: left;
    width: 60%;
    margin-bottom: 40px;
}

.dual-screen-img {
    width: 25% !important;
    padding-left: 15px;
}

.wrap-two-large-screens p {
    padding-bottom: 15px;
}

.wrap-dual-screen-img {
    position: relative;
}

.wrap-dual-screen-img span {
    position: absolute;
    top: 97%;
    right: 203px;
    font-size: 1.4rem;
}

img.photo-copier-img {
    width: auto;
}

.wrap-infoblock__page-5__comm-csan {
    float: right;
    width: 86%;
}

.wrap-photo-copier-img {
    float: left;
    width: 14%;
}

h3.infoblock__page-5__block-header-3.--replace {
    margin-left: 0;
}

p.infoblock__page-5__block-p.--replace {
    float: right;
    margin-right: -90px;
    line-height: 4rem;
}

.adr {
    width: 78%;
    text-align: right;
    display: inline-block;
    padding-top: 10px;
}

#KIC_Software_The_KIC_Product_Family .dlsg-logo {
    width: 20%;
    display: inline-block;
    padding-top: 10px;

}

.adr span:first-child {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2rem;
    display: block;
}

@media all and (max-width: 1366px) {
    .wrap-dual-screen-img span {
        right: 105px;
    }

    .infoblock .infoblock__page-5__seven-step--border {
        min-height: 220px;
    }

    .infoblock .infoblock__page-5__block-header-3 {
        font-size: 3.1rem;
        line-height: 3.3rem;
    }

    .infoblock ul.blue-bullet li {
        font-size: 1.6rem;
        line-height: 1.8rem;
    }

    p.infoblock__page-5__block-p.--replace {
        margin-right: -140px;
    }

    .table__arow:before {
        left: -7px;
        top: -15px;
        width: 40%;
        height: 40%;
        background: none;
    }

    .table th {
        width: 15%;
    }

    .infoblock .infoblock__right-images-clients {
        width: 38%;
    }

    .infoblock .infoblock__map-planet {
        margin: -120px -12px 0 0;
    }

    .row__column {
        min-height: 330px;
    }

    .infoblock .in-case-enhance--left {
        width: 30%;
        margin: 0 auto;
        padding-bottom: 10px;
        float: none;
    }

    #infoblock__man_pdf {
        min-height: 590px;
    }

    .infoblock__double__content__double.left-text.--resize {
        width: auto;
    }

    .infoblock__double__content__double.--resize {
        margin: 0 auto;
        padding-top: 10px;
        float: none;
    }

    .scaner-img {
        float: left;
        margin-top: 40px;
    }

    .infoblock ul li {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    .infoblock ul.blue-bullet li {
        font-size: 1.4rem;
        line-height: 2.2rem;
    }
}

@media all and (max-width: 1024px) {
    .infoblock .infoblock__map-planet {
        margin: -290px 18px 0 0;
    }

    .infoblock .kic_product_family_littleblock {
        width: auto;
    }

    .infoblock .kic_software_label_label_big_left {
        font-size: 2.8rem;
        line-height: 3rem;
    }

    .bscan-ill--h2 {
        text-align: center;
    }
}

.brochure-title-center-fleet {
    font-size: 6.4rem;
    line-height: 6.6rem;
    font-family: 'AvenirLTStdHeavy', helvetica, arial, sans-serif;
    text-align: center;
}

h2.brochure-title-kic-software__blue_label.--fleet {
    font-size: 2.6rem;
    line-height: 2.8rem;
}