.figcaption-imit,
figcaption {
    font-size: 1.6rem;
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    text-align: center;
}

.clear-fix {

}

.clear-fix:after {
    content: '';
    display: table;
    clear: both;
}

.relative {
    position: relative;
    float: right;
    width: 30%;
}

.infoblock .blue-bullet li {
    line-height: 2.4rem;
}

/* ------------------------------------- COMMON STYLES ------------------------------------ */

.content-holder {
    position: relative;
    width: 100%;
}

.content-holder:after {
    content: '';
    display: table;
    clear: both;
}

.infoblock .common-header-h2 {
    color: #000;
    font-size: 3.6rem;
    line-height: 3.8rem;
    text-align: center;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    padding-top: 0;
    padding-bottom: 0;
}

.infoblock .padding-bottom {
    padding-bottom: 10px;
}

.infoblock .padding-top {
    padding-top: 20px;
}

.infoblock .common-row {
    width: 100%;
}

.infoblock .common-row__column {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    padding: 0 10px;
}

.infoblock .common-text-p {
    padding: 0 5px 10px 0;
}

.infoblock .column__image {

}

.infoblock .common-header-h3 {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* PAGE 1 ******************************************************************************************************** */
.infoblock__big-logo-text {
    overflow: hidden;
}

.infoblock .big-logo-text__image-logo {
    width: 40%;
    float: left;
}

.infoblock .common-header-h2--big-logo-text {
    font-size: 10rem;
    font-family: 'LilyUPC', Arial, sans-serif;
    float: right;
    font-weight: normal;
    line-height: 0.9;
    margin: 0;
    padding: 20px 7% 0 0;
    letter-spacing: 2px;
}

.common-header-h2--big-logo-text:after {
    content: '';
    display: table;
    clear: both;
}

.infoblock .big-logo-text__sub-header {
    font-size: 3.4rem;
    line-height: 2rem;
    color: #0d5cab;
    padding: 0;
    text-align: right;
    font-family: 'LilyUPC', Arial, sans-serif;
    margin-right: 80px;
    float: right;
}

.infoblock .content-holder__text-section {

}

.infoblock .text-section__bg-image {
    position: relative;
    margin-top: -30px;
}

.infoblock .bg-image__image {

}

.infoblock .bg-image__text {
    color: #52615A;
    text-align: center;
}

.infoblock .bg-image__text--left {
    width: 28%;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.8rem;
    position: absolute;
    bottom: 16%;
    left: 6%;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
}

.infoblock .bg-image__text--left-top {
    width: 34%;
    color: black;
    font-size: 3rem;
    line-height: 3rem;
    left: 3%;
    font-family: 'LatoItalic', helvetica, arial, sans-serif;
    position: absolute;
    top: 9%;
}

.infoblock .bg-image__text--left-middle {
    color: black;
    width: 23%;
    left: 6%;
    font-size: 2.8rem;
    line-height: 3rem;
    position: absolute;
    top: 50%;
}

.infoblock .text--left__span {
    font-weight: normal;
    font-size: 1.6rem;
    font-family: 'LatoItalic', helvetica, arial, sans-serif;
    line-height: 1.8rem;
}

.infoblock .common-row--images-holder {

}

.infoblock .common-text-p__cursive-bold-span {
    font-family: 'LatoBoldItalic', sans-serif, helvetica, arial;
}

/* PAGE 2 ******************************************************************************************************* */

.infoblock .common-header-h2--long {
    font-size: 3.2rem;
    line-height: 3.4rem;
}

.infoblock .content-holder__triangular-section {

}

.infoblock .triangular-section__kic-serves-over-half-text-p {
    padding: 0;
}

.infoblock .triangular-section__image {

}

.infoblock .many-articles-section__triangular-scan {
    float: right;
    width: 40%;
    margin: 25px 2% 0;
}

.infoblock .many-articles-section__book-scannning-section {

}

.many-articles-section__common-header-h3 {
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: left;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    padding-top: 10px;
}

.infoblock .many-articles-section__triangular-copy {

}

.infoblock .triangular-copy__image {
    float: left;
    width: 30%;
    margin: 58px 1% 20px;
    display: block;
}

.infoblock .many-articles-section__triangular-fax {
    padding-top: 5px;
}

.section__wrapper {
    position: relative;
}

.infoblock .triangular-fax__image {
    float: right;
    width: 30%;
    margin: 35px 2% 0;
}

.infoblock .many-articles-section__triangular-hand {
    float: left;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}

.infoblock .triangular-hand__image {
    float: left;
    width: 30%;
    margin: 0 2%;
}

/* PAGE 3 ******************************************************************************************************* */

.infoblock .content-holder__page-3-content-wrapper {

}

.infoblock .common-header-h2--page-3-content-wrapper {
    padding-bottom: 0;
}

.infoblock .page-3-content-wrapper__text-section {
    float: left;
    width: 55%;
}

.page-3-content-wrapper__list-wrapper {
    float: left;
    width: 45%;
    padding-left: 10%;
    padding-bottom: 5%;
}

.infoblock .blue-bullet--with-padding li {
    line-height: 2.4rem;
}

.infoblock .page-3-content-wrapper__relative-block {
    position: relative;
}

.infoblock .relative-block__block {
    float: left;
    width: 49%;
}

.infoblock .relative-block__block--second {
    padding-left: 6%;
    float: right;
}

.infoblock .block__float-number {
    width: 15%;
    display: inline-block;
    vertical-align: top;
    padding: 10px 0;
    margin-left: 10%;
}

.infoblock .block__sub-block {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    padding-top: 5px;
}

.infoblock .sub-block__text-p {
    padding-top: 10px;
    text-align: left;
    width: 65%;
}

.infoblock .block__image {
    width: 90%;
    padding-left: 20px;
}

.infoblock .block__image--right-image {
    width: 60%;
    display: block;
}

.infoblock .block__sub-block--third {
    position: absolute;
    left: 0;
    bottom: 12%;
}

.infoblock .block__float-number--second {
    padding-top: 5px;
}

.infoblock .block__float-number--third {
    width: 10%;
    margin-left: 0;
}

.infoblock .block__image--bottom-image {
    width: 100%;
}

.infoblock .common-text-p--relative {
    width: 35%;
    text-align: left;
    padding-top: 0;
}

/* PAGE 4 ******************************************************************************************************* */

.infoblock .column__section {

}

.infoblock .column__section {
    text-align: left;
    padding: 0 15px;
}

.infoblock .section__section-header {
    text-align: center;
}

.infoblock .section__section-header--align-left {
    text-align: left;
}

.infoblock .column__section--background {
    position: relative;
    height: 510px;
    background: url("http://upload.ted-kteam.com/IA/images/brochure-pictures/BookEdge_Scanner_Phone_Ticket.png") no-repeat;
    background-size: 100% 100%;
}

.infoblock .section--background__table-wrapper {
    padding-top: 10px;
}

.infoblock .table-wrapper__text-p {
    text-align: left;
}

.infoblock .section__float-image {
    float: right;
    overflow: hidden;
    margin: 10px 3%;
}

.infoblock .section__float-image--NMBSD {
    display: inline-block;
    width: 33%;
    margin-left: 5%;
}

.infoblock .section__float-image--CWCCCS {
    width: 17%;
    margin: -5% 0 0 20px;
}

.infoblock .common-row__column--small {
    width: 30%;
    display: inline-block;
}

.infoblock .column--small__text-p {
    padding: 0;
}

.infoblock .column__cursive-text {
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    display: block;
}

.infoblock .column-cursive-text--special {
    font-size: 1.6rem;
    line-height: 1.6rem;
}

.infoblock .column__cursive-text--center {
    text-align: center;
    margin: 0 auto;
}

.infoblock .column__cursive-text--SAS {
    width: 75%;
    margin-left: 12%;
}

.infoblock .section__image {

}

.infoblock .section__image--big-scanner {
    width: 90%;
}

.infoblock .section__right-image-text {
    color: #87958E;
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    font-size: 1.5rem;
    line-height: 1.5rem;
    position: absolute;
    right: 0;
    top: 36%;
    text-align: left;
}

.infoblock .section__left-image-text {
    color: #87958E;
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    font-size: 1.5rem;
    line-height: 1.5rem;
    left: 0;
    position: absolute;
    top: 60%;
}

.infoblock .section__below-image-text {

}

/* PAGE 5 ******************************************************************************************************* */

.infoblock .column--image__t2t-logo {
    width: 100%;
}

.infoblock .row__column--text {
    width: 79%;
    padding-left: 2%;
}

.infoblock .row__column--image-wrapper {
    width: 20%;
}

.infoblock .common-header-h2--true-2-touch {
    color: #000;
    font-size: 3.6rem;
    line-height: 3.8rem;
    text-align: center;
    padding: 20px 0 10px 0;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
}

.infoblock .content-holder__true-2-touch-wrapper {
    padding-top: 20px;
}

.infoblock .true-2-touch-wrapper__save-to-usb-image {
    width: 42%;
    margin-top: 20px;
    float: left;
}

.infoblock .true-2-touch-wrapper__text-p {
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: center;
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 0;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
}

.infoblock .blue-bullet--with-margin {
    margin-left: 45%;
}

.infoblock .common-header-h2--two-large-monitors {
    padding-left: 6%;
    font-size: 3rem;
    line-height: 3rem;
    padding-top: 5px;
}

.infoblock .true-2-touch-wrapper__two-large-screens-image {
    width: 100%;
    float: right;
    text-align: center;
    padding: 0 0 10px 20px;
}

.infoblock .true-2-touch-wrapper__text-section {
    width: 70%;
}

.infoblock .true-2-touch-wrapper__display-screens-text {
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    text-align: justify;
    font-size: 1.6rem;
    line-height: 1.8rem;
    width: 48%;
    margin: 20px 0 0 12%;
}

.infoblock .true-2-touch-wrapper__dual-screen-text {
    position: absolute;
    bottom: -7%;
    right: 20%;

}

.pos-rel {
    position: relative;
}

/* PAGE 6 ******************************************************************************************************* */

.infoblock .common-header-h2--smart-dock-sub-header {
    color: #000;
    text-align: center;
    width: 42%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    line-height: 2.2rem;
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
}

.infoblock .common-header-h2--special {
    color: #000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.infoblock h4 {
    color: #000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    line-height: 2.2rem;
    padding-bottom: 0;
}

.infoblock .common-header-h2-tech-spec {
    padding-bottom: 0;
}

.infoblock .content-holder__text-section--smart-dock {
    width: 44%;
    position: absolute;
    right: 7%;
    bottom: 0;
}

.infoblock .content-holder__text-p {
    color: #87958E;
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    font-size: 1.7rem;
    line-height: 1.7rem;
    width: 26%;
    position: absolute;
    bottom: -25px;
    left: 16%;
    text-align: center;
}

.infoblock .content-holder__for-public-libraries-section {
    border: solid 3px;
    border-radius: 10px;
    margin-top: 5%;
    background: linear-gradient(to bottom, #97a29c, #e2e3e5);
    position: relative;
}

.infoblock .for-public-libraries-section__header {
    font-size: 3.6rem;
    line-height: 3.6rem;
    margin-left: 3%;
    margin-top: 2%;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
}

.infoblock .for-public-libraries-section__sub-header {
    font-size: 2.5rem;
    line-height: 120%;
    margin-left: 3%;
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
}

.infoblock .for-public-libraries-section__panorama-image {
    float: right;
    width: 60%;
    margin: -65px 2% 20px 0;
}

.infoblock .for-public-libraries-section__screen-with-hand {
    width: 31%;
    margin-left: 4%;
    margin-top: 1%;
    float: left;
}

.infoblock .for-public-libraries-section__two-screens-image {
    width: 40%;
    margin-left: 20%;
    margin-bottom: 2%;
}

.infoblock .for-public-libraries-section__touching-copy-text {
    width: 65%;
    margin-top: -380px;
    margin-right: -10%;
    text-align: right;
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    line-height: 2rem;
}

.infoblock .for-public-libraries-section__touching-fax-text {
    width: 17%;
    margin-top: 70px;
    text-align: right;
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    margin-left: 36%;
    line-height: 2rem;
}

.infoblock .for-public-libraries-section__kic-has-a-special {
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    margin-left: 7%;
    width: 27%;
    line-height: 2rem;
    margin-top: -102px;
    position: relative;
    top: -40px;
}

.infoblock .triangle-pointer {
    font-size: 5rem;
    line-height: 5rem;
    color: gray;
    display: block;
}

.infoblock .triangle-pointer--image-pointer {
    position: relative;
    text-align: right;
    bottom: 70px;
    left: 7%;
}

.infoblock .triangle-pointer--1 {

}

.infoblock .triangle-pointer--2 {

}

.infoblock .triangle-pointer--3 {

}

/* PAGE 7 ******************************************************************************************************* */

.infoblock .common-header-h2--reservation-app {
    width: 100%;
    padding-bottom: 0;
}

.infoblock .reservation-app-wrapper__bold-sub-header {
    color: #000;
    font-size: 2.4rem;
    line-height: 2.4rem;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    width: 100%;
    padding: 0;
}

.infoblock .reservation-app-wrapper__cursive-sub-header {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    margin: 0 auto;
    width: 100%;
    display: block;
}

.infoblock .reservation-app-wrapper__three-images-header {
    color: #000;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    margin: 0;
    width: 100%;
    padding-top: 10px;
}

.infoblock .reservation-app-wrapper__three-images-wrapper {
    margin: 0 auto;
    position: relative;
}

.infoblock .arrows--after:after {
    position: absolute;
    content: '';
    background: url("http://upload.ted-kteam.com/IA/images/brochure-pictures/arrows.png") no-repeat;

    bottom: -121px;
    left: 0;
    background-size: contain;
    width: 91%;
    height: 130px;
}

.infoblock .three-images-wrapper__image {
    text-align: center;
    width: 31%;
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.6rem;
    padding: 0 5px;
}

.infoblock .reservation-app-wrapper__text-p {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    font-size: 1.6rem;
    line-height: 1.6rem;
}

.infoblock .reservation-app-wrapper__two-tels-section {
    padding-top: 107px;
    position: relative;
}

.infoblock .two-tels-section__text-p {
    position: absolute;
    top: 95px;
    right: 0;
    width: 45%;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
}

/* PAGE 8 ******************************************************************************************************* */

.infoblock .header-section__header--kic-fleet {
    font-size: 5rem !important;
    line-height: 5.2rem !important;
    margin-top: 35px;
    padding-bottom: 0;
}

.infoblock .header-section__sub-header--kic-fleet {
    font-size: 2.6rem;
    line-height: 2.8rem;
}

.infoblock .content-holder__kic-fleet-manager-wrapper {

}

.infoblock .kic-fleet-manager-wrapper__header-section {
    overflow: hidden;
    padding-bottom: 5%;
}

.infoblock .header-section__logo {
    max-width: 340px;
    float: left;
}

.infoblock .header-section__header {
    text-align: center;
    color: #000;
    text-shadow: none;
    font-size: 2.5rem;
    line-height: 3rem;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
}

.infoblock .header-section__sub-header {
    text-align: center;
    color: #8ca1c9;
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    padding: 0;
    margin-top: 5px;
    letter-spacing: 0;
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
}

.infoblock .kic-fleet-manager-wrapper__text-section {
    /*overflow: hidden;*/
    margin-top: -80px;
    position: relative;
}

.infoblock .text-section__right-side-image {
    float: right;
    width: 60%;
    padding-left: 5px;
}

.infoblock .text-section__centered-text--with-padding {
    padding-top: 90px;
    line-height: 1.5;
}

.infoblock .text-section__centered-text--with-margin {
    position: absolute;
    width: 51%;
    bottom: 0;
    line-height: 1.5;
    left: 0;
}

.infoblock .kic-fleet-manager-wrapper__middle-content {
    padding-top: 20px;
}

.infoblock .middle-content__photo {
    float: left;
    width: 60%;
}

.infoblock .middle-content__features-list {
    float: left;
    width: 38%;
    margin-left: 2%;
}

.infoblock .middle-content__logo {
    width: 30%;
    margin: 10px 5%;
}

.infoblock .features-list__feature-item {
    margin-left: 12%;
}

.infoblock .kic-fleet-manager__images-names-list {
    text-align: justify;
    padding: 0;
    margin: 0;
}

.infoblock .images-names-list__item {
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 32%;
}

.infoblock .item__text-label {
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-family: 'LatoItalic', helvetica, arial, sans-serif;
}

/* PAGE 9 ******************************************************************************************************* */

.infoblock .content-holder__self-serve-book-printing-wrapper {
    display: inline-block;
    overflow: hidden;
}

.infoblock .pbd-frame__image {
    width: 50%;
}

.infoblock .pbd-frame__text-p {
    text-align: justify;
    padding: 10px 20px;
}

.infoblock .self-serve-book-printing-wrapper__pod-library {
    text-align: center;
    padding: 12px;
}

.infoblock .self-serve-book-printing-wrapper__pbd-frame {
    width: 49%;
    float: left;
    text-align: center;
}

.infoblock .pod-library__image {
    width: 51%;
}

.infoblock .content-holder__pod-section {
    text-align: center;
    padding-bottom: 20px;
}

.infoblock .pod-library__header--with-padding {
    padding-bottom: 10px;
}

.infoblock .pod-section__text-p {
    width: 90%;
    margin: 0 auto 10px;
}

h2.pod-text {
    font-size: 2.6rem;
    color: #000;
    padding: 0;
    line-height: 1.2;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    margin: 0;
}

/* PAGE 10 ****************************************************************************************************** */

.infoblock .content-holder__in-case-you-didnt-know-wrapper {
    width: 50%;
    float: left;
    overflow: hidden;
}

.infoblock .in-case-you-didnt-know-wrapper__section {
    overflow: hidden;
    padding: 10px 2%;
    background: #D0E6FC;
    margin: 5px 1%;
    border-radius: 1.0rem;
}

.infoblock .in-case-you-didnt-know-wrapper__header {
    font-size: 3.8rem;
    line-height: 3.8rem;
    padding: 0;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
}

.infoblock .in-case-you-didnt-know-wrapper__sub-header {
    text-align: right;
    font-size: 2rem;
    line-height: 2rem;
}

.infoblock .section__section-header--ICYDK {
    font-size: 2.4rem;
    line-height: 2.4rem;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    text-align: center;
    padding: 5px 0;
}

.infoblock .section__section-header--book-excerpts {
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    text-align: left;
}

.infoblock .column__text-p {
    padding: 35px 0;
}

.infoblock .column__enhance-reports-image {
    width: calc(75% - 1px);
    margin: 0 auto;
    display: block;
}

.infoblock .in-case-you-didnt-know-wrapper__for-study-image {
    width: 60%;
    height: 60%;
    margin: 10px 0 15px 0;
    display: block;
    padding-bottom: 20px;
}

.infoblock .section__many-citizens-text {
    padding: 0 10px 5px 0;
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    display: inline-block;
}

.infoblock .in-case-you-didnt-know-wrapper__text-p {
    width: 225px;
    position: absolute;
    right: 5%;
    bottom: 0;
}

.infoblock .column__personal-and-family-documents {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: block;
}

.infoblock .section__scan-journals-image {
    width: 100%;
}

.infoblock .column__scan-artwork-image {
    width: 60%;
    margin: 0 auto;
    display: block;
}

.infoblock .column__personal-and-family-documents-image {
    width: 70%;
}

.infoblock .column__scan-large-maps-image {
    width: 63%;
    margin: 0 auto;
    display: block;
}

.infoblock .column__library-patrons-text {
    margin: 42px 5% 0 -15%;
}

/* PAGE 11 ****************************************************************************************************** */

.infoblock .content-holder__bookedge-vs-copiers-wrapper {

}

.infoblock .common-row__column--BEvsC {
    width: 47%;
    padding-left: 1%;
}

.infoblock .column__adf-attachment-figure {
    width: 50%;
    float: right;
    margin: 0;
    padding: 5px 1%;
}

.infoblock .adf-attachment-figure__image, .infoblock .diagram {
    width: 80%;
    height: 80%;
    display: block;
    margin: 10px auto;
}

.infoblock .adf-attachment-figure__description {
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin-bottom: 5px;
}

.infoblock .common-header-h3--rainbow {
    background: #ff0000;
    background: -moz-linear-gradient(left, #ff0000 0%, #ff00ff 16%, #0000ff 33%, #00ffff 50%, #00ff00 67%, #ffff00 83%, #ff0004 100%, #ff0000 100%);
    background: -webkit-linear-gradient(left, #ff0000 0%, #ff00ff 16%, #0000ff 33%, #00ffff 50%, #00ff00 67%, #ffff00 83%, #ff0004 100%, #ff0000 100%);
    background: linear-gradient(to right, #ff0000 0%, #ff00ff 16%, #0000ff 33%, #00ffff 50%, #00ff00 67%, #ffff00 83%, #ff0004 100%, #ff0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#ff0000', GradientType=1);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: center;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    display: inline-block;
}

.infoblock .common-row__column--bottles-of-ink-image-wrapper {
    width: 35%;
}

.infoblock .common-row__column--bottles-of-ink-text-wrapper {
    width: 55%;
    margin: 0;
}

.infoblock .column__bookedge-vs-copiers-section {
    padding: 5px 0;
}

.infoblock .bookedge-vs-copiers-section__sub-header {
    font-weight: normal;
    text-align: center;
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding: 5px 0;
}

.infoblock .bookedge-vs-copiers-section__header {
    text-align: center;
    display: block;
    font-size: 1.8rem;
    line-height: 2rem;
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    width: 72%;
    margin-left: 16%;
}

.infoblock .blue-bullet--BvsC {
    margin-left: 10%;
    width: 85%;
}

.infoblock .column__capture-area-comparison-wrapper {
    overflow: hidden;
}

.infoblock .capture-area-comparison-wrapper__below-map-text {
    line-height: 2rem;
    font-family: 'LatoItalic', arial, helvetica, sans-serif;
}

.infoblock .below-map-text__icon {
    width: 20px;
    height: 20px;
    background: grey;
    border-radius: 5px;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    line-height: 18px;
    padding-bottom: 10px;
    display: inline-block;
}

/* PAGE 12 ****************************************************************************************************** */

.infoblock .content-holder__tech-details-image {
    width: 50%;
    margin: 15px 10% 15px 25%;
}

.infoblock .border-table-wrapper__tech-details-table {
    text-align: center;
}

.infoblock .tech-details-table__row-header {
    padding: 10px 3%;
    text-align: right;
}

.infoblock .tech-details-table__row-data {
    padding: 5px 0;
    text-align: left;
}

.infoblock .tech-details-table__table-row-with-bg {
    background: rgba(0, 0, 0, 0.1);
}

.infoblock .blue-bullet--tech-details-list {
    margin: 60px 0 0 5%;
}

.infoblock .table-row-with-bg__table-header {
    width: 38%;
}

.infoblock .content-holder__big-bookedge-image {
    margin-top: 20px;
}

.infoblock .border-table-box__widetek-tech-details-table {
    margin-left: 1%;
    width: 98%;
    text-align: center;
}

.infoblock .border-table-wrapper {
    margin-left: 15%;
    width: 70%;
}

.infoblock .content-holder__border-table-box {
    padding: 10px 1%;
    /*border: 1px solid black;*/
}

.infoblock .common-row--tech-details {
    text-align: center;
    vertical-align: top;
    display: inline-block;
    width: calc(100% / 6.14);
    padding-right: 3px;
}

/* PAGE 13 ****************************************************************************************************** */

.infoblock .content-holder__the-kic-product-family-text-p {
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    text-align: justify;
    padding-bottom: 20px;
    font-size: 2rem;
    line-height: 2.2rem;
}

.infoblock .content-holder__kic-product-wrapper {
    text-align: right;
    margin-bottom: 15px;
}

.infoblock .common-row--tech-details__row-header {
    text-align: center;
    font-size: 13px;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
}

.infoblock .common-row--tech-details__column {
    padding: 10px 5px 5px 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 6px #000;
    min-height: 500px;
}

.infoblock .column__kic-click-mini-image {
    width: 53%;
}

.infoblock .column__small-header {
    font-size: 11px;
    margin-top: 5px;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    line-height: 1.2;
    padding: 0;
}

.infoblock .content-holder__kic-sub-table {
    width: 100%;
    padding: 20px 0;
}

.infoblock .kic-sub-table__th {
    width: calc(100% / 6);
    height: 100%;
    margin: 0;
    text-align: center;
    padding: 0 0 5px 0;
}

.infoblock .kic-sub-table__th--with-bg {
    background: rgba(0, 0, 0, 0.1);
}

.infoblock .kic-sub-table__p {
    text-align: center;
    padding-top: 5px;
}

.infoblock .kic-sub-table__th--align-left {
    text-align: right;
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding-right: 2rem;
    width: 180px;
}

.infoblock .th__image {
    width: 100px;
    height: 65px;
}

.infoblock .th__circle {
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 1px solid #4a504e;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.infoblock .th__circle--green {
    background: #40b149;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 1px solid #4a504e;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.infoblock .circle--green__after {
    position: relative;
}

.infoblock .circle--green__after:after {
    position: absolute;
    content: '';
    background: #fff;
    border-radius: 11px 11px 0 0;
    -moz-border-radius: 11px 11px 0 0;
    -webkit-border-radius: 11px 11px 0 0;
    border: 1px solid #4a504e;
    width: 18px;
    height: 8px;
    top: -1px;
    left: -1px;
}

.infoblock .circle--green__after-big {
    position: relative;
}

.infoblock .circle--green__after-big:after {
    position: absolute;
    content: '';
    background: #fff;
    border-radius: 11px 11px 0 0;
    -moz-border-radius: 11px 11px 0 0;
    -webkit-border-radius: 11px 11px 5px 5px;
    border: 1px solid #4a504e;
    width: 18px;
    height: 13px;
    top: -1px;
    left: -1px;
}

.infoblock .circle--green__after-small {
    position: relative;
}

.infoblock .circle--green__after-small:after {
    position: absolute;
    content: '';
    background: #fff;
    border-radius: 11px 11px 0 0;
    -moz-border-radius: 11px 11px 0 0;
    -webkit-border-radius: 11px 11px 0 0;
    border: 1px solid #4a504e;
    width: 14px;
    height: 4px;
    top: -1px;
    left: 1px;
}

.infoblock .tr__arrow {
    position: relative;
}

.infoblock .tr__arrow:before {
    content: '';
    position: absolute;
    background: url("http://upload.ted-kteam.com/IA/images/brochure-pictures/Arrow.png") no-repeat;
    top: -18px;
    right: 27px;
    width: 100px;
    height: 36px;
    background-size: contain;
}

.infoblock .th__bold-line {
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    font-size: 3.3rem;
}

.infoblock .th__dollar {
    font-family: 'LatoBold', sans-serif, helvetica, arial;
}

.infoblock .th__dollar--mini {
    font-size: 1.2rem;
}

.infoblock .th__dollar--middle {
    font-size: 2rem;
}

.infoblock .th__dollar--big {
    font-size: 2.4rem;
}

.infoblock .th__dollar--huge {
    font-size: 2.8rem;
}

.infoblock .p__table-star {
    margin-left: 2.5rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    color: #e8383b;
    padding-left: 1%;
}

.infoblock .p__table-star--mini {
    margin-left: 2.5rem;
    font-size: 0.9rem;
    vertical-align: text-top;
    color: black;
    padding-left: 1%;
}

.infoblock .kic-product-wrapper__features-stars-wrapper {
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    padding-top: 10px;
    display: block;
    float: right;
    text-align: right;
    width: 100%;
}

.infoblock .common-features-table__th {
    width: 240px;
    text-align: right;
    padding-right: 1%;
}

.infoblock .kic-product-wrapper__bscan-ill-header {
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: #000;
    padding: 0;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    margin: 15px 0 5px 0;
}

.infoblock .kic-product-wrapper__common-features-table {
    font-size: 1.4rem;
    line-height: 2.2rem;
}

.to-bottom {
    padding-bottom: 10px;
}

.desktop-version {
    display: block;
}

.nout-version {
    display: none;
    overflow: hidden;
}

.infoblock .nout-version__style {
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    text-align: justify;
    font-size: 1.6rem;
    line-height: 1.8rem;
    width: 48%;
    padding-top: 15%;
    margin-left: 7%;
}

.available {
    position: relative;
}

.available__test {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30%;
    font-size: 2.2rem;
    text-align: center;
    margin-left: 13%;
}

/* ************************************************************************************************************** */
@media all and (max-width: 1790px) {
    .infoblock .triangular-copy__image {
        margin: 3% 1% 50px;
    }

    .infoblock .text-section__centered-text--with-padding {
        padding-top: 50px;
        line-height: 1.5;
    }
}

@media all and (max-width: 1700px) {
    .infoblock .section__left-image-text {
        left: -20px;
        top: 63%;
    }

    .infoblock .column__text-p {
        padding: 20px 0;
    }

    .infoblock .text-section__centered-text--with-padding {
        padding-top: 10px;
    }

    .infoblock .triangular-copy__image {
        margin: 6% 1% 50px;
    }

    .infoblock .text-section__centered-text--with-margin {
        bottom: -20px;
    }
}

@media all and (max-width: 1660px) {
    .infoblock .true-2-touch-wrapper__save-to-usb-image {
        margin-top: 10%;
    }

    .infoblock .text-section__centered-text--with-margin {
        line-height: 1.3;
    }

    .infoblock .text-section__centered-text--with-padding {
        line-height: 1.3;
    }

    .infoblock .triangular-copy__image {
        margin: 10% 1% 50px;
    }
}

@media all and (max-width: 1600px) {
    .infoblock .column__text-p {
        padding: 14px 0;
    }

    .infoblock .kic-fleet-manager-wrapper__text-section {
        margin-top: -50px;
    }

    .infoblock .for-public-libraries-section__panorama-image {
        margin: -69px 2% 40px 0;
        width: 58%;
    }
}

@media all and (max-width: 1550px) {
    .infoblock .for-public-libraries-section__touching-copy-text {
        margin-top: -360px;
    }

    .infoblock .common-row--tech-details__column {
        min-height: 440px;
    }

    .infoblock .big-logo-text__sub-header {
        padding-right: 0;
    }

    .infoblock .triangular-copy__image {
        margin: 10% 0 50px;
    }
}

@media all and (max-width: 1500px) {
    .infoblock .bg-image__text--left {
        bottom: 6%;
    }

    .infoblock .section__below-image-text {
        padding-top: 8%;
    }

    .infoblock .for-public-libraries-section__header {
        font-size: 3.3rem;
        line-height: 3.5rem;
    }

    .infoblock .for-public-libraries-section__sub-header {
        font-size: 2.3rem;
    }

    .infoblock .text-section__centered-text--with-margin {
        bottom: -40px;
    }

    .infoblock .middle-content__photo {
        float: left;
        width: 60%;
        padding-top: 6%;
    }

}

@media all and (max-width: 1450px) {
    .infoblock .triangular-copy__image {
        margin: 12% 0 70px;
    }

    .infoblock .section__left-image-text {
        left: -33px;
        top: 63%;
    }

    .infoblock .in-case-you-didnt-know-wrapper__text-p {
        width: 210px;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .infoblock .true-2-touch-wrapper__save-to-usb-image {
        margin-top: 17%;
    }

    .infoblock .for-public-libraries-section__panorama-image {
        margin: -61px 2% 60px 0;
    }

    .infoblock .column__text-p {
        padding: 5px 0;
    }

    .infoblock .column__library-patrons-text {
        margin: 10px 5% 0 -15%;
    }

    .infoblock .common-header-h2--big-logo-text {
        padding: 20px 2% 0 0;
    }

    .infoblock .big-logo-text__image-logo {
        width: 36%;
    }

    .infoblock .text-section__bg-image {
        margin-top: 0;
    }
}

@media (max-width: 1500px) {
    .infoblock .middle-content__photo {
        padding-top: 11%;
    }

    .infoblock .text-section__centered-text--with-margin {
        bottom: -70px;
    }

    .infoblock .in-case-you-didnt-know-wrapper__header {
        font-size: 3.2rem;
    }

}

@media (max-width: 1400px) {
    .infoblock .content-holder__text-section--smart-dock {
        width: 44%;
        position: absolute;
        right: 7%;
        bottom: -25px;
    }

    .desktop-version {
        display: none;
    }

    .nout-version {
        display: block;
    }

    .infoblock .common-row--tech-details__column {
        min-height: 380px;
    }

    .infoblock .tr__arrow:before {
        top: -14px;
        width: 90px;
        height: 32px;
    }

    .infoblock .section__float-image--NMBSD {
        margin-left: 5%;
    }

    .infoblock .column__section--background {
        height: 570px;
    }

    .infoblock .for-public-libraries-section__touching-copy-text {
        margin-top: -330px;
    }

    .infoblock .text-section__centered-text--with-margin {
        bottom: -96px;
    }

    .infoblock .bg-image__text--left {
        bottom: 0;
    }

    .infoblock .bg-image__text--left-top {
        font-size: 2.4rem;
        line-height: 2.6rem;
    }

    .infoblock .bg-image__text--left-middle {

        font-size: 2.4rem;
        line-height: 2.6rem;

    }

    .infoblock .bg-image__text--left {
        font-size: 1.6rem;
        line-height: 1.8rem;
    }

    .infoblock .text--left__span {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    .infoblock .in-case-you-didnt-know-wrapper__text-p {
        bottom: -13px;
    }

    .infoblock .triangular-hand__image {
        margin: 2%;
    }

    .infoblock .for-public-libraries-section__panorama-image {
        margin: -58px 2% 40px 0;
        width: 53%;
    }

    .infoblock .header-section__sub-header {
        font-size: 2.1rem;
    }

    .infoblock .header-section__header--kic-fleet {
        font-size: 4.1rem !important;
        line-height: 4.2rem !important;
    }

}

@media (max-width: 1350px) {
    .infoblock .big-logo-text__sub-header {
        margin-top: -45px;
    }

    .infoblock .bg-image__text--left {
        bottom: 0;
    }

    .infoblock .text-section__centered-text--with-margin {
        line-height: 1.1;
        bottom: -40px;
    }

    .infoblock .text-section__centered-text--with-padding {
        line-height: 1.1;
    }
}

@media (max-width: 1300px) {
    .infoblock .common-header-h2 {
        font-size: 3.2rem;
        line-height: 3.4rem;
    }

    .infoblock .common-header-h3 {
        font-size: 2.4rem;
        line-height: 2.6rem;
        font-family: 'LatoBold', sans-serif, helvetica, arial;
        margin-top: 15px;
        margin-bottom: 0;
    }

    .many-articles-section__common-header-h3 {
        font-size: 2rem;
        line-height: 2.2rem;
    }

    .infoblock h4 {
        font-size: 2rem;
        line-height: 2.2rem;
    }

    .infoblock .column__section--background {
        height: 580px;
    }

    .infoblock .true-2-touch-wrapper__save-to-usb-image {
        margin-top: 21%;
    }

    .infoblock .column__section--background {
        height: 630px;
    }

    .infoblock .for-public-libraries-section__touching-copy-text {
        margin-top: -300px;
    }

    .infoblock .text-section__centered-text--with-margin {
        bottom: -70px;
    }

    .infoblock .triangular-copy__image {
        margin: 0;
    }

    .infoblock .triangular-hand__image {
        margin: 3% 0;
    }

    .infoblock .section__left-image-text {
        left: -30px;
        top: auto;
        bottom: 20px;
        font-size: 14px;
    }

    .infoblock .column__section--background {
        height: auto;
        background: none;
    }

    .infoblock .common-row__column--small {
        width: 49%;
        padding-bottom: 10px;
    }

    .infoblock .true-2-touch-wrapper__save-to-usb-image {
        margin-top: 28%;
    }

    h2.pod-text {
        font-size: 2.2rem;
        color: #000;
        padding: 0;
        line-height: 1.2;
        font-family: 'LatoBold', sans-serif, helvetica, arial;
        margin: 0;
    }
}

@media (max-width: 1210px) {
    .infoblock .common-header-h2--big-logo-text {
        font-size: 9rem;
    }
}

@media (max-width: 1199px) {
    .infoblock .big-logo-text__sub-header {
        margin-top: 0;
    }

    .infoblock .true-2-touch-wrapper__save-to-usb-image {
        margin-top: 11%;
    }

    .infoblock .for-public-libraries-section__touching-copy-text {
        margin-top: -334px;
    }

    .infoblock .text-section__centered-text--with-margin {
        bottom: 0;
    }

    .infoblock .middle-content__photo {
        padding-top: 6%;
    }

    .infoblock .common-row--tech-details__column {
        min-height: 350px;
    }

}

@media (max-width: 1050px) {
    .infoblock .true-2-touch-wrapper__save-to-usb-image {
        margin-top: 23%;
    }

    .infoblock .for-public-libraries-section__touching-copy-text {
        margin-top: -295px;
    }

    .infoblock .two-tels-section__text-p {
        top: 80px;
    }

    .infoblock .header-section__header--kic-fleet {
        font-size: 4rem !important;
        line-height: 4.7rem !important;
    }

    .infoblock .text-section__centered-text--with-margin {
        bottom: -64px;
    }

    .infoblock .middle-content__photo {
        padding-top: 13%;
    }

    .infoblock .big-logo-text__sub-header {
        margin-top: -15px;
    }

    .infoblock .big-logo-text__sub-header {
        font-size: 3rem;

    }

    .infoblock .header-section__sub-header {
        font-size: 1.9rem;
    }
}

.common-row__column--small.second {
    margin-bottom: 15px;
    overflow: hidden;
}

p.reservation-app-wrapper__text-p.right {
    padding-left: 5px;
}

p.reservation-app-wrapper__text-p.left {
    padding-right: 5px;
}

span.item__text-label.kic-fleet {
    margin-left: -70px;
}

@media (max-width: 1366px) {
    .infoblock .triangular-copy__image {
        margin: 17% 0 70px;
    }

    .infoblock .for-public-libraries-section__touching-copy-text {
        margin-top: -300px;
    }

    span.item__text-label.kic-fleet {
        margin-left: -40px;
    }

    .infoblock .column__enhance-reports-image {
        width: 100%;
    }

    .infoblock .text-section__centered-text--with-margin {
        bottom: -66px;
    }

    p.capture-area-comparison-wrapper__below-map-text {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }
}