
.infoblock__head {
    font-size: 22px;
    color: #282a28;
    font-style: italic;
    font-weight: bold;
    text-shadow: none;
    margin: 0;
    text-align: center;
}
.infoblock__column {
    float: left;
    width: 50%;
    padding: 7px;
}
.infoblock__column__a{
    padding-left: 60%;
    font-weight: bold;
}
#dlsg-ref{
    color: #282a28;

}
.infoblock div img{
    width: 65%;
    position: relative;

}
.infoblock div .infoblock__h2__p{
     position: absolute;
     font-weight: bold;
     padding-left: 25%;
     top:10%;
 }
.infoblock div .infoblock__h2__p h2{
    font-size: 22px;
    color:#000000;
    padding: 0%;
}
.infoblock div .infoblock__h2__p p{
    text-align: center;
}

.infoblock .infoblock__h3__p{
    position: absolute;
    padding-left: 47%;
    top: 14%;
    text-align: center;
}
.infoblock .infoblock__h3__p h3{
    font-size: 14px;
    font-weight: bold;
    color:#000000;
}

.infoblock .infoblock__h3__p p{
     font-size: 12px;
}

.infoblock #infoblock__cloud{
    width: 8%;
    /* padding-top: 10%; */
    /* float: right; */
    /* overflow: hidden; */
    position: absolute;
    right: 10%;
    padding-top: 2%;
}

.infoblock #infoblock__devices{
    position: absolute;
    width: 23%;
    left: 70%;
    top: 26%;
    height: auto;
}

.infoblock #infoblock__scanner{
    width: 60%;
    padding-top: 10%;
}

.infoblock #infoblock__text{
    width: 17%;
    top: 40%;
    right: 8%;
    padding-top: 8%;
    position: absolute;
}
