.infoblock__opus-freeflow-freedom {
    color: #2c89c6;
    line-height: 3.8rem;
    font-size: 3.6rem;
}

.infoblock_inscription {
    font-size: large;
    float: right;
    width: 52%;
    text-align: center;
}

.infoblock span {
    font-weight: bold;
    padding-bottom: 5px;
    display: block;
}

.infoblock ul.opus_list li span {
    font-size: 18px;
    margin: 0 0 10px;
    text-align: left;
}

.infoblock__title {
    text-align: center;
}

h2 {
    padding-bottom: 0;
}

h5 {
    font-weight: bold;
}

.bottom-images__removing-artifacts {
    width: 49%;
    float: left;
}

.bottom-images__inverting-photo {
    width: 49%;
    float: right;
}

.infoblock__white-pages {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.infoblock__white-rectangulars {
    overflow: hidden;
    width: 100%;
    padding-left: 3%;
    background-size: contain;
}

.white-rectangulars__articles {
    float: left;
    width: calc(9.09% - 5px);
    margin-left: 8px;
}

.white-rectangulars__articles p {
    word-spacing: -1pt;
    letter-spacing: 0;
    font-size: 70%;
    line-height: 7pt;
    width: 100%;
    padding-left: 10px;
    text-align: left;
}

.white-rectangulars__articles h6 {
    text-align: center;
    margin-top: 4px;
    line-height: 9pt;
    font-size: 9pt;
    color: black;
    font-weight: bold;
}

/*Third Page*/

.infoblock ul.opus_list {
    list-style: none;
    columns: 2;
    column-gap: 2em;
    -moz-columns: 2;
    -moz-column-gap: 2em;
    -webkit-columns: 2;
    -webkit-column-gap: 2em;
}

.infoblock ul.opus_list li {
    margin: 0 0 20px;
    text-align: justify;
    line-height: 1.1;
}

.infoblock ul.opus_list li span {
    font-size: 18px;
    margin: 0;
    text-align: left;
}

.infoblock__highlights-wrapper {
    overflow: hidden;
}

.infoblock__highlights-wrapper ul {
    float: right;
    width: 50%;
    padding-left: 3%;
}

.infoblock__highlights-wrapper li {
    line-height: 1.3;
}

.infoblock .logos {
    width: 45%;
}

.infoblock .brochure-overflow {
    overflow: hidden;
}

.infoblock .infoblock_scanpages {
    width: 40%;
    margin-top: 3%;
    float: right;
}

.infoblock .infoblock_book {
    width: 30%;
    float: left;
}

.infoblock .infoblock_book_2 {
    width: 70%;
}

.infoblock .infoblock_banner {
    width: 51%;
    margin-left: 47%;
    margin-top: -6%;
}

.hierarchical {
    text-align: center;
    font-size: x-large;
}

.metadata_capture {
    font-size: 2.4rem;
    font-weight: 600;
    float: left;
    padding-top: 2rem;
    width: 100%;
}

.infoblock .table1_freeflow {
    width: 70%;
    float: right;
}

.infoblock .table2_freeflow {
    width: 40%;
    float: left;
}

.infoblock .opus_output_block4 {
    font-size: larger;
    font-weight: 600;
    float: left;
}

.infoblock .opus_output_block5 {
    float: left;
    font-size: larger;
    font-weight: 600;
    margin-left: 1%;
}

.images_metadata {
    margin-left: 1%;
}

.infoblock .images_metadata1 {
    width: 100%;
    margin-top: -1%;
}

.infoblock .treated {
    font-size: xx-large;
    text-align: center;
}

.infoblock .content_stabilization {
    margin-top: -1%;
    padding: 1%;
}

.infoblock .content-stabilization__enumeration {
    overflow: hidden;
    width: 45%;
    float: left;
    padding-left: 3rem;
}

.infoblock .content-stabilization__enumeration div {
    float: left;
    width: 48%;
}

.infoblock .content-stabilization__enumeration div ul {
    float: left;
    width: 48%;
}

.infoblock .content-stabilization__enumeration div p {
    width: 100%;
    margin-top: 3%;
}

.infoblock .content_stabilization1 {
    width: 47%;
    float: left;
}

.infoblock .content_stabilization2 {
    width: 47%;
    float: right;
}

.infoblock .content_stabilization3 {
    width: 44%;
}

.infoblock .content_stabilization4 {
    width: 50%;
    float: left;
    margin-left: 2%;
}

.infoblock .content_stabilization5 {
    margin-left: 4%;
    margin-top: -30%;
    width: 18%;
}

.infoblock .content_stabilization6 {
    margin-left: 4%;
}

.infoblock .content_stabilization7 {
    margin-left: 4%;
}

.infoblock .content_stabilization8 {
    margin-left: 4%;
}

.infoblock .content_stabilization9 {
    margin-left: 4%;
}

.infoblock .content_stabilization10 {
    margin-left: 4%;
}

.infoblock .content_stabilization11 {
    margin-left: 4%;
}

.infoblock .content_stabilization12 {
    margin-left: 4%;
}

.infoblock .content_stabilization13 {
    width: 45%;
}

.infoblock .text_block1_page1 {
    width: 48%;
    float: left;
}

.infoblock .text_block2_page1 {
    width: 48%;
    float: right;
}

.infoblock .block_hierarchical_metadata {
    width: 100%;
}

.infoblock .block_hierarchical_metadata_table {
    width: 21%;
    float: left;
    padding-top: 5rem;
    margin-left: 3rem;
}

.infoblock .block_hierarchical_metadata_table2 {
    width: 100%;
    float: left;
}

.infoblock .block_hierarchical_metadata_table3 {
    float: right;
    width: 58%;
}

.infoblock .block_hierarchical_metadata_table4 {
    float: left;
    width: 48%;
}

.infoblock .block_hierarchical_metadata_table5 {
    float: right;
    width: 48%;
}

.infoblock .opus_output_absolute_text {
    width: 27%;
    position: absolute;
    margin-top: -23%;
}

.infoblock .brochure-title-center_software {
    width: 100%;
    float: left;
    margin-top: 1%;
}

.infoblock .templates_software1 {
    text-align: center;
    width: 100%;
    float: left;
    font-size: 2.4rem;
    line-height: 2.6rem;
}

.OAI5_Software {
    width: 100%;
    float: left;
}

.OAI_Software {
    float: left;
    width: 100%;
    font-size: 2.4rem;
    line-height: 2.6rem;
}

.infoblock .content_stabilization_software {
    width: 45%;
    float: right;
    margin-top: -4%;
}

@media all and (min-width: 1200px) and (max-width: 1400px) {
    .infoblock .block_hierarchical_metadata_table3 {
        float: right;
        width: 58%;
    }

    .infoblock .table1_freeflow {
        width: 75%;
        float: right;
        padding-top: 0;
    }

    .infoblock .table2_freeflow {
        width: 40%;
        float: left;
        padding-top: 2rem;
    }

    .infoblock .block_hierarchical_metadata_table {
        width: 23%;
        float: left;
        padding-top: 0;
        margin-left: 0;
    }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
    .infoblock .content_stabilization_software {
        width: 54%;
        margin-left: 1%;
        margin-top: 0;
    }

    .infoblock .opus_output_absolute_text {
        font-size: 1rem;
    }

    .infoblock .block_hierarchical_metadata_table {
        width: 25%;
        float: left;
        margin-left: 2rem;
    }

    .infoblock .table1_freeflow {
        width: 67%;
        float: right;
        padding-top: 3rem;
    }

    .infoblock .table2_freeflow {
        width: 41%;
        float: left;
        padding-top: 4rem;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .infoblock .opus_output_absolute_text {
        font-size: 0.5rem;
    }
}