h3 {
    font-size: 2.4rem;
    line-height: 2.6rem;
    padding-top: 15px;
    color: #000;
    text-align: center;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
}

h5 {
    font-size: 1.6rem;
    line-height: 1.8rem;
    padding-bottom: 5px;
    text-align: center;
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
}

.infoblock__page-2__column {
    width: 49%;
    float: left;
}

.infoblock .page_white_scanner {
    width: 39%;
}

.infoblock .number3-label {
    width: 7%;
    float: left;
}

.infoblock .infoblock__label__searchable {
    width: 15%;
    float: left;
    margin-top: -3%;
}

.infoblock .infoblock__label__searchable2 {
    width: 15%;
    float: left;
    margin-top: -15%;
}

.infoblock__label-search-on {
    margin-top: -17%;
    width: 100%;
    position: absolute;
}

.infoblock__page-3-italic-label {
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    font-size: 2rem;
    line-height: 2.2rem;
    text-align: center;
    font-weight: normal;
    padding-bottom: 10px;
    display: block;
}

.infoblock__page-2__column1 {
    width: 49%;
    float: right;
}

.infoblock__page-3__column-text {
    width: 59%;
    float: left;
    text-align: justify;
}

.infoblock__page-3__column-ul {
    width: 36%;
    float: right;
    text-align: justify;
}

.infoblock ul li {
    line-height: 24px;
}

.infoblock ul {
    padding: 0 0 0 24px;
    list-style: disc;
}

img {
    border-style: none;
}

.infoblock .brochure-title-center {
    color: #000;
    font-size: 3.6rem;
    line-height: 3.8rem;
    text-align: center;
    padding: 14px 0 10px;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
}

.infoblock ul.blue-bullet li {
    position: relative;
    list-style: none;
}

.infoblock .brochure-title-left {
    color: #000;
    font-size: 3.6rem;
    line-height: 3.8rem;
    text-align: left;
    padding: 20px 0 10px;
    margin: 0;
}

.infoblock ul.blue-bullet li:before {
    content: '';
    position: absolute;
    top: 4px;
    left: -23px;
    background: url("../images/BlueBullet.png") no-repeat;
    background-size: 16px;
    width: 16px;
    height: 16px;
}

.infoblock ul.green-bullet li:before {
    content: '';
    position: absolute;
    top: 4px;
    left: -23px;
    background: url("../images/GreenBullet.png") no-repeat;
    background-size: 16px;
    width: 16px;
    height: 16px;
}

div.infoblock span {
    display: block;
    text-align: center;
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
}

div.infoblock h2 {
    color: #000000;
    font-size: 2rem;
    line-height: 2.2rem;
    padding: 0;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
}

.infoblock .bscan-ill--h2 {
    color: #000;
    padding: 0;
    margin: 25px 0 10px 0;
}

.bscan-ill__arrow:before {
    content: '';
    position: absolute;
    top: 0;
    left: -64px;
    width: 65px;
    height: 60px;
}

.seven-step {
    text-align: center;
    position: relative;
}

.seven-step:after {
    content: 'VS';
    position: absolute;
    color: #fff;
    font-size: 4rem;
    line-height: 4.2rem;
    background: #000;
    border-radius: 50%;
    bottom: -35px;
    right: 50%;
    padding: 7px 23px;
    margin: 0 -30px;
    z-index: 1;
}

.seven-step__h3 {
    display: inline;
    text-shadow: none;
    color: #000;
    line-height: 2.6rem;
    font-size: 2.4rem;
    padding-left: 0;
}

.infoblock .seven-step__text {
    display: inline;
}

.seven-step--border {
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 10px;
}

.two-step {
    text-align: center;
    position: relative;
    margin-top: 10px;
}

.two-step:after {
    content: '';
    position: absolute;
    width: 47px;
    height: 65px;
    bottom: 0;
    right: 48%;
}

.two-step--inline {
    padding: 0 4px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.two-step--w1 {
    width: 12%;
}

.two-step--w2 {
    width: 34%;
}

.two-step--w3 {
    width: 53%;
}

.seven-step__h3--padding {
    padding: 0;
}

.blue-doth li:before {
    position: absolute;
    content: '';
    background: #3052ad;
    top: 4px;
    left: -20px;
    width: 14px;
    height: 14px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    box-shadow: inset 0 3px 6px #fff;
}

.method1:before {
    position: absolute;
    content: 'METHOD';
    font-size: 3.2rem;
    top: -10px;
    line-height: 3.4rem;
    left: -152px;
    background-size: contain;
    width: 153px;
    height: 139px;
}

.method2:before {
    content: 'METHOD';
    position: absolute;
    font-size: 3.2rem;
    line-height: 3.4rem;
    top: -10px;
    left: -152px;
    background-size: contain;
    width: 154px;
    height: 111px;
}

h4 {
    font-size: 2rem;
    line-height: 2.2rem;
    color: #000;
    text-align: center;
    font-weight: normal;
}

.infoblock__center--text {
    text-align: center;
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    padding-bottom: 10px;
}

.kic-product {
    text-align: right;
}

.kic-product__row {
    text-align: center;
    vertical-align: top;
    display: inline-block;
    width: calc(100% / 6.18);
}

.kic-product .row__title {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.row__column {
    padding: 10px 5px 5px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 6px #000;
    min-height: 500px;
}

.row__column .column__mini-title {
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-top: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0;
}

.table {
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
}

.table th {
    width: calc(100% / 6);
    height: auto;
    margin: 0;
    text-align: center;
    padding: 0 0 5px 0;
}

.table p {
    text-align: center;
}

.table-bg {
    background: rgba(0, 0, 0, 0.1);
}

.table .table--ta-left {
    text-align: right;
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding-right: 20px;
    width: 180px;
}

th .table--img {
    width: 100px;
    height: 60px;
}

.cicle {
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 1px solid #4a504e;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.green-cicle {
    background: #40b149;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 1px solid #4a504e;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.green-cicle--after {
    position: relative;

}

.green-cicle--after:after {
    position: absolute;
    content: '';
    background: #fff;
    border-radius: 11px 11px 0 0;
    -moz-border-radius: 11px 11px 0 0;
    -webkit-border-radius: 11px 11px 0 0;
    border: 1px solid #4a504e;
    width: 18px;
    height: 8px;
    top: -1px;
    left: -1px;
}

.green-cicle--after-big {
    position: relative;
}

.green-cicle--after-big:after {
    position: absolute;
    content: '';
    background: #fff;
    border-radius: 11px 11px 0 0;
    -moz-border-radius: 11px 11px 0 0;
    -webkit-border-radius: 11px 11px 5px 5px;
    border: 1px solid #4a504e;
    width: 18px;
    height: 13px;
    top: -1px;
    left: -1px;
}

.green-cicle--after-small:after {
    position: absolute;
    content: '';
    background: #fff;
    border-radius: 11px 11px 0 0;
    -moz-border-radius: 11px 11px 0 0;
    -webkit-border-radius: 11px 11px 0 0;
    border: 1px solid #4a504e;
    width: 14px;
    height: 4px;
    top: -1px;
    left: 1px;
}

.bold-line {
    font-size: 3.2rem;
    line-height: 3.4rem;
}

.table__arow {
    position: relative;
}

.table__arow:before {
    content: '';
    position: absolute;
    top: -18px;
    left: 37px;
    width: 64px;
    height: 100%;
    background-size: contain;
}

.infoblock .infoblock__huge-kic-label {
    text-align: center;
    color: #000;
    text-shadow: none;
    font-size: 6.4rem;
    line-height: 6.6rem;
    font-weight: 400;
}

.bold-dollar {
    font-family: 'LatoBold', sans-serif, helvetica, arial;
}

.dollar-size-mini {
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.dollar-size-midle {
    font-size: 2rem;
    line-height: 2.2rem;
}

.dollar-size-subheight {
    font-size: 2.4rem;
    line-height: 2.6rem;
}

.dollar-size-height {
    font-size: 2.8rem;
    line-height: 3rem;
}

.tabl-star {
    margin-left: 20px;
    font-size: 1.2rem;
    line-height: 1.4rem;
    vertical-align: text-top;
    color: #e8383b;
}

.tabl-star-mini {
    margin-left: 20px;
    font-size: 0.8rem;
    line-height: 1rem;
    vertical-align: text-top;
}

.align-right {
    text-align: right;
    float: right;
}

.first-column {
    width: 240px;
    text-align: right;
}

.table__footer {
    font-size: 1.4rem;
    line-height: 1.6rem;
    width: 100%;
}

.table__footer td {
    padding: 5px;
    vertical-align: middle;
}

.history:after {
    content: '';
    position: absolute;
    background-size: contain;
    width: 90%;
    bottom: -7%;
    right: 0;
    height: 90%;
}

.line__persent1:after {
    content: '1% Libraries';
    position: absolute;
    top: 25px;
    right: -74px;
    width: 78px;
    text-align: center;
}

.line__persent4:before {
    content: '4% Businesses';
    position: absolute;
    left: -58px;
    bottom: 41px;
    width: 99px;
    text-align: center;
}

.reservation {
    text-align: center;
    margin-bottom: -6px;
}

.reservation__h2 {
    color: #000;
    font-size: 2.4rem;
    line-height: 2.6rem;
    margin: 0;
    padding: 0 0 10px;
}

.reservation__h3 {
    color: #000;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-family: 'LatoItalic', helvetica, arial, sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.reservation__text {
    text-align: left;
    width: 49%;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    font-size: 1.6rem;
    line-height: 1.8rem;
}

.reservation__text-img {
    margin: 0 auto;
}

.infoblock .text-img__touch {
    text-align: center;
    width: 31%;
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.8rem;
    padding: 0 5px;
}

.img__touch--after {
    position: relative;
}

.img__touch--after:after {
    position: absolute;
    content: '';
    background: url("../images/brochure-pictures/arrows.png") no-repeat;
    bottom: -120px;
    left: 35px;
    background-size: contain;
    width: 100%;
    height: 130px;
}

.reservation__two-tel {
    padding-top: 107px;
    position: relative;
}

.infoblock .two-tel__text-top {
    position: absolute;
    top: 60px;
    right: 0;
    width: 45%;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-family: 'LatoItalic', helvetica, arial, sans-serif;
}

.infoblock__top {
    overflow: hidden;
}

.infoblock .top__logo {
    max-width: 340px;
    float: left;
}

.infoblock__center {
    overflow: hidden;
}

.infoblock .center__img {
    float: right;
    width: 58%;
    padding-left: 20px;
}

.infoblock__nav {
    padding-top: 20px;
    overflow: hidden;
}

.infoblock .nav__li {
    float: left;
    width: 38%;
}

.infoblock .nav__img {
    float: left;
    width: 60%;
}

.infoblock .li--width {
    width: 80%;
}

.nav__li li:first-child {
    list-style: none;
}

.infoblock ul.blue-bullet .no-bullet:first-child:before {
    background: transparent !important;
}

.nav__li--margin {
    margin-left: 20px;
}

.infoblock .infoblock__bottom {
    text-align: justify;
    padding: 0;
    margin: 0;
}

.infoblock__bottom li {
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 33%;
}

.infoblock__bottom li p {
    text-align: center;
}

@-webkit-keyframes color-text {
    from {
        color: #01fe18;
    }
    to {
        color: #01fe18;
    }
}

@keyframes color-text {
    from {
        color: #000000;
    }
    to {
        color: #01fe18;
    }
}

.content__pod {
    display: inline-block;
    overflow: hidden;
}

.frame--text {
    text-align: justify;
    padding: 10px 20px;
}

.wrapper-for-img p:after {
    content: '';
    display: table;
    clear: both;
}

.infoblock span {
    font-weight: normal;
}

.infoblock__photo {
    font-size: 1.6rem;
    line-height: 1.8rem;
}

h2.pod-text {
    font-size: 2.4rem;
    color: #000;
    padding: 0;
    line-height: 2.6rem;
    margin: 0;
}

.infoblock {
    padding: 0;
    margin: 0;
    position: relative;
}

.pbd--frame {
    width: 49%;
    float: left;
    text-align: center;
}

.infoblock .img-preview {
    width: 50%;
}

.pod__library {
    text-align: center;
    padding: 1.2em;
}

.infoblock .library__img {
    width: 51%;
}

.library__img {
    width: 51%;
}

.custom__aline {
    text-align: center;
    padding-bottom: 20px;
}

.custom__aline--pt {
    padding-bottom: 10px;
}

.custom__aline .custom__aline--text {
    width: 90%;
    margin: 0 auto;
    font-size: 1.6rem;
    line-height: 1.8rem;
    text-align: center;
}

@media (max-width: 1366px) {
    .pbd--frame img {
        width: 50%;
    }

    h2.pod-text {
        font-size: 2.2rem;
        line-height: 2.4rem;
    }
}

.infoblock .in-case-enhance {
    width: 70%;
    height: 70%;
    display: block;
}

.infoblock .left-text {
    padding: 20px 0 0 10px;
}

.infoblock .left-text p {
    padding: 0;
}

.infoblock span {
    padding-bottom: 5px;
    display: block;
}

.infoblock__page-11__double {
    width: 50%;
    float: left;
    overflow: hidden;
}

.infoblock__page-11__double__content {
    overflow: hidden;
    padding: 10px;
    background: #D0E6FC;
    margin: 5px;
    border-radius: 1.0rem;
    text-align: center;
}

.infoblock__page-11__in-case-strong {
    font-size: 3.8rem;
    line-height: 4rem;
    padding: 0;
}

.infoblock .in-case-span--center {
    text-align: center;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
}

.infoblock__page-11__in-case-span {
    text-align: right;
    font-size: 2rem;
    line-height: 2.2rem;
    padding-bottom: 5px;
    display: block;
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
}

.infoblock__page-11__in-case-span--center {
    text-align: center;
    font-size: 2.6rem;
    line-height: 2.8rem;
}

.infoblock__page-11__double__content__double {
    width: 50%;
    float: left;
    text-align: center;
}

.infoblock .infoblock__page-11__in-case-enhance {
    width: 70%;
    height: 70%;
    margin: 0 auto;
    display: block;
}

.infoblock .infoblock__page-11__in-case-enhance--left {
    float: left;
    width: 60%;
    height: 60%;
    margin: 0 0 15px 2%;
    display: block;
}

.infoblock__page-11-content-p {
    padding: 60px 0;
}

.infoblock__page-11__in-case-p--italic {
    padding: 10px;
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    display: inline-block;
}

.infoblock__page-11__for-study-p {
    width: 225px;
    float: right;
    margin-top: -125px;
    margin-right: 21%;
}

.infoblock .infoblock__page-11__in-case-enhance--right {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: block;
}

.infoblock .infoblock__page-11__in-case-scan-artwork {
    height: 199px;
    width: auto;
    margin: 0 auto;
    display: block;
}

.infoblock .infoblock__page-11__in-case-scan-map {
    height: 180px;
    width: auto;
    margin: 0 auto;
    display: block;
}

.infoblock .infoblock__click_mini_label {
    font-size: 3.2rem;
    line-height: 3.4rem;
}

.infoblock .personal-document {
    padding: 40px 0 0 0;
}

#scan-diagram {
    float: right;
    width: 40%;
}

#copy-diagram {
    float: left;
    width: 30%;
    padding-bottom: 30px;
}

#fax-diagram {
    float: right;
    width: 28%;
}

#hand-with-yellow-coin {
    float: left;
    width: 32%;
    padding-right: 5px;
}

.infoblock .logo_kic {
    width: 35%;
    float: left;
}

.infoblock .click_click_mini {
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: 600;
    color: #0000F0;
}

p.click_click_mini.brochure-overflow--line {
    display: inline-block;
    font-family: 'LilyUPC', Arial, sans-serif;
    font-size: 4rem;
    line-height: 4.2rem;
    color: #0d5cab;
    padding: 0;
    margin-left: 60px;
}

.normal {
    font-weight: normal !important;
}

.infoblock .brochure-overflow--top {
    margin-top: 40px;
    font-size: 8.5rem;
    line-height: 2.7rem;
    font-family: 'LilyUPC', Arial, sans-serif;
    margin-left: 440px;
}

.infoblock .label2 {
    font-size: 3.6rem;
    line-height: 3.8rem;
    text-align: center;
    display: block;
    padding: 20px 0 10px;
    margin: 0;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
}

.infoblock .text1 {
    width: 47%;
    float: left;
}

.infoblock .text2 {
    width: 47%;
    float: right;
}

.infoblock .two_click_together {
    width: 46%;
}

.infoblock .column {
    width: 49%;
    display: inline-block;
    float: left;
    padding-left: 4%;
}

.infoblock .column1 {
    width: 47%;
    display: inline-block;
    vertical-align: top;
    float: right;
    padding-left: 3%;
}

.infoblock .images--hand {
    width: 25%;
    float: left;
    padding-bottom: 10px;
}

.column__title {
    width: 85%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    line-height: 1;
}

.infoblock .infoblock__click_mini {
    padding-top: 20px;
    padding-bottom: 20px;
}

.column__number1 {
    width: 60%;
    position: relative;
    margin: 0 auto;

}

.column__number1:before {
    content: '';
    position: absolute;
    background: url("../images/brochure-pictures/1.png") no-repeat;
    width: 7%;
    background-size: contain;
}

.column__number2 {
    width: 60%;
    position: relative;
    margin: 0 auto;
}

.column__number3 {
    width: 30%;
    bottom: 0;
    left: 60px;
    padding-top: 1%;
}

.infoblock .map-marker {
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 0;
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
}

.map-marker mark {
    background: #505050;
    color: #fff;
    padding: 2px 5px;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 5px;
}

.map-marker i {
    vertical-align: super;
}

.infoblock .scanner_600 {
    width: 60%;
    margin: 0 auto;
    display: block;
}

.infoblock .text6 {
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    margin-left: -2%;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.infoblock .text5 {
    font-weight: 600;
    font-size: 2.4rem;
    text-align: center;
    line-height: 2.6rem;
}

.infoblock .two_newspapers {
    width: 60%;
    margin: 0 auto;
    display: block;
}

.infoblock .block1 {
    width: 50%;
    float: left;
    padding: 0 10px;
}

.infoblock .text10 {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.6rem;
    width: 100%;
    text-align: center;
}

.infoblock .dvfu2 {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: left;
}

.infoblock .dv_block {
    width: 48%;
    display: inline-block;
    text-align: left;
}

.infoblock .dv_block1 {
    display: inline-block;
    width: 48%;
    float: right;
}

.infoblock .kic_div__logos {
    float: left;
    width: 15%;
    height: 13%;
    padding-right: 10px;
    padding-top: 15px;
}

.infoblock__top {
    overflow: hidden;
}

.infoblock .top__logo {
    max-width: 340px;
    float: left;
}

.top__h1 {
    text-align: left;
    color: #000;
    text-shadow: none;
    font-size: 3.2rem;
    line-height: 3.4rem;
    margin: 0;
}

.top__h2 {
    text-align: left;
    font-family: 'LatoItalic', helvetica, arial, sans-serif;
    font-size: larger;
    font-weight: 500;
    color: #000000;
}

.infoblock__center {
    overflow: hidden;
    margin-top: -50px;
}

.infoblock .center__img {
    float: right;
    width: 63%;
}

.infoblock .center__text--padding {
    position: relative;
    width: 100%;
}

.infoblock .center__text--margin {
    width: 52%;
    position: absolute;
}

.infoblock .center__text {
    padding-top: 60px;
    line-height: 2.4rem;
    position: relative;
}

.infoblock__nav {
    padding-top: 20px;
    overflow: hidden;
}

.infoblock .nav__li {
    float: right;
    width: 38%;
}

.infoblock .nav__img {
    float: left;
    width: 60%;
    margin-right: 20px;
    padding-top: 20px;
}

.nav__li li:first-child {
    list-style: none;
}

.nav__li--margin {
    margin-left: 20px;
}

.infoblock .infoblock__bottom {
    text-align: justify;
    padding: 0;
    margin: 0;
}

.infoblock__bottom li {
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 32%;
}

.infoblock .bottom__img {
    width: 24%;
    margin-left: 25px;
}

.infoblock .bottom__a {
    width: 20%;
    position: relative;
    top: -15px;
}

.bottom__a a {
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: #454733;
    margin-bottom: 10px;
}

.a--rel {
    position: absolute;
    bottom: 76px;
    font-size: 2.8rem;
    line-height: 3rem;
    color: #8c897d;
    width: 230%;
    right: 0;
}

.infoblock .kic_div .true2_save_to_usb {
    width: 42%;
    margin-top: 7%;
    float: left;

}

.infoblock .true2_label-technical,
.infoblock .true2_label2-technical {
    font-size: 2.4rem;
    line-height: 2.6rem;
    float: left;
    margin-left: 15%;
    padding: 15px 0 0 0;
}

.infoblock .true2_label-technical {
    margin-left: 0;
    margin-right: 20%;
    float: right;
}

.infoblock .true2_block_usb {
    width: 56%;
    float: right;
}

.infoblock .true2_block_2 {
    width: 64%;
}

.infoblock .true2_block_3 {
    width: 30%;
    margin-left: 15%;
    font-family: 'LatoItalic', helvetica, arial, sans-serif;
    padding-top: 30px;
}

.infoblock .kic_div .true2_two_screens {
    width: 33%;
    float: right;
    text-align: center;
}

.infoblock .text_undergorund_label {
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    font-weight: 300;
    margin-left: 25%;
    text-align: center;
    width: 70%;
}

.infoblock .label_smart {
    font-weight: 600;
    position: absolute;
    font-size: 3.6rem;
    line-height: 3.8rem;
    left: 0;
    right: 0;
    text-align: center;
    top: 0;
}

.sup_index {
    vertical-align: super;
    font-size: 1.6rem;
    line-height: 1.8rem;
}

.infoblock .label_smart2 {
    font-family: 'LatoItalic', helvetica, arial, sans-serif;
    font-size: 2rem;
    line-height: 2.2rem;
    text-align: center;
    padding-bottom: 10px;
    display: block;
    font-weight: normal;
    width: 51%;
    margin: 0 auto;
}

.infoblock .smart_hard_block {
    border: solid 3px;
    border-radius: 2%;
    background: linear-gradient(to bottom, #97a29c, #e2e3e5);
    margin-top: 2%;
}

.infoblock .label_smart9 {
    font-size: 3.4rem;
    line-height: 3.6rem;
    margin-left: 3%;
    margin-top: 2%;
}

.infoblock .label_smart10 {
    font-size: 2.1rem;
    line-height: 2.3rem;
    margin-left: 3%;
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
}

.infoblock .smart_restaurant_img {
    margin-top: 5px;
    padding-right: 5px;
}

.infoblock .smart_scan_img_fax {
    width: 36%;
    margin-top: 5%;
    float: left;
}

.infoblock .smart_scan_img_fax2 {
    width: 45%;
    float: right;
}

.infoblock .label_smart11 {
    width: 28%;
    margin-left: 36%;
    font-family: 'LatoItalic', helvetica, arial, sans-serif;
    text-align: right;
    position: absolute;
    padding-top: 3%;
}

.infoblock .label_smart12 {
    width: 19%;
    margin-left: 35%;
    margin-top: 23%;
    font-family: 'LatoItalic', helvetica, arial, sans-serif;
    text-align: right;
}

.infoblock .label_smart13 {
    width: 30%;
    margin-left: 6%;
    margin-top: -8%;
    font-family: 'LatoItalic', helvetica, arial, sans-serif;
    text-align: left;
}

.infoblock .img_versus_clickone {
    width: 35%;
    margin-left: 4%;
}

.infoblock .img_versus_clickone1 {
    width: 28%;
    margin-left: 18%;
}

.infoblock .kic_logo_for_versus {
    width: 12%;
    height: auto;
    position: absolute;
    margin-left: 2%;
    margin-top: 8%;
}

.infoblock .super_click_table {
    width: 100%;
    float: left;
    padding: 2%;
    height: 280px;
}

.infoblock .super_click_table td {
    vertical-align: middle;
    padding-left: 5px;
}

.infoblock .first_of_last_label {
    color: #000;
    font-size: 2.4rem;
    line-height: 2.6rem;
    margin-left: 15%;
    padding: 14px 0 10px;
    font-weight: 600;
    float: left;
}

.infoblock .second_of_last_label {
    color: #000;
    font-size: 2.4rem;
    line-height: 2.6rem;
    margin-left: 42%;
    padding: 14px 0 10px;
    font-weight: 600;
    float: left;
}

.infoblock .super_middle_table_click {
    width: 50%;
    margin: 0 auto;
}

.infoblock .super_middle_table_click td {
    vertical-align: middle;
    padding: 5px 0;
}

.infoclock__td-center-align {
    text-align: center;
}

.infoblock .bullet_click_label {
    margin-left: 34%;
    width: 40%;
    padding: 1%;
}

.infoblock .middle_click_label {
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: black;
    width: 100%;
    margin: 1% auto 0;
    text-align: center;
    display: inline-block;
}

.infoblock .back_ground_super_click {
    background: url("../images/brochure-pictures/Page13_people-in-library.png") no-repeat bottom;
    background-size: contain;
}

.brochure-overflow {
    position: relative;
    padding: 0 15px;
}

.brochure-overflow:after {
    content: '';
    display: table;
    clear: both;
}

.brochure-overflow__smart-dock {
    position: relative;
    margin-top: -4%;
}

.smart-dock__tree-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
}

.tree-img__inline {
    display: inline-block;
    width: 37%;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.tree-img__inline--min-width {
    width: 24%;
}

.infoblock__double-wrap {
    overflow: hidden;
}

.infoblock__double__content {
    padding: 5px 10px;
    overflow: hidden;
}

.infoblock__double__content1 {
    padding: 0 10px 0 0;
    overflow: hidden;
    border-radius: 10px;
}

.infoblock__double__content2 {
    padding: 0 0 0 10px;
}

.double-wrap__column {
    float: left;
    width: 48%;
}

.infoblock__double-wrap figure {
    width: 50%;
    float: left;
    margin: 0;
}

.infoblock__double-wrap figure img, .infoblock .diagram {
    width: 58%;
    height: 58%;
    display: block;
    margin: 0 auto;
}

.infoblock__double-wrap figure figcaption {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.infoblock .infoblock__double__double-p {
    width: 50%;
    float: left;
}

.infoblock .bookeye-vs-copiers__strong {
    text-align: center;
    display: block;
    font-size: 2.4rem;
    line-height: 2.6rem;
}

.double-content__text-and-picture-wrapper {
    overflow: hidden;
}

.column__bookeye-scans {
    width: 90%;
    margin-left: 5%;
}

.infoblock .rainbow-text {
    background: #ff0000;
    background: -moz-linear-gradient(left, #ff0000 0%, #ff00ff 16%, #0000ff 33%, #00ffff 50%, #00ff00 67%, #ffff00 83%, #ff0004 100%, #ff0000 100%);
    background: -webkit-linear-gradient(left, #ff0000 0%, #ff00ff 16%, #0000ff 33%, #00ffff 50%, #00ff00 67%, #ffff00 83%, #ff0004 100%, #ff0000 100%);
    background: linear-gradient(to right, #ff0000 0%, #ff00ff 16%, #0000ff 33%, #00ffff 50%, #00ff00 67%, #ffff00 83%, #ff0004 100%, #ff0000 100%);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    font-size: 2.6rem;
    display: inline-block;
    line-height: 2.8rem;
}

.center {
    text-align: center;
}

.smart_hard_block__to-left {
    display: inline-block;
    width: 40%;
}

.smart_hard_block__to-right {
    display: inline-block;
    width: 58%;
}

.row__column .column__litle {
    width: 56%;
}

.seven-step__scan {
    margin-top: -40px;
}

.book-excerpts {
    text-align: left;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
}

.infoblock__page__sitalic {
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
}

.two-step:after {
    content: '';
    position: absolute;
    background: url("../images/PDFJAL_Production_Digitization_for_Journal_Article_Lending/repeat.png") no-repeat;
    width: 47px;
    height: 33px;
    bottom: 7px;
    right: 50%;
}

.two-step:before {
    content: '';
    position: absolute;
    background: url("../images/PDFJAL_Production_Digitization_for_Journal_Article_Lending/book.png") no-repeat;
    width: 115px;
    height: 70px;
    top: 0;
    right: 0;
    background-size: contain;
}

@media (max-width: 1870px) {
    .for-study-p {
        margin-top: 0;
    }
}

@media (max-width: 1770px) {
    .infoblock .label_smart {
        position: relative;
    }

    .infoblock .label_smart2 {
        position: relative;
    }
}

@media (max-width: 1750px) {
    .center__text--margin {
        padding-top: 0;
    }

    .infoblock .nav__li {
        padding-left: 0;
    }

    .infoblock .nav__img {
        margin-right: 5px;
    }
}

@media (max-width: 1700px) {
    .infoblock .true2_block_3 {
        width: 40%;
        margin-left: 12%;
        font-family: 'LatoItalic', helvetica, arial, sans-serif;

    }

    .two-step:before {

        width: 80px;
        height: 50px;
    }
}

@media (max-width: 1600px) {

    .smart-dock__tree-img {
        width: 100%;
        position: static;
    }

    .tree-img__inline {
        width: 32%;
    }

    .infoblock .center__img {
        width: 50%;
    }

    .infoblock .center__text--margin {
        width: 60%;
        padding-top: 6%;
    }

    .tree-img__inline--min-width {
        width: 28%;
    }

    .infoblock .center__text--padding {
        position: relative;
        width: 100%;
    }

    .infoblock .label_smart13 {
        margin-top: -23%;
    }

    .row__column {
        min-height: 450px;
    }

    .infoblock .label_smart11 {
        margin-left: 34%;
        font-size: 1.2rem;
        line-height: 1.4rem;
    }

    .infoblock .label_smart13 {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }

    .infoblock .label_smart12 {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }

    .infoblock .label3 {
        padding-top: 4%;
    }

    .infoblock__double {
        width: 50%;
    }

    .infoblock .in-case-enhance {
        width: 65%;
    }

    .infoblock .label_smart2 {
        top: 0;
    }

    .in-case-strong {
        font-size: 2.8rem;
        line-height: 3rem;
    }

    .infoblock .in-case-enhance--left {
        width: 50%;
    }

    .for-study-p {
        width: 35%;
    }

    .seven-step__scan {
        margin-top: -20px;
    }

    .two-step--w3 {
        width: 52%;
    }

    #KIC_Click_and_KIC_Click_Mini .brochure-overflow--top {
        margin-left: 350px;
        font-size: 7rem;
        line-height: 7.2rem;
    }

    p.click_click_mini.brochure-overflow--line {
        font-size: 3.5rem;
        line-height: 3.7rem;
        margin-left: 20px;
    }

    h2.brochure-title-left.brochure-overflow--line.brochure-overflow--top.normal.with-italic {
        padding-bottom: 0;
    }

    #KIC_Click_and_Mini_True_2_Touch_User_Interface img.infoblock__page-6__image-hand {
        width: 43%;
        margin-top: 160px;
    }

    ul.smart-dock__tree-img {
        margin-top: -20%;
    }

    #KIC_Click_and_Mini_KIC_Fleet_Manager .nav__img {
        padding-top: 45px;
    }

    ul.nav__li.blue-bullet {
        margin-top: 10px;
    }

    p.floorstand {
        margin-left: -50px;
    }

    #KIC_Click_and_Mini_In_Case_You_Didnt_Know .infoblock__page-11-content-p {
        padding: 15px 0;
    }

    #KIC_Click_and_Mini_In_Case_You_Didnt_Know .infoblock__page-11__in-case-scan-artwork {
        height: 190px;
        padding-top: 25px;
    }

    #KIC_Click_and_Mini_In_Case_You_Didnt_Know .infoblock__page-11__in-case-scan-map {
        height: 138px;
    }

    figure.printer {
        padding-top: 25px;
    }

    figcaption.move {
        margin-left: -30px;
    }

    #copy-diagram {
        padding-bottom: 70px;
    }

    #fax-diagram {
        padding-bottom: 30px;
    }

    #KIC_Click_and_Mini_KIC_Fleet_Manager p.center__text.center__text--margin.fleet {
        padding-top: 0 !important;
    }
}

@media (max-width: 1600px) and (min-width: 1460px) {
    .table__arow:before {
        left: 20px;
    }

}

@media (max-width: 1459px) and (min-width: 1360px) {
    .table__arow:before {
        left: 10px;
    }

    .infoblock .super_middle_table_click td {
        padding: 3px 0;
    }

    .infoblock .nav__li {
        width: 32%;
        margin-top: 2%;
    }

    .infoblock .true2_block_3 {
        margin-left: 9%;
    }

    .smart-dock__tree-img {
        margin-top: -15%;
    }

    .seven-step:after {
        padding: 10px 23px;
    }
}

@media (max-width: 1400px) {
    .two-step:after {
        bottom: 0;
        width: 26px;
        height: 27px;
        background-size: contain;
    }

    .two-step:before {
        width: 66px;
        height: 35px;
    }

}

@media (max-width: 1359px) and (min-width: 1260px) {
    .table__arow:before {
        left: 0;
    }
}

@media (max-width: 1259px) and (min-width: 1200px) {
    .table__arow:before {
        width: 54px;
        left: 0;
    }
}

@media (max-width: 1199px) {
    .table__arow:before {
        left: 0;
    }

}

@media (max-width: 1465px) and (min-width: 1387px) {
    .infoblock__nav {
        margin-top: 5%;
    }
}

@media (max-width: 1420px) {
    .infoblock .two-tel__text-top {
        font-size: 1.6rem;
        line-height: 1.8rem;
    }
}

@media (max-width: 1386px) {
    .infoblock p {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    .infoblock .top__logo {
        max-width: 30%;
    }

    .infoblock__top {
        margin-bottom: 5%;
    }

    .infoblock__nav {
        margin-top: 0;
    }

    .infoblock__page-3-italic-label {
        font-family: 'LatoItalic', helvetica, arial, sans-serif;
        font-size: 1.8rem;
        line-height: 2rem;
        text-align: center;
        padding-bottom: 15px;
    }

    .infoblock__center {
        margin-top: -40px;
    }

    .column__ul_fond {
        line-height: 1.6rem;
        font-size: 1.4rem;
    }

    .infoblock .nav__li {
        line-height: 1.6rem;
        font-size: 1.4rem;
    }

    .sitalic {
        line-height: 1.6rem;
        font-size: 1.4rem;
    }

    .custom__aline .custom__aline--text {
        line-height: 1.6rem;
        font-size: 1.4rem;
    }

    .infoblock .super_click_table {
        line-height: 1.6rem;
        font-size: 1.4rem;
        height: 180px;
    }

    .infoblock .column1 {
        padding-bottom: 15px;
    }

    .infoblock .super_middle_table_click {
        line-height: 1.6rem;
        font-size: 1.4rem;
    }

    .table__footer {
        line-height: 1.6rem;
        font-size: 1.4rem;
    }

    .infoblock .true2_label {
        line-height: 2.6rem;
    }

    .infoblock .center__text--padding {
        margin-top: -20px;
    }
}

@media (max-width: 1287px) and (min-width: 1200px) {
    .infoblock__nav {
        padding-top: 10px;
    }
}

@media (max-width: 1242px) and (min-width: 1200px) {
    .infoblock .click_click_mini {
        padding-left: 0;
    }

    .seven-step__text {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }
}

@media (max-width: 1200px) and (min-width: 1072px) {
    .infoblock .center__text--margin {
        margin-top: 5%;
    }
}

@media (max-width: 1071px) {
    .infoblock .center__text--margin {
        margin-top: 0;
    }

    .infoblock .nav__img {
        float: left;
        width: 60%;
        padding-top: 35px;
    }

    .infoblock .infoblock__click_mini_label {
        font-size: 2.4rem;
        line-height: 2.6rem;
    }

    #fax-diagram {
        float: right;
        width: 28%;
        padding-bottom: 30px;
    }

    #copy-diagram {
        padding-bottom: 75px;
    }

    .infoblock .li--width {
        width: 60%;
    }

    .reservation__h2--center {
        margin-top: 20px;
    }

    .infoblock .infoblock__page-5__seven-step--border {
        padding: 20px;
        border: 2px solid #000;
        border-radius: 10px;
        min-height: 210px;
    }

    .infoblock .center__text {
        line-height: 1.8rem;
    }

    .row__column {
        min-height: 380px;
    }
}

@media (max-width: 1124px) and (min-width: 1092px) {
    .infoblock .label_smart13 {
        margin-top: -15%;
    }
}

@media (max-width: 1770px) {
    .infoblock__page-11__for-study-p {
        margin-top: -117px;
        margin-right: 11%;
    }

    .infoblock__page-11-content-p {
        padding: 50px 0;
    }
}

@media (max-width: 1680px) {
    .infoblock .brochure-overflow--top {
        margin-left: 360px;
        font-size: 8rem;
        line-height: 7.8rem;
    }

    p.click_click_mini.brochure-overflow--line {
        margin-left: 15px;
        margin-top: -20px;
    }

    .img__touch--after:after {
        width: 80%;
    }

    .infoblock .nav__img {
        padding-top: 40px;
    }

    .infoblock .infoblock__page-11__in-case-scan-map {
        height: 158px;
    }

    .infoblock .infoblock__page-11__in-case-scan-artwork {
        height: 178px;
    }

    #KIC_Click_and_Mini_True_2_Touch_User_Interface img.infoblock__page-6__image-hand {
        width: 43%;
        margin-top: 120px;
    }

    figcaption.move {
        margin-left: -20px;
    }

    #KIC_Click_and_Mini_KIC_Fleet_Manager p.center__text.center__text--margin.fleet {
        position: absolute;
        padding-top: 20px;
    }

    p.floorstand {
        margin-left: -60px;
    }

    #copy-diagram {
        float: left;
        width: 30%;
        padding-bottom: 65px;
    }

    .infoblock__double-wrap figure img, .infoblock .diagram {
        width: 68%;
        height: 68%;
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 1685px) {
    .infoblock__page-11-content-p {
        padding: 33px 0;
    }
}

@media (max-width: 1590px) {
    .infoblock__page-11__for-study-p {
        margin-top: -113px;
        margin-right: 2%;
    }
}

@media (max-width: 1488px) {
    .infoblock__page-11__for-study-p {
        width: 115px;
        float: right;
        margin-top: 5%;
    }
}

@media (max-width: 1370px) {
    .infoblock__page-11-content-p {
        padding: 6px 0;
    }

    .infoblock .kic_div__logos {
        float: left;
        width: 20%;
        height: 13%;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 25px;
    }

    #fax-diagram {
        padding-bottom: 10px;
    }

    .infoblock .infoblock__click_mini_label {
        font-size: 2.6rem;
        line-height: 2.8rem;
    }

    .infoblock .infoblock__label__searchable2 {
        width: 15%;
        float: left;
        margin-top: -18%;
    }

    .infoblock p {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    .infoblock .infoblock__page-11__in-case-enhance--right {
        padding-top: 53px;
    }
}

@media (max-width: 1250px) {
    .infoblock__page-11__for-study-p {
        width: 111px;
    }
}

.infoblock__top .label2-fleet {
    font-size: 5rem;
    line-height: 5.2rem;
    text-align: center;
    padding: 20px 0 0 0;
    margin: 0;
    font-weight: normal;
}

#KIC_Click_and_Mini_Reservation_App .resize {
    font-size: 3.2rem;
    line-height: 3.4rem;
}

.with-subh {
    padding-bottom: 0;
}

.triangle-pointer {
    font-size: 5rem;
    line-height: 3rem;
    color: gray;
    display: block;
}

.true2_block_3 {
    position: relative;
}

.true2_block_3 .triangle-pointer {
    position: absolute;
    left: 105%;
    top: 70px;
}

h3.true2_label.move {
    padding: 0;
}

@media (max-width: 1280px) {
    .infoblock .center__text--margin {
        margin-top: -6%;
    }

    .infoblock__nav {
        padding-top: 30px;
    }

    .infoblock__page-5__two-step .infoblock__page-5__two-step--w3 {
        padding-top: 20px;
    }

    p.infoblock__page-6__p-4 {
        width: 55%;
    }

    .infoblock__page-6__position-relative .infoblock__page-6__under-text {
        bottom: -5%;
        width: 100%;
        left: 11%;
    }

    #KIC_Click_and_Mini_KIC_Fleet_Manager .infoblock__nav .nav__img {
        padding-top: 110px !important;
        width: 60% !important;
    }

    .infoblock .brochure-overflow--top {
        font-size: 6rem;
        line-height: 6.2rem;
    }

    p.click_click_mini.brochure-overflow--line {
        font-size: 3rem;
        line-height: 3.2rem;
    }

    .infoblock .brochure-title-left {
        padding: 20px 0 0;
    }

    .infoblock .li--width {
        padding-left: 10px;
    }

    .infoblock .in-case-enhance {
        width: 85%;
    }

    .infoblock .infoblock__page-11__in-case-scan-artwork {
        height: 222px;
        margin-left: -5px;
    }

    .infoblock .infoblock__page-11__in-case-scan-map {
        height: 158px;
        padding-left: 10px;
    }

    #KIC_Click_and_KIC_Click_Mini p.click_click_mini.brochure-overflow--line {
        margin-left: 40px;
        width: auto;
        font-size: 2.7rem;
        line-height: 2.9rem;
    }

    .infoblock .infoblock__page-6__true-2-touch {
        padding-bottom: 30px;
    }

    #KIC_Click_and_Mini_True_2_Touch_User_Interface .overflow_hidden .infoblock__page-6__image-hand {
        margin-top: 140px;
    }

    ul.smart-dock__tree-img {
        margin-top: -17%;
    }

    figcaption.move {
        margin-left: -35px;
    }

    .infoblock .label_smart9 {
        font-size: 3.2rem;
        line-height: 3.4rem;
    }

    h3.reservation__h2.reservation__h2--center.move {
        font-size: 2.4rem;
        line-height: 2.6rem;
    }

    span.italic-font.resize-app {
        font-size: 2rem;
        line-height: 2.2rem;
    }

    ul.nav__li.blue-bullet {
        margin-top: 50px;
    }

    .infoblock__double-wrap figure figcaption {
        text-align: center;
        width: 60%;
        margin: 0 auto;
    }

    #KIC_Click_and_KIC_Click_Mini h2.brochure-title-left.brochure-overflow--line.brochure-overflow--top.normal {
        font-size: 6rem;
        line-height: 6.2rem;
        padding-left: 0;
        margin-left: 280px;
    }

    h3.infoblock__page-6__left-header.true-two-touch {
        font-size: 2.3rem;
        line-height: 2.5rem;
    }

    p.infoblock__page-11-content-p.true-touch {
        padding: 0 !important;
    }

    span.in-case-span--center.case {
        font-size: 2rem;
    }

    #KIC_Click_and_Mini_In_Case_You_Didnt_Know .infoblock__page-11__double__content__double .infoblock__page-11__in-case-scan-artwork {
        height: 76%;
        width: 76%;
        padding: 26px 26px;
        box-sizing: content-box;
    }

    .infoblock__double-wrap figure figcaption {
        width: 90%;
    }

    .infoblock__double__content1 figure.printer {
        margin-top: -5px;
    }

    .infoblock__double-wrap figure img, .infoblock .diagram {
        width: 80%;
        height: 80%;
    }
}

@media (max-width: 1366px) {
    .infoblock .center__text--margin {
        margin-top: -1%;
    }

    #KIC_Click_and_Mini_KIC_Fleet_Manager .infoblock__nav .nav__img {
        padding-top: 60px;
        width: 67%;
    }

    #KIC_Click_and_Mini_True_2_Touch_User_Interface .infoblock__page-6__scanner-other {
        padding-bottom: 30px;
    }

    .infoblock .brochure-overflow--top {
        margin-left: 278px;
    }

    p.click_click_mini.brochure-overflow--line {
        margin-left: 55px;
        width: 50%;
        margin-top: -20px;
        text-align: center;
        font-size: 4rem;
        line-height: 4.2rem;
    }

    p.infoblock__page-6__under-text {
        bottom: -6%;
        left: 11%;
    }

    #KIC_Click_and_Mini_In_Case_You_Didnt_Know .infoblock__page-11__in-case-scan-artwork {
        height: 70%;
        width: 70%;
        padding-top: 26px;
    }

    #KIC_Click_and_Mini_In_Case_You_Didnt_Know .infoblock__page-11__in-case-scan-map {
        width: 80%;
        height: 80%;
    }

    .infoblock .images--hand {
        width: 35%;
        padding: 10px 3px;
        box-sizing: content-box;
    }

    #copy-diagram {
        padding: 45px 2px;
        box-sizing: content-box;
    }

    #fax-diagram {
        padding: 30px 3px;
    }

    #KIC_Click_and_Mini_True_2_Touch_User_Interface img.infoblock__page-6__image-hand {
        margin-top: 100px;
    }

    h2.brochure-title-left.brochure-overflow--line.brochure-overflow--top.normal {
        font-size: 5.8rem !important;
        line-height: 6rem !important;
        padding-left: 0;
    }

    p.click_click_mini.brochure-overflow--line {
        margin-left: 50px;
        width: auto;
        margin-top: -10px;
        text-align: center;
        font-size: 3.0rem;
        line-height: 2.7rem;
    }

    h2.brochure-title-left.brochure-overflow--line.brochure-overflow--top.normal.with-italic {
        padding-bottom: 0;
    }

    #hand-with-yellow-coin {
        padding-bottom: 20px;
    }

    #KIC_Click_and_Mini_KIC_Face_Down_vs_Face_Up .infoblock__page-5__seven-step--border {
        min-height: 220px;
    }

    p.floorstand {
        margin-left: -50px;
    }

    figcaption.move {
        margin-left: -30px;
    }

    p.label_smart2.with-subh.smartdock {
        width: 70%;
    }

    figure.printer {
        margin-top: -2px;
    }

    #KIC_Click_and_Mini_In_Case_You_Didnt_Know .in-case-enhance {
        width: 85%;
    }

    #KIC_Click_and_Mini_KIC_Fleet_Manager .infoblock__center .center__text--padding {
        margin-top: -50px;
    }

    #KIC_Click_and_Mini_In_Case_You_Didnt_Know .infoblock__page-11-content-p {
        padding: 5px 0;
    }
}

h2.label2.with-subh.resize {
    padding-bottom: 0;
}

h2.label2.resize {
    padding-bottom: 0;
}

h3.text5.resize,
h3.text10.resize,
h3.dvfu2.resize {
    padding-top: 0;
}

.infoblock .infoblock__page-5__seven-step--border {
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    min-height: 270px;
}

.infoblock__page-5__seven-step {
    text-align: center;
    position: relative;
}

.wrap-face {
    float: left;
    margin: -10px 0 -35px 150px;
}

.clearfix {
    clear: both;
}

.infoblock .infoblock__page-5__block-header-3 {
    color: #000;
    font-size: 2.4rem;
    line-height: 2.6rem;
    margin-top: 0;
    display: inline-block;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
}

div .infoblock__page-5__block-p {
    display: inline-block;
}

.two-step {
    text-align: center;
    position: relative;
    margin-top: 10px;
}

.seven-step--border {
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 10px;
}

.infoblock__page-5__two-step--w1 {
    width: 14%;
}

.infoblock__page-5__two-step--inline {
    padding: 0 4px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.infoblock__page-5__two-step--w2 {
    width: 35%;
}

.infoblock__page-5__two-step--w3 {
    width: 49%;
}

.infoblock__page-5__two-step:before {
    content: '';
    position: absolute;
    background: url("../images/brochure-pictures/FaceUp.png") no-repeat;
    width: 10%;
    top: 0;
    right: 0;
    background-size: contain;
    height: 15%;
}

.infoblock .infoblock__page-5__two-step {
    text-align: center;
    position: relative;
    margin-top: 10px;
}

.infoblock .infoblock__page-5__seven-step--border {
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    min-height: 270px;
}

.infoblock__page-5__seven-step:after {
    content: 'VS';
    position: absolute;
    color: #fff;
    font-size: 200%;
    background: #000;
    border-radius: 100%;
    bottom: -26px;
    right: 50%;
    padding: 1.2% 3%;
    margin: 0 -3%;
    z-index: 1;
}

.overflow_hidden {
    overflow: hidden;
}

.infoblock .infoblock__page-6__true-2-touch {
    float: left;
    width: 20%;
    margin-right: 4%;
    padding-top: 10px;
}

.infoblock .infoblock__page-6__scanner-other {
    float: right;
    width: 35%;
    height: 75%;
    margin-right: 7%;
    padding-bottom: 15px;
}

img.infoblock__page-6__image-hand {
    width: 43%;
    margin-top: 30px;
}

.infoblock__page-6__left-block {
    float: right;
    width: 50%;
    clear: both;
}

img.infoblock__page-6.scanner-picture {
    padding: 0 0 10px 20px;
    box-sizing: content-box;
    margin-top: 0;
}

.story-text {
    padding-top: 20px;
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    width: 48%;
    margin-left: 10%;
    position: relative;
    margin-bottom: 50px;
}

.infoblock__page-6__position-relative {
    position: relative;
    float: right;
    width: 25%;
    padding-right: 25px;
}

.infoblock__page-6__under-text {
    position: absolute;
    bottom: -5%;
    left: 26%;
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    font-size: 1.4rem;
}

.infoblock .triangle-pointer {
    font-size: 5rem;
    line-height: 3rem;
    color: gray;
    display: block;
}

.page-6-arrow {
    position: absolute;
    right: -6%;
}

h3.reservation__h2.reservation__h2--center.resize {
    padding-bottom: 0;
}

.infoblock__page-8__reservation__h2 {
    color: #000;
    font-size: 2.6rem;
    line-height: 2.8rem;
    font-family: 'LatoBold', helvetica, arial, sans-serif;
    margin: 0;
}

.infoblock .label_smart2 {
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    font-size: 2rem;
    line-height: 2.2rem;
    text-align: center;
    padding-bottom: 10px;
    display: block;
    font-weight: normal;
    width: 51%;
    margin: 0 auto;
}

h2.label2.move {
    padding-bottom: 0;
}

h3.reservation__h2.reservation__h2--center.move {
    padding-bottom: 0;
}

.reservation__h2--center {
    text-align: center;
    color: #8ca1c9;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 0;
    line-height: 2.7rem;
    margin-top: auto;
    letter-spacing: 0;
    font-family: 'LatoItalic', helvetica, arial, sans-serif;
    font-weight: normal;
}

.reservation__text1 {
    padding: 0 10px 5px 0;
    float: left;
    width: 50%;
}

.reservation__text2 {
    padding: 0 0 5px 10px;
    float: right;
    width: 50%;
}

p.label_smart10.lib {
    margin-left: 0;
    text-align: center;
}

h3.label_smart9.lib {
    margin-left: 0;
}

h2.label2.clearfix.resize.bottom-down {
    padding-bottom: 10px;
}

.infoblock .infoblock__page-9__top__logo {
    max-width: 340px;
    float: left;
}

.infoblock .infoblock__page-9 .infoblock__page-9__center__text--padding {
    padding-top: 90px;
    line-height: 2.4rem;
    position: relative;
}

.infoblock__page-9__center {
    overflow: hidden;
    margin-top: -130px;
}

.infoblock .infoblock__page-9__center__img {
    float: right;
    width: 65%;
    padding-left: 20px;
}

.infoblock .infoblock__page-9 .infoblock__page-9__center__text--margin {
    position: absolute;
    padding-top: 10px;
    line-height: 2.4rem;
    width: 37%;
}

.infoblock .infoblock__page-9__nav__img {
    float: left;
    width: 60%;
}

.infoblock__page-9__nav {
    padding-top: 20px;
    overflow: hidden;
}

.infoblock .infoblock__page-9__nav__li {
    float: left;
    width: 38%;
}

.infoblock ul {
    padding: 0 0 0 24px;
    list-style: disc;
}

p.center__text.center__text--margin.fleet {
    position: absolute;
    padding-top: 40px;
}

h3.h-app {
    color: #000;
    font-size: 2.6rem;
    line-height: 2.8rem;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    margin: 0;
    padding-top: 0;
}

.italic-font {
    color: #000;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: normal;
    margin: 0;
    padding: 0 0 10px 0;
}

.infoblock .text-nocenter {
    text-align: left;
}

#KIC_Click_and_Mini_In_Case_You_Didnt_Know .label2-in-case {
    font-size: 3.8rem;
    line-height: 4rem;
    padding: 0;
}

img.redsign {
    float: right;
    width: 40%;
    height: 40%;
    margin: 0 auto;
    display: block;
    padding-right: 20px;
    box-sizing: content-box;
}

h2.label2.resize.top-padding {
    padding-top: 30px;
}

@media (max-width: 1024px) {
    #copy-diagram {
        padding-bottom: 60px;
    }

    #hand-with-yellow-coin {
        padding-bottom: 10px;
    }

    .smart-dock__tree-img {
        margin-top: -120px;
    }

    .infoblock .infoblock__page-11__in-case-scan-artwork {
        height: 213px;
    }

    #KIC_Click_and_KIC_Click_Mini .brochure-overflow--top {
        margin-left: 280px;
    }

    #fax-diagram {
        padding: 40px 3px;
    }

    #KIC_Click_and_Mini_KIC_Fleet_Manager p.center__text.center__text--margin.fleet {
        padding-top: 50px;
    }

    #KIC_Click_and_Mini_KIC_Fleet_Manager .infoblock__nav .nav__img {
        padding-top: 50px !important;
        width: 60% !important;
    }

    ul.nav__li.blue-bullet {
        margin-top: 18px;
    }

    #KIC_Click_and_Mini_In_Case_You_Didnt_Know .infoblock__page-11__double__content__double .infoblock__page-11__in-case-scan-artwork {
        height: 71%;
        width: 71%;
    }
}

figcaption {
    line-height: 1.2rem;
}

@media screen and (min-width: 0\0
) {
    .infoblock .rainbow-text {
        background: none;
        color: black;
    }

    .smart-dock__tree-img {
        margin-top: -15%;
    }
}

.paragraph-pb {
    padding-bottom: 18px !important;
}

.wrap-double-p {
    float: left;
    width: 50%;
}

figcaption {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    text-align: center;
}

figcaption.floorstand {
    margin-left: -55px;
}

.tree-img__inline figcaption.move{
    width: 180%;
    margin-left: -45px;
}