#scan-diagram {
    float: right;
    width: 40%;
}

#copy-diagram {
    float: left;
    width: 30%;
}

#fax-diagram {
    float: right;
    width: 30%;
}

#hand-with-yellow-coin {
    float: left;
    width: 40%;
    margin-right: 5px;
}

#dollar-and-card {
    float: left;
    width: 55%;
}

#copy-card-and-cash-header {
    text-align: center;
}