.infoblock .row-style {
    float: left;
    position: relative;
    width: 50%;
    padding: 0 10px;
}

.infoblock .float-image-right {
    float: right;
    overflow: hidden;
}

.infoblock .section-1-image {
    display: inline-block;
    width: 33%;
    margin-left: 5%;
}

.infoblock .section-2-image {
    width: 17%;
    margin: -5% 0 0 10px;
}

.infoblock .section-header {
    font-size: 25px;
    text-align: center;
    color: black;
    padding-top: 2%;
    padding-bottom: 20px;
}

.infoblock .section-header--left {
    text-align: left;
}

.infoblock .cursive-text-smaller-center {
    font-style: italic;
    text-align: center;
    font-size: 0.9em;
}

.infoblock .cursive-text-smaller-left {
    font-style: italic;
    text-align: left;
    font-size: 0.9em;
}

.infoblock .noborder-table {
    border-style: hidden;
    font-family: sans-serif !important;
}

.infoblock .noborder-table td {
    padding: 0 5px !important;
    margin: 0 5px !important;
}

.infoblock .sub-header {
    margin-top: -20px;
}

.infoblock .ugly-image {
    height: 500px;
    margin-top: -70%;
}

.infoblock .image-text {
    position: relative;
    color: gray;
    font-size: 0.9em;
}

.infoblock #left-image-text {
    top: -310px;
    left: 0;
}

.infoblock #right-image-text {
    text-align: right;
    top: -440px;
    right: 25px;
}

.infoblock #last_p_fix {
    margin-top: -100px;
}
