#left-paragraph {
    margin-bottom: 10px;
}

#scanners-container {
    position: relative;
    height: 100px;
}

#white-scanner-with-yellow-book {
    width: 100px;
    position: absolute;
    top: 5px;
    z-index: 1000;
}

#black-scanner-with-blue-book {
    width: 70px;
    position: absolute;
    left: 173px;
}

#black-scanner-with-two-screens1,
#black-scanner-with-two-screens2 {
    width: 60px;
    position: absolute;
}

#black-scanner-with-two-screens1 {
    left: 82px;
}

#kic-click-tabletop {
    position: absolute;
    top: 92px;
    left: 30px;
    z-index: 2000;
}

#black-scanner-with-two-screens2 {
    left: 236px;
}

#kic-click-mini-tabletop {
    position: absolute;
    top: 77px;
    left: 170px;
    z-index: 2000;
}

#dlsg-at-imageaccess {
    width: 189px;
    margin-left: -9px;
}

#dlsg-ref {
    color: #606060;
    font-weight: bold;
    position: relative;
    top: -13px;
}