.dropdown {
    display: none;
    position: absolute;
    z-index: 2;
    margin-left: -15px;
}

.dropdown li {
    position: relative;
    background-color: #262E38;
    opacity: 0.9;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    display: block;
    border-bottom: 1px rgba(246, 246, 246, 0.1) solid;;
    padding: 10px 5px 10px 20px;
}

.drop {
    z-index: 20;
    position: absolute;
    display: none;
    font-size: 14px;
    top: 0;
    width: 190px;
    left: 209px;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    -webkit-transition: all 1s linear;
}

.dropdown li:hover .drop {
    display: block;
}

.mainmenu > li:hover .dropdown {
    display: block;
}

.mainmenu {
    position: relative;
    display: flex;
    width: 70%;
    list-style-type: none;
    margin: 10px auto;
    background-color: #262E39;
    justify-content: space-between;

}

.mainmenu a {
    color: #fff;
}

.mainmenu > li > a:hover {
    color: #047BCB;
}

.mainmenu .dropdown li:hover > a {
    text-shadow: 1px 1px 2px #fff, 0 0 1em #047BCB;
}

.mainmenu > li {
    padding: 10px 0;
    font-weight: normal;
    background-color: #262E39;
}

.mainmenu ul li {
    width: 100%;
    cursor: pointer;
}
.mainmenu .dropdown li.group_link {
    text-transform: uppercase;
    padding: 10px 20px 10px 5px;
}