.dropdown {
    display: none;
    position: absolute;
    z-index: 2;
    width: 240px;
    margin-left: -15px;
}

.dropdown li {
    position: relative;
    background-color: rgb(38, 46, 57);
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    -webkit-transition: all 1s linear;
}

.drop {
    z-index: 20;
    position: absolute;
    display: none;
    font-size: 14px;
    top: 0;
    width: 190px;
    left: 250px;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    -webkit-transition: all 1s linear;
}

.dropdown li {
    display: block;
    border-bottom: 2px solid #fff;
    padding: 10px 5px;
}

.dropdown li:hover .drop {
    display: block;
}

.mainmenu > li:hover .dropdown {
    display: block;
}

.mainmenu {
    position: relative;
    display: flex;
    width: 70%;
    list-style-type: none;
    margin: 10px auto;
    background-color: #262E39;
    justify-content: space-between;

}

.mainmenu a {
    color: #fff;
}

.mainmenu a:hover {
    color: #047BCB;
}

.mainmenu .dropdown li:hover a {
    color: #047BCB;
}

.mainmenu > li {
    padding: 10px 0;
    font-weight: normal;
    background-color: #262E39;
}

.mainmenu ul li {
    width: 100%;
    cursor: pointer;
}



