@media screen and (max-width: 1885px) {
    .wrapper-for-img .inf--padding {
        top: 80%;
    }
}

@media screen and (max-width: 1880px) {
    .brochure-block .grean-right {
        padding-right: 10%;
    }

    .brochure-block .grean-left {
        padding-left: 10%;
    }
    .two-step:before{
        width: 80px;
        height: 40px;
    }
    .table__arow:before {
        left: 25px;
    }
    .history:after{
        bottom: -16%;
        width: 80%;
        height: 80%;
    }
}
@media screen and (max-width: 1800px) {
    .logo-frame-block {
        padding-left: 5%;
    }

    .logo-frame-block__dlsg-logo img {
        height: 100px;
    }

    .caption__h {
        font-size: 50px;
        line-height: 1;
    }
    .infoblock__center .center__text--margin {
        position: relative;
    }
    .content .infoblock .nav__li {
        width: 32%;
    }
    .img__touch--after:after {
        bottom: -108px;
        left: 35px;
        width: 72%;
        height: 120px;
    }
    .infoblock .two-tel__text-top {
        top: 34px;
    }
    .left__link {
        font-size: 18px;
    }
    .table__arow:before {
        left: 0;
    }
    .infoblock__line--w40 {
        width: 100%;
    }
    .infoblock__line--w60 {
        width: 100%;
    }
}

@media screen and (max-width: 1700px) {
    .unyver__taxt {
        margin: 0 !important;
    }

    .content__unyver {
        margin-top: -3% !important;
    }

    .topbar li {
        padding-left: 7%;
    }

    .wrapper-for-img .inf--padding {
        position: relative;
    }

    .logo-frame-block {
        padding-left: 10%;
    }

    .logo-frame-block__dlsg-logo img {
        height: 80px;
    }

    .caption__h {
        font-size: 40px;
        line-height: 42px;
    }

    .brochure-block .grean-right {
        padding-right: 2%;
    }

    .brochure-block .grean-left {
        padding-left: 2%;
    }
    .infoblock .vertical-text {
        left: -65px;
    }
}

@media screen and (max-width: 1640px){
    .infoblock .a--rel{
        position: relative;
        bottom:0;
    }
    .infoblock .infoblock__center{
        margin-top: 0;
    }
    .mainform input{
        width: 100%;
        max-width: none;
    }
}
@media screen and (max-width: 1600px){
    .leftsidemenu{
        margin-top: 16%;
    }
    .seven-step__h3{
        padding-right:0;
    }
    .seven-step__scan{
        margin-top:-20px;
    }
    .history:after {
        width: 35%;
        height: 35%;
        top: 0;
    }
}
@media screen and (max-width: 1535px) {
    .brochure-block .content__brochure-block__img {
        margin-left: 7%;
        height: 120px;
    }

    .frame7-content__dlos .dlos-hend {
        max-width: 160px;
    }
    .content .infoblock .bottom__a {
        top: 0;
    }
    .contactus-holder__triple__image--left {
        margin-top: 80px;
        width: 100%;
        height: auto;
    }
    .infoblock .two-tel__text-top {
        top: 20px;
        width: 48%;
    }
    .left__link {
        font-size: 14px;
    }
    .method2:before {
        font-size: 19px;
        top: 10px;
        line-height: 0;
        left: -96px;
        background: url("../images/JPGs for BSCAN ILL/method-2.png") no-repeat 10px 6px;
        width: 90px;
        background-size: contain;
        height: 70px;
    }
    .method1:before {
        font-size: 19px;
        top: 10px;
        line-height: 0;
        left: -96px;
        background: url("../images/JPGs for BSCAN ILL/method-1.png") no-repeat 10px 1px;
        width: 90px;
        background-size: contain;
        height: 70px;
    }
    .table__arow:before {
        left: -10px;
        width: 10px;
    }

}
@media screen and (max-width: 1440px){
    .two-step--img .two-step__all-scan {
        top: -47px;
    }
}
@media screen and (max-width: 1400px) {
    .content .infoblock .center__img {
        float: none;
        width: 100%;
        padding-left: 20px;
    }
    .infoblock__center .center__text--margin {
        width:100%;
    }
    .content .infoblock .nav__img {
        float: none;
        width: 100%;
        margin-right: 20px;
    }
    .content .infoblock .nav__li {
        width: 100%;
        float: none;
    }
    .content .infoblock .bottom__a {
        width: 40%;
    }
    .infoblock .two-tel__text-top {
        top: 12px;
    }
    .reservation__h2 {
        font-size: 20px;
        padding:0;
    }
    .reservation__h3 {
        font-size: 19px;
    }
    .reservation__h1 {
        font-size: 50px;
    }
    .saw h3{
        padding-bottom: 5px!important;
    }
}
@media screen and (max-width: 1290px){
    .wrapper-for-img .inform__images{
        max-width: 260px;
    }

}

@media screen and (max-width: 1240px){
    .brochure-block .text-grean {
        font-size: 1.8rem;
    }
    .content .text-grey{
        font-size: 1.8rem;
        padding: 5px 25px 5px 20px;
    }
    .content .text-grey:after {
        left: 96%;
        width: 40px;
    }
    .dlos__logo .dlos-logo {
        font-size: 1.2rem;
    }
    .DLOS_Icon {
        padding-top: 17px;
    }

}
@media screen and (max-width: 1150px) {
    .line__persent1:after{
        font-size: 12px;
    }
    .line__persent4:before{
        font-size: 12px;
    }
    .caption__h {
        font-size: 31px;
        line-height: 1.2;
    }
    .logo-frame-block__caption {
        margin-left: 0px;
    }
    .logo-frame-block__dlsg-logo {
        float: left;
        /*padding-left: 22%;*/
        padding-top: 2px;
    }
}