@media screen and (max-width: 1885px) {
    .wrapper-for-img .inf--padding {
        top: 80%;
    }
}

@media screen and (max-width: 1880px) {
    .brochure-block .grean-right {
        padding-right: 10%;
    }

    .brochure-block .grean-left {
        padding-left: 10%;
    }
}

@media screen and (max-width: 1800px) {
    .logo-frame-block {
        padding-left: 5%;
    }

    .logo-frame-block__dlsg-logo img {
        height: 100px;
    }

    .caption__h {
        font-size: 50px;
        line-height: 1;
    }
    .infoblock__center .center__text--margin {
        position: relative;
    }
    .content .infoblock .nav__li {
        width: 32%;
    }
    .img__touch--after:after {
        bottom: -108px;
        left: 35px;
        width: 72%;
        height: 120px;
    }
    .infoblock .two-tel__text-top {
        top: 34px;
    }
    .left__link {
        font-size: 18px;
    }
}

@media screen and (max-width: 1700px) {
    .unyver__taxt {
        margin: 0 !important;
    }

    .content__unyver {
        margin-top: -3% !important;
    }

    .topbar li {
        padding-left: 7%;
    }

    .wrapper-for-img .inf--padding {
        position: relative;
    }

    .logo-frame-block {
        padding-left: 10%;
    }

    .logo-frame-block__dlsg-logo img {
        height: 80px;
    }

    .caption__h {
        font-size: 40px;
        line-height: 42px;
    }

    .brochure-block .grean-right {
        padding-right: 2%;
    }

    .brochure-block .grean-left {
        padding-left: 2%;
    }
}

@media screen and (max-width: 1640px){
    .infoblock .a--rel{
        position: relative;
        bottom:0;
    }
    .infoblock .infoblock__center{
        margin-top: 0;
    }
    .mainform input{
        width: 100%;
        max-width: none;
    }
}
@media screen and (max-width: 1600px){
    .leftsidemenu{
        margin-top: 16%;
    }
}
@media screen and (max-width: 1535px) {
    .brochure-block .content__brochure-block__img {
        margin-left: 7%;
    }

    .frame7-content__dlos .dlos-hend {
        max-width: 160px;
    }
    .content .infoblock .bottom__a {
        top: 0;
    }
    .contactus-holder__triple__image--left {
        margin-top: 80px;
        width: 100%;
        height: auto;
    }
    .infoblock .two-tel__text-top {
        top: 20px;
        width: 48%;
    }
    .left__link {
        font-size: 14px;
    }

}

@media screen and (max-width: 1400px) {
    .content .infoblock .center__img {
        float: none;
        width: 100%;
        padding-left: 20px;
    }
    .infoblock__center .center__text--margin {
        width:100%;
    }
    .content .infoblock .nav__img {
        float: none;
        width: 100%;
        margin-right: 20px;
    }
    .content .infoblock .nav__li {
        width: 100%;
        float: none;
    }
    .content .infoblock .bottom__a {
        width: 40%;
    }
    .infoblock .two-tel__text-top {
        top: 12px;
    }
    .reservation__h2 {
        font-size: 20px;
        padding:0;
    }
    .reservation__h3 {
        font-size: 19px;
    }
    .reservation__h1 {
        font-size: 50px;
    }
}