.vertical-gradient {
    background: -moz-linear-gradient(bottom, rgba(30, 87, 153, 1) 0%, rgba(125, 185, 232, 0) 100%);
    background: -webkit-linear-gradient(bottom, rgba(30, 87, 153, 1) 0%, rgba(125, 185, 232, 0) 100%);
    background: linear-gradient(to top, rgba(30, 87, 153, 1) 0%, rgba(125, 185, 232, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#007db9e8', GradientType=0);
}

.infoblock__block-hidden{
    overflow: hidden;
}

.infoblock .brochure-title-center {
    color: #000;
    font-size: 3.6rem;
    line-height: 3.8rem;
    text-align: center;
    padding: 14px 0 10px;
}

.infoblock .brochure-title-left {
    color: #000;
    font-size: 3.6rem;
    line-height: 3.8rem;
    text-align: left;
    padding: 14px 0 10px;
}


/*First page*/

.left__link {
    float: right;
    margin-top: 50px;
}

.infoblock__opus-logo {
    width: 80%;
    text-align: center;
    margin-left: 10%;
}

.infoblock__opus-logo img {
    width: 50%;
}

.infoblock__opus-logo__subtitle {
    font-weight: normal;
    color: rgb(6, 90, 163);
    letter-spacing: -2pt;
    word-spacing: 2pt;
    font-size: 27px;
    font-family: arial black, sans-serif;
    line-height: 1;
    margin-top: -10px;
    text-align: center;

}

.infoblock__book-stack-and-feature-enumeration {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 40px;
    overflow: hidden;
}

.infoblock__book-stack-and-feature-enumeration img {
    width: 50%;
    vertical-align: bottom;
    float: left;
    display: inline-block;
}

.infoblock__book-stack-and-feature-enumeration h2 {
    color: black;
    text-align: center;
    font-weight: bold;
    margin-left: -25%;
    font-size: 2.3rem;
    letter-spacing: 0;
    line-height: 25px;
}

.book-stack-and-feature-enumeration__feature-enumeration {
    float: left;
    width: 45%;
    margin-left: 5%;

}

.infoblock .feature-enumeration__unordered-list li {
    font-style: italic;
    line-height: 16px;
    margin-top: 5px;
}

.infoblock__a-new-era-in-digitization {
    overflow: hidden;
    margin-left: 2%;
    margin-top: 30px;
}

.a-new-era-in-digitization__columns {
    float: left;
    width: 44%;
    margin-left: 3%;

}

.infoblock__bottom-logos {
    float: right;
    margin-right: 3%;
    margin-top: 30px;
}

.infoblock__bottom-logos img {
    float: right;
    display: inline-block;
    width: 30%;

}

.infoblock__bottom-logos p {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    font-size: 140%;
    font-weight: bolder;
    color: gray;
}

/*Second page*/

.infoblock__title {
    text-align: center;
}

h2 {
    padding-bottom: 0;
}

h4{
    padding-bottom: 13px;
    font-family: 'AvenirLTStdRoman', helvetica, arial, sans-serif;
    font-size: 2.7rem;
    font-weight: normal;
    line-height: 29px;
}

h5 {
    font-family: 'AvenirLTStdHeavy', helvetica, arial, sans-serif;
}

.infoblock__white-rectangulars {
    overflow: hidden;
    background-image: url('../images/JPGs of Opus Workflow Brochure/Page2_Top_Horizontal_White_Boxes.png');
    width: 100%;
    background-size: contain;
}

.white-rectangulars__articles {
    float: left;
    width: calc(9% - 5px);
    margin-left: 5px;
}

.white-rectangulars__articles p {
    word-spacing: -1pt;
    letter-spacing: 0;
    font-size: 70%;
    line-height: 7pt;
    width: 100%;
    padding-left: 21px;
    text-align: left;
}

.white-rectangulars__articles h6 {
    text-align: center;
    margin-top: 4px;
    line-height: 9pt;
    color: black;
    font-weight: bold;
    padding-bottom: 3px;
}

/*Third Page*/

.infoblock ul.opus_list {
    list-style: none;
    columns: 2;
    column-gap: 2em;
    -moz-columns: 2;
    -moz-column-gap: 2em;
    -webkit-columns: 2;
    -webkit-column-gap: 2em;
}

.infoblock ul.opus_list li {
    margin: 0 0 20px;
    text-align: justify;
    line-height: 1.1;
}

.infoblock ul.opus_list li span {
    font-size: 18px;
    margin: 0;
    text-align: left;
}

.infoblock__highlights-wrapper {
    overflow: hidden;
}

.infoblock__highlights-wrapper ul {
    float: left;
    width: 47%;
    margin-left: 3%;
}

.infoblock__highlights-wrapper li {
    line-height: 1.3;
}

.infoblock .infoblock__opus-bulleted-list {
    margin-top: 3px;
    columns: 2;
    column-gap: 3em;
    -moz-columns: 2;
    -moz-column-gap: 3em;
    -webkit-columns: 2;
    -webkit-column-gap: 3em;
}

.infoblock .infoblock__opus-bulleted-list li {
    text-align: justify;
    line-height: 1.3;
}

/*Fourth page*/
.infoblock__bottom-images {
    overflow: hidden;
}

.infoblock .infoblock__image--big-left-right-margin{
    margin-left: 7%;
    margin-right: 7%;
    width: 86%;
}

.infoblock__image--small-left-right-margin{
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
}

.bottom-images__removing-artifacts {
    float: left;
    width: 55%;
}

.bottom-images__inverting-photo {
    float: left;
    width: 37%;
    margin-left: 3%;
}

/*Fiveth page*/
/*Watch opus-freeflow.css*/
.infoblock .content_stabilization {

}

.infoblock .content-stabilization__enumeration {
    overflow: hidden;
}

.infoblock .content-stabilization__enumeration div {
    float: left;
    width: 48%;
}

.infoblock .content-stabilization__enumeration div ul {
    margin-left: 10%;
}

.infoblock .content-stabilization__enumeration div p {
    width: 100%;
    margin-top: 3%;
}

.infoblock .content_stabilization1 {
    width: 48%;
    float: left;
    margin-right: 2%;
}

.infoblock .content_stabilization2 {
    width: 47%;
    float: left;
}

.infoblock .content_stabilization3 {
    width: 44%;
}

.infoblock .content_stabilization4 {
    width: 47%;
    margin-left:2%;
    float: left;
}

/*Sixth page*/

.infoblock__hierarchical-metadata_paragraph-with-image {
    overflow: hidden;
}

.infoblock__hierarchical-metadata_paragraph-with-image img {
    float: left;
    width: 75%;
    margin-left: 2%;
}

.infoblock__hierarchical-metadata_paragraph-with-image p {
    margin-top: 10px;
    float: left;
    width: 23%;
}

.infoblock__hierarchical-metadata-paragraph-under-top-picture {
    margin-top: 2%;
}

.infoblock__bordered-block {
    background: rgb(69, 170, 204);
    border: 2px solid black;
    padding: 2%;
    margin-left: 16%;
    margin-right: 16%;
    font-style: italic;
    -webkit-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
}

.infoblock__bordered-block p {
    color: aliceblue;
}

.infoblock__hierarchical-metadata-bottom-block {
    margin-top: 3%;
    overflow: hidden;

}

.infoblock__hierarchical-metadata-bottom-block img {
    float: left;
    width: 70%;

}

.infoblock__hierarchical-metadata-bottom-paragraphs {
    float: left;
    margin-left: 2%;
    width: 25%;
}

/*Seventh page*/
.infoblock__derivatives-top-columns {
    columns: 2;
    column-gap: 2em;
    -moz-columns: 2;
    -moz-column-gap: 2em;
    -webkit-columns: 2;
    -webkit-column-gap: 2em;
}

.infoblock__derivatives-pictures {
    overflow: hidden;
    margin-top: 1%;
}

.derivatives-pictures__digital-masters {
    float: left;
    width: 10% !important;
}

.derivatives-pictures__final-destinations {
    float: left;
    width: 90% !important;
    z-index: 2;
    position: relative;
}

.derivatives-pictures__bottom-diagram {
    margin-top: -5%;
    z-index: 1;
}

div .derivatives-pictures__bottom-paragraph {
    margin-left: 4%;
    width: 25%;
    z-index: 5;
    line-height: 1.1;
    margin-top: -380px;
    padding-bottom: 190px;
}

.infoblock__derivatives-star-note {
    margin-top: -100px;
    font-size: 70%;
}

.infoblock__logo {

}

.infoblock__logo img {
    width: 24%;
}

@media (min-width: 1400px) and (max-width: 1750px){
    div .derivatives-pictures__bottom-paragraph{
        margin-top:-258px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .infoblock__hierarchical-metadata-bottom-block img {
        width: 50%;
    }

    .content_stabilization4{
        margin-top: 37px;
    }

    .infoblock__hierarchical-metadata-bottom-paragraphs {
        width: 48%;
    }

    .infoblock__hierarchical-metadata_paragraph-with-image img {
        width: 55%;
    }

    .infoblock__hierarchical-metadata_paragraph-with-image p {
        width: 43%;
    }

    div .derivatives-pictures__bottom-paragraph{
        margin-top:-278px;
        padding-bottom: 120px;
    }

    .infoblock__book-stack-and-feature-enumeration img{
        margin-top: 100px;
    }
}

@media (max-width: 1199px) {
    .infoblock__book-stack-and-feature-enumeration h2 {
        font-size: 2.1rem;
    }

    .content_stabilization4{
        margin-top: 37px;
    }

    .infoblock__hierarchical-metadata_paragraph-with-image img {
        width: 48%;
    }

    .infoblock__hierarchical-metadata_paragraph-with-image p {
        width: 50%;
    }

    .infoblock__hierarchical-metadata-bottom-block img {
        width: 58%;
    }

    .infoblock__hierarchical-metadata-bottom-paragraphs {
        width: 40%;
    }

    div .derivatives-pictures__bottom-paragraph{
        margin-top: -280px;
    }

    .infoblock__book-stack-and-feature-enumeration img{
        margin-top: 100px;
    }
}

@media (max-width: 941px) {
    /*Stub for the future*/
}