.infoblock__opus-freeflow-freedom {
    color: #2c89c6;
    line-height: 3.8rem;
    font-size: 3.6rem;
}

.infoblock_photos_documents {
    font-family: 'AvenirLTStdOblique', helvetica, arial, sans-serif;
}

.infoblock_inscription {
    font-size: large;
    float: right;
    width: 43%;
    text-align: center;
}

.infoblock .logos {
    width: 45%;
}

.infoblock .brochure-overflow {
    overflow: hidden;
}

.infoblock .infoblock_scanpages {
    width: 40%;
    margin-top: 3%;
    float: right;
}

.infoblock .infoblock_book {
    width: 30%;
    float: left;
}

.infoblock .infoblock_book_2 {
    width: 70%;
}

.infoblock .infoblock_banner {
    width: 48%;
    margin-top: -1%;
    float: right;
}

.infoblock .infoblock_do_before_1 {
    border: solid 3px;
    border-radius: 2%;
    padding: 1%;
    text-align: center;
    color: black;

}

.infoblock_curve_collection {
    font-size: 2.5rem;
    line-height: 1.1;
    text-align: center;
    color: #000;
    font-weight: bold;
}

.infoblock .infoblock_do_before_2 {
    border: solid 3px;
    border-radius: 2%;
    padding: 1%;
    text-align: center;
    margin-top: 2%;
}

.hierarchical {
    text-align: center;
    font-size: x-large;
}

.templates {
    text-align: center;
    line-height: 2.6rem;
    font-size: 2.4rem;
    padding-left: 42%;
}

.infoblock .OAI_tittle_left {
    width: 100%;
    float: left;
    font-size: 2.4rem;
    line-height: 2.6rem;
}

.metadata_capture {
    font-size: 2.4rem;
    font-weight: 600;
    float: left;
    padding-top: 2rem;
    width: 100%;
}

.OAI5 {
    width: 100%;
    overflow: hidden;
}

.infoblock .table1_freeflow {
    width: 70%;
    float: right;

}

.infoblock .table2_freeflow {
    width: 40%;
    float: left;
}

.infoblock .opus_output {
    text-align: center;
    font-size: 3.2rem;
    line-height: 3.4rem;
}

.infoblock .opus_output_block4 {
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 600;
    float: left;
}

.infoblock .opus_output_block5 {
    float: left;
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 600;
    margin-left: 1%;
}

.images_metadata {
    margin-left: 1%;
}

.infoblock .content_stabilization {
    margin-top: -1%;
    padding: 1%;
}

.infoblock .content-stabilization__enumeration {
    overflow: hidden;
    width: 45%;
    float: left;
    padding-left: 24px;
}

.infoblock .content-stabilization__enumeration div {
    float: left;
    width: 48%;
}

.infoblock .content-stabilization__enumeration div ul {
    float: left;
    width: 48%;
}

.infoblock .content-stabilization__enumeration div p {
    width: 100%;
    margin-top: 3%;
}

.infoblock .content_stabilization1 {
    width: 47%;
    float: left;
}

.blue-bullet li {
    padding: 1px 0;
}

.infoblock .content_stabilization2 {
    width: 47%;
    float: right;
}

.infoblock .content_stabilization3 {
    width: 44%;
}

.infoblock .content_stabilization4 {
    width: 50%;
    float: left;
    margin-left: 2%;
}

.infoblock .content_stabilization5 {
    margin-left: 4%;
    margin-top: -30%;
    width: 18%;
}

.infoblock .content_stabilization6 {
    margin-left: 4%;
}

.infoblock .content_stabilization7 {
    margin-left: 4%;
}

.infoblock .content_stabilization8 {
    margin-left: 4%;
}

.infoblock .content_stabilization9 {
    margin-left: 4%;
}

.infoblock .content_stabilization10 {
    margin-left: 4%;
}

.infoblock .content_stabilization11 {
    margin-left: 4%;
}

.infoblock .content_stabilization12 {
    margin-left: 4%;
}

.infoblock .content_stabilization13 {
    width: 45%;
}

.infoblock .versus1 {
    float: left;
    width: 100%;
}

.infoblock .versus2 {
    float: left;
}

.infoblock .little_label_for_image_metadata {
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-top: -7%;
    float: left;
}

.infoblock .free_logo_logo1 {
    width: 97%;
}

.versus3 {
    color: black;
    font-size: 3.6rem;
    line-height: 3.8rem;
    margin-left: 17%;
}

.versus4 {
    color: black;
    font-size: 3.6rem;
    line-height: 3.8rem;
    margin-left: 59%;
    margin-top: -4%;
}

.table_1 {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
    margin-top: 2%;
    line-height: 2.4rem;
}

.table_1 td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding-left: 5px;
    vertical-align: middle;
}

.table_1 .table_center_label {
    text-align: center;
}

.table_2 {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
}

.table_2 .table_center_label {
    text-align: center;
}

.table_2 td {
    border: 1px solid #000;
    border-collapse: collapse;
}

.infoblock .bottom_label {
    text-align: center;
    font-weight: 700;
}

.infoblock .text_block1_page1 {
    width: 49%;
    float: left;
}

.infoblock .text_block2_page1 {
    width: 49%;
    float: right;
}

.infoblock .block_hierarchical_metadata {
    width: 100%;
}

.infoblock .block_hierarchical_metadata_table {
    width: 21%;
    float: left;
    padding-top: 50px;
    margin-left: 30px;
}

.infoblock .block_hierarchical_metadata_table2 {
    width: 100%;
    float: left;
}

.infoblock .block_hierarchical_metadata_table3 {
    float: right;
    width: 58%;
}

.infoblock .block_hierarchical_metadata_table4 {
    float: left;
    width: 48%;
}

.infoblock .block_hierarchical_metadata_table5 {
    float: right;
    width: 48%;
}

.infoblock .brochure-title-center-free-flow {
    color: #000;
    font-size: 3.6rem;
    line-height: 3.8rem;
    text-align: center;
}

.infoblock .opus_output_absolute_text {
    width: 27%;
    position: absolute;
    margin-top: -23%;
}

.infoblock .table_blur_freflow_background {
    background: #2487D6;
    color: #FFFFFF;
    font-size: 2.0rem;
    line-height: 2.2rem;
    padding-left: 5px;
}

@media all and (min-width: 1200px) and (max-width: 1400px) {
    .infoblock .block_hierarchical_metadata_table3 {
        float: right;
        width: 58%;
    }

    .infoblock .table1_freeflow {
        width: 75%;
        float: right;
        padding-top: 0;
    }

    .infoblock .table2_freeflow {
        width: 40%;
        float: left;
        padding-top: 2rem;
    }

    .versus3 {
        color: black;
        font-size: 3.2rem;
        line-height: 3.4rem;
        margin-left: 14%;
    }

    .versus4 {
        color: black;
        font-size: 3.2rem;
        line-height: 3.4rem;
        margin-left: 55%;
        margin-top: -3%;
    }

    .infoblock .block_hierarchical_metadata_table {
        width: 23%;
        float: left;
        padding-top: 0;
        margin-left: 0;
    }

    .infoblock .brochure-title-center-free-flow {
        color: #000;
        font-size: 3.6rem;
        line-height: 3.8rem;
        text-align: center;
    }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
    .OAI5 {
        width: 100%;
        float: left;
        padding-top: 0;
    }

    .versus3 {
        color: black;
        font-size: 2.4rem;
        line-height: 2.6rem;
        margin-left: 13%;
    }

    .versus4 {
        color: rgb(0, 0, 0);
        font-size: 2.4rem;
        line-height: 2.6rem;
        margin-left: 55%;
        margin-top: -4%;
    }

    .infoblock .opus_output_absolute_text {
        font-size: 1rem;
    }

    .infoblock .table1_freeflow {
        width: 67%;
        float: right;
        padding-top: 0;
    }

    .infoblock .brochure-title-center-free-flow {
        color: #000;
        font-size: 3.6rem;
        line-height: 3.8rem;
        text-align: center;
    }

    .infoblock .block_hierarchical_metadata_table {
        width: 32%;
        float: left;
        padding-top: 0;
        margin-left: 0;
    }

    .infoblock .table2_freeflow {
        width: 41%;
        float: left;
        padding-top: 40px;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .infoblock .opus_output_absolute_text {
        font-size: 0.5rem;
        line-height: 0.7rem;
    }
}