.infoblock .padding-bottom--none {
    padding-bottom: 0;
}

.infoblock ul.blue-bullet li {
    position: relative;
    list-style: none;
    line-height: 24px;
}

.infoblock ul.green-bullet li {
    position: relative;
    list-style: none;
}

.infoblock ul.blue-bullet li:before {
    content: '';
    position: absolute;
    top: 2px;
    left: -23px;
    background: url("http://upload.ted-kteam.com/IA/images/BlueBullet.png") no-repeat;
    background-size: 16px;
    width: 16px;
    height: 16px;
}

.infoblock ul.green-bullet li:before {
    content: '';
    position: absolute;
    top: 2px;
    left: -23px;
    background: url("http://upload.ted-kteam.com/IA/images/GreenBullet.png") no-repeat;
    background-size: 16px;
    width: 16px;
    height: 16px;
}

.infoblock .h3_class_tittle {
    color: #000;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    display: block;
    clear: both;
    text-align: left;
    padding-top: 15px;

}

.infoblock .infoblock__opus-freeflow-content-stabilization-left-block {
    float: left;
    width: 45%;
    margin-top: -6%;
}

.infoblock .brochure-title-center {
    color: #000;
    font-size: 3.6rem;
    line-height: 3.8rem;
    text-align: center;
    padding: 20px 0 10px;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
}

.infoblock .title__subtitle {
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    font-size: 2rem;
    line-height: 2.2rem;
    text-align: center;

    clear: both;
    display: block;
}

.infoblock__opus-freeflow-freedom {
    color: #2c89c6;
    line-height: 3.8rem;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    font-size: 3.6rem;
}

.infoblock_photos_documents {
    font-family: 'LatoBoldItalic', sans-serif, helvetica, arial;
    padding-bottom: 5px;
    display: block;
    font-size: 2.4rem;
    line-height: 2.6rem;
}

.infoblock_inscription {
    float: right;
    width: 40%;
    text-align: center;
}

.infoblock .logos {
    width: 45%;
}

.infoblock .brochure-overflow {
    overflow: hidden;
}

.infoblock .infoblock_scanpages {
    width: 40%;
    margin-top: 3%;
    float: right;
}

.infoblock .infoblock_book {
    width: 30%;
    float: left;
}

.infoblock .infoblock_book_2 {
    width: 70%;
    float: right;
}

.infoblock .infoblock_banner {
    width: 48%;
    margin-top: -1%;
    float: right;
    clear: both;
}

.infoblock .infoblock_do_before_1 {
    border: solid 3px;
    border-radius: 2%;
    padding: 1%;
    text-align: center;
    color: black;

}

.infoblock_curve_collection {
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: center;
    color: #000;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
}

.infoblock .infoblock_do_before_2 {
    border: solid 3px;
    border-radius: 2%;
    padding: 1%;
    text-align: center;
    margin-top: 2%;
}

.hierarchical {
    text-align: center;
    font-size: x-large;
}

.infoblock .OAI_tittle_left {
    width: 100%;
    float: left;
    font-size: 2.4rem;
    line-height: 2.6rem;
}

.metadata_capture {
    font-size: 2.4rem;
    font-weight: 600;
    float: left;
    padding-top: 2rem;
    width: 100%;
}

.OAI5 {
    width: 100%;
    overflow: hidden;
}

.infoblock .table1_freeflow {
    width: 70%;
    float: right;

}

.infoblock .table2_freeflow {
    width: 40%;
    float: left;
}

.infoblock .opus_output {
    text-align: center;
    font-size: 3.2rem;
    line-height: 3.4rem;
}

.infoblock .opus_output_block4 {
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 600;
    float: left;
}

.infoblock .opus_output_block5 {
    float: left;
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 600;
    margin-left: 1%;
}

.images_metadata {
    margin-left: 1%;
}

.infoblock .content_stabilization {
    margin-top: -1%;
    padding: 1%;
}

.infoblock .content-stabilization__enumeration {
    float: left;
    padding-left: 24px;
}

.infoblock .content-stabilization__enumeration div {
    float: left;
    width: 48%;
}

.infoblock .content-stabilization__enumeration div ul {
    float: left;
    width: 48%;
}

.infoblock .content-stabilization__enumeration div p {
    width: 100%;
    margin-top: 3%;
}

.infoblock .content_stabilization1 {
    width: 47%;
    float: left;
}

.infoblock .content_stabilization2 {
    width: 47%;
    float: right;
}

.infoblock .content_stabilization3 {
    width: 44%;
}

.infoblock .content_stabilization4 {
    width: 45%;
    float: right;
    margin-top: -4%;
}

.infoblock .content_stabilization5 {
    margin-left: 4%;
    margin-top: -30%;
    width: 18%;
}

.infoblock .content_stabilization6 {
    margin-left: 4%;
}

.infoblock .content_stabilization7 {
    margin-left: 4%;
}

.infoblock .content_stabilization8 {
    margin-left: 4%;
}

.infoblock .content_stabilization9 {
    margin-left: 4%;
}

.infoblock .content_stabilization10 {
    margin-left: 4%;
}

.infoblock .content_stabilization11 {
    margin-left: 4%;
}

.infoblock .content_stabilization12 {
    margin-left: 4%;
}

.infoblock .content_stabilization13 {
    width: 45%;
}

.infoblock .little_label_for_image_metadata {
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-top: -60px;
    float: left;
}

.infoblock .free_logo_logo1 {
    width: 97%;
}

.versus {
    margin-bottom: 10px;
    text-align: center;
}

.versus3 {
    color: black;
    font-size: 3.6rem;
    line-height: 3.8rem;
    margin-right: 2%;

}

.versus4 {
    color: black;
    font-size: 3.6rem;
    line-height: 3.8rem;
    margin-left: 2%;
}

.table_1 {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
    line-height: 2.4rem;
}

.table_1 td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding-left: 5px;
    vertical-align: middle;
}

.table_1 .table_center_label {
    text-align: center;
}

.table_2 {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
}

.table_2 .table_center_label {
    text-align: center;
}

.table_2 td {
    border: 1px solid #000;
    border-collapse: collapse;
}

.infoblock .bottom_label {
    text-align: center;
    font-weight: 700;
    clear: both;
    padding-top: 15px;
}

.infoblock .text_block1_page1 {
    width: 49%;
    float: left;
}

.infoblock .text_block2_page1 {
    width: 49%;
    float: right;
}

.infoblock .block_hierarchical_metadata {
    width: 100%;
}

.infoblock .block_hierarchical_metadata_table {
    width: 21%;
    float: left;
    padding-top: 50px;
    margin-left: 30px;
}

.infoblock .block_hierarchical_metadata_table2 {
    width: 100%;
    float: left;
}

.infoblock .block_hierarchical_metadata_table3 {
    float: right;
    width: 58%;
}

.infoblock .block_hierarchical_metadata_table4 {
    float: left;
    width: 48%;
}

.infoblock .block_hierarchical_metadata_table5 {
    float: right;
    width: 48%;
}

.infoblock .brochure-title-center-free-flow {
    font-family: 'LatoRegular', sans-serif, helvetica, arial;
    font-size: 3.6rem;
    line-height: 3.8rem;
    text-align: center;
    padding: 14px 0 10px;
}

.infoblock .opus_output_absolute_text {
    width: 27%;
    position: absolute;
    margin-top: -23%;
}

.infoblock .table_blur_freflow_background {
    background: #2487D6;
    color: #FFFFFF;
    font-size: 2.0rem;
    line-height: 2.2rem;
    padding-left: 5px;
}

.infoblock .infoblock__opus-freeflow-logo {
    width: 35%;
    padding-left: 5%;
}

.infoblock .infoblock__opus-freeflow-freedom2 {
    color: #959595;
    line-height: 3rem;
    font-size: 2.8rem;
    display: block;
}

.infoblock .infoblock__opus-freeflow-photos {
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    font-size: 2rem;
    line-height: 2.2rem;
    color: #959595;
}

.infoblock .infoblock__opus-freeflow-features-label {
    float: right;
    width: 33%;
    text-align: center;
    margin-right: 10%;
    padding-top: 3%;
}

.infoblock .infoblock__opus-freeflow-features-textblock {
    margin-left: 0;
    width: 50%;
    float: left;
    padding-top: 2%;
}

.infoblock .infoblock__opus-freeflow-features-diagram {
    float: right;
    width: 30%;
    margin-right: 12%;
}

.infoblock .infoblock__opus-freeflow-features-textblock-part2 {
    margin-left: 0;
    width: 92%;
    float: left;
}

.infoblock .infoblock__opus-freeflow-features-table-scanning {
    border: 1px solid #000;
    border-collapse: collapse;
    float: left;
    width: 48%;
    margin-top: 10px;
}

.infoblock .infoblock__opus-freeflow-features-table-scanning td {
    border: 1px solid #000;
    border-collapse: collapse;
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding: 4px;
}

.infoblock .infoblock__opus-freeflow-features-table-scanning th {
    font-size: 2rem;
    background: #2487D6;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    padding: 4px;
    color: white;
}

.infoblock .infoblock__opusfreeflow-page6 {
    margin-top: 2%;
}

.infoblock .infoblock__opus-freeflow-features-table-Image_Treatment {
    border: 1px solid #000;
    border-collapse: collapse;
    float: right;
    width: 48%;
    margin-top: 10px;
}

.infoblock .infoblock__opus-freeflow-features-table-Image_Treatment td {
    border: 1px solid #000;
    border-collapse: collapse;
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding: 4px;
}

.infoblock .infoblock__opus-freeflow-features-table-Image_Treatment th {
    font-size: 2rem;
    background: #2487D6;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    padding: 4px;
    color: white;
}

.infoblock .infoblock__opus-freeflow-features-table-Collection {
    border: 1px solid #000;
    border-collapse: collapse;
    float: left;
    width: 100%;
    margin-top: 2%;
}

.infoblock .infoblock__opus-freeflow-features-table-Collection td {
    border: 1px solid #000;
    border-collapse: collapse;
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding: 4px;
}

.infoblock .infoblock__opus-freeflow-features-table-Collection th {
    font-size: 2rem;
    background: #2487D6;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    padding: 4px;
    color: white;
}

.infoblock .brochure-title-center-special {
    color: #000;
    font-size: 3.6rem;
    line-height: 3.8rem;
    text-align: center;
    padding-top: 20px;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
}

.infoblock .infoblock__opus-freeflow-features-clear-fix {
    clear: both;
}

@media all and (min-width: 1200px) and (max-width: 1400px) {
    .infoblock .block_hierarchical_metadata_table3 {
        float: right;
        width: 58%;
    }

    .infoblock .opus_output_absolute_text {
        margin-top: -27%;
        font-size: 1.2rem;
    }

    .infoblock .infoblock__opus-freeflow-content-stabilization-left-block {
        margin-top: -6%;
        width: 45%;
    }

    .infoblock .little_label_for_image_metadata {
        font-size: 1rem;
        line-height: 1.2rem;
        float: left;
    }

    .infoblock .content_stabilization4 {
        width: 53%;
        float: right;
        margin-top: 0;
    }

    .infoblock .table1_freeflow {
        width: 75%;
        float: right;
        padding-top: 3%;
    }

    .infoblock .infoblock__opus-freeflow-features-diagram {
        float: right;
        width: 45%;
        margin-right: 5%;
        margin-top: 10%;
    }

    .infoblock .infoblock__opus-freeflow-features-label {
        float: right;
        width: 40%;
        text-align: center;
        margin-right: 7%;
        padding-top: 3%;
    }

    .infoblock .table2_freeflow {
        width: 40%;
        float: left;
        padding-top: 2rem;
    }

    /*.versus3 {*/
    /*color: black;*/
    /*font-size: 3.2rem;*/
    /*line-height: 3.4rem;*/
    /*}*/
    /*.versus4 {*/
    /*color: black;*/
    /*font-size: 3.2rem;*/
    /*line-height: 3.4rem;*/
    /*}*/
    .infoblock .block_hierarchical_metadata_table {
        width: 23%;
        float: left;
        padding-top: 0;
        margin-left: 0;
    }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
    .OAI5 {
        width: 100%;
        float: left;
        padding-top: 0;
    }

    .infoblock .content_stabilization4 {
        width: 53%;
        float: right;
        margin-top: 0;
    }

    .infoblock .infoblock__opus-freeflow-content-stabilization-left-block {
        margin-top: -4%;
    }

    /*.versus3 {*/
    /*font-size: 2.4rem;*/
    /*line-height: 2.6rem*/
    /*}*/
    .infoblock .infoblock__opus-freeflow-features-label {
        float: right;
        width: 45%;
        text-align: center;
        margin-right: 4%;
        padding-top: 3%;
    }

    .infoblock .infoblock__opus-freeflow-features-diagram {
        float: right;
        width: 45%;
        margin-right: 3%;
        margin-top: 10%;
    }

    .infoblock .infoblock__opus-freeflow-features-textblock {
        margin-left: 4%;
        width: 45%;
        float: left;
        padding-top: 2%;
    }

    /*.versus4 {*/
    /*color: rgb(0, 0, 0);*/
    /*font-size: 2.4rem;*/
    /*line-height: 2.6rem;*/
    /*margin-left: 52%;*/
    /*margin-top: -4.5%;*/
    /*}*/
    .infoblock .opus_output_absolute_text {
        font-size: 1.2rem;
    }

    .infoblock .little_label_for_image_metadata {
        font-size: 1rem;
        line-height: 1.2rem;
        margin-top: -7%;
        float: left;
    }

    .infoblock .table1_freeflow {
        width: 66%;
        float: right;
        padding-top: 0;
    }

    .infoblock .brochure-title-center-free-flow {
        color: #000;
        font-size: 3.6rem;
        line-height: 3.8rem;
        text-align: center;
    }

    .infoblock .block_hierarchical_metadata_table {
        width: 32%;
        float: left;
        padding-top: 0;
        margin-left: 0;
    }

    .infoblock .table2_freeflow {
        width: 41%;
        float: left;
        padding-top: 40px;
    }
}

@media all and (max-width: 1680px) {
    .infoblock .content-stabilization__enumeration {
        padding-bottom: 10px;
    }

    .infoblock .infoblock__opus-freeflow-features-diagram {
        margin-right: 12%;
        margin-top: 16px;
        width: 38%;
    }

    .infoblock .infoblock__opus-freeflow-features-label {

        margin-right: 14%;

    }

    .infoblock_inscription {
        margin-right: 5%;
    }

    .infoblock .infoblock_scanpages {
        margin-right: 5%;
    }

}

@media all and (max-width: 1600px) {
    .infoblock .content-stabilization__enumeration {
        padding-bottom: 20px;
    }

    .versus4 {
        font-size: 2.4rem;
        line-height: 2.6rem;
        margin-left: 5%;
    }

    .versus3 {
        font-size: 2.4rem;
        line-height: 2.6rem;
        margin-right: 5%;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .infoblock .opus_output_absolute_text {
        font-size: 0.5rem;
        line-height: 0.7rem;
    }
}

@media all and (min-width: 1401px) and (max-width: 1700px) {
    .infoblock .block_hierarchical_metadata_table {
        width: 21%;
        float: left;
        padding-top: 0;
        margin-left: 30px;
        margin-top: 15px;
    }

    .infoblock .table1_freeflow {
        padding-top: 0;
    }
}

@media all and (max-width: 1366px) {
    .infoblock .infoblock_inscription {
        width: 47%;
    }

    .infoblock .table1_freeflow {
        padding-top: 3px;
    }

    .infoblock .infoblock__opus-freeflow-content-stabilization-left-block {
        margin-top: -8%;
    }

    .infoblock .content-stabilization__enumeration {
        padding-bottom: 0;
    }

    .infoblock .infoblock__opus-freeflow-features-diagram {
        margin-right: 7%;
        width: 43%;
    }

    .infoblock .infoblock__opus-freeflow-features-label {
        margin-right: 9%;
    }

    .infoblock .infoblock__opus-freeflow-features-diagram {
        margin-right: 4%;
        margin-top: 71px;
        width: 47%;
    }
}

@media all and (max-width: 1280px) {
    .infoblock .infoblock_inscription {
        width: 53%;
    }

    .infoblock .brochure-title-center {
        font-size: 3.2rem;
        line-height: 3.4rem;
    }

    .content .infoblock h3 {
        font-size: 2rem;
        line-height: 2.2rem;
    }

    .content .infoblock h4 {
        font-size: 1.8rem;
        line-height: 2rem;
    }

    .infoblock .content-stabilization__enumeration {
        padding-bottom: 10px;
    }

    .infoblock .table1_freeflow {
        padding-top: 25px;
    }

    .infoblock .infoblock__opus-freeflow-features-label {
        width: 45%;
        margin-right: 5%;
    }
}

@media all and (max-width: 1150px) {

    .infoblock .table2_freeflow {
        padding-top: 23px;
    }

    .infoblock .infoblock__opus-freeflow-features-diagram {
        margin-right: 1%;
    }

    .infoblock .infoblock__opus-freeflow-features-label {
        margin-right: 2%;
    }
}

@media all and (max-width: 1024px) {

    .infoblock .table1_freeflow {
        padding-top: 0;
    }
}
