.infoblock {
    font-size: 1.6rem;
    position: relative;
}

.infoblock span {
    font-weight: normal;
    line-height: 1.2;
}

.infoblock strong {
    padding: 0;
}

.infoblock__bscan-ill {
    text-align: left;
    position: relative;
}

.infoblock__bscan-ill .bscan-ill__logo {
    width: 50%;
}

.infoblock__bscan-ill--absolut {
    position: absolute;
    top: 0;
    left: 0;
}

.bscan-ill__bolt {
    display: block;
    padding: 0;
}

.bscan-ill__bolt--fs1 {
    font-size: 24px;
}

.bscan-ill__bolt--fs2 {
    font-size: 20px;
}

.bscan-ill--padding {
    padding-top: 4%;
}

.bscan-ill--h2 {
    font-size: 28px;
    color: #000;
    padding: 0;
    line-height: 1.2;
    font-weight: bold;
    margin: 0;
}

.bscan-ill--center {
    text-align: center;
}

.infoblock .bscan-ill--blu-text {
    display: block;
    font-size: 2.8rem;
    color: #193791;
    font-weight: bold;
    text-align: right;
    font-style: italic;
}

.bscan-ill__column {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

.infoblock .bscan-ill--width {
    width: 90%;
}

.infoblock--right {
    text-align: right;
    position: relative;
}

.infoblock .infoblock__title {
    list-style: none;
    display: inline-block;
    width: 40%;
    text-align: left;
    padding: 0;
}

.infoblock__title li {
    padding-top: 10px;
}

.title__mark {
    font-size: 3rem;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    background: transparent;
}

.infoblock .infoblock__row {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.infoblock .woman_abs {
    position: absolute;
    top: 0;
    left: 0;
    width: 23%;
    height: 129%;
}

.first-li {
    margin-right: 20%;
}

.two-li {
    margin-left: 10%;
    margin-right: 10%;
}

.last-li {
    margin-left: 20%;
}

.mark--margin {
    margin-left: -20px;
}

.bscan--h2 {
    text-align: center;
    font-size: 40px;
    color: #000;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

.infoblock__content {
    display: inline-block;
    width: 48%;
    padding: 0 5px;
    vertical-align: top;
}

.content__blue-bullet {
    padding-left: 23px;

}

.content__green-arrow li {
    position: relative;
}

.seven-step {
    text-align: center;
    position: relative;
}

.seven-step:after {
    content: 'VS';
    position: absolute;
    color: #fff;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    font-size: 4.0rem;
    background: #000;
    border-radius: 50%;
    bottom: -35px;
    right: 50%;
    padding: 20px 30px;
    margin: 0 -30px;
    z-index: 1;
}

.seven-step__h3 {
    display: inline;
    text-shadow: none;
    color: #000;
    font-size: 3rem;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    padding-right: 10px;
}

.infoblock .seven-step__text {
    display: inline;
    font-size: 2.4rem;
    line-height: 1.2;
}

.seven-step__scan {
    margin-top: -40px;
}

.seven-step--border {
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;

}

.two-step {
    text-align: center;
    position: relative;
    margin-top: 10px;
}

.two-step:before {
    content: '';
    position: absolute;
    background: url("../images/PDFJAL_Production_Digitization_for_Journal_Article_Lending/book.png") no-repeat;
    width: 115px;
    height: 70px;
    top: 0;
    right: 0;
    background-size: contain;
}

.two-step:after {
    content: '';
    position: absolute;
    background: url("../images/PDFJAL_Production_Digitization_for_Journal_Article_Lending/repeat.png") no-repeat;
    width: 47px;
    height: 33px;
    bottom: 7px;
    right: 50%;
}

.two-step--inline {
    padding: 0 10px 10px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.two-step--w1 {
    width: 14%;
}

.two-step--w2 {
    width: 33%;
}

.two-step--w3 {
    width: 52%;
}

.two-step--w3 p {
    font-size: 1.6rem;
    line-height: 2rem;
}

.seven-step__h3--padding {
    padding: 0;
}

.infoblock .blue-doth {
    padding-left: 50px;
}

.page3__inline {
    display: inline-block;
    padding: 0 20px;
    width: 48%;
    vertical-align: top;
}

.blue-bullet li {
    line-height: 2.4rem;
    padding: 0;
}

.page3--right {
    text-align: right;
    padding-top: 25px;
}

.page3__block2 {
    text-align: left;
    display: inline-block;
    width: 34%;
    margin-left: 10%;
}

.page3__block2 i {
    font-size: 1.6rem;
    font-style: italic;
}

.method1 {
    position: relative;
    text-align: center;
}

.method1:before {
    position: absolute;
    content: 'METHOD';
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    font-size: 3rem;
    top: -10px;
    line-height: 1;
    left: -152px;
    background-size: contain;
    background: url("../images/PDFJAL_Production_Digitization_for_Journal_Article_Lending/method-1.png") no-repeat 27px 31px;
    width: 153px;
    height: 139px;
}

.method2 {
    position: relative;
    text-align: center;
    margin-left: 17%;
    vertical-align: top;
}

.steep-h3 {
    font-size: 2.4rem;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    line-height: 2.6rem;
    text-align: left;
}

.method2:before {
    content: 'METHOD';
    position: absolute;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    font-size: 3rem;
    top: -10px;
    line-height: 1;
    left: -152px;
    background-size: contain;
    background: url("../images/PDFJAL_Production_Digitization_for_Journal_Article_Lending/method-2.png") no-repeat 24px 22px;
    width: 154px;
    height: 111px;
}

.page3__block3 {
    padding: 10px;
    text-align: center;
}

.block3__top span {
    font-size: 3rem;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
}

.block3__top .top--width {
    width: 42%;
    float: left;
}

.block3__top {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
    text-align: left;
}
.block3__top p{
    text-align: left;
}
.top--w2 {
    width: 35%;
}

.top--w3 {
    width: 43%;
    padding-left: 5px;
}

h3 {
    font-size: 3rem;
    line-height: 3.2rem;
    color: #000;
    text-align: center;
}

.infoblock .brochure-title-left {
    line-height: 3.8rem;
    font-size: 3.6rem;
}

.two-step--width1 {
    width: 60%;
}

.two-step--width2 {
    width: 39%;
}

.two-step--bottom {
    padding-top: 20%;
}

.two-step--img {
    position: relative;
}

.two-step--img .two-step__all-scan {
    position: absolute;
    top: -80px;
    left: 0;
    width: 180%;
    height: auto;
}

.block-grey {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #000;
    text-align: center;
    background: #bfdae2;
    margin-bottom: 15px;
}

.infoblock .block-grey__ul {
    margin: 0;
    padding: 0;
}

.block-grey__ul li {
    display: inline-block;
    width: 13%;
}

.block-grey__ul p {
    font-size: 12px;
    text-align: center;
    line-height: 1.2;
}

.center-br img {
    width: 20%;
}

.center-br .two-step--inline {
    vertical-align: top;
}

.block-grey__first {
    display: inline-block;
    width: 65%;
}

.block-grey__last {
    display: inline-block;
    width: 26%;
}

.page3__inline .inline__books {
    width: 45%;
    float: right;
    clear: both;
    margin-left: 20px;
    margin-top: 15px;
}

.infoblock__center--text {
    text-align: center;
}

.inline__mini-text {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.infoblock .inline__rgb {
    display: inline-block;
    width: 29%;
    vertical-align: super;
}

.inline__img-text {
    display: inline-block;
    width: 69%;
    line-height: 1;
    padding-left: 5px;
}

.infoblock__header {
    overflow: hidden;
}

.header__left {
    float: left;
    padding-right: 25px;
}

.header__right .bscan--h2 {
    text-align: left;
}

.kic-product {
    text-align: right;
}

.kic-product__row {
    text-align: center;
    vertical-align: top;
    display: inline-block;
    width: calc(100% / 6);
    padding-bottom: 20px;
}

.kic-product .row__title {
    text-align: center;
    font-size: 13px;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
}

.row__column {
    padding: 10px 5px 5px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 6px #000;
    min-height: 500px;
}

.row__column .column__mini-title {
    font-size: 11px;
    margin-top: 5px;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    line-height: 1.2;
    padding: 0;
}

.table {
    width: 100%;
    padding: 20px 0;
}

.table th {
    width: calc(100% / 8);
    height: auto;
    margin: 0;
    padding: 0 0 5px;
    text-align: center;
}

.table p {
    text-align: center;
}

.table-bg {
    background: rgba(0, 0, 0, 0.1);
}

.table .table--ta-left {
    text-align: right;
    font-size: 12px;
    padding-right: 20px;
    /*width: 180px;*/
}

span.green-cicle {
    padding: 0 9px;
}

.two-circule {
    padding-top: 10px;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    padding-bottom: 10px;
}

th .table--img {
    width: 100px;
    height: auto;
}

.cicle {
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 1px solid #4a504e;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.green-cicle {
    background: #40b149;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 1px solid #4a504e;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.green-cicle--after {
    position: relative;

}

.green-cicle--after:after {
    position: absolute;
    content: '';
    background: #fff;
    border-radius: 11px 11px 0 0;
    -moz-border-radius: 11px 11px 0 0;
    -webkit-border-radius: 11px 11px 0 0;
    border: 1px solid #4a504e;
    width: 18px;
    height: 8px;
    top: -1px;
    left: -1px;
}

.green-cicle--after-big {
    position: relative;
}

.green-cicle--after-big:after {
    position: absolute;
    content: '';
    background: #fff;
    border-radius: 11px 11px 0 0;
    -moz-border-radius: 11px 11px 0 0;
    -webkit-border-radius: 11px 11px 5px 5px;
    border: 1px solid #4a504e;
    width: 18px;
    height: 13px;
    top: -1px;
    left: -1px;
}

.green-cicle--after-small {
    position: relative;
}

.green-cicle--after-small:after {
    position: absolute;
    content: '';
    background: #fff;
    border-radius: 11px 11px 0 0;
    -moz-border-radius: 11px 11px 0 0;
    -webkit-border-radius: 11px 11px 0 0;
    border: 1px solid #4a504e;
    width: 14px;
    height: 4px;
    top: -1px;
    left: 1px;
}

.bold-line {
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    font-size: 33px;
}

.table__arow {
    position: relative;
}

.table__arow:after {
    content: '';
    position: absolute;
    background: url("../images/PDFJAL_Production_Digitization_for_Journal_Article_Lending/black_table_arrow.png") no-repeat;
    bottom: -18px;
    right: 47px;
    width: 60px;
    height: 72px;
    background-size: contain;
}

.bold-dollar {
    font-family: 'LatoBold', sans-serif, helvetica, arial;
}

.dollar-size-mini {
    font-size: 1.2rem;
}

.dollar-size-midle {
    font-size: 2rem;
}

.dollar-size-subheight {
    font-size: 2.4rem;
}

.dollar-size-height {
    font-size: 2.8rem;
}

.dollar-size-midle-height {
    font-size: 3.2rem;
}

.dollar-size-max-height {
    font-size: 3.6rem;
}

.tabl-star {
    margin-left: 20px;
    font-size: 13px;
    vertical-align: text-top;
    color: #e8383b;
}

.tabl-star-mini {
    margin-left: 20px;
    font-size: 9px;
    vertical-align: text-top;
    color: #e8383b;
}

.align-right {
    text-align: right;
}

.first-column {
    width: 200px;
    text-align: right;
    padding-right: 10px;
}

.table__footer {
    font-size: 1.4rem;
}

.table__footer td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.table .green-arrow {
    width: 40px;
    height: 38px;
    margin: 0 auto;
}

.graph {
    position: relative;
    text-align: center;
}

.graph img {
    width: 90%;
}

.vertical-text span {
    display: inline;
}

.vertical-text {
    position: absolute;
    top: 50%;
    left: -50px;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.text-area span {
    display: inline;
}

.text-area {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.selection {
    font-size: 13px;
    width: 100%;
    margin: 0 auto 20px;
    border: 1px solid;
    padding: 5px;
    border-radius: 10px;
}

.selection--bold td {
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    background: rgba(0, 0, 0, 0.2);
}

.selection td {
    text-align: center;
    width: 50px;
}

.sup-text {
    font-size: 8px;
    vertical-align: super;
    font-weight: normal;
}

.selection .more-text {
    width: 96px;
}

.infoblock .table-text {
    font-size: 13px;
    padding: 0;
    text-align: left;
}

.country-wrapper {
    overflow: hidden;
}

.country {
    display: inline-block;
    float: left;
    width: calc(100% / 5);
    vertical-align: top;
}

.infoblock .country__text {
    font-size: 13px;
    text-align: center;
}

.infoblock__line {
    display: inline-block;
    vertical-align: middle;
}

.infoblock .line--padding {
    padding-bottom: 30px;
}

.infoblock__line--w40 {
    width: 40%;
}

.infoblock__line--w60 {
    width: calc(60% - 10px);
    text-align: center;
}

.infoblock__line--border {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.infoblock .line--bold-text {
    text-align: center;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
}

.line__persent1 {
    position: relative;
}

.line__persent4 {
    position: relative;
}

.line__persent1:after {
    content: '1% Libraries';
    position: absolute;
    top: 25px;
    right: -74px;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    width: 78px;
    text-align: center;
}

.line__persent4:before {
    content: '4% Businesses';
    position: absolute;
    left: -58px;
    bottom: 41px;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    width: 99px;
    text-align: center;
}

.infoblock img.click-mini2 {
    width: 58%;
}

.bogdan-kostil {
    position: relative;
    padding: 0;
}

.brochure-title-center {
    padding: 20px 0 0;
}

.bogdan-kostil:after {
    content: '';
    display: table;
    clear: both;
}

/*new image*/
.infoblock .bscan-ill__logo {
    width: 40%;
}

.bscan-ill__bolt {
    font-size: 2.8rem;
}

.block-grey__bold-text {
    display: block;
    font-size: 2.8rem;
}

.top-title {
    position: relative;
}

.top-title__send {
    position: absolute;
    bottom: 0;
    right: 5%;
    font-size: 2.9rem;
    line-height: 3rem;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    color: #202A5F;
}

h4 {
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    line-height: 2.2rem;
    font-size: 2rem;
    padding-bottom: 0;
    text-align: center;
}

.table .table__big-img {
    /*width: 60%;*/
    /*height: 40%;*/
    width: 100px;
    height: 120px;
    padding: 5px;
}

.left-block {
    margin-top: 30px;
    width: 58%;
    display: inline-block;
    border: 2px solid #888;
    padding: 5px;
    border-radius: 10px;
}

.infoblock .left-block__img-left {
    float: left;
    width: 43%;
    margin-top: -28px;
    margin-left: -18px;
}

.left-block__cursive {
    font-style: italic;
}

.left-block__cursive strong {
    font-style: normal;
}

.left-block__h4 {
    text-align: left;
}

.right-block {
    margin-top: 30px;
    padding: 5px;
    display: inline-block;
    width: 41%;
    vertical-align: top;
}

.infoblock .right-block__img-right {
    float: right;
    width: 50%;
    height: 50%;
}

.text__pull-right {
    width: 79%;
    display: block;
    float: right;
    padding-top: 10px;
    padding-bottom: 20px;
}

.italic {
    font-style: italic;
}

.page__inline {
    display: inline-block;
    width: 49%;
}

.infoblock .triangle-pointer {
    font-size: 2.2rem;
    line-height: 1;
    color: gray;
}

.padding--bottom {
    padding-bottom: 10px;
}

.page3__inline--padding {
    padding: 0 10px;
}

.wrapper__step {
    text-align: left;
    padding-left: 15%;
}

.wrapper__step--down {
    margin-bottom: -15px;
}

.padding--top {
    padding-top: 10px;
}
.page3__inline--right{
    padding-right: 0;
    float: right;
    margin-bottom: 20px;
}
.page3--right:before{
    content: '';
    display: table;
    clear: both;
}
/*end of new image*/
@media all and (max-width: 1725px) {
    .top-title__send {
        right: 0;
    }

}

.brochure-title-left {
    padding: 20px 0 0;
}

.no-padding {
    padding-top: 10px;
}

@media all and (max-width: 1700px) {
    .infoblock .woman_abs {
        width: 25%;
        height: 100%;
    }

    .infoblock .bscan-ill--width {
        width: 75%;
    }

    .two-step:before {
        width: 100px;
        height: 65px;
    }

}

@media all and (max-width: 1630px) {
    .two-step--w3 {
        width: 50%;
    }

    .two-step--inline {
        padding: 0 5px;
    }

    .two-step--img .two-step__all-scan {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .seven-step--border {
        padding-bottom: 10px;
    }

    .two-step:after {
        bottom: 0;
    }

    .page__inline--left {
        padding-right: 1%;
    }

    .page__inline--right {
        padding-left: 1%;
    }
}

@media all and (max-width: 1500px) {
    .two-step--inline {
        padding-top: 20px;
    }

    .wrapper__step {
        padding-left: 11%;
        padding-bottom: 7px;
    }

    .seven-step__h3 {
        font-size: 2.8rem;
        padding-right: 8px;
    }

    .infoblock .seven-step__text {
        font-size: 2rem;
    }

    .line__persent1:after {
        right: -58px;
    }
}

@media all and (max-width: 1400px) {
    .infoblock .woman_abs {
        width: 30%;
        height: 90%;
    }

    .wrapper__step {
        text-align: left;
        padding-left: 10%;
    }

    .seven-step__scan {
        margin-top: -20px;
    }

    .seven-step__h3 {
        font-size: 2.6rem;
    }

    .infoblock .seven-step__text {
        font-size: 2rem;
    }

    .page3__inline {
        width: 90%;
    }

    .page3__inline--right {
        float: none;
    }

    .padding--top {
        text-align: center;
    }

    .seven-step__scan {
        margin-top: -16px;
    }

    .table__arow:after {
        bottom: -13px;
        right: 40px;
        width: 54px;
        height: 56px;
    }

    .table .table__big-img {
        margin-top: 5px;
        width: 100%;
        max-width: 60px;
        height: 100%;
        max-height: 72px;
    }

    .method1:before {
        left: -143px;
        font-size: 2.6rem;
    }

    .method2:before {
        left: -143px;
        font-size: 2.6rem;
    }

    .two-step:after {
        right: 48%;
        bottom: -1px;
    }

    .page__inline--left {
        padding-right: 4%;
    }

    .page__inline--right {
        padding-left: 3%;
    }

    .infoblock__line {
        vertical-align: top;
    }

    .header__left {
        padding-bottom: 20px;
    }

    .top-title__send {
        right: -10px;
    }

    .two-step:before {
        width: 95px;
        height: 56px;
    }

    .infoblock .blue-doth {
        text-align: left;
    }
}

@media all and (max-width: 1300px) {
    .table .table--ta-left {
        padding-right: 2px;
    }

    .table__arow:after {
        right: 25px;
    }

    .top-title__send {
        right: -30px;
    }

    .infoblock .brochure-title-left {
        line-height: 3.4rem;
        font-size: 3.2rem;
    }

    h4 {
        line-height: 2rem;
        font-size: 1.8rem;
    }

    .steep-h3 {
        font-size: 2rem;
        line-height: 2.4rem;
    }
}

@media all and (max-width: 1200px) {
    .two-step:after {
        bottom: 0;
    }

    .two-step:before {
        width: 92px;
        height: 60px;
    }

    .top-title__send {
        right: -20px;
        font-size: 2.6rem;
    }

    .seven-step__h3 {
        font-size: 2.3rem;
    }

    .infoblock .seven-step__text {
        font-size: 1.9rem;
        line-height: 2.1rem;
    }

    .infoblock .woman_abs {
        height: 90%;
        width: 30%;
    }

    .seven-step--border {
        padding-bottom: 20px;
    }

    .method2:before {
        font-size: 2.3rem;
        top: -10px;
        width: 146px;
        height: 120px;
        background-size: auto;
    }

    .method1:before {
        font-size: 2.3rem;
        top: -10px;
        background-size: auto;
        width: 153px;
        height: 139px;
    }

    .block3__top span {
        font-size: 2.3rem;
    }
}

ol {
    list-style: decimal;
}

@media (max-width: 1024px) {
    i.fa.fa-caret-left.triangle-pointer.rotate {
        transform: rotate(90deg);
    }
}

.block3__top-span {
    float: left;
    margin-left: -14px;
}

.block3__top-p {
    text-align: initial;
    width: 90px;
    float: right;
    margin-right: 16px;
}