.product_preview {
    width: 100%;
    overflow: hidden;
    margin: 25px 0;
}

.product_preview img {
    float: left;
    width: 50%;
    padding: 5px;
}

.opus-picture {
    padding-top: 75px;
}

.product_preview div {
    float: left;
    width: 50%;
    padding: 50px;
}

.product-preview-title {
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    font-size: 2.8rem;
    line-height: 3rem;
    color: #093C8B;
    padding: 20px 0 10px;
}

.product_preview p {
    line-height: 2rem;
}

@media all and (max-width: 1600px) {
    .product_preview div {
        width: 50%;
        padding: 0;
    }
}

