.product_preview {
    width: 100%;
    overflow: hidden;
    margin: 25px 0;
}

.product_preview img {
    float: left;
    width: 50%;
}

.opus-picture {
    padding-top: 75px;
}

.product_preview div {
    float: left;
    width: 50%;
    padding: 50px;
}

.product-preview-title {
    font-family: 'AvenirLTStdHeavy', helvetica, arial, sans-serif;
    font-size: 2.8rem;
    line-height: 3rem;
    color: #093C8B;
    padding: 20px 0;
}

.product_preview p {
    font-size: 1.6rem;
    line-height: 2rem;
}

