/*new marcup*/
.wrapper-gallery {
    overflow: hidden;
    padding-left: 60px;
    padding-top: 4%;
}

.wrapper-gallery__img {
    float: right;
    padding-right: 6%;
    padding-top: 8%;
}

.wrapper-gallery__title {
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    font-size: 3.6rem;
    line-height: 3.8rem;
}

.contact--box {
    padding: 0 0 15px 22px;
    font-size: 2.4rem;
    line-height: 2.6rem;
}

.wrapper-gallery__contact {
    padding-top: 45px;
    padding-bottom: 45px;
}

.wrapper-gallery__contact .fa-envelope {
    padding-right: 25px;
}

.wrapper-gallery__contact .fa-phone {
    padding-right: 33px;
    color: #2882d1;
}

.contact--box a {
    color: #2882d1;
}

/*end ofnew marcup*/
.infoblock__email {
    font-size: 2.6rem;
    line-height: 2.8rem;
    display: block;
    color: #4eb1ff;
    margin: 10px 0;
}

.infoblock__phone {
    font-size: 2.4rem;
    line-height: 2.6rem;
    display: block;
    color: #4eb1ff;
    margin: 20px 0;
}

.slider {
    width: 63%;
    position: relative;
}

.slider-nav .slick-slide {
    padding: 5px 3px 0 0;
}

.slider-nav--vertical .slick-slide {
    padding: 1px 0;
}

.slider-nav {
    /*width: 84%;*/
}

.slider-for {
    /*width: 84%;*/
}

.slick-arrow {
    background: transparent;
    outline: none;
    border: none;
}

.slick-prev {
    position: absolute;
    top: -30px;
    right: 30px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 10px solid #494b49;
    border-bottom: 7px solid transparent;
}

.slick-next {
    position: absolute;
    top: -30px;
    right: -12px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 10px solid #494b49;
    border-bottom: 7px solid transparent;
}

.slick-next:hover {
    border-left: 10px solid #1e78c7;
}

.slick-next:focus {
    border-left: 10px solid #1e78c7;
}

.slick-prev:hover {
    border-right: 10px solid #1e78c7;
}

.slick-prev:focus {
    border-right: 10px solid #1e78c7;
}

.slider-nav--vertical {
    width: 16%;
    padding-left: 5px;
    position: absolute !important;
    right: 0;
    top: 0;
    z-index: 1001;
    bottom: 0;
    overflow: hidden;
}

@media screen and (max-width: 1400px) {
    .wrapper-gallery {
        padding-left: 20px;
    }

    .wrapper-gallery__img {
        float: right;
        padding: 3% 0 0 0;
    }

    .slick-prev {
        top: -75px;
    }

    .slick-next {
        top: -75px;
    }
}
