/*new marcup*/
.wrapper-gallery {
    overflow: hidden;
    padding-top: 4%;
}

.support-agent {
    float: left;
    padding-right: 6%;
    padding-top: 13%;
}

.support-wrapper {
    overflow: hidden;
}

.wrapper-gallery__title {
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    font-size: 3.6rem;
    line-height: 3.8rem;
    margin-bottom: 20px;
}

.contact__title{
    margin: -20px 0 0;
    padding-left: 15px;
    font-size: 1.8rem;
}

.contact__title--padding{
    padding-left:60px;
}


.contact--box {
    padding: 0 0 15px 22px;
    font-size: 2.4rem;
    line-height: 2.6rem;
}

.wrapper-gallery__contact {
    padding-top: 45px;
    padding-bottom: 45px;
}

.wrapper-gallery__contact .fa-envelope {
    padding-right: 25px;
}

.wrapper-gallery__contact .fa-phone {
    padding-right: 33px;
    color: #2487d6;
}

.contact--box a {
    color: #2487d6;
}

/*end ofnew marcup*/
.infoblock__email {
    font-size: 2.6rem;
    line-height: 2.8rem;
    display: block;
    color: #4eb1ff;
    margin: 10px 0;
}

.infoblock__phone {
    font-size: 2.4rem;
    line-height: 2.6rem;
    display: block;
    color: #4eb1ff;
    margin: 20px 0;
}

.slider {
    width: 98%;
    position: relative;
}

.slider-nav .slick-slide {
    padding: 5px 3px 0 0;
}

.slider-nav--vertical .slick-slide {
    padding: 1px 0;
}

.slider-nav {
    /*width: 84%;*/
}

.slider-for {
    /*width: 84%;*/
}

.slick-arrow {
    background: transparent;
    outline: none;
    border: none;
}

.slick-prev {
    position: absolute;
    top: -30px;
    right: 30px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 10px solid #494b49;
    border-bottom: 7px solid transparent;
}

.slick-next {
    position: absolute;
    top: -30px;
    right: -12px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 10px solid #494b49;
    border-bottom: 7px solid transparent;
}

.slick-next:hover {
    border-left: 10px solid #1e78c7;
}

.slick-next:focus {
    border-left: 10px solid #1e78c7;
}

.slick-prev:hover {
    border-right: 10px solid #1e78c7;
}

.slick-prev:focus {
    border-right: 10px solid #1e78c7;
}

.slider-nav--vertical {
    width: 16%;
    padding-left: 5px;
    position: absolute !important;
    right: 0;
    top: 0;
    z-index: 1001;
    bottom: 0;
    overflow: hidden;
}

.contact__header {
    position: relative;
    margin-top: 10px;
}

.contact__header:after {
    content: '';
    display: table;
    clear: both;
}

.header__tel {
    float: left;
    width: 47%;
    padding: 8px 18px 0 0;
    text-align: right;
    margin-top: 30px;
}

.header__tel .header__information{
    font-size: 1.8rem;
}

.header__tel p {
    text-align: right;
    margin-left: auto;
}

.header__support{
    width: 30%;
    float: right;
}

.header__logo {
    float: left;
    width: 23%;
    border-left: 2px solid #000;
    padding-left: 18px;
    margin-top: 30px;
}

.header__logo .header__information {
    font-size: 1.7rem;
}

.header__logo .header__phone {
    font-size: 2.4rem;
}

/*form style*/
.support-form--pull-left{
    float: left;
}


input, textarea, select {
    margin: 10px 10px 0 25px;
    border: solid 1px #ccc;
    padding: 4px;
    outline: 0;
    min-width: 180px;
    background: #F9F9F9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

input {
    min-height: 30px;
}

textarea {
    resize: none;
}

.support-form-wrapper {
    overflow: hidden;
    padding-left: 60px;
}

.support-form {
    padding-top: 20px;
    overflow: hidden;
}

.support-form fieldset {
    position: relative;
    padding: 12px;
    border: 1px solid grey;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    display: inline-block;
}

.about-company {
    display: inline-block;
    margin-right: 22px;
}

.support-product {
    width: 98%;
    margin-top: 20px;
}

.support-product-other:before{
    content: '';
    display: table;
    clear: both;
}

.support-product-other {
    width: 99%;
    margin-top: 20px;
}

.support-form legend {
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    font-size: 2rem;
    line-height: 2.2rem;
    padding: 0 5px;
}

.support-form label {
    width: 100px;
    display: inline-block;
    vertical-align: top;
    line-height: 44px;
}

.support-form label span {
    color: #f00;
}

.send {
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    font-size: 1.8rem;
    line-height: 2rem;
    border: none;
    background: linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -moz-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -webkit-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -o-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -ms-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    transition: 1s;
}

.send:hover {
    opacity: 0.7;
    box-shadow: 0 0 5px #000;
    cursor: pointer;
}

/*end form style*/

/*bottom images style*/

.office-wrapper {
    padding-top: 10px;
    position: relative;
}

.office-main-photo {
    width: 100%;
    height: 100%;
}

.office-address {
    position: absolute;
    top: 50px;
    left: 28%;
    width: 100%;
}

.office-address-other {
    left: 18%;
}

.office-address span {
    font-family: "LatoBold", sans-serif, helvetica, arial;
    font-size: 4.8rem;
    line-height: 5rem;
    color: #fff;
}

.office-address p {
    padding: 10px 0 0 0;
    font-size: 28px;
    color: #fff;
    text-shadow: none;
}

.office-company-name {
    font-family: "LatoBold", sans-serif, helvetica, arial;
    position: absolute;
    bottom: 3%;
    left: 2%;
    color: #fff;
    font-size: 2.8rem;
    line-height: 3rem;
}

.office-photos-wrapper {
    overflow: hidden;
    text-align: center;
}

.office-photos-wrapper .office-photo {
    width: 33%;
    display: inline-block;
}

/*end bottom images style*/

@media screen and (max-width: 1400px) {
    .wrapper-gallery {
        padding-left: 20px;
    }

    .support-agent {
        float: right;
        padding: 3% 0 0 0;
    }

    .slick-prev {
        top: -75px;
    }

    .slick-next {
        top: -75px;
    }

    .contact--box {
        font-size: 2.2rem;
        line-height: 2.4rem;
    }

    .wrapper-gallery__title {
        font-size: 2.7rem;
        line-height: 2.9rem;
    }
}

@media screen and (max-width: 1470px) {
    .header__tel {
        width: 40%;
    }
    .header__logo {
        width: 30%;
    }
}

@media (max-width: 1024px) {
    .wrapper-gallery__title {
        font-size: 2.6rem;
        line-height: 2.8rem;
    }

    .wrapper-gallery__contact .fa-envelope {
        padding-right: 0;
    }
}
