.infoblock__content-holder {
    width: 100%;
    overflow: hidden;
}

.content-holder__forms {
    width: 60%;
    float: left;
}

.brochure-title-left {
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    font-size: 3.4rem;
    line-height: 3.6rem;
    text-align: left;
    padding: 20px 0 10px;
}
.padding--top{
    padding-top: 7%
}
.content-holder__pictures {
    padding: 20px 10px 0;
    width: 40%;
    float: left;
}
.content-holder__pictures img {
    padding: 25px 0;
}
.content-holder__forms input {
    font-family: 'LatoRegular', sans-serif, helvetica, arial;
    font-size: 1.6rem;
    line-height: 3rem;
    height: 30px;
    padding: 2px 5px;
    color: #202020;
    display: block;
    width: 75%;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
}

.content-holder__forms label {
    display: block;
    font-size: 1.8rem;
    line-height: 2rem;
    margin: 5px 2px;
}

.content-holder__forms a.service-support-button {
    background: linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -moz-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -webkit-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -o-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -ms-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #fff;
    border: none;
    width: 190px;
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 5px;
    display: inline-block;
    text-align: center;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    color: #333;
    text-align: center;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}


.bottom-img {
    margin: 11% auto 0;
    width: 80% !important;
    display: block;
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .brochure-title-left {
        font-size: 2.2rem;
        line-height: 2.4rem;
    }
}

@media (max-width: 1199px) {
    .brochure-title-left {
        font-size: 2.2rem;
        line-height: 2.4rem;
    }
}

@media (max-width: 991px) {

}