.infoblock .product_preview {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.infoblock .product_preview img {
    float: left;
    width: 50%;
}

.infoblock .product-preview-title {
    font-family: 'AvenirLTStdHeavy', helvetica, arial, sans-serif;
    font-size: 2.8rem;
    line-height: 3rem;
    color: #093C8B;
    padding: 20px 10px;
}

.infoblock .product_preview div {
    float: left;
    width: 50%;
    padding-left: 2%;
}

.infoblock img {
    width: 100%;
    height: 100%;
}