.support-block {
    min-height: 500px;
}

#map {
    height: 850px;
    width: 100%;
}

.leaflet-popup-content-wrapper {
    border-radius: 3px;
}

.leaflet-popup-content {
    margin: 8px 10px;
}

.leaflet-popup-content p {
    margin: 1px 0;
    padding-bottom: 1px;
    font-size: 11px;
}

.leaflet-popup-content a.site,
.leaflet-popup-content p.products {
    text-decoration: underline;
}
.leaflet-popup-content p.exclude-products {
    font-size: 9px;
}