#support-address {
    width: 400px;
    height: auto;
    float: left;
    margin-left: 30px;
    margin-top: 60px;
}

#head {
    font-size: 18px;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 0;
}

#address {
    font-size: 16px;
    margin-bottom: 18px;
}

#contacts {
    font-size: 16px;
    margin-bottom: 18px;
}

#caption {
    font-size: 90%;
    font-style: italic;
}

.mainform .star {
    position: relative;
}

.mainform .star:before {
    content: '*';
    position: absolute;
    top: 10px;
    right: 230px;
    font-size: 18px;
    color: #f00;
}

input, textarea {
    margin: 10px auto;
    border: solid 1px #CCCCCC;
    padding: 1%;
    outline: 0;
    width: 400px;
    background: #F9F9F9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.content .brochure-block .contact_list {
    list-style-image: none;
    margin: 0;
}

.content .brochure-block .contact_list li {
    font-size: 35px;
    margin: 0;
    font-weight: bold;
}

.content .brochure-block .contact_list li i {
    display: inline;
    padding: 0 20px 0 0;
    color: #2487D6;
}

.mainform .main {
    background: #fff;
    position: absolute;
    top: -16px;
    padding: 0 10px;
    left: 5%;
}

.mainform .main label {
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
}

.mainform {
    text-align: center;
    font-weight: bold;
}

.mainform .form-left {
    width: 50%;
    margin: 70px auto 40px;
    background: rgba(198, 198, 198, 0.8);
}

.mainform .form-left legend {
    margin: 0 auto;
    padding: 5px 40px;
    background: rgba(198, 198, 198, 0.8);
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: bold;
    text-decoration:underline;
    font-family: lucida sans unicode lucida grande, sans-serif;
    color:#786161;
}

.mainform fieldset {
    margin: 0 15px;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.send {
    font-size: 18px;
    border: none;
    background: linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -moz-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -webkit-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -o-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -ms-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    margin: 0 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    transition: 1s;
}

.send:hover {
    opacity: 0.7;
    box-shadow: 0 0 5px #000;
}

.field {
    padding-bottom: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.field label {
    font-size: 16px;
    padding-top: 10px;
    font-weight: normal;
    padding-right: 6px;
}

.one-form {

}

.one-form div {
    padding: 0 5px;
}

.tag {
    font-size: 20px;
}

.tag p {
    color: #000;
    padding: 0 10px !important;
}

.tag span {
    font-size: 25px;
    padding-left: 25px;
}

.tag .little {
    font-size: 12px;
}

.tag a {
    color: #0000F0;
}

.tag a:hover {
    text-decoration: underline;
}

.tag .mini-p {
    font-size: 12px;
    font-style: italic;
}

.text-area {
    margin-left: 38px;
    width: 100%;
    max-width: 500px;

}

.address span {
    font-size: 38px;
    color: #fff;
}

.address p {
    padding: 0 !important;
    font-size: 34px;
    color: #fff !important;
    text-shadow: none !important;
}

.parkin {
    position: relative;
    padding: 0 !important;
    max-width: none !important;
}

.adr-top {
    position: absolute;
    top: 50px;
    left: 28%;
}

.adr-bottom {
    position: absolute;
    bottom: 0;
    left: 2%;
}

.sub--images {
    position: relative;
}

.text--sub--images {
    position: absolute;
    bottom: -50px;
    left: 0;
    font-size: 14px;
}

.contactus-holder {
    width: 80%;
    overflow: hidden;
    margin: 50px auto 0;
}

.contactus-holder__triple {
    width: 33%;
    float: left;
}

.contactus-holder__triple__image--right {
    float: right;
}

.contactus-holder__triple__image--left {
    float: left;
    margin-top: 109px;
}

.contactus-holder__triple__strong {
    background: url("../images/email.jpg") no-repeat;
    background-size: 20%;
    line-height: 80px;
    font-size: 40px;
    padding: 0 0 0 93px;
    height: 80px;
    display: block;
}

.contactus-holder__triple__div--text {
    text-align: right;
    font-size: 22px;
    float: left;
}

.contactus-holder__triple__div--contact {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

.contactus-holder__triple__p {
    width: 100%;
    display: inline-block;
}

.support-block1 {
    background: url("../images/collage.png") no-repeat;
    width: 70%;
    height: 90vh;
    background-size: cover;
    opacity: 1;
}

/*new ss*/
.infoblock__mainform__fieldset__p {
    text-align: center;
    margin: 0 auto;
}

 .service-support  {

     margin-top: 50px !important;
     border-top: 1px solid #786161;
}

.infoblock__mainform__fieldset__p label {
    min-width: 200px;
    display: inline-block;
    text-shadow:1px 1px 1px rgba(61,61,61,0.8);
    font-weight:normal;
    color:#786161;
    letter-spacing:1pt;
    word-spacing:1pt;
    text-align:left;
    font-family:lucida sans unicode, lucida grande, sans-serif;
    line-height:1;

}

.service-support-button {
    min-width: 100px;
    border: 0px solid #02307E;
    border-radius: 4px;
    background: #fff;
    color: #786161;
    padding: 1% 2%;
    font-size: 16px;
    font-weight: bold;
}

.check-order {
    background: url("../images/serviceSupportBG.jpg") no-repeat;
    background-size: cover;
}

.service-ticket {
    background: url("../images/collage.png") no-repeat;
    background-size: cover;
    margin: -2px 0 0 0;
    padding: 100px 0 160px;

}
.infoblock_gallery-holder .contact-service-list {
    list-style: none;
}