
.mainmenu ul,
.mainmenu ul li,
.mainmenu ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mainmenu ul {
    position: relative;
    z-index: 597;
    float: left;
}

.mainmenu ul li {
    float: left;
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle;
    position: relative;
}

.mainmenu ul li.hover,
.mainmenu ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
}

.mainmenu ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 598;
    width: 100%;
}

.mainmenu ul ul li {
    float: none;
}

.mainmenu ul ul ul {
    top: -2px;
    right: 0;
}

.mainmenu ul li:hover > ul {
    visibility: visible;
}

.mainmenu ul ul {
    top: 1px;
    left: 99%;
}

.mainmenu ul li {
    float: none;
}

.mainmenu ul ul {
    margin-top: 1px;
}

.mainmenu ul ul li {
    font-weight: normal;
}

/* Custom CSS Styles */
.mainmenu a {
    display: block;
    padding: 15px 20px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.mainmenu > ul {
    width: 200px;
}

.mainmenu ul ul {
    width: 200px;
}

.mainmenu > ul > li > a {
    border-right: 4px solid #1b9bff;
    color: #ffffff;
}

.mainmenu > ul > li > a:hover {
    color: #ffffff;
}

.mainmenu > ul > li.active a {
    background: #1b9bff;
}

.mainmenu > ul > li a:hover,
.mainmenu > ul > li:hover a {
    background: #1b9bff;
}

.mainmenu li {
    position: relative;
}

.mainmenu ul li.has-sub > a:after {
    content: '+';
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -6px;
}

.mainmenu ul ul li.first {
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}

.mainmenu ul ul li.last {
    -webkit-border-radius: 0 0 3px 0;
    -moz-border-radius: 0 0 3px 0;
    border-radius: 0 0 3px 0;
    border-bottom: 0;
}

.mainmenu ul ul {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.mainmenu ul ul {
    border: 1px solid #0082e7;
}

.mainmenu ul ul a {
    font-size: 12px;
    color: #ffffff;
}

.mainmenu ul ul a:hover {
    color: #ffffff;
}

.mainmenu ul ul li {
    border-bottom: 1px solid #0082e7;
}

.mainmenu ul ul li:hover > a {
    background: #4eb1ff;
    color: #ffffff;
}

.mainmenu.align-right > ul > li > a {
    border-left: 4px solid #1b9bff;
    border-right: none;
}

.mainmenu.align-right {
    float: right;
}

.mainmenu.align-right li {
    text-align: right;
}

.mainmenu.align-right ul li.has-sub > a:before {
    content: '+';
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -6px;
}

.mainmenu.align-right ul li.has-sub > a:after {
    content: none;
}

.mainmenu.align-right ul ul {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 598;
    width: 100%;
}

.mainmenu.align-right ul ul li.first {
    -webkit-border-radius: 3px 0 0 0;
    -moz-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
}

.mainmenu.align-right ul ul li.last {
    -webkit-border-radius: 0 0 0 3px;
    -moz-border-radius: 0 0 0 3px;
    border-radius: 0 0 0 3px;
}

.mainmenu.align-right ul ul {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
