.infoblock ul {
    padding: 10px 0 0 24px;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.brochure-title-center {
    font-family: 'LatoBold', sans-serif, helvetica, arial;
}

.infoblock ul li {
    line-height: 1.8rem;
}

.dlos__logo ul li {
    line-height: 2.4rem;
}

.frame7-content {
    overflow: hidden;
    text-align: left;
}

.frame7-content__dlos {
    width: 39%;
    padding-top: 20px;
    display: inline-block;
}

.dlos__logo {
    display: inline-block;
    width: 68%;
    vertical-align: top;
}

.infoblock .dlos-hend {
    width: 30%;
    display: inline-block;
}

.dlos__ul {
    padding-left: 10%;
    padding-top: 10px;
}

.dlos__ul li {
    position: relative;
}

.dlos__ul li:before {
    content: '';
    position: absolute;
    top: 1px;
    left: -18px;
    background: url("../images/GreenBullet.png") no-repeat;
    background-size: 14px;
    width: 16px;
    height: 16px;
}

.dlos-logo {
    font-size: 1.7rem;
    text-transform: uppercase;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    line-height: 1.9rem;
}

.frame7-content__inform {
    width: 60%;
    text-align: left;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
}

.wrapper-for-img {
    padding-right: 4%;
    position: relative;
}

.saw {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.saw .saw-hend {
    width: 40px;
}

.saw h3 {
    font-size: 3rem;
    line-height: 3.2rem;
    color: #000;
    margin: 0;
    padding-bottom: 10px;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
}

.saw__green-text {
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    font-size: 1.7rem;
    line-height: 1.9rem;
    background: #fefffd;
    background: -moz-linear-gradient(top, #fefffd 0%, #f9fffb 2%, #f8fff8 4%, #f5fff6 5%, #f4fef5 7%, #f1fff2 7%, #f0fef1 9%, #ecfeee 9%, #ebfded 12%, #ebfeea 12%, #e7ffe9 13%, #e5fee8 14%, #e5fde3 14%, #e0fde1 15%, #e0fee2 16%, #dffbe2 17%, #dbfddc 18%, #d9fcdb 20%, #d5fed6 21%, #d1fbd3 23%, #cefbd0 24%, #cbfdcc 26%, #c7fbcb 26%, #c2fdc5 28%, #bcfbc2 31%, #b9fbbd 32%, #b6fbba 32%, #b2fbb4 35%, #affbb1 35%, #a9faae 38%, #9bfa9e 42%, #99f99f 43%, #94fa97 45%, #93f898 45%, #8dfa91 47%, #87f88e 50%, #84f88b 50%, #7ef784 53%, #78f87d 54%, #78f87d 55%, #71f878 58%, #64f76b 61%, #60f76a 64%, #5ef666 64%, #51f759 70%, #50f656 71%, #3df547 80%, #3af544 81%, #3bf441 83%, #34f43f 85%, #33f33c 87%, #34f43d 100%);
    background: -webkit-linear-gradient(top, #fefffd 0%, #f9fffb 2%, #f8fff8 4%, #f5fff6 5%, #f4fef5 7%, #f1fff2 7%, #f0fef1 9%, #ecfeee 9%, #ebfded 12%, #ebfeea 12%, #e7ffe9 13%, #e5fee8 14%, #e5fde3 14%, #e0fde1 15%, #e0fee2 16%, #dffbe2 17%, #dbfddc 18%, #d9fcdb 20%, #d5fed6 21%, #d1fbd3 23%, #cefbd0 24%, #cbfdcc 26%, #c7fbcb 26%, #c2fdc5 28%, #bcfbc2 31%, #b9fbbd 32%, #b6fbba 32%, #b2fbb4 35%, #affbb1 35%, #a9faae 38%, #9bfa9e 42%, #99f99f 43%, #94fa97 45%, #93f898 45%, #8dfa91 47%, #87f88e 50%, #84f88b 50%, #7ef784 53%, #78f87d 54%, #78f87d 55%, #71f878 58%, #64f76b 61%, #60f76a 64%, #5ef666 64%, #51f759 70%, #50f656 71%, #3df547 80%, #3af544 81%, #3bf441 83%, #34f43f 85%, #33f33c 87%, #34f43d 100%);
    background: linear-gradient(to bottom, #fefffd 0%, #f9fffb 2%, #f8fff8 4%, #f5fff6 5%, #f4fef5 7%, #f1fff2 7%, #f0fef1 9%, #ecfeee 9%, #ebfded 12%, #ebfeea 12%, #e7ffe9 13%, #e5fee8 14%, #e5fde3 14%, #e0fde1 15%, #e0fee2 16%, #dffbe2 17%, #dbfddc 18%, #d9fcdb 20%, #d5fed6 21%, #d1fbd3 23%, #cefbd0 24%, #cbfdcc 26%, #c7fbcb 26%, #c2fdc5 28%, #bcfbc2 31%, #b9fbbd 32%, #b6fbba 32%, #b2fbb4 35%, #affbb1 35%, #a9faae 38%, #9bfa9e 42%, #99f99f 43%, #94fa97 45%, #93f898 45%, #8dfa91 47%, #87f88e 50%, #84f88b 50%, #7ef784 53%, #78f87d 54%, #78f87d 55%, #71f878 58%, #64f76b 61%, #60f76a 64%, #5ef666 64%, #51f759 70%, #50f656 71%, #3df547 80%, #3af544 81%, #3bf441 83%, #34f43f 85%, #33f33c 87%, #34f43d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefffd', endColorstr='#34f43d', GradientType=0);
    display: block;
    width: 88%;
    margin: 0 auto 15px;
    padding: 0 20px;
    position: relative;
    z-index: 1;
}

.saw__block {
    width: 95%;
    margin: -10px auto 0;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
}

.block__ul {
    width: 24%;
    padding: 10px 4px 0 4px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}

.infoblock .block__ul {
    list-style: none;
    padding: 10px 4px 0 4px;
}

.block__ul li {
    color: #5d5d5d;
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-left: 25px;
}

.block__ul li:first-child {
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin-left: 0;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
}

.infoblock__photo .photo__table {
    width: 55%;
    margin-top: 15px;
}

.infoblock__photo .photo__double {
    margin-top: -188px;
    width: 95%;
}

.inform__images-first,
.inform__images-second {
    float: left;
    padding: 0 10px 0 0;
    width: 100%;
    height: 100%;
    max-width: 220px;
}

.wrapper-for-img p {
    font-size: 12px;
}

.inform__images-second {
    margin-left: -106px;
    padding-bottom: 5px;
    margin-top: -5px;
    z-index: 1;
    position: relative;
}

img.photo__img {
    max-width: 450px;
    float: left;
}

div#KIC_DLOS_A_5_Dollar_Personal_Computer {
    min-height: 570px;
}

img.flash-hand {
    max-width: 400px;
    position: absolute;
    right: -10px;
    width: 400px;
    height: 200px;
}

.text-section {
    width: 70%;
    margin: 0 auto;
}

.text-section--pb{
    padding-bottom: 80px;
}

.complex-header {
    font-size: 5rem;
    line-height: 5.2rem;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    display: block;
    margin: -50px auto 0;
    background-color: #fff;
}

.complex-header__bottom {
    font-size: 3.8rem;
    line-height: 4rem;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    display: block;
    margin-top: -10px;
}

.wrap-text {
    width: 70%;
    margin: 0 auto;
}

.bottom-text {
    float: left;
    width: 50%;
    padding-top: 30px;
}

.infoblock .DLOS_Icon {
    width: 90%;
}

@media all and (max-width: 1680px) and (min-width: 1024px) {
    .frame7-content__inform {
        width: 100%;
    }

    .frame7-content__dlos {
        width: 100%;
        padding-bottom: 20px;
        padding-top: 0;
    }

    .dlos-hend {
        max-width: 128px;
        margin-left: 80px;
    }

    .DLOS_Icon {
        max-width: 280px;
    }

    .infoblock ul li {
        line-height: 2.3rem;
    }

    .saw__block {
        padding: 15px 0 60px 0;
    }

    .complex-header__bottom {
        font-size: 3.2rem;
        line-height: 3.4rem;
    }

    .complex-header {
        font-size: 4rem;
    }

    .wrap-list {
        width: 100%;
        min-height: 200px;
    }
}

@media all and (max-width: 1280px) and (min-width: 1024px) {
    .wrap-list {
        min-height: 225px;
    }

    .block__ul li:first-child {
        font-size: 1.5rem;
    }
}

@media all and (max-width: 1024px) {
    .infoblock ul,
    .dlos__logo {
        float: left;
    }

    .dlos__logo ul {
        width: auto;
    }
}