.infoblock .infoblock__bscan-de-header-h2 {
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-size: 3.6rem;
    line-height: 3.8rem;
    padding: 20px 0 10px;
    font-weight: bold;
}

.infoblock .infoblock__bscan-de-top-text {
    margin: 10px auto;
    display: block;
    width: 70%;
}

.infoblock .content-holder__content-row {
    padding: 25px 0;
}

.infoblock .content-row__content-column {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.infoblock .content-row__content-column--text {
    width: 60%;
}

.infoblock .content-row__content-column--image {
    width: 34%;
}

.infoblock .content-column__header-big {
    font-family: 'AvenirLTStdOblique', helvetica, arial, sans-serif;
    font-size: 3.6rem;
    padding: 15px 2%;
}

.infoblock .content-column__header-normal {
    font-family: 'AvenirLTStdOblique', helvetica, arial, sans-serif;
    font-size: 3.2rem;
    padding: 10px 2%;
}

.infoblock .content-column__text {
    padding: 15px 2%;
}

.infoblock .content-column__image {
    padding: 0 5%;
}

@media (max-width: 1399px){
    .infoblock .content-row__content-column--image{
        margin-top: 84px;
    }
}