div.text-container {
    padding-left: 5%;
    padding-right: 5%;
}

div.content h1 {
    color: #000000;
    text-align: center;
    text-shadow: none;
}

div.content div.introduction {
    padding-bottom: 40px;
    width: 70%;
    margin-left: 15%;
}


div.content h2.blue-shadow-title {
    padding: 0;
    text-align: left;
    color: #291769;
}

.copyright-and-contacts-footer {
    margin-bottom: 20px;
}

.copyright-and-contacts-footer .copyright {
    float: left;
    width: 20%;
    font-size: 8px;
}

.copyright-and-contacts-footer .bscan-and-image-access-logo {
    float: left;
    width: 25%;
    margin-left: 1%;
    margin-right: 1%;
}

.copyright-and-contacts-footer div.contact {
    float: left;
    width: 16%;
    margin-left: 1%;
}

.copyright-and-contacts-footer div.contact .region {
    font-weight: bold;
    color: #C53F2E;
    font-size: 11px;
}

.copyright-and-contacts-footer div.contact p {
    font-size: 9px;
    margin: 0;
    padding: 0;
}

#bscan-logo-forms-processing {
    margin-bottom: 15px;
}

.image-header {
    font-size: 8px;
    color: black;
    text-shadow: 1px 1px 1px #3F3218;
    font-weight: bold;
}

#optical-mark-recognition-container {
    float: left;
    width: 24%;
    margin-left: 6%;
}

#intelligent-character-recognition-container {
    float: left;
    width: 24%;
    margin-left: 6%;
}

#optical-character-recognition-container {
    float: right;
    width: 33%;
}

#table-with-twos-and-nines {
    float: left;
    width: 23%;
    margin-right: 10px;
}

#form-abc {
    float: right;
    margin-left: 10px;
    width: 20%;
}

#features-container {
    margin-bottom: 10px;
}

.using-barcode-separator-sheets-container {
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 50px;
}

ol#using-barcode-separator-sheets-list {
    list-style: none;
    display: table;
    border-collapse: separate;
    border-spacing: 0 5px;
}

ol#using-barcode-separator-sheets-list li {
    counter-increment: item;
    padding-bottom: 5px;
    display: table-row;
}

ol#using-barcode-separator-sheets-list li div {
    display: table-cell;
    vertical-align: middle;
    background: linear-gradient(to right, #A09EB4 35%, #ECE3D4);
    padding: 5px;
}

ol#using-barcode-separator-sheets-list li:before {
    padding: 5px 25px 5px 20px;
    background: linear-gradient(to right, #ECE3D4, #A09EB4 40%);
    content: counter(item);
    color: white;
    font-size: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#left-column {
    float: left;
    width: 50%;
    margin-top: 20px;
}

#right-column {
    float: right;
    width: 45%;
}

.infoblock img {
    width: 100%;
    height: 35%;
}

.paragraph-title-left {
    font-family: 'AvenirLTStdHeavy', helvetica, arial, sans-serif;
    text-align: left;
    font-size: 1.8rem;
    line-height: 20px;
    color: #3C2E95;
}

.paragraph-title-center {
    font-family: 'AvenirLTStdHeavy', helvetica, arial, sans-serif;
    text-align: center;
    color: #3C2E95;
}

.infoblock .paragraph-title-center--bigger-text {
    font-size: 3.0rem;
    line-height: 32px;
}

.inline-block {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}