div.content p {
    margin-bottom: 10px;
}

div.content span {
    display: inline;
}

.button_special {
    font-size: 1.6rem;
    font-weight: bold;
}

#bscan-standard-production-capture {
    margin-bottom: 20px;
}

#white-pages {
    float: right;
    width: 40%;
    margin-left: 20px;
}

#left-column {
    float: left;
    width: 50%;
}

#right-column {
    float: right;
    width: 45%;
}

#screen-acam,
#screen-bscan-wizard,
#screen-markham,
#screen-bscan-user-administration {
    margin-bottom: 10px;
}

.paragraph-title-left {
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    text-align: left;
    font-size: 2.4rem;
    line-height: 2.6rem;
}

.width-seventy-percent {
    font-family: 'LatoItalic', sans-serif, helvetica, arial;
    width: 70%;
    margin-left: 15%;
    text-align: center !important;
}