.infoblock .product_preview {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.infoblock .product_preview img {
    float: left;
    width: 50%;
}

.infoblock .product_preview div {
    float: left;
    width: 50%;
    padding-left: 2%;
}

.infoblock .product_preview div p {
    margin-top: 3%;
}