@font-face {
    font-family: 'LilyUPC';
    src: url('../fonts/LilyUPC.eot');
    src: url('../fonts/LilyUPC.eot') format('embedded-opentype'),
    url('../fonts/LilyUPC.woff2') format('woff2'),
    url('../fonts/LilyUPC.woff') format('woff'),
    url('../fonts/LilyUPC.ttf') format('truetype'),
    url('../fonts/LilyUPC.svg#LilyUPC') format('svg');
}

@font-face {
    font-family: 'LatoBlack';
    src: url('../fonts/LatoBlack.eot');
    src: url('../fonts/LatoBlack.eot') format('embedded-opentype'),
    url('../fonts/LatoBlack.woff2') format('woff2'),
    url('../fonts/LatoBlack.woff') format('woff'),
    url('../fonts/LatoBlack.ttf') format('truetype'),
    url('../fonts/LatoBlack.svg#LatoBlack') format('svg');
}

@font-face {
    font-family: 'LatoBlackItalic';
    src: url('../fonts/LatoBlackItalic.eot');
    src: url('../fonts/LatoBlackItalic.eot') format('embedded-opentype'),
    url('../fonts/LatoBlackItalic.woff2') format('woff2'),
    url('../fonts/LatoBlackItalic.woff') format('woff'),
    url('../fonts/LatoBlackItalic.ttf') format('truetype'),
    url('../fonts/LatoBlackItalic.svg#LatoBlackItalic') format('svg');
}

@font-face {
    font-family: 'LatoBold';
    src: url('../fonts/LatoBold.eot');
    src: url('../fonts/LatoBold.eot') format('embedded-opentype'),
    url('../fonts/LatoBold.woff2') format('woff2'),
    url('../fonts/LatoBold.woff') format('woff'),
    url('../fonts/LatoBold.ttf') format('truetype'),
    url('../fonts/LatoBold.svg#LatoBold') format('svg');
}

@font-face {
    font-family: 'LatoBoldItalic';
    src: url('../fonts/LatoBoldItalic.eot');
    src: url('../fonts/LatoBoldItalic.eot') format('embedded-opentype'),
    url('../fonts/LatoBoldItalic.woff2') format('woff2'),
    url('../fonts/LatoBoldItalic.woff') format('woff'),
    url('../fonts/LatoBoldItalic.ttf') format('truetype'),
    url('../fonts/LatoBoldItalic.svg#LatoBoldItalic') format('svg');
}

@font-face {
    font-family: 'LatoHairline';
    src: url('../fonts/LatoHairline.eot');
    src: url('../fonts/LatoHairline.eot') format('embedded-opentype'),
    url('../fonts/LatoHairline.woff2') format('woff2'),
    url('../fonts/LatoHairline.woff') format('woff'),
    url('../fonts/LatoHairline.ttf') format('truetype'),
    url('../fonts/LatoHairline.svg#LatoHairline') format('svg');
}

@font-face {
    font-family: 'LatoHairlineItalic';
    src: url('../fonts/LatoHairlineItalic.eot');
    src: url('../fonts/LatoHairlineItalic.eot') format('embedded-opentype'),
    url('../fonts/LatoHairlineItalic.woff2') format('woff2'),
    url('../fonts/LatoHairlineItalic.woff') format('woff'),
    url('../fonts/LatoHairlineItalic.ttf') format('truetype'),
    url('../fonts/LatoHairlineItalic.svg#LatoHairlineItalic') format('svg');
}

@font-face {
    font-family: 'LatoItalic';
    src: url('../fonts/LatoItalic.eot');
    src: url('../fonts/LatoItalic.eot') format('embedded-opentype'),
    url('../fonts/LatoItalic.woff2') format('woff2'),
    url('../fonts/LatoItalic.woff') format('woff'),
    url('../fonts/LatoItalic.ttf') format('truetype'),
    url('../fonts/LatoItalic.svg#LatoItalic') format('svg');
}

@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/LatoLight.eot');
    src: url('../fonts/LatoLight.eot') format('embedded-opentype'),
    url('../fonts/LatoLight.woff2') format('woff2'),
    url('../fonts/LatoLight.woff') format('woff'),
    url('../fonts/LatoLight.ttf') format('truetype'),
    url('../fonts/LatoLight.svg#LatoLight') format('svg');
}

@font-face {
    font-family: 'LatoLightItalic';
    src: url('../fonts/LatoLightItalic.eot');
    src: url('../fonts/LatoLightItalic.eot') format('embedded-opentype'),
    url('../fonts/LatoLightItalic.woff2') format('woff2'),
    url('../fonts/LatoLightItalic.woff') format('woff'),
    url('../fonts/LatoLightItalic.ttf') format('truetype'),
    url('../fonts/LatoLightItalic.svg#LatoLightItalic') format('svg');
}

@font-face {
    font-family: 'LatoRegular';
    src: url('../fonts/LatoRegular.eot');
    src: url('../fonts/LatoRegular.eot') format('embedded-opentype'),
    url('../fonts/LatoRegular.woff2') format('woff2'),
    url('../fonts/LatoRegular.woff') format('woff'),
    url('../fonts/LatoRegular.ttf') format('truetype'),
    url('../fonts/LatoRegular.svg#LatoRegular') format('svg');
}

/*body*/
body {
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-family: 'LatoRegular', sans-serif, helvetica, arial;
    color: #434343;
    position: relative;
    -webkit-font-smoothing: subpixel-antialiased;
    width: 100%;
    min-width: 960px;
    max-width: 1920px;
    margin: 0 auto;
    background-color: #242f41;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(0, rgb(19, 60, 139)), color-stop(0.1, rgb(38, 46, 57)), color-stop(0.9, rgb(38, 46, 57)), color-stop(1, rgb(19, 60, 139)));
    background-image: -webkit-repeating-linear-gradient(left, rgb(19, 60, 139) 0%, rgb(38, 46, 57) 10%, rgb(38, 46, 57) 90%, rgb(19, 60, 139) 100%);
    background-image: repeating-linear-gradient(to right, rgb(19, 60, 139) 0%, rgb(38, 46, 57) 10%, rgb(38, 46, 57) 90%, rgb(19, 60, 139) 100%);
    background-image: -ms-repeating-linear-gradient(left, rgb(19, 60, 139) 0%, rgb(38, 46, 57) 10%, rgb(38, 46, 57) 90%, rgb(19, 60, 139) 100%);
}

/*end body*/

/*header*/

/*header menu*/

.header-top {
    position: relative;
    display: flex;
    width: 70%;
    list-style-type: none;
    margin: 2px auto;
    background-color: #262E39;
    justify-content: space-between;
    cursor: pointer;
}

.header-top a {
    color: #fff;
}

.header-top > li {
    padding: 5px 0;
    font-weight: normal;
    background-color: #262E39;
}

.header-top > li > a:hover {
    color: #047BCB;
}

.header-top > li:hover .dropdown {
    display: block;
}

.header-top .dropdown li:hover > a {
    text-shadow: 1px 1px 2px #fff, 0 0 1em #047BCB;
}

.header-top ul li {
    width: 100%;
    cursor: pointer;
}

.header-top .dropdown li.group_link {
    text-transform: uppercase;
    padding: 5px 20px 5px 5px;
}

.header-top .activeHeader {
    color: #d83020;
}

.dropdown {
    display: none;
    position: absolute;
    z-index: 3;
    margin-left: -15px;
}

.dropdown li {
    position: relative;
    background-color: #262E38;
    opacity: 0.9;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    display: block;
    border-bottom: 1px rgba(246, 246, 246, 0.1) solid;
    padding: 5px 15px 5px 20px;
}

.drop {
    z-index: 20;
    position: absolute;
    display: none;
    font-size: 1.4rem;
    top: 0;
    width: 190px;
    left: 209px;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    -webkit-transition: all 1s linear;
}

.dropdown li:hover .drop {
    display: block;
}

/*end header menu*/

/*header bottom*/
.header-bottom {
    width: 80%;
    background: linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -moz-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -webkit-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -o-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -ms-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    margin: 0 auto;
    position: relative;
}

.topbar {
    margin-left: 170px;
    padding: 7px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar li {
    padding-left: 5%;
    padding-right: 1%;
}

.topbar a {
    color: #fff;
}

.topbar a:hover {
    opacity: 0.7;
}

/*sitemap*/

.fl-right {
    margin: 0 20px 0 60px;
    cursor: default;
}

.fast-nav {
    margin: -1px;
    width: 1000px;
    position: absolute;
    z-index: 100002;
    display: none;
    right: 10px;
    top: 50%;
    padding: 18px 0 0 0;
}

.fast-nav-content {
    display: block;
    width: 1000px;
    background: rgb(9, 60, 139);
    opacity: 0.9;
    color: rgb(255, 255, 255);
    border-top: 1px rgba(246, 246, 246, 0.1) solid;
    line-height: 2.0;
    overflow: hidden;
    list-style-type: circle;
    padding: 5px 20px 20px 20px;
    border-radius: 0 0 10px 10px;
}

.horizontal-divider {
    width: 100%;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}

.fast-nav-content h4 {
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin: 0;
    font-weight: bold;
}

.fast-nav-content .sitemap-item {
    display: block;
    font-size: 11px !important;
    width: 100%;
    text-decoration: none;
    margin-bottom: 5px;
}

#sitemap:hover .fast-nav {
    display: block !important;
}

#sitemap {
    position: relative;
}

#sitemap .column {
    width: 25%;
    height: 100%;
    float: left;
    padding: 5px 10px;
}

/*end sitemap*/

/*login*/

.loginContainer {
    width: 190px;
    position: absolute;
    right: 10px;
    z-index: 1;
}

.loginDropdown a {
    border-radius: 0 0 10px 10px;
    font-size: 10px;
    text-decoration: none;
}

.loginDropdown [data-toggle="loginDropdown"] {
    position: relative;
    display: block;
    color: white;
    background: #2980B9;
    -moz-box-shadow: 0 1px 0 #409ad5 inset, 0 -1px 0 #20638f inset;
    -webkit-box-shadow: 0 1px 0 #409ad5 inset, 0 -1px 0 #20638f inset;
    box-shadow: 0 1px 0 #409ad5 inset, 0 -1px 0 #20638f inset;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    padding: 10px 40%;
}

.loginDropdown [data-toggle="loginDropdown"]:hover {
    background: #2c89c6;
}

.loginDropdown .icon-arrow {
    position: absolute;
    display: block;
    font-size: 0.7em;
    color: #fff;
    top: 14px;
    right: 10px;
}

.loginDropdown .icon-arrow.open {
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
}

.loginDropdown .icon-arrow.close {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
}

.loginDropdown .icon-arrow:before {
    content: '\25BC';
}

.loginDropdown .dropdown-menu {
    max-height: 0;
    overflow: hidden;
}

.loginDropdown .show, .loginDropdown .hide {
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

.loginDropdown .show {
    text-align: center;
    background: #2980B9;
    border-radius: 10px;
    display: block;
    max-height: 9999px;
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    animation: showAnimation 0.5s ease-in-out;
    -moz-animation: showAnimation 0.5s ease-in-out;
    -webkit-animation: showAnimation 0.5s ease-in-out;
    -moz-transition: max-height 1s ease-in-out;
    -o-transition: max-height 1s ease-in-out;
    -webkit-transition: max-height 1s ease-in-out;
    transition: max-height 1s ease-in-out;
}

.loginDropdown .hide {
    max-height: 0;
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    animation: hideAnimation 0.4s ease-out;
    -moz-animation: hideAnimation 0.4s ease-out;
    -webkit-animation: hideAnimation 0.4s ease-out;
    -moz-transition: max-height 0.6s ease-out;
    -o-transition: max-height 0.6s ease-out;
    -webkit-transition: max-height 0.6s ease-out;
    transition: max-height 0.6s ease-out;
}

.loginDropdown .show input, .loginDropdown .show select {
    display: block;
    margin: 10px auto;
    border-radius: 3px;
    border: none;
    width: 130px;
    font-size: 14px;
    line-height: 20px;
    padding: 2px 2px 2px 5px;
}

.loginDropdown .show span {
    display: block;
    padding: 10px 0;
    color: #fff;
}

.loginDropdown .show a {
    display: block;
    padding: 10px 0;
    color: #fff;
}

.loginDropdown .show .submit {
    background: linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -moz-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -webkit-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -o-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -ms-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #fff;
}

@keyframes showAnimation {
    0% {
        -moz-transform: scaleY(0.1);
        -ms-transform: scaleY(0.1);
        -webkit-transform: scaleY(0.1);
        transform: scaleY(0.1);
    }
    40% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    100% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }
    100% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@-moz-keyframes showAnimation {
    0% {
        -moz-transform: scaleY(0.1);
        -ms-transform: scaleY(0.1);
        -webkit-transform: scaleY(0.1);
        transform: scaleY(0.1);
    }
    40% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    100% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }
    100% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@-webkit-keyframes showAnimation {
    0% {
        -moz-transform: scaleY(0.1);
        -ms-transform: scaleY(0.1);
        -webkit-transform: scaleY(0.1);
        transform: scaleY(0.1);
    }
    40% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    100% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }
    100% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

.loginDropdown .show a.login__submit-button {
    background: linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -moz-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -webkit-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -o-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -ms-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #fff;
    border: none;
    width: 100px;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 5px;
    display: inline-block;
    text-align: center;
}

.loginDropdown .show .overlay-login {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    border-radius: 10px;
}

.loginDropdown .show .overlay-login:target {
    visibility: visible;
    opacity: 1;
}

.loginDropdown .show .popup-login-div {
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 90%;
    position: relative;
}

.loginDropdown .show .popup-login-div p {
    color: #333;
    text-align: center;
}

.loginDropdown .show .popup-login-div .close {
    position: absolute;
    top: -7px;
    right: 7px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.loginDropdown .show .popup-login-div .close:hover {
    color: #06D85F;
}

/*end login*/

/*end header*/

/*logo*/

.logo {
    box-shadow: 4px 0 10px 1px #000000;
    position: fixed;
    left: 8%;
    top: 45px;
    background-color: white;
    z-index: 2;
}

.logo img {
    width: 247px;
    height: auto;
    padding: 4% 12%;
}

.botlogo {
    box-shadow: 4px 4px 10px 1px #000000;
    position: fixed;
    margin: 10px 0 0 0;
    padding: 14px 0;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    background-color: white;
    text-align: center;
    width: 247px;
}

/*end logo*/

/*content*/

.content {
    position: relative;
    margin: 0 auto;
    color: black;
    width: 80%;
    background-color: white;
    overflow: hidden;
}

/*leftsidemenu*/

.leftsidemenu-holder {
    margin-left: 3%;
    margin-top: 200px;
    margin-bottom: 10px;
    width: 22%;
    float: left;
}

.leftsidemenu {
    padding: 0 10px 0 0;
    position: relative;
}

.leftsidemenu a {
    color: #02307E;
    padding: 5px;
    display: block;
}

.leftsidemenu a:hover {
    background-color: #02307E;
    display: block;
    color: #fff;
}

.selected a {
    background-color: #02307E;
    color: #fff;
}

/*end leftsidemenu*/

/*infoblock*/

.infoblock {
    padding: 20px;
    width: 75%;
    text-align: left;
    float: left;
    word-wrap: break-word;
    border-left: 2px solid #E3E6DB;
}

p,
.infoblock p {
    padding-bottom: 5px;
    text-align: justify;
    font-size: 16px;
    line-height: 18px;
}

.infoblock img {
    width: 100%;
    height: 100%;
}

/*end infoblock*/

/*end content*/

/*footer*/

footer {
    width: 80%;
    margin: 0 auto;
}

.bottom-bar {
    padding: 12px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(bottom, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -moz-linear-gradient(bottom, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -webkit-linear-gradient(bottom, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -o-linear-gradient(bottom, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -ms-linear-gradient(bottom, rgb(2, 48, 126), rgb(36, 135, 214));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#047bcb, endColorstr=#002e7a, GradientType=0);
}

footer a {
    color: #fff;
}

footer a:hover {
    opacity: 0.7;
}

footer .bottom-bar span {
    color: #fff;
}

.footer--bottom {
    overflow: hidden;
    background: #093C8B;
    padding: 5px 30px 16px;
    border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
}

footer ul {
    float: left;
    width: calc(18.3% - 5px);
    padding: 0 12px;
    text-align: left;
    position: relative;
}

footer ul li {
    padding: 5px 0 0;
}

footer ul:after {
    position: absolute;
    content: '';
    border-right: 1px solid #047BCB;
    top: -6px;
    bottom: -1000px;
    right: 0;
}

footer ul:nth-last-child(1) {
    width: 10%;
}

footer ul:nth-last-child(1):after {
    position: absolute;
    content: '';
    border-right: none;
}

.footer--bottom ul li span {
    color: #6087C5;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: bold;
}

.a--small {
    padding-left: 7px;
}

.footer--bottom img {
    margin-top: 16px;
    width: 100%;
    max-width: 120px;
    height: auto;
}

.footer--bottom .intertek-logo {
    width: 120%;
    max-width: 150px;
}

/*end footer*/

/*media enquiries*/
@media (min-width: 1200px) and (max-width: 1399px) {
    .header-top {
        font-size: 1.4rem;
        line-height: 1.6rem;
        width: 75%;
    }

    .topbar li {
        padding-left: 3%;
    }

    .logo img {
        width: 210px;
    }

    .botlogo {
        width: 210px;
    }

    .leftsidemenu-holder {
        margin-left: 1%;
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    .footer--bottom {
        padding: 5px 10px 40px;
    }

    .footer--bottom ul li span {
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: normal;
    }

    .footer--bottom ul li a {
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: normal;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header-top {
        font-size: 1.4rem;
        line-height: 1.6rem;
        width: 90%;
        background: none;
    }

    .header-top > li {
        background: none;
    }

    .topbar li {
        padding-left: 7%;
    }

    .header-bottom {
        width: 100%;
    }

    .logo {
        left: 3%;
    }

    .logo img {
        width: 180px;
    }

    .botlogo {
        width: 180px;
    }

    .content {
        width: 100%;
    }

    footer {
        width: 100%;
    }

    .footer--bottom {
        padding: 5px 10px 40px;
    }

    .footer--bottom ul li span {
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: normal;
    }

    .footer--bottom ul li a {
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: normal;
    }
}

@media (max-width: 991px) {

}