body {
    font: 14px/1.5 Arial, Helvetica, Nimbus Sans L, sans-serif;
    letter-spacing: 1px;
    color: #434343;
    position: relative;
    -webkit-font-smoothing: subpixel-antialiased;
    width: 100%;
    min-width: 960px;
    max-width: 1920px;
    margin: 0 auto;
}

h1 {
    font-size: 22px;
    color: #02307E;
    text-shadow: 2px 3px 7px #3371b3;
    font-weight: bold;
    margin: 0 0 20px;
}

h2 {
    font-size: 18px;
    color: #093C8B;
    padding: 5px 0 30px 0;
    line-height: 1.4;
    font-weight: bold;
}

h3 {
    color: #093C8B;
    font-size: 14px;
    margin: 18pt 0 6pt 0;
    font-weight: bold;
}

h4 {
    font-size: 12px;
    color: #fff;
}

h5 {
    color: #9C9E9F;
    font-size: 14px;
    margin: 0 0 20px;
}

h6 {
    color: #093C8B;
    font-size: 12px;
    margin: 9px 0 5px 0;
}

table {
    padding: 0;
    border: 0;
}

th {
    text-align: left;
    font-weight: normal;
}

tr {
    padding: 0;
    margin: 0;
    border: 0;
}

td, th {
    vertical-align: top;
    margin: 5px;
    padding: 7px 5px 3px 5px;
    height: 23px;
    border: 0;
}

.back-white {
    background-color: rgb(255, 255, 255);
}

.back-blue {
    background-color: rgb(4, 123, 203);
    color: rgb(255, 255, 255);
}

#container {
    position: relative;
    top: 0;
    z-index: 0;
}

#slides .slidesNext, #slides .slidesPrevious {
    position: absolute;
    top: 50%;
    left: -40px;
    width: 24px;
    height: 0;
    margin-top: -32px;
    padding-top: 32px;
    display: block;
    z-index: 101;
    overflow: hidden;
    background: url(../images/resources/navigation-previous.png) no-repeat 0 0;
}

#slides .slidesNext {
    left: 798px;
    background: url(../images/resources/navigation-next.png) no-repeat 0 0;
}

/*
	Pagination
*/

.slidesPagination {
    margin: 10px 0 0;
    float: right;
}

    .slidesPagination li {
        float: left;
        margin: 0 1px;
        list-style: none;
    }

        .slidesPagination li a {
            display: block;
            width: 14px;
            height: 0;
            padding-top: 14px;
            background-image: url(../images/resources/pagination.png);
            background-position: 0 0;
            overflow: hidden;
        }

        .slidesPagination li.slidesCurrent a {
            background-position: 0 -14px;
        }

.viewer {
    width: 50%;
    height: 600px;
}

html {
    overflow-x: hidden;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none;
    /* non-prefixed version, currently
                                     not supported by any browser */
}

.gallery-frame {
    z-index: 70000;
    height: 700px;
    margin: -1px 0 -6px;
}

a.button7 {
    position: absolute;
    top: 340px;
    right: 17px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 10px 29px;
    background: linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -moz-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -webkit-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -o-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -ms-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    transition: 0.2s;
    text-transform: uppercase;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.logo-frame-block {
    overflow: hidden;
    padding: 6px 0;
}

.logo-frame-block__dlsg-logo {
    float: left;
    padding-left: 14%;
    padding-top: 2px;
}

    .logo-frame-block__dlsg-logo img {
        height: 135px;
        padding-right: 10px;
        border-right: 1px solid #000;
    }

.logo-frame-block__caption {
    margin-left: 10px;
    display: inline-block;
    background: url("../images/frames/map-bg.png") no-repeat;
    background-size: cover;
}

.caption__h {
    text-shadow: none;
    color: #000;
    font-size: 70px;
    line-height: 72px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.caption--bold {
    font-weight: bold;
}

.flip-horizontal {
    transform: scaleX(-1);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.valign-middle {
    vertical-align: middle;
}

.font-weight-normal {
    font-weight: normal;
}

#Wrapp, #Wrapp2, #Wrapp3, #Wrapp4, #Wrapp5, #Wrapp6 {
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(64, 154, 213, 0.8);
    width: 100%;
    height: 100%;
    z-index: 10000;
    border-radius: 10px;
}

#tt, #tt2, #tt3, #tt4, #tt5 {
    position: relative;
    background-color: #fff;
    width: 150px;
    padding: 25px;
    height: 100px;
    margin: 20% auto auto auto;
    border: navy solid 1px;
    border-radius: 10px;
}

div.close {
    cursor: pointer;
    position: absolute;
    font-weight: 700;
    text-shadow: #000 1px 1px 0;
    color: navy;
    right: 7px;
    top: 2px;
}