.thankyou {
    background: #fff url("http://upload.ted-kteam.com/IA/images/contact-us/thankyou.png") no-repeat 0 100px;
}

.thankyou__upper {
    margin: 50px auto 10px;
    text-align: center;
    width: 400px;
}

.thankyou__upper h1 {
    font-family: "LatoBold", sans-serif;
    font-size: 36px;
    line-height: 38px;
    padding-bottom: 15px;
}

.thankyou__upper p,
.thankyou_lower p {
    font-size: 24px;
    line-height: 26px;
    padding-bottom: 10px;
    text-align: center;
}

.thankyou_middle img {
    display: block;
    margin: 0 auto;
}

.thankyou_lower {
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    width: 600px;
    background: rgba(255, 255, 255, 0.51);
}