.infoblock .infoblock__support-team-header-h2 {
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    font-size: 3.6rem;
    line-height: 3.8rem;
    padding: 15px 0 25px 0;
    position: absolute;
    top: 25px;
    left: 45%;
}

.infoblock .infoblock__support-team-image {
    margin-top: -22px;
    padding-bottom: 22px;
}

@media all and (min-width: 1400px) and (max-width: 1600px) {
    .infoblock .infoblock__support-team-header-h2 {
        left: 37%;
        top: 6px;
    }

}

@media all and (max-width: 1400px) {
    .infoblock .infoblock__support-team-header-h2 {
        left: 27%;
        top: 5px
    }
}

@media all and (max-width: 1200px) {
    .infoblock .infoblock__support-team-header-h2 {
        left: 29%;
        top: -3px
    }
}