
.infoblock .infoblock__advisors-header-h2 {
    font-family: AvenirLTStdBlack; /* font-weight: bold; */
    font-size: 3.5rem;
    padding: 15px 0 25px 0;
}

.infoblock .infoblock__advisors-image {

}

.infoblock .infoblock__advisors {

}

.infoblock .advisors__advisor {
    color: #1E3A6D;
    font-family: AvenirLTStdBlackOblique;
    position: relative;
    left: 13%;
}

.infoblock .advisors__advisor--keith {
    margin-top: -715px;
    padding-bottom: 715px;
}

.infoblock .advisors__advisor--diana {
    margin-top: -435px;
    padding-bottom: 435px;
}

.infoblock .advisors__advisor--leandro {
    left: 12%;
    margin-top: -171px;
    padding-bottom: 171px;
}

/* 1280, 1366 */
@media (min-width: 1200px) and (max-width: 1399px) {
    .infoblock .advisors__advisor {
        left: 11%;
    }

    .infoblock .advisors__advisor--keith {
        margin-top: -510px;
        padding-bottom: 510px;
    }

    .infoblock .advisors__advisor--diana {
        margin-top: -317px;
        padding-bottom: 317px;
    }

    .infoblock .advisors__advisor--leandro {
        left: 9%;
        margin-top: -136px;
        padding-bottom: 136px;
    }
}

/* 1024 */
@media (max-width: 1199px) {
    html {
        font-size: 60%;
    }

    .infoblock .advisors__advisor {
        left: 11%;
    }

    .infoblock .advisors__advisor--keith {
        margin-top: -476px;
        padding-bottom: 476px;
    }

    .infoblock .advisors__advisor--diana {
        margin-top: -298px;
        padding-bottom: 298px;
    }

    .infoblock .advisors__advisor--leandro {
        left: 9%;
        margin-top: -128px;
        padding-bottom: 128px;
    }
}

/* tablets */
@media (max-width: 941px) {

}
