.infoblock__box{
    position: relative;
}
.infoblock .infoblock__advisors-header-h2 {
    font-family: AvenirLTStdBlack; /* font-weight: bold; */
    font-size: 3.5rem;
    padding: 15px 0 25px 0;
}

.infoblock .advisors__advisor {
    color: #1E3A6D;
    font-family: AvenirLTStdBlackOblique;
    text-align: center;
    padding-top:15px;
}
.infoblock__advisors{
    width: 33%;
    position: absolute;
    top:0;
    left: 0;
}
.advisors__block{
    padding: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    border: 1px solid #888;
    -webkit-box-shadow:0 10px 20px #000;
    -moz-box-shadow:0 10px 20px #000;
    box-shadow:0 10px 20px #000;
    margin-bottom: 10%;
}
/* 1280, 1366 */
@media all and (min-width: 1200px) and (max-width: 1399px) {

}

/* 1024 */
@media all and (max-width: 1199px) {

}

