
.infoblock .infoblock__support-team-header-h2 {
    font-family: AvenirLTStdBlack; /* font-weight: bold; */
    font-size: 3.8rem;
    padding: 15px 0 25px 0;
    position: absolute;
    top: 25px;
    left: 45%;
}

.infoblock .infoblock__support-team-image {
    margin-top: -22px;
    padding-bottom: 22px;
}