.infoblock .brochure-title-center {
padding: 14px 0 0;
}


.infoblock ul li {
    line-height: 24px;
}

.infoblock .brochure-title-left {
color: #000;
font-size: 3.6rem;
line-height: 3.8rem;
text-align: left;
padding: 14px 0 10px;
}


.infoblock__block-title2{
    font: 14px "Arial",Helvetica,Arial,Verdana,sans-serif;
    font-size: 39px;
    font-weight: bold;
    color:#000000;
    text-shadow: none;
    text-align: center;
}
.infoblock__block-title{
    font-style: italic;
    font-size: 2rem;
    line-height: 2.2rem;
    color: #000000;
    text-shadow: none;
    font-weight: normal;
    text-align: center;
    padding-bottom: 10px;
}
.infoblock__text-block {
    float: left;
    width: 55%;
}
.infoblock__text-block-2{
    float: left;
    width: 45%;
    padding-left: 5%;
    padding-bottom: 5%;
}
.infoblock .infoblock__peppermint2 {
    list-style-image: url(../images/bluebullet.png);
}
div .infoblock__block {
    padding-top: 0%;
    float:left;
    width: 49%;
}

.infoblock__block .infoblock__number{
     width: auto;
     float:left;
 }
.infoblock__block-3 .infoblock__number{
    width: auto;
    float:left;
}

.infoblock__block-1{
    float:left;
    width: 70%;

}


.infoblock__block-3 div .block_text2{
    padding-top: 1%;
}
.infoblock .infoblock__img{
    width: 100%;
}

.infoblock .infoblock__img-2{
    width: 66%;
}
#infoblock__man_pdf{
    padding-left: 5%;
}

.infoblock__block-3{
    position: absolute;
    bottom: 14%;
    overflow: hidden;
    width: 23%;

}
div #infoblock__management{
    width: 48%;
    float:left;
}
div .infoblock__diagram{
    width: 45%;
    float:left;
}
div .infoblock__block_text23 {
    margin-right: -15%;
    margin-top: 3%;
}

.infoblock__relative-block{
    position: relative;
}

.block_text23{
    margin-right: 1%;
}

.small-brochure-title-center{
    color: #000;
    font-family: 'AvenirLTStdHeavy';
    font-size: 3.6rem;
    line-height: 3.8rem;
    text-align: center;
    padding: 14px 0 10px;
}

@media all and (min-width: 1401px) and (max-width: 1681px){
    .infoblock__block-3 {
        bottom: 9%;
    }

    div .infoblock__diagram {
        padding-top: 55px;
    }
}

@media all and (min-width: 1200px) and (max-width: 1400px){
    div .infoblock__diagram{
        width: 48%;
        float: left;
        margin-top: 75px;
        margin-left: 2%;
    }

    .infoblock__block-3 {
        position: absolute;
        bottom: 3%;
    }

     .small-brochure-title-center{
        color: #000;
        font-size: 3.3rem;
        /* line-height: 38px; */
        text-align: center;
        /* padding: 14px 0 10px; */
        padding-bottom: 0%;
    }
}

@media all and (min-width: 922px) and (max-width: 1199px){

    div .infoblock__diagram{
        width: 49%;
        float: left;
        margin-top: 69px;
        margin-left: 2%;
    }

    .infoblock__block-3 {
        position: absolute;
        bottom: 4%;
    }

    .small-brochure-title-center{
        color: #000;
        font-size: 3.3rem;
        /* line-height: 38px; */
        text-align: center;
        /* padding: 14px 0 10px; */
        padding-bottom: 0%;
    }
}

@media all and (min-width: 768px) and (max-width: 921px){

    div .infoblock__diagram{
        width: 48%;
        float:left;
        margin-top: 60%;
        margin-left: 2%;
    }

    .infoblock__block-3 {
        position: absolute;
        bottom: 5%;
    }

    .small-brochure-title-center{
        color: #000;
        font-size: 3.3rem;
        /* line-height: 38px; */
        text-align: center;
        /* padding: 14px 0 10px; */
        padding-bottom: 0%;
    }
}

@media all and (max-width: 767px){

    div .infoblock__diagram{
        width: 48%;
        margin-top: 60%;
        margin-left: 2%;
    }

    .infoblock__block-3 {
        position: absolute;
        bottom: 5%;
    }

    .small-brochure-title-center{
        color: #000;
        font-size: 3.3rem;
        /* line-height: 38px; */
        text-align: center;
        /* padding: 14px 0 10px; */
        padding-bottom: 0%;
    }
}