.infoblock span,p {
    font-weight: normal;
    line-height: 2.4rem;
    text-align: right;
    display: block;
}

.bscan-ill--h2 {
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: #000;
    padding: 0;
    font-weight: bold;
    margin: 0;
}

.bscan-ill__arrow:before {
    content: '';
    position: absolute;
    background: url("../images/brochure-pictures/Arrow.png") no-repeat;
    top: 0;
    left: -64px;
    width: 65px;
    height: 60px;
}

.seven-step:after {
    content: 'VS';
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    background: #000;
    border-radius: 50%;
    bottom: -35px;
    right: 50%;
    padding: 20px 30px;
    margin: 0 -30px;
    z-index: 1;
}

.blue-doth li:before {
    position: absolute;
    content: '';
    background: #3052ad;
    top: 4px;
    left: -20px;
    width: 14px;
    height: 14px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    box-shadow: inset 0 3px 6px #fff;
}

h3 {
    font-size: 30px;
    color: #000;
    text-align: center;
}

h4 {
    font-size: 23px;
    color: #000;
    text-align: center;
    font-weight: normal;
}

.infoblock__center--text {
    text-align: center;
}

.kic-product {
    text-align: right;
    padding-bottom: 15px;
}

.kic-product__row {
    text-align: center;
    vertical-align: top;
    display: inline-block;
    width: calc(100% / 6.13);
}

.kic-product .row__title {
    text-align: center;
    font-size: 13px;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    line-height: 1.8rem;
    padding-bottom: 5px;
}

.row__column {
    padding: 10px 5px 5px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 6px #000;
    min-height: 500px;
}

.row__column .column__mini-title {
    font-size: 11px;
    margin-top: 5px;
    font-weight: bold;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    line-height: 1.2;
    padding: 0;
}

.table {
    width: 100%;
    padding: 20px 0;
}

.table th {
    width: calc(100% / 6);
    height: auto;
    margin: 0;
    padding: 0 0 5px 0;
    text-align: center;
    vertical-align: middle;
}

.table p {
    text-align: center;
}

.table-bg {
    background: rgba(0, 0, 0, 0.1);
}

.table .table--ta-left {
    text-align: right;
    font-size: 12px;
    padding-right: 20px;
    width: 180px;
}

th .table--img {
    width: 100px;
    height: auto;
}

.cicle {
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 1px solid #4a504e;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.green-cicle {
    background: #40b149;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 1px solid #4a504e;
    width: 20px;
    height: 20px;
    margin: 3px auto;
}

.green-cicle--after {
    position: relative;

}

.green-cicle--after:after {
    position: absolute;
    content: '';
    background: #fff;
    border-radius: 11px 11px 0 0;
    -moz-border-radius: 11px 11px 0 0;
    -webkit-border-radius: 11px 11px 0 0;
    border: 1px solid #4a504e;
    width: 18px;
    height: 8px;
    top: -1px;
    left: -1px;
}

.green-cicle--after-big {
    position: relative;
}

.green-cicle--after-big:after {
    position: absolute;
    content: '';
    background: #fff;
    border-radius: 11px 11px 0 0;
    -moz-border-radius: 11px 11px 0 0;
    -webkit-border-radius: 11px 11px 5px 5px;
    border: 1px solid #4a504e;
    width: 18px;
    height: 13px;
    top: -1px;
    left: -1px;
}

.green-cicle--after-small:after {
    position: absolute;
    content: '';
    background: #fff;
    border-radius: 11px 11px 0 0;
    -moz-border-radius: 11px 11px 0 0;
    -webkit-border-radius: 11px 11px 0 0;
    border: 1px solid #4a504e;
    width: 14px;
    height: 4px;
    top: -1px;
    left: 1px;
}

.bold-line {
    font-weight: bold;
    font-size: 33px;
}

.table__arow {
    position: relative;
}

.table__arow:before {
    content: '';
    position: absolute;
    background: url("../images/brochure-pictures/Arrow.png");
    top: -18px;
    left: 42px;
    width: 80px;
    height: 45px;
}

.bold-dollar {
    font-weight: bold;
}

.dollar-size-mini {
    font-size: 12px;
}

.dollar-size-midle {
    font-size: 20px
}

.dollar-size-subheight {
    font-size: 24px;
}

.dollar-size-height {
    font-size: 28px
}

.tabl-star {
    margin-left: 20px;
    font-size: 13px;
    vertical-align: text-top;
    color: #e8383b;
}

.tabl-star-mini {
    margin-left: 20px;
    font-size: 9px;
    vertical-align: text-top;
}



.first-column {
    width: 200px;
    text-align: right;
    padding-right: 1%;
}

.table__footer {
    font-size: 14px;
    line-height: 22px;
}

.line__persent1:after {
    content: '1% Libraries';
    position: absolute;
    top: 25px;
    right: -74px;
    font-weight: bold;
    width: 78px;
    text-align: center;
}

.line__persent4:before {
    content: '4% Businesses';
    position: absolute;
    left: -58px;
    bottom: 41px;
    font-weight: bold;
    width: 99px;
    text-align: center;
}

.align-right .tabl-star-mini {
    margin-left: 20px;
    font-size: 9px;
    vertical-align: text-top;
}

.green-cicle .tabl-star-mini {
    margin-left: 20px;
    font-size: 9px;
    vertical-align: text-top;
}

.infoblock .sitalic {
    font-family: 'LatoItalic', helvetica, arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    line-height: 2.2rem;
    padding-bottom: 10px;
}

.row__column .column__image--shorter {
    width: 57%;
}

.tabl-star-mini {
    margin-left: 20px;
    font-size: 9px;
    vertical-align: text-top;
}

@media all and (max-width: 1880px) and (min-width: 1650px) {
    .table__arow:before {
        left: 20px;
    }
}

@media all and (max-width: 1651px) {
    .table__arow:before {
        left: 0;
    }

    .row__column {
        min-height: 450px;
    }
}

@media all and (max-width: 1480px) {
    .table .table--ta-left {
        padding-right: 10px;
    }

    .row__column {
        min-height: 420px;
    }

}

@media all and (max-width: 1270px) and (min-width: 1201px) {
    .row__column {
        min-height: 350px;
    }

    .table .table--ta-left {
        padding-right: 0;
    }
}

@media all and (max-width: 1080px) {
    .row__column {
        min-height: 350px;
    }

    .table .table--ta-left {
        padding-right: 0;
    }
}