.infoblock  {
    font-size: 1.4rem;
}

.graph img {
    width: 93%;
    float:right;
}

.rotate-text{
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    writing-mode: bt-rl;
    font-family: 'AvenirLTStdHeavy';
    font-size: 3.2rem;
    line-height: 3.4rem;
    text-align: justify;
    margin-top: 154px;

}

.width-td {
    width: 4.5%;
    FLOAT: right;
}

.scan-area {
    text-align: center;
    width: 55%;
}

.scan-area td {
    height: 25px;
    vertical-align: middle;
    padding-right: 1%;
}

.htable {
    font-family: 'AvenirLTStdHeavy';

}


.htable__width-td{
    width: 190px;
}

.infoblock .htable__font{
    font-family: 'AvenirLTStdRoman';
}

.infoblock .infoblock__fond-size-span-text{
    font-size: 2.2rem;
}

.graph{
    overflow: hidden;
}

table {
    float: left;
    font-size: 1.2rem;
}

.scan-table {
    float: right;
    padding-top: 43px;
    width: 40%;
}

h2 {
    text-transform: uppercase;
}

h2 span {
    font-size: 2.2rem;
    font-weight: normal;
    text-transform: none;
}

.scan-table li{
    padding-bottom: 10px;
    font-size: 1.2rem;
}

@media all and (max-width: 1600px) {
    .scan-table{
        width: 40%;
    }
}

@media all and (max-width: 1400px){
    .htable__width-td {
        width: auto;
    }

    .scan-table li{
        padding-bottom: 10px;
        font-size: 1rem;
    }

    tr td{
        font-size: 1rem;
    }
    .scan-table {
        float: right;
        padding-top: 80px;
    }
    .rotate-text{
        margin-top: 80px;

    }
}

