.sub-bottom{
	width: 80%;
	background: linear-gradient(to top, rgb(2,48,126), rgb(36,135,214));
	border-radius: 10px;
	margin: 0px auto;
}
.topbar {
	margin-left: 170px;
	padding: 7px 0;
	display: flex;
	justify-content:space-between;
	align-items:center;
}
.topbar li {
	font-weight: normal;
	list-style-type: none;
	padding-left: 1%;
	padding-right: 1%;
	text-align: center;
}
.topbar a{
	color: #fff;
}
.topbar a:hover{
	opacity: 0.5;
}
.fl-right{
	    margin: 0 20px 0 60px;
}