.sub-bottom {
    width: 80%;
    background: linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -moz-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -webkit-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -o-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    background: -ms-linear-gradient(top, rgb(2, 48, 126), rgb(36, 135, 214));
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    margin: 0 auto;
    position: relative;
}

.topbar {
    margin-left: 170px;
    padding: 7px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar li {
    padding-left: 1%;
    padding-right: 1%;
}

.topbar a {
    color: #fff;
}

.topbar a:hover {
    opacity: 0.7;
}

.fl-right {
    margin: 0 20px 0 60px;
}

.fast-nav {
    width: 800px;
    position: absolute;
    z-index: 99999;
    display: none;
    right: 41px;
    top: 50%;
    padding: 18px 0 0 0;
}

.fast-nav-content {
    display: block;
    width: 800px;
    background: rgb(9, 60, 139);
    opacity: 0.9;
    color: rgb(255, 255, 255);
    border-top: 1px rgba(246, 246, 246, 0.1) solid;
    line-height: 2.0;
    overflow: hidden;
    list-style-type: circle;
    padding: 5px 20px 20px 20px;
    border-radius: 0 0 10px 10px;
}

.horizontal-divider {
    width: 100%;
    border-bottom: 1px solid white;
}

.fast-nav-content h4 {
    font-size: 12px;
    color: rgb(255, 255, 255);
    margin: 0px;
    font-weight: bold;
}

.fast-nav-content .sitemap-item {
    display: block;
    font-size: 11px !important;
    width: 100%;
    text-decoration: none;
    margin-bottom: 5px;
}

#sitemap:hover .fast-nav {
    display: block !important;
}

#sitemap {
    position: relative;
}

#sitemap .column {
    width: 25%;
    height: 100%;
    float: left;
    padding: 5px 10px;
}