.white-papers-title {
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    font-size: 2.8rem;
    line-height: 3rem;
    padding: 20px 0 20px;
}

.technical_data_pdf {
    width: 100%;
    overflow: hidden;
}

.back_pdf {
    width: 70%;
    float: left;
    box-shadow: 3px 3px 5px #8E8E8E;
}

.back_pdf embed {
    width: 100%;
    float: left;
    height: 525px;
}

.download-pdf {
    display: inline-block;
    margin-left: 5px;
    width: 80%;
}

.back_text_pdf {
    float: left;
    margin: 100px 10px 0 0;
    padding-left: 2%;
    width: 29%;
}

.back_text_pdf i {
    vertical-align: top;
}

.back_text_pdf a {
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    color: #093C8B;
    font-size: 2rem;
    line-height: 2.2rem;
}

.back_text_pdf span {
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    font-size: 1.6rem;
    line-height: 1.8rem;
    display: block;
}
@media all and (max-width: 1700px){
    .back_pdf {
        width: 68%;
    }
}

@media (max-width: 1024px) {
    .back_text_pdf i {
        display: inline-block;
    }

    .download-pdf {
        display: inline-block;
        margin-left: 5px;
        width: auto;
    }
}