.infoblock .back_text_pdf {
    padding-left: 2%;
}

/* 1280, 1366 */
@media (min-width: 1200px) and (max-width: 1399px) {
    .infoblock div.pdf_preview {
        padding: 0;
    }

    .infoblock .technical_data_pdf .back_pdf {
        width: 68%;
    }

    .infoblock .technical_data_pdf .back_pdf embed {
        height: 415px;
    }

    .infoblock .back_text_pdf {
        padding-left: 4%;
    }
}

/* 1024 */
@media (max-width: 1199px) {
    .infoblock div.pdf_preview {
        padding: 0;
    }

    .infoblock .technical_data_pdf .back_pdf {
        width: 68%;
    }

    .infoblock .technical_data_pdf .back_pdf embed {
        height: 350px;
    }

    .infoblock .back_text_pdf {
        padding-left: 4%;
    }
}

/* empty, for tablets */
@media (max-width: 941px) {

}
