
.infoblock span.new {
    padding: 0;
    font-style: italic;
    display: inline-block;
    color: #f00;
}

.infoblock span {
    font-weight: bold;
    padding-bottom: 5px;
    display: block;
}

.infoblock ul {
    padding: 0 0 0 24px;
    list-style: disc;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
}

.infoblock ul li {
    line-height: 24px;
}

#plugin {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.infoblock .scrolled_pic {
    display: block;
    overflow: visible;
    align-items: baseline;
    border: none;
    box-shadow: none;
}

.gallery {
    overflow: hidden;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E3E6DB;
    box-shadow: 0 0 5px #000;
}

.infoblock .scrolled_pic .images .image .back_text_pdf {
    width: 20%;
    float: right;
    margin: 100px 10px 0 0;
}

.infoblock .scrolled_pic .images .image .back_pdf {
    width: 75%;
    margin: 10px;
}

.infoblock .scrolled_pic .images .image .back_text_pdf a {
    color: #093C8B;
    font-size: 20px;
    font-weight: bold;
}

.infoblock .scrolled_pic .images .image .back_pdf embed {
    width: 100%;
    height: 525px;
}

.infoblock .scrolled_pic > .images {
    overflow: visible;
    display: block;
    align-items: center;
    border-bottom: 1px solid #E3E6DB;
    box-shadow: 0 0 5px #000;
    margin: 0 0 14px;
}

.infoblock .scrolled_pic {
    display: block;
    overflow: visible;
    align-items: baseline;
    border: none;
    box-shadow: none;
}

.infoblock .scrolled_pic .images .image .back_image {
    width: 50%;
    background-size: contain;
    margin: 20px;
}

.infoblock .scrolled_pic .images .image .back_image {
    width: 50%;
    background-size: contain;
    margin: 20px;
}

.infoblock .table_video .video-preview {
    width: 50%;
    float: left;
}

.infoblock .table_video .video-preview img {
    width: 90%;
    height: auto;
    box-shadow: 3px 3px 5px #8E8E8E;
}

.infoblock .table_video {
    overflow: hidden;
    margin: 10px 0;
}

.infoblock .table_documentation tbody tr :nth-child(1) {
    font-weight: bold;
}

.infoblock .table_documentation {
    width: 100%;
}

.infoblock .technical_data {
    width: 100%;
    margin: 0;
}

.infoblock .technical_data tbody tr th {
    font-weight: bold;
}

.infoblock .technical_data_pdf {
    width: 100%;
    overflow: hidden;
}

.infoblock div.pdf_preview {
    padding: 20px 0;
}

.infoblock .technical_data_pdf .back_pdf {
    width: 70%;
    margin: 10px;
    float: left;
    box-shadow: 3px 3px 5px #8E8E8E;
}

.infoblock .technical_data_pdf .back_pdf embed {
    width: 100%;
    float: left;
    height: 525px;
}

.infoblock .technical_data_pdf .back_text_pdf {
    width: 26%;
    float: left;
    margin: 100px 10px 0 0;
}

.infoblock .technical_data_pdf .back_text_pdf a {
    color: #093C8B;
    font-size: 12px;
    font-weight: bold;
}

.infoblock .technical_data_pdf .back_text_pdf span {
    color: #000;
    font-size: 12px;
}

/* new */

.infoblock .table_comliance {
    overflow: hidden;
    margin: 10px 0;
}

.infoblock .table_comliance .conf_sing {
    width: 15%;
    float: left;
}

.infoblock .table_comliance .conf_sing img {
    margin: 20px auto;
    display: block;
    width: 75px;
    height: auto;
}

.infoblock .table_comliance .conf_description {
    width: 85%;
    float: left;
}

.infoblock ul {
    padding: 0 0 0 24px;
    list-style: disc;
}

.infoblock .table_comliance .conf_sing h2 {
    width: 75px;
    height: auto;
    margin: 20px auto;
}

.infoblock .scrolled_pic .images .image .back_text span {
    color: #093C8B;
    font-size: 18px;
}

.infoblock .scrolled_pic .images .image .back_text {
    width: 39%;
    float: right;
    margin: 100px 10px 0 0;
}

.infoblock .scrolled_pic {
    display: block;
    overflow: visible;
    align-items: baseline;
    border: none;
    box-shadow: none;
}

.infoblock .table_video .video-links a {
    font-weight: bold;
}

.infoblock img.mainpage_img {
    float: right;
    width: 235px;
    margin: 2px;
}
