/* ******************** OLD AND UGLY SHIT ******************** */

.infoblock span.new {
    padding: 0;
    font-style: italic;
    display: inline-block;
    color: #f00;
}

.infoblock span {
    font-weight: bold;
    padding-bottom: 5px;
    display: block;
}

.infoblock ul {
    padding: 0 0 0 24px;
    list-style: disc;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
}

.infoblock ul li {
    line-height: 24px;
}

#plugin {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.infoblock .scrolled_pic {
    display: block;
    overflow: visible;
    align-items: baseline;
    border: none;
    box-shadow: none;
}

.gallery {
    overflow: hidden;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E3E6DB;
    box-shadow: 0 0 5px #000;
}

.infoblock .scrolled_pic .images .image .back_text_pdf {
    width: 20%;
    float: right;
    margin: 100px 10px 0 0;
}

.infoblock .scrolled_pic .images .image .back_pdf {
    width: 75%;
    margin: 10px;
}

.infoblock .scrolled_pic .images .image .back_text_pdf a {
    color: #093C8B;
    font-size: 20px;
    font-weight: bold;
}

.infoblock .scrolled_pic .images .image .back_pdf embed {
    width: 100%;
    height: 525px;
}

.infoblock .scrolled_pic > .images {
    overflow: visible;
    display: block;
    align-items: center;
    border-bottom: 1px solid #E3E6DB;
    box-shadow: 0 0 5px #000;
    margin: 0 0 14px;
}

.infoblock .scrolled_pic {
    display: block;
    overflow: visible;
    align-items: baseline;
    border: none;
    box-shadow: none;
}

.infoblock .scrolled_pic .images .image .back_image {
    width: 50%;
    background-size: contain;
    margin: 20px;
}

.infoblock .scrolled_pic .images .image .back_image {
    width: 50%;
    background-size: contain;
    margin: 20px;
}

.infoblock .table_video .video-preview {
    width: 50%;
    float: left;
}

.infoblock .table_video .video-preview img {
    width: 90%;
    height: auto;
    box-shadow: 3px 3px 5px #8E8E8E;
}

.infoblock .table_video {
    overflow: hidden;
    margin: 10px 0;
}

.infoblock .table_documentation tbody tr :nth-child(1) {
    font-weight: bold;
}

.infoblock .table_documentation {
    width: 100%;
}

.infoblock .technical_data {
    width: 100%;
    margin: 0;
}

.infoblock .technical_data tbody tr th {
    font-weight: bold;
}

.infoblock .technical_data_pdf {
    width: 100%;
    overflow: hidden;
}

.infoblock div.pdf_preview {
    padding: 20px 0;
}

.infoblock .technical_data_pdf .back_pdf {
    width: 70%;
    margin: 10px;
    float: left;
    box-shadow: 3px 3px 5px #8E8E8E;
}

.infoblock .technical_data_pdf .back_pdf embed {
    width: 100%;
    float: left;
    height: 525px;
}

.infoblock .technical_data_pdf .back_text_pdf {
    width: 26%;
    float: left;
    margin: 100px 10px 0 0;
}

.infoblock .technical_data_pdf .back_text_pdf a {
    color: #093C8B;
    font-size: 12px;
    font-weight: bold;
}

.infoblock .technical_data_pdf .back_text_pdf span {
    color: #000;
    font-size: 12px;
}

/* new */

.infoblock .table_comliance {
    overflow: hidden;
    margin: 10px 0;
}

.infoblock .table_comliance .conf_sing {
    width: 15%;
    float: left;
}

.infoblock .table_comliance .conf_sing img {
    margin: 20px auto;
    display: block;
    width: 75px;
    height: auto;
}

.infoblock .table_comliance .conf_description {
    width: 85%;
    float: left;
}

.infoblock ul {
    padding: 0 0 10px 25px;
    list-style: disc;
}

.infoblock .table_comliance .conf_sing h2 {
    width: 75px;
    height: auto;
    margin: 20px auto;
}

.infoblock .scrolled_pic .images .image .back_text span {
    color: #093C8B;
    font-size: 18px;
}

.infoblock .scrolled_pic .images .image .back_text {
    width: 39%;
    float: right;
    margin: 100px 10px 0 0;
}

.infoblock .table_video .video-links a {
    font-weight: bold;
}

.infoblock img.mainpage_img {
    float: right;
    width: 235px;
    margin: 2px;
}

/* ******************** NEW STYLES ******************** */

.infoblock .infoblock__scanners-header-h2 {
    font-size: 1.8rem;
    font-family: AvenirLTStdBlack; /* font-weight: bold; */
    margin: 0;
    color: rgb(9, 60, 139);
    padding-top: 5px;
    padding-bottom: 32px;
    height: 23px;
}

.infoblock .infoblock__scanners-p {
    padding-bottom: 15px;
}

.infoblock .infoblock__scanners-header-h3 {
    font-family: AvenirLTStdBlack; /* font-weight: bold; */
    color: rgb(9, 60, 139);
    font-size: 1.6rem;
    margin: 15px 0;
}

.infoblock .infoblock__scanners-header-h4 {
    font-size: 1.2rem;
    margin: 0;
}

/* ******************** PRODUCT PHOTOS ******************** */

/*V1A C35*/
.back_image--1 {
    background-image: url(../images/Scanners/Bookeye_4_V1A_C35/BE4-SGS-V1-C35_Backward.png) !important;
}

.back_image--2 {
    background-image: url(../images/Scanners/Bookeye_4_V1A_C35/BE4-SGS-V1-C35_Diagonal.png) !important;
}

.back_image--3 {
    background-image: url(../images/Scanners/Bookeye_4_V1A_C35/BE4-SGS-V1-C35_Front.png) !important;
}

.back_image--4 {
    background-image: url(../images/Scanners/Bookeye_4_V1A_C35/BE4-SGS-V1-C35_Front_V.png) !important;
}

.back_image--5 {
    background-image: url(../images/Scanners/Bookeye_4_V1A_C35/BE4-SGS-V1-C35_Sideward.png) !important;
}

/*V1A*/
.back_image--6 {
    background-image: url(../images/Scanners/Bookeye_4_V1A/BE4V1A_RENDER_DIAGONAL.png) !important;
}

.back_image--7 {
    background-image: url(../images/Scanners/Bookeye_4_V1A/BE4V1A_RENDER_DIAGONAL_BOOK.png) !important;
}

.back_image--8 {
    background-image: url(../images/Scanners/Bookeye_4_V1A/BE4V1A_RENDER_DIAGONAL_STAGED.png) !important;
}

.back_image--9 {
    background-image: url(../images/Scanners/Bookeye_4_V1A/BE4V1A_RENDER_DIAGONAL_V.png) !important;
}

.back_image--10 {
    background-image: url(../images/Scanners/Bookeye_4_V1A/BE4V1A_RENDER_FRONTAL.png) !important;
}

.back_image--11 {
    background-image: url(../images/Scanners/Bookeye_4_V1A/BE4V1A_RENDER_FRONTAL_BOOK.png) !important;
}

.back_image--12 {
    background-image: url(../images/Scanners/Bookeye_4_V1A/BE4V1A_RENDER_FRONTAL_V.png) !important;
}

.back_image--13 {
    background-image: url(../images/Scanners/Bookeye_4_V1A/BE4V1A_RENDER_SIDEWARD.png) !important;
}

.back_image--14 {
    background-image: url(../images/Scanners/Bookeye_4_V1A/BE4V1A_RENDER_SIDEWARD_BOOK.png) !important;
}

/*V2*/
.back_image--15 {
    background-image: url(../images/Scanners/Bookeye_4_V2/BE4V2_BASIC_RENDER_DIAGONAL_big.png) !important;
}

.back_image--16 {
    background-image: url(../images/Scanners/Bookeye_4_V2/BE4V2_BASIC_RENDER_DIAGONAL_BOOK_big.png) !important;
}

.back_image--17 {
    background-image: url(../images/Scanners/Bookeye_4_V2/BE4V2_BASIC_RENDER_DIAGONAL_V_big.png) !important;
}

.back_image--18 {
    background-image: url(../images/Scanners/Bookeye_4_V2/BE4V2_BASIC_RENDER_FRONTAL_big.png) !important;
}

.back_image--19 {
    background-image: url(../images/Scanners/Bookeye_4_V2/BE4V2_BASIC_RENDER_FRONTAL_BOOK_big.png) !important;
}

.back_image--20 {
    background-image: url(../images/Scanners/Bookeye_4_V2/BE4V2_BASIC_RENDER_FRONTAL_V_big.png) !important;
}

.back_image--21 {
    background-image: url(../images/Scanners/Bookeye_4_V2/BE4V2_BASIC_RENDER_SIDEWARD_big.png) !important;
}

/*V3*/
.back_image--22 {
    background-image: url(../images/Scanners/Bookeye_4_V3/BE4V3_RENDER_DIAGONAL.png) !important;
}

.back_image--23 {
    background-image: url(../images/Scanners/Bookeye_4_V3/BE4V3_RENDER_DIAGONAL_BOOK.png) !important;
}

.back_image--24 {
    background-image: url(../images/Scanners/Bookeye_4_V3/BE4V3_RENDER_DIAGONAL_FOLDER.png) !important;
}

.back_image--25 {
    background-image: url(../images/Scanners/Bookeye_4_V3/BE4V3_RENDER_DIAGONAL_V.png) !important;
}

.back_image--26 {
    background-image: url(../images/Scanners/Bookeye_4_V3/BE4V3_RENDER_FRONTAL.png) !important;
}

.back_image--27 {
    background-image: url(../images/Scanners/Bookeye_4_V3/BE4V3_RENDER_FRONTAL_BOOK.png) !important;
}

.back_image--28 {
    background-image: url(../images/Scanners/Bookeye_4_V3/BE4V3_RENDER_FRONTAL_V.png) !important;
}

.back_image--29 {
    background-image: url(../images/Scanners/Bookeye_4_V3/BE4V3_RENDER_SIDEWARD.png) !important;
}

/*widetek12*/
.back_image--30 {
    background-image: url(../images/Scanners/WideTEK_12/WT12-600_RENDER_DIAGONAL.png) !important;
}

.back_image--31 {
    background-image: url(../images/Scanners/WideTEK_12/WT12-600_RENDER_DIAGONAL_OPEN.png) !important;
}

.back_image--32 {
    background-image: url(../images/Scanners/WideTEK_12/WT12-600_RENDER_DIAGONAL_TEMPLATE.png) !important;
}

.back_image--33 {
    background-image: url(../images/Scanners/WideTEK_12/WT12-600_RENDER_FRONTAL.png) !important;
}

.back_image--34 {
    background-image: url(../images/Scanners/WideTEK_12/WT12-600_RENDER_FRONTAL_OPEN.png) !important;
}

.back_image--35 {
    background-image: url(../images/Scanners/WideTEK_12/WT12-600_RENDER_FRONTAL_TEMPLATE.png) !important;
}

.back_image--36 {
    background-image: url(../images/Scanners/WideTEK_12/WT12-600_RENDER_SIDEWARD.png) !important;
}

.back_image--37 {
    background-image: url(../images/Scanners/WideTEK_12/WT12-600_RENDER_SIDEWARD_OPEN.png) !important;
}

.back_image--38 {
    background-image: url(../images/Scanners/WideTEK_12/WT12-600_RENDER_BACKWARD.png) !important;
}

/*widetek25*/
.back_image--39 {
    background-image: url(../images/Scanners/WideTEK_25/WT25-600_RENDER_DIAGONAL.png) !important;
}

.back_image--40 {
    background-image: url(../images/Scanners/WideTEK_25/WT25-600_RENDER_DIAGONAL_BACKLIGHT_ILLU.png) !important;
}

.back_image--41 {
    background-image: url(../images/Scanners/WideTEK_25/WT25-600_RENDER_DIAGONAL_OPEN.png) !important;
}

.back_image--42 {
    background-image: url(../images/Scanners/WideTEK_25/WT25-600_RENDER_DIAGONAL_TEMPLATE.png) !important;
}

.back_image--43 {
    background-image: url(../images/Scanners/WideTEK_25/WT25-600_RENDER_FRONTAL.png) !important;
}

.back_image--44 {
    background-image: url(../images/Scanners/WideTEK_25/WT25-600_RENDER_FRONTAL_BACKLIGHT_ILLU.png) !important;
}

.back_image--45 {
    background-image: url(../images/Scanners/WideTEK_25/WT25-600_RENDER_FRONTAL_OPEN.png) !important;
}

.back_image--46 {
    background-image: url(../images/Scanners/WideTEK_25/WT25-600_RENDER_FRONTAL_TEMPLATE.png) !important;
}

.back_image--47 {
    background-image: url(../images/Scanners/WideTEK_25/WT25-600_RENDER_SIDEWARD.png) !important;
}

.back_image--48 {
    background-image: url(../images/Scanners/WideTEK_25/WT25-600_RENDER_SIDEWARD_OPEN.png) !important;
}

/*widetek36*/
.back_image--49 {
    background-image: url(../images/Scanners/WideTEK_36/WT36-600_RENDER_BACKWARD.png) !important;
}

.back_image--50 {
    background-image: url(../images/Scanners/WideTEK_36/WT36-600_RENDER_DIAGONAL.png) !important;
}

.back_image--51 {
    background-image: url(../images/Scanners/WideTEK_36/WT36-600_RENDER_DIAGONAL_IPAD.png) !important;
}

.back_image--52 {
    background-image: url(../images/Scanners/WideTEK_36/WT36-600_RENDER_DIAGONAL_TEMPLATE.png) !important;
}

.back_image--53 {
    background-image: url(../images/Scanners/WideTEK_36/WT36-600_RENDER_DIAGONAL_TEMPLATE_IPAD.png) !important;
}

.back_image--54 {
    background-image: url(../images/Scanners/WideTEK_36/WT36-600_RENDER_FRONTAL.png) !important;
}

.back_image--55 {
    background-image: url(../images/Scanners/WideTEK_36/WT36-600_RENDER_FRONTAL_IPAD.png) !important;
}

.back_image--56 {
    background-image: url(../images/Scanners/WideTEK_36/WT36-600_RENDER_FRONTAL_MONITOR.png) !important;
}

.back_image--57 {
    background-image: url(../images/Scanners/WideTEK_36/WT36-600_RENDER_FRONTAL_OPEN.png) !important;
}

.back_image--58 {
    background-image: url(../images/Scanners/WideTEK_36/WT36-600_RENDER_FRONTAL_TEMPLATE.png) !important;
}

.back_image--59 {
    background-image: url(../images/Scanners/WideTEK_36/WT36-600_RENDER_FRONTAL_TEMPLATE_IPAD.png) !important;
}

.back_image--60 {
    background-image: url(../images/Scanners/WideTEK_36/WT36-600_RENDER_FRONTAL_TOUCH_TEMPLATE.png) !important;
}

.back_image--61 {
    background-image: url(../images/Scanners/WideTEK_36/WT36-600_RENDER_FRONTAL_UMFS.png) !important;
}

.back_image--62 {
    background-image: url(../images/Scanners/WideTEK_36/WT36-600_RENDER_SIDEWARD.png) !important;
}

/*widetek36c*/
.back_image--63 {
    background-image: url(../images/Scanners/WideTEK_36C/WT36C-600_RENDER_BACKWARD.png) !important;
}

.back_image--64 {
    background-image: url(../images/Scanners/WideTEK_36C/WT36C-600_RENDER_DIAGONAL.png) !important;
}

.back_image--65 {
    background-image: url(../images/Scanners/WideTEK_36C/WT36C-600_RENDER_DIAGONAL_TEMPLATE.png) !important;
}

.back_image--66 {
    background-image: url(../images/Scanners/WideTEK_36C/WT36C-600_RENDER_FRONTAL.png) !important;
}

.back_image--67 {
    background-image: url(../images/Scanners/WideTEK_36C/WT36C-600_RENDER_FRONTAL_MONITOR.png) !important;
}

.back_image--68 {
    background-image: url(../images/Scanners/WideTEK_36C/WT36C-600_RENDER_FRONTAL_OPEN.png) !important;
}

.back_image--69 {
    background-image: url(../images/Scanners/WideTEK_36C/WT36C-600_RENDER_FRONTAL_TOUCH_TEMPLATE.png) !important;
}

.back_image--70 {
    background-image: url(../images/Scanners/WideTEK_36C/WT36C-600_RENDER_FRONTAL_UMFS.png) !important;
}

.back_image--71 {
    background-image: url(../images/Scanners/WideTEK_36C/WT36C-600_RENDER_SIDEWARD.png) !important;
}

.back_image--72 {
    background-image: url(../images/Scanners/WideTEK_36C/WT36C-600_RENDER_FRONTAL_TEMPLATE.png) !important;
}

/*widetek36ds*/
.back_image--73 {
    background-image: url(../images/Scanners/WideTEK_36DS/WT36DS-200_01.png) !important;
}

.back_image--74 {
    background-image: url(../images/Scanners/WideTEK_36DS/WT36DS-200_02.png) !important;
}

.back_image--75 {
    background-image: url(../images/Scanners/WideTEK_36DS/WT36DS-200_Side_stage.png) !important;
}

/*widetek44*/
.back_image--76 {
    background-image: url(../images/Scanners/WideTEK_44/WT44-600_RENDER_BACKWARD_big.png) !important;
}

.back_image--77 {
    background-image: url(../images/Scanners/WideTEK_44/WT44-600_RENDER_DIAGONAL_big.png) !important;
}

.back_image--78 {
    background-image: url(../images/Scanners/WideTEK_44/WT44-600_RENDER_DIAGONAL_IPAD_big.png) !important;
}

.back_image--79 {
    background-image: url(../images/Scanners/WideTEK_44/WT44-600_RENDER_DIAGONAL_TEMPLATE_big.png) !important;
}

.back_image--80 {
    background-image: url(../images/Scanners/WideTEK_44/WT44-600_RENDER_DIAGONAL_TEMPLATE_IPAD_big.png) !important;
}

.back_image--81 {
    background-image: url(../images/Scanners/WideTEK_44/WT44-600_RENDER_FRONTAL_big.png) !important;
}

.back_image--82 {
    background-image: url(../images/Scanners/WideTEK_44/WT44-600_RENDER_FRONTAL_IPAD_big.png) !important;
}

.back_image--83 {
    background-image: url(../images/Scanners/WideTEK_44/WT44-600_RENDER_FRONTAL_MONITOR_big.png) !important;
}

.back_image--84 {
    background-image: url(../images/Scanners/WideTEK_44/WT44-600_RENDER_FRONTAL_OPEN_big.png) !important;
}

.back_image--85 {
    background-image: url(../images/Scanners/WideTEK_44/WT44-600_RENDER_FRONTAL_TEMPLATE_big.png) !important;
}

.back_image--86 {
    background-image: url(../images/Scanners/WideTEK_44/WT44-600_RENDER_FRONTAL_TEMPLATE_IPAD_big.png) !important;
}

.back_image--87 {
    background-image: url(../images/Scanners/WideTEK_44/WT44-600_RENDER_FRONTAL_TOUCH_TEMPLATE_big.png) !important;
}

.back_image--88 {
    background-image: url(../images/Scanners/WideTEK_44/WT44-600_RENDER_FRONTAL_UMFS_big.png) !important;
}

.back_image--89 {
    background-image: url(../images/Scanners/WideTEK_44/WT44-600_RENDER_SIDEWARD_big.png) !important;
}

/*widetek48*/
.back_image--90 {
    background-image: url(../images/Scanners/WideTEK_48/WT48-600_RENDER_BACKWARD.png) !important;
}

.back_image--91 {
    background-image: url(../images/Scanners/WideTEK_48/WT48-600_RENDER_DIAGONAL.png) !important;
}

.back_image--92 {
    background-image: url(../images/Scanners/WideTEK_48/WT48-600_RENDER_DIAGONAL_IPAD.png) !important;
}

.back_image--93 {
    background-image: url(../images/Scanners/WideTEK_48/WT48-600_RENDER_DIAGONAL_TEMPLATE.png) !important;
}

.back_image--94 {
    background-image: url(../images/Scanners/WideTEK_48/WT48-600_RENDER_DIAGONAL_TEMPLATE_IPAD.png) !important;
}

.back_image--95 {
    background-image: url(../images/Scanners/WideTEK_48/WT48-600_RENDER_FRONTAL.png) !important;
}

.back_image--96 {
    background-image: url(../images/Scanners/WideTEK_48/WT48-600_RENDER_FRONTAL_IPAD.png) !important;
}

.back_image--97 {
    background-image: url(../images/Scanners/WideTEK_48/WT48-600_RENDER_FRONTAL_MONITOR.png) !important;
}

.back_image--98 {
    background-image: url(../images/Scanners/WideTEK_48/WT48-600_RENDER_FRONTAL_OPEN.png) !important;
}

.back_image--99 {
    background-image: url(../images/Scanners/WideTEK_48/WT48-600_RENDER_FRONTAL_TEMPLATE.png) !important;
}

.back_image--100 {
    background-image: url(../images/Scanners/WideTEK_48/WT48-600_RENDER_FRONTAL_TEMPLATE_IPAD.png) !important;
}

.back_image--101 {
    background-image: url(../images/Scanners/WideTEK_48/WT48-600_RENDER_FRONTAL_TOUCH_TEMPLATE.png) !important;
}

.back_image--102 {
    background-image: url(../images/Scanners/WideTEK_48/WT48-600_RENDER_FRONTAL_UMFS.png) !important;
}

.back_image--103 {
    background-image: url(../images/Scanners/WideTEK_48/WT48-600_RENDER_SIDEWARD.png) !important;
}

/*widetek48c*/
.back_image--104 {
    background-image: url(../images/Scanners/WideTEK_48C/WT48C-600_RENDER_DIAGONAL_big.png) !important;
}

.back_image--105 {
    background-image: url(../images/Scanners/WideTEK_48C/WT48C-600_RENDER_DIAGONAL_TEMPLATE_big.png) !important;
}

.back_image--106 {
    background-image: url(../images/Scanners/WideTEK_48C/WT48C-600_RENDER_FRONTAL_big.png) !important;
}

.back_image--107 {
    background-image: url(../images/Scanners/WideTEK_48C/WT48C-600_RENDER_FRONTAL_TEMPLATE_big.png) !important;
}

.back_image--108 {
    background-image: url(../images/Scanners/WideTEK_48C/WT48C-600_RENDER_FRONTAL_MONITOR_big.png) !important;
}

.back_image--109 {
    background-image: url(../images/Scanners/WideTEK_48C/WT48C-600_RENDER_FRONTAL_OPEN_big.png) !important;
}

.back_image--110 {
    background-image: url(../images/Scanners/WideTEK_48C/WT48C-600_RENDER_FRONTAL_TOUCH_TEMPLATE_big.png) !important;
}

.back_image--111 {
    background-image: url(../images/Scanners/WideTEK_48C/WT48C-600_RENDER_FRONTAL_UMFS_big.png) !important;
}

.back_image--112 {
    background-image: url(../images/Scanners/WideTEK_48C/WT48C-600_RENDER_SIDEWARD_big.png) !important;
}

.back_image--113 {
    background-image: url(../images/Scanners/WideTEK_48C/WT48C-600_RENDER_BACKWARD_big.png) !important;
}
/*-----product photos------*/
/*1page*/
.back_image--1 {
    background-image: url(../images/Scanners/Bookeye_4_V1A_C35/BE4-SGS-V1-C35_Backward.png) !important;
}

.back_image--2 {
    background-image: url(../images/Scanners/Bookeye_4_V1A_C35/BE4-SGS-V1-C35_Diagonal.png) !important;
}

.back_image--3 {
    background-image: url(../images/Scanners/Bookeye_4_V1A_C35/BE4-SGS-V1-C35_Front.png) !important;
}

.back_image--4 {
    background-image: url(../images/Scanners/Bookeye_4_V1A_C35/BE4-SGS-V1-C35_Front_V.png) !important;
}

.back_image--5 {
    background-image: url(../images/Scanners/Bookeye_4_V1A_C35/BE4-SGS-V1-C35_Sideward.png) !important;
}

/*2page*/
.back_image--6 {
    background-image: url(../images/Scanners/Bookeye_4_V1A/BE4V1A_RENDER_DIAGONAL.png) !important;
}

.back_image--7 {
    background-image: url(../images/Scanners/Bookeye_4_V1A/BE4V1A_RENDER_DIAGONAL_BOOK.png) !important;
}

.back_image--8 {
    background-image: url(../images/Scanners/Bookeye_4_V1A/BE4V1A_RENDER_DIAGONAL_STAGED.png) !important;
}

.back_image--9 {
    background-image: url(../images/Scanners/Bookeye_4_V1A/BE4V1A_RENDER_DIAGONAL_V.png) !important;
}

.back_image--10 {
    background-image: url(../images/Scanners/Bookeye_4_V1A/BE4V1A_RENDER_FRONTAL.png) !important;
}

.back_image--11 {
    background-image: url(../images/Scanners/Bookeye_4_V1A/BE4V1A_RENDER_FRONTAL_BOOK.png) !important;
}

.back_image--12 {
    background-image: url(../images/Scanners/Bookeye_4_V1A/BE4V1A_RENDER_FRONTAL_V.png) !important;
}

.back_image--13 {
    background-image: url(../images/Scanners/Bookeye_4_V1A/BE4V1A_RENDER_SIDEWARD.png) !important;
}

.back_image--14 {
    background-image: url(../images/Scanners/Bookeye_4_V1A/BE4V1A_RENDER_SIDEWARD_BOOK.png) !important;
}

/*3page*/
.back_image--15 {
    background-image: url(../images/Scanners/Bookeye_4_V2/BE4V2_BASIC_RENDER_DIAGONAL_big.png) !important;
}

.back_image--16 {
    background-image: url(../images/Scanners/Bookeye_4_V2/BE4V2_BASIC_RENDER_DIAGONAL_BOOK_big.png) !important;
}

.back_image--17 {
    background-image: url(../images/Scanners/Bookeye_4_V2/BE4V2_BASIC_RENDER_DIAGONAL_V_big.png) !important;
}

.back_image--18 {
    background-image: url(../images/Scanners/Bookeye_4_V2/BE4V2_BASIC_RENDER_FRONTAL_big.png) !important;
}

.back_image--19 {
    background-image: url(../images/Scanners/Bookeye_4_V2/BE4V2_BASIC_RENDER_FRONTAL_BOOK_big.png) !important;
}

.back_image--20 {
    background-image: url(../images/Scanners/Bookeye_4_V2/BE4V2_BASIC_RENDER_FRONTAL_V_big.png) !important;
}

.back_image--21 {
    background-image: url(../images/Scanners/Bookeye_4_V2/BE4V2_BASIC_RENDER_SIDEWARD_big.png) !important;
}

/*-----Bookeye 4V1A, 4V2, 4V1A-C332------*/
/*1page*/
.thumb--1 {
    background-image: url(../images/Scanners/Bookeye_4_V1A_C35/BE4-SGS-V1-C35_Backward.png) !important;
}

.thumb--2 {
    background-image: url(../images/Scanners/Bookeye_4_V1A_C35/BE4-SGS-V1-C35_Diagonal.png) !important;
}

.thumb--3 {
    background-image: url(../images/Scanners/Bookeye_4_V1A_C35/BE4-SGS-V1-C35_Front.png) !important;
}

.thumb--4 {
    background-image: url(../images/Scanners/Bookeye_4_V1A_C35/BE4-SGS-V1-C35_Front_V.png) !important;
}

.thumb--5 {
    background-image: url(../images/Scanners/Bookeye_4_V1A_C35/BE4-SGS-V1-C35_Sideward.png) !important;
}

/*2page*/
.thumb--6 {
    background-image: url(../images/Scanners/Bookeye_4_V1A/BE4V1A_RENDER_DIAGONAL.png) !important;
}

.thumb--7 {
    background-image: url(../images/Scanners/Bookeye_4_V1A/BE4V1A_RENDER_DIAGONAL_BOOK.png) !important;
}

.thumb--8 {
    background-image: url(../images/Scanners/Bookeye_4_V1A/BE4V1A_RENDER_DIAGONAL_STAGED.png) !important;
}

.thumb--9 {
    background-image: url(../images/Scanners/Bookeye_4_V1A/BE4V1A_RENDER_DIAGONAL_V.png) !important;
}

.thumb--10 {
    background-image: url(../images/Scanners/Bookeye_4_V1A/BE4V1A_RENDER_FRONTAL.png) !important;
}

.thumb--11 {
    background-image: url(../images/Scanners/Bookeye_4_V1A/BE4V1A_RENDER_FRONTAL_BOOK.png) !important;
}

.thumb--12 {
    background-image: url(../images/Scanners/Bookeye_4_V1A/BE4V1A_RENDER_FRONTAL_V.png) !important;
}

.thumb--13 {
    background-image: url(../images/Scanners/Bookeye_4_V1A/BE4V1A_RENDER_SIDEWARD.png) !important;
}

.thumb--14 {
    background-image: url(../images/Scanners/Bookeye_4_V1A/BE4V1A_RENDER_SIDEWARD_BOOK.png) !important;
}

/*3page*/
.thumb--15 {
    background-image: url(../images/Scanners/Bookeye_4_V2/BE4V2_BASIC_RENDER_DIAGONAL_big.png) !important;
}

.thumb--16 {
    background-image: url(../images/Scanners/Bookeye_4_V2/BE4V2_BASIC_RENDER_DIAGONAL_BOOK_big.png) !important;
}

.thumb--17 {
    background-image: url(../images/Scanners/Bookeye_4_V2/BE4V2_BASIC_RENDER_DIAGONAL_V_big.png) !important;
}

.thumb--18 {
    background-image: url(../images/Scanners/Bookeye_4_V2/BE4V2_BASIC_RENDER_FRONTAL_big.png) !important;
}

.thumb--19 {
    background-image: url(../images/Scanners/Bookeye_4_V2/BE4V2_BASIC_RENDER_FRONTAL_BOOK_big.png) !important;
}

.thumb--20 {
    background-image: url(../images/Scanners/Bookeye_4_V2/BE4V2_BASIC_RENDER_FRONTAL_V_big.png) !important;
}

.thumb--21 {
    background-image: url(../images/Scanners/Bookeye_4_V2/BE4V2_BASIC_RENDER_SIDEWARD_big.png) !important;
}
/* ************************************* MEDIA QUERIES ************************************* */

/* 1280, 1366 */
@media (min-width: 1200px) and (max-width: 1399px) {

}

/* 1024 */
@media (max-width: 1199px) {
    html {
        font-size: 60%;
    }

    .infoblock .back_pdf {
        width: 65%;
    }
}

/* tablets */
@media (max-width: 941px) {

}
