.infoblock .scrolled_pic .images .image .back_pdf embed {
    width: 100%;
    height: 525px;
}

.infoblock .scrolled_pic .images .image .back_pdf {
    width: 75%;
    margin: 10px;
}

.infoblock span {
    font-weight: bold;
    padding-bottom: 5px;
    display: block;
}

.infoblock .scrolled_pic .images .image .back_text_pdf a {
    color: #093C8B;
    font-size: 20px;
    font-weight: bold;
}

.infoblock .scrolled_pic .images .image .back_text_pdf {
    width: 20%;
    float: right;
    margin: 100px 10px 0 0;
}

.infoblock .scrolled_pic > .images {
    overflow: visible;
    display: block;
    align-items: center;
    border-bottom: 1px solid #E3E6DB;
    box-shadow: 0 0 5px #000;
    margin: 0 0 14px;
}

.infoblock .table_comliance .conf_sing img {
    margin: 20px auto;
    display: block;
    width: 75px;
    height: auto;
}

.infoblock .table_comliance .conf_sing h2 {
    width: 75px;
    height: auto;
    margin: 20px auto;
}

.infoblock .table_comliance .conf_description {
    width: 85%;
    float: left;
}

.infoblock .table_comliance {
    overflow: hidden;
    margin: 10px 0;
}
.infoblock .table_comliance .conf_sing {
    width: 15%;
    float: left;
}
.infoblock .table_documentation {
    width: 100%;
}