<configuration>
   <system.webServer>
      <staticContent>
         <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
         <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
      </staticContent>
      <rewrite>
        <rules>
          <rule name="SoftDongles Rediret" stopProcessing="true">
            <match url="^SoftDongles/(.*)$" ignoreCase="false" />
            <action type="Redirect" redirectType="Permanent" url="http://license.imageaccess.com/SoftDongles/{R:1}" />
          </rule>
        </rules>
      </rewrite>
   </system.webServer>
</configuration>
