.brochure-block-wrap {
	width: 100%;
	margin: 0px;
}
/*.brochure-block-wrap:after{
	content: '';
	display: table;
	clear: both;
}*/
.scanner-label {
	margin-left: 175px;
}
.brochure-block {
	display: flex;
	padding-top: 15px; 
	margin: 0;
	padding: 0px;
	position: relative;
}
.to-down {
	flex-direction:column;

}
.brochure-block .block-title {
	padding: 1px 50px;
    color: #8ad;
    font-size: 250%;
    font-weight: bolder;
    text-shadow: 1px 1px 3px #333;
}
.brochure-block .h1-color {
	color: #333;
	text-align: center;
}
.brochure-block h2 {
	text-align: center;
	font-style: italic;
	color: #000;
}
.brochure-block img {
	padding-left: 5px;
}
.ous-text p{
	   font-weight: inherit;
    font-style: inherit;
    font-size: 150%;
    font-family: inherit;
    vertical-align: baseline;
    text-align: justify;
    padding: 5px 10px;
    margin:0;
}
.brochure-block p {
	margin-bottom: 3px;
	padding: 5px 10px;
    text-align: justify;
	line-height: 1.3em;
	font-size: 150%;
	color: #000;
}



.block-tag {
	visibility: hidden;
	position: absolute;
	top: -15px;
	left: 10px;
	width: auto;
	padding: 6px;
	font-style: italic;
	text-align: center;
	color: #f00;
	color: rgba(256, 0, 0, 0.7);
	background-color: #ccc;
	background-color: rgba(200, 200, 200, 0.3);
	border: 2px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	z-index: 0;
}

.brochure-block h1.block-title-sub {
	margin: -15px .3em 25px 2em;
	font-size: 225%;
	text-align: center;
	font-style: italic;
	color: #666;
}

.brochure-block h2.list-head {
	color: #a4d7bb;
	text-shadow: 1px 1px 1px #333;
}

.brochure-block .two-col {
	width: 120%;
    overflow: hidden;
}
.brochure-block .two-col .left-col {
	width: 45%;
	float: left;
	margin-left: 60px;
}
.brochure-block .two-col .left-col2 {
	width: 45%;
	float: left;
	margin-left:35px;
}
.brochure-block .two-col .right-col {
	margin-right: 30px;
}
.brochure-block .two-col .right-col2 {
	margin-right: 30px;
}
.brochure-block .two-col div div {
	width: 99%;
	float: left;
}
.brochure-block .two-col img {
	margin: 0.1em 5.5em;
	float: left;
}
.brochure-block .two-col p {
	padding: .3em;
}
.brochure-block .two-col h2 {
	margin: 0.4em;
}
.brochure-block .two-col ul {
	margin: 0;
	width: 99%;
}

.brochure-block p.caption {
	font-size: 90%;
	font-style: italic;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
.brochure-block ul {
	margin: 2.5em 2em 1em 0;
	width: 90%;
	float: left;
	list-style-image: url("../images/green-bullet.png")/*tpa=http://www.dlsg.com/images/green-bullet.png*/ ;
}
.brochure-block ul.peppermint {
	list-style-image: url("../images/blue-bullet.png")/*tpa=http://www.dlsg.com/images/blue-bullet.png*/ ;
}
.brochure-block ul.peppermint2 {
	list-style-image: url("../images/blue-bullet2.png")/*tpa=http://www.dlsg.com/images/blue-bullet2.png*/ ;
}
.brochure-block ul.bullet {
	list-style-type: disc;
	list-style-image: none;
}
.brochure-block li {
	margin: 0.6em 3em;
	font-size: 120%;
}
.brochure-block ul.bullet li {
	margin: 0.35em 3em;
}

.scanner-label p {
	font-size: 200%;
	font-style: italic;
	color: #555;
	text-shadow: 2px 3px 7px #a2b3a1, 1px 2px 3px #a2b3a1, 0px 1px 2px #a2b3a1, 0px 0px 1px #a2b3a1;
}
div.rt_arrow {
	width: 46px;
	height: 80px;
	background: url("../images/rt_arrow.png")/*tpa=http://www.dlsg.com/images/rt_arrow.png*/ no-repeat 10px 30px;
	float: left;
}
div.dn_arrow {
	width: 46px;
	height: 80px;
	background: url("../images/dn_arrow_thin.png")/*tpa=http://www.dlsg.com/images/dn_arrow_thin.png*/ no-repeat 0 0;
	float: left;
}
