#support-address {
	width: 400px;
	height: auto;
	float: left;
	margin-left: 30px;
	margin-top: 60px;
}
#head {
	font-size: 18px;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 0px;	
}
#address {
	font-size: 16px;
	margin-bottom: 18px;
}
#contacts {
	font-size: 16px;
	margin-bottom: 18px;
}
#caption {
	font-size: 90%;
    font-style: italic;
}
.red{
 color: red;
}
#container {
	float: left;
	margin: 40px;
	border: 3px solid Navy;
	width: 400px;
	border-radius: 10px;
}
input, textarea {
	max-width: 200px;
	border: solid 1px #CCCCCC;
	padding: 4px;
	outline: 0;
	font: Verdana, Geneva, sans-serif;
	width: 200px;
	background: #F9F9F9;
	-webkit-birder-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	margin-top: 10px;
}

.mainform {
	text-align: center;
	font-weight: bold;
}
.send {
	padding-bottom:10px;
}

