.infoblock {
	padding: 20px;
	width: 65%;
	text-align: left;
	height:auto !important;
	float: left;
	word-wrap: break-word;
	border-left: 2px solid #E3E6DB;
	display: block;
}
.infoblock p{padding-bottom: 5px;}
.infoblock  img{
	max-width: 100%;
}
